<div class="main" style="padding: 1rem; padding-bottom: 50px;"   >
	<!-- login modal -->
	<div ng-show="isApprenticeshipsVisable">
							<!--  End Modals  -->
						<!--  ********  Modal Apprenticeship ****************************   -->
						<!-- Modal     -->
						<!-- <button type="button" hidden="true" id="apprenticeshipModalButton" data-open="modalApprenticeship" ></button>
						<div class="reveal" data-reveal id="modalApprenticeship" tabindex="-1"
								role="dialog" aria-labelledby="myModalApprenticeship" aria-hidden="true"  data-width="680"> -->
						<!-- Modal Header -->
						<div class="modal-header">
							<h3>Apprenticeship</h3>							
							<button type="button" class="close-button" data-dismiss="modal" data-close ng-click='modalOptions.close()'>&times;</button>	
							<hr>
						</div>
						<!-- Modal Body  -->
						<div class="modal-body">
							<img src="/CEP/images/cos_poweredby.jpg" align="right"> 
						    <h2> {{occupationTitle}} </h2>
						    <select name="mySelect" id="mySelect" style="height:30px" 
							       ng-options="option.name for option in statesList.availableOptions track by option.value"
							      ng-model="statesList.selectedOption"  ng-selected="clickMe()" ></select>
						    <label><font color="red">{{apprenticeshipLabel}}</font></label>
					    	<section class="table-pagination">
	                        	<div class="medium-6 columns">Showing {{apprenticeshipPagination.TotalItems != 0 ? (((apprenticeshipPagination.CurrentPage-1)*apprenticeshipPagination.ItemsPerPage)+1) : 0}} -<span>{{((apprenticeshipPagination.CurrentPage)*apprenticeshipPagination.ItemsPerPage) <= apprenticeshipPagination.TotalItems ? ((apprenticeshipPagination.CurrentPage)*apprenticeshipPagination.ItemsPerPage) : apprenticeshipPagination.TotalItems}}</span> of {{apprenticeshipPagination.TotalItems}} Certifications </br></div>
	                        	<div class="medium-6 columns text-right">
	                            	 <uib-pagination total-items="apprenticeshipPagination.TotalItems" ng-model="apprenticeshipPagination.CurrentPage" max-size="apprenticeshipPagination.MaxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="apprenticeshipPagination.ItemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
	                        	</div>
	                        	<div class="medium-12 columns"><hr/></div>
	                    	</section>
		      
		      				<table>
								<tr>
										<th>Apprenticeship Title</th>
										<th>Sponsor Organization</th>
								</tr>
									<!--  track by $index   -->
								<tr ng-repeat="row in apprenticeshipList | limitTo : apprenticeshipPagination.ItemsPerPage: (apprenticeshipPagination.CurrentPage - 1 ) * apprenticeshipPagination.ItemsPerPage" >  
									<td>{{ row.Title }} &nbsp; for<br>  {{row.Sponsor.Name}}</td>
									<td>{{ row.Sponsor.Address}} <br> {{ row.Sponsor.City}} , {{ row.Sponsor.State}} &nbsp; {{ row.Sponsor.Zip}} <br> {{ row.SponsorPhoneNumber}}  </td>
								</tr>
							</table>
		      
						</div>
						<div class="modal-footer"></div>
					</div>
					<!--  End Modals  -->
		
	</div>
</div>



