<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div ng-show="isCertificationListVisable">
						<!-- Modal Certification     -->
							<!-- Modal Header -->
							<div class="modal-header">
								<h3>Certifications</h3>											
								<button type="button" class="close-button" data-dismiss="modal" data-close ng-click='modalOptions.close()'>&times;</button>	
							
							</div>
							<!-- Modal Body  -->
							<div class="modal-body">
								<img src="/CEP/images/cos_poweredby.jpg" align="right"> 
								<h2> {{occupationTitle}}</h2>
								<hr style="border-width:0px;">
								<section class="table-pagination">
		                        	<div class="medium-6 columns">Showing {{certPagination.TotalItems != 0 ? (((certPagination.CurrentPage-1)*certPagination.ItemsPerPage)+1) : 0}} -<span>{{((certPagination.CurrentPage)*certPagination.ItemsPerPage) <= certPagination.TotalItems ? ((certPagination.CurrentPage)*certPagination.ItemsPerPage) : certPagination.TotalItems}}</span> of {{certPagination.TotalItems}} Certifications </br></div>
		                        	<div class="medium-6 columns text-right">
		 							  <uib-pagination total-items="certPagination.TotalItems" ng-model="certPagination.CurrentPage" max-size="certPagination.MaxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="certPagination.ItemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
		                        	</div>
		                        	<!-- <hr> -->
		                         	<div class="medium-12 columns"><hr/></div> 
		                    	</section>
		                    	<section class="hide-for-small-only">
						 		<table >
									<tr>
										<th>Certification Name</th>
										<th> <img src="/CEP/images/small-white-dot.png" height="32" width="32"> </th>
										<th>Type</th>
										<th>Certifying Organization</th>
									</tr>
									<tr ng-repeat="row in occupationCertificates.CertList |  
												limitTo : certPagination.ItemsPerPage: (certPagination.CurrentPage - 1 ) * certPagination.ItemsPerPage"    ng-click="openCertificateDetail(row)">
										<td>
											<span class="cert-name">{{ row.Name }}</span>
											<span ng-bind-html='row.CertAccredAgencyList | isAccPresent'></span>
										</td>
										<td></td>
										<td><span ng-if="row.Type.length > 0">{{ row.Type }}</span></td>
										<td>{{ row.Organization  }}</td>
									</tr>
								</table>
								</section>
								
								<!--  Table Take two  -->
								<section class="hide-for-medium hide-for-large">
								  <div class="row" > 
								    <div class="small-4 columns"> 
								    	<strong>Certification Name</strong>
									</div>
									<div class="small-4 columns"><strong>Type</strong></div>
									<div class="small-4 columns"><strong>Certifying Organization</strong></div>
								  </div>
								  <hr>
								 <div class="row"  
										 ng-repeat="row in occupationCertificates.CertList |  
														limitTo : certPagination.ItemsPerPage: (certPagination.CurrentPage - 1 ) * certPagination.ItemsPerPage"    ng-click="openCertificateDetail(row)">
								    <div class="small-4 columns" > 
								      <span class="cert-name">{{row.Name}}</span> 
											<span ng-bind-html='row.CertAccredAgencyList | isAccPresent'></span>
								    </div>
								    <div class="small-1 columns" > 
										</div>
								    <div class="small-4 columns" > 
								    	<span ng-if="row.Type.length > 0">{{ row.Type }}</span>
									</div>
									<div class="small-4 columns" > 
										{{row.Organization}}
									</div>
									<hr>
								  </div>
								</section>								

							</div>
							<div class="modal-footer">
					<section id="content-wrap" >
					<div id="site-map-div">
						<div class="row" >
							<div class="small-4 columns"> 
								<p>
									<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ind">
										<span id="in-demand" style="text-align: justify; display:block;">This certification is In Demand.</span>
									</a>
								</p>
								<p>
									<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#jobs">
										<span id="job-corps" style="text-align: justify; display:block;">This certification is related to Job Corps training programs.</span> 
									</a>
								</p>
															
							</div>
							<div class="small-4 columns">
								<p>
									<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ansi">
										<span id="ansi-accredited" style="text-align: justify; display:block;">This certification accredited by ANSI.</span>
									</a>
								</p>
								<p>
									<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#military">
										<span id="military-occ-specialties" style="text-align: justify; display:block;">This certification is related to military occupational specialties.</span>
									</a>
								</p>								
							</div>
							<div class="small-4 columns">
								<p>
									<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#industry">
										<span id="third-party-industry-endorsed-cert" style="text-align: justify; display:block;">This certification is third-party industry-endorsed.</span>
									</a>
								</p>
		 						<p>
		 							<a target="_blank" style="text-decoration: underline;" href="http://www.careeronestop.org/businesscenter/Certifications/certification-finder-help.aspx#ncca">
		 								<span id="cos-ncca-accredited" style="text-align: justify; display:block;">This certification is accredited by NCCA.</span>
	 								</a>
 								</p>
							</div>
						</div>
					</div>
					</section>
					
					
							
		</div>
	</div>
</div>
