<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div >

	<!-- Modal Certification Details     -->
							<!-- Modal Header -->
							<div class="modal-header">
								<h3>Certification Detail</h3>										
								<button type="button" class="close-button" data-dismiss="modal" data-close ng-click='modalOptions.close()'>&times;</button>	
								<hr>
							</div>
							<!-- Modal Body  -->
							<div class="modal-body">
								<img src="/CEP/images/cos_poweredby.jpg" align="right">
								<h2> {{occupationTitle}} </h2>
								<h3> Certifying Organization Info </h3>
								{{certDetail.OrgName}} <br>
								{{certDetail.Name }} <br>
								{{certDetail.OrgAddress}} <br>
								{{certDetail.OrgWebPage}} 
								<h3 class="mt-20"> Description </h3>
								{{certDetail.Description}}
								
								<h3 class="mt-20"> Certifying Organization Info </h3>
								<table>
									<tr ng-repeat="row in certDetail.CertDetailList">
										<td bgcolor="#FFFFFF">{{row.Name}} {{row.Value}}</td>
									</tr>
								</table>
							</div>
							<div class="modal-footer"></div>
							<!--  End Modal Certification Details -->
 




	</div>
</div>



