<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div>
						<!-- Modal Header -->
						<div class="modal-header">
							<h3>License Details</h3>							
							<button type="button" class="close-button" data-dismiss="modal" data-close ng-click='modalOptions.close()'>&times;</button>	
						</div>
						<!-- Modal Body  -->
						<div class="modal-body">
							<img src="/CEP/images/cos_poweredby.jpg" align="right"> 
							<h2> {{licenseDetails.LICENSENAME }} </h2>
							<hr>
							<h3>licensing Agency</h3>
							<span ng-if="licenseDetails.LICENSINGAGENCY != ''">{{licenseDetails.LICENSINGAGENCY}}</span><br> 
							<span ng-if="licenseDetails.LICTITLE != ''">{{licenseDetails.LICTITLE}}</span><br>
							
							<br><h3>Description</h3>
							<span ng-if="licenseDetails.DESCRIPTION != ''" ng-bind-html="licenseDetails.DESCRIPTION"></span><br>
							<br>
							
							<h3>Contact Information</h3>
							<span ng-if="licenseDetails.LICENSEAGENCY != ''">{{licenseDetails.LICENSEAGENCY}}</span><div></div>
							<span ng-if="licenseDetails.ADDRESS != ''">{{licenseDetails.ADDRESS}}</span>
							<span ng-if="licenseDetails.CITY != ''">{{licenseDetails.CITY}}</span>,
							<span ng-if="licenseDetails.STATE != ''">{{licenseDetails.STATE}}</span>&nbsp;
							<span ng-if="licenseDetails.ZIP != ''">{{licenseDetails.ZIP}}</span> 
							<span ng-if="licenseDetails.ZIPEXT != ''">{{licenseDetails.ZIPEXT}}</span>
							<br>
							
							<span ng-if="licenseDetails.URL != ''">{{licenseDetails.URL}}</span><br>
							<span ng-if="licenseDetails.EMAIL != ''">{{licenseDetails.EMAIL}}</span><br>
							<span ng-if="licenseDetails.TELEPHONE != ''">{{licenseDetails.TELEPHONE}}</span> 
							<hr>
						</div>
						<div class="modal-footer"></div>
		
	</div>
</div>



