<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div >
							<!-- Modal Header -->
							<div class="modal-header">
								<h3>Licenses</h3>							
								<button type="button" class="close-button" data-dismiss="modal" data-close ng-click='modalOptions.close()'>&times;</button>	
								<hr>
							</div>
							<!-- Modal Body  -->
							<div class="modal-body">
								<img src="/CEP/images/cos_poweredby.jpg" align="right"> 
							    <h2> {{occupationTitle}} </h2>
							    <select name="mySelect" id="mySelect" style="height:30px" 
							       ng-options="option.name for option in statesList.availableOptions track by option.value"
							      ng-model="statesList.selectedOption"  ng-selected="clickMe()" ></select>
							      <label><font color="red">{{licensesLabel}}</font></label>
		      					<hr style="border-width:0px;">
								<section class="table-pagination">
		                        	<div class="medium-6 columns">Showing {{licensesPagination.TotalItems != 0 ? (((licensesPagination.CurrentPage-1)*licensesPagination.ItemsPerPage)+1) : 0}} -<span>{{((licensesPagination.CurrentPage)*licensesPagination.ItemsPerPage) <= licensesPagination.TotalItems ? ((licensesPagination.CurrentPage)*licensesPagination.ItemsPerPage) : licensesPagination.TotalItems}}</span> of {{licensesPagination.TotalItems}} Certifications </br></div>
		                        	<div class="medium-6 columns text-right">
		                            	 <uib-pagination total-items="licensesPagination.TotalItems" ng-model="licensesPagination.CurrentPage" max-size="licensesPagination.MaxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="licensesPagination.ItemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
		                        	</div>
		                        	<div class="medium-12 columns"><hr/></div>
		                    	</section>
						 		<table>
									<tr>
										<th>License Name</th>
										<th>Certifying Organization</th>
									</tr>
									<!--  track by $index   -->
									<tr ng-repeat="row in licensesList| limitTo : licensesPagination.TotalItems != 0 ? licensesPagination.ItemsPerPage: (licensesPagination.CurrentPage - 1 ) * licensesPagination.ItemsPerPage : licensesPagination.TotalItems"  
												  ng-click="openLicenseDetail(row)" >  
									<td>{{row.Title }}</td>
									<td>{{row.LicenseAgency.Name }}</br></td>
									</tr>
								</table>
								<hr>
							</div>
							<div class="modal-footer"></div>
							</div>
							<!--  End Modals  -->
	</div>
</div>



