<update-title title="My FYI Results | ASVAB Career Exploration Program"></update-title>

<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="1" class="caps">Find your Interests</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h1>YOUR FYI RESULTS</h1>
                
				<br/>
				
                <h4 id="choose"><strong>Select which set of Interest Codes to use for career exploration.</strong></h4>
				<p>You can return and change your selection at any time. The two sets of codes may differ depending on how you responded to the FYI. <a href="media-center-article/50">Learn why here.</a></p>
				
				<div class="row">
					<div class="medium-12 columns">
						
						<a id="start-exploring" class="button centered" href="occufind-occupation-search">Start Exploring</a>
                        
						
						<div id="fyi-scores" class="row">
                        	<div id="top-3">Top 3 Interest Codes</div>
							<div class="small-6 columns score" ng-class="myClassCombined">
                              <div id="combined" class="scores" ng-click="scoreSelected = 'combined';">
								<div class="description">
									<strong class="caps">combined scores</strong>
									<p>Your scores compared with those of other high school students who have taken the FYI</p>
								</div>
								<div class="labels">
									<div class="left">Interest Codes</div>
								</div>
								
								<div class="top3" ng-repeat="cScore in combinedScoreSort | limitTo:3">
									<div class="result code-e" ng-if="cScore.interestCd == 'E'">
										<div class="left"><i class="code-e"></i> Enterprising</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-c" ng-if="cScore.interestCd == 'C'">
										<div class="left"><i class="code-c"></i> Conventional</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-a" ng-if="cScore.interestCd == 'A'">
										<div class="left"><i class="code-a"></i> Artistic</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-i" ng-if="cScore.interestCd == 'I'">
										<div class="left"><i class="code-i"></i> Investigative</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-s" ng-if="cScore.interestCd == 'S'">
										<div class="left"><i class="code-s"></i> Social</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-r" ng-if="cScore.interestCd == 'R'">
										<div class="left"><i class="code-r"></i> Realistic</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
								</div>
								<div ng-repeat="cScore in combinedScoreSort | limitTo:6:3">
									<div class="result code-e" ng-if="cScore.interestCd == 'E'">
										<div class="left"><i class="code-e"></i> Enterprising</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-c" ng-if="cScore.interestCd == 'C'">
										<div class="left"><i class="code-c"></i> Conventional</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-a" ng-if="cScore.interestCd == 'A'">
										<div class="left"><i class="code-a"></i> Artistic</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-i" ng-if="cScore.interestCd == 'I'">
										<div class="left"><i class="code-i"></i> Investigative</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-s" ng-if="cScore.interestCd == 'S'">
										<div class="left"><i class="code-s"></i> Social</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
									<div class="result code-r" ng-if="cScore.interestCd == 'R'">
										<div class="left"><i class="code-r"></i> Realistic</div>
										<div class="right">{{cScore.combinedScore * 100 | number:0}}</div>
									</div>
								</div>
								
							</div>
                            
                            <div class="row show-for-medium">
                                <div class="share">Share your scores: 
   									<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Find Your Interest');"
   										socialshare socialshare-provider="facebook"										
										socialshare-via="2055205968038605"
										socialshare-url="{{combinedShareUrl}}"
										socialshare-hashtags="#FYI"><i class="fa fa-facebook"></i></a> 									
									<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Find Your Interest');" 
									    socialshare socialshare-provider="twitter"
									    socialshare-text="Check out my FYI Results : "
										socialshare-via="ASVABCEP"
										socialshare-hashtags="FYI"
										socialshare-url="{{combinedShareUrl}}"><i class="fa fa-twitter"></i></a> 
									<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Find Your Interest');" 
									    socialshare socialshare-provider="linkedin"
										socialshare-text="ASVABCEP"
										socialshare-url="{{combinedShareUrl}}"><i class="fa fa-linkedin"></i></a> 	 
									<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Find Your Interest');" 
									    socialshare socialshare-provider="email"
										socialshare-subject="Check out my FYI Results"
										socialshare-body="Check out my FYI results: {{combinedShareUrl}} %0D%0A %0D%0A Taking the FYI: {{domainUrl}}/media-center-article/42"><i class="fa fa-envelope"></i></a>  
                                </div>
                            </div>
                            
                          </div>
						  
                          <div class="small-6 columns score" ng-class="myClassGender">
							<div id="gender" class="scores"  ng-click="scoreSelected = 'gender';">
	                          	<a ng-click="genderInfoModal();" class="explain alt"></a>								
								<div class="description">
									<strong class="caps">gender specific</strong>
									<p>Your scores compared with those of others in your gender</p>
								</div>
								<div class="labels">
									<div class="left">Interest Codes</div>
								</div>
								<div class="top3" ng-repeat="gScore in genderScoreSort | limitTo:3">
										<div class="result code-e" ng-if="gScore.interestCd == 'E'">
											<div class="left"><i class="code-e"></i> Enterprising</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-c" ng-if="gScore.interestCd == 'C'">
											<div class="left"><i class="code-c"></i> Conventional</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-a" ng-if="gScore.interestCd == 'A'">
											<div class="left"><i class="code-a"></i> Artistic</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-i" ng-if="gScore.interestCd == 'I'">
											<div class="left"><i class="code-i"></i> Investigative</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-s" ng-if="gScore.interestCd == 'S'">
											<div class="left"><i class="code-s"></i> Social</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-r" ng-if="gScore.interestCd == 'R'">
											<div class="left"><i class="code-r"></i> Realistic</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
									</div>
									<div ng-repeat="gScore in genderScoreSort | limitTo:6:3">
										<div class="result code-e" ng-if="gScore.interestCd == 'E'">
											<div class="left"><i class="code-e"></i> Enterprising</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-c" ng-if="gScore.interestCd == 'C'">
											<div class="left"><i class="code-c"></i> Conventional</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-a" ng-if="gScore.interestCd == 'A'">
											<div class="left"><i class="code-a"></i> Artistic</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-i" ng-if="gScore.interestCd == 'I'">
											<div class="left"><i class="code-i"></i> Investigative</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-s" ng-if="gScore.interestCd == 'S'">
											<div class="left"><i class="code-s"></i> Social</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
										<div class="result code-r" ng-if="gScore.interestCd == 'R'">
											<div class="left"><i class="code-r"></i> Realistic</div>
											<div class="right">{{gScore.genderScore * 100 | number:0}}</div>
										</div>
									</div>
							</div>
                            
                            <div class="row show-for-medium">
                                <div class="share">Share your scores: 
 									<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Find Your Interest');"
 										socialshare socialshare-provider="facebook"
										socialshare-type="feed"
										socialshare-via="2055205968038605"
										socialshare-url="{{genderShareUrl}}"										
										socialshare-hashtags="#ASVABCEP, #career-exploration-program, #FYI"><i class="fa fa-facebook"></i></a> 									
									<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Find Your Interest');" 
									    socialshare socialshare-provider="twitter"
										socialshare-text="Check out my FYI Results : "
										socialshare-via="ASVABCEP"
										socialshare-hashtags="FYI"
										socialshare-url="{{genderShareUrl}}"><i class="fa fa-twitter"></i></a> 
									<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Find Your Interest');" 
									    socialshare socialshare-provider="linkedin"
										socialshare-text="ASVABCEP"
										socialshare-url="{{genderShareUrl}}"><i class="fa fa-linkedin"></i></a> 	 
									<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Find Your Interest');" 
									    socialshare socialshare-provider="email"
										socialshare-subject="My FYI Results"
										socialshare-body="Check out my FYI results: {{genderShareUrl}} %0D%0A %0D%0A Taking the FYI: {{domainUrl}}/media-center-article/50"><i class="fa fa-envelope"></i></a>  
                                </div>
                            </div>
						</div>
                        
					  </div>										
					</div>
				</div>
				
				<div class="row show-for-small-only">
					<div class="share">Share your scores: <br>
						<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Find Your Interest');"
							socialshare socialshare-provider="facebook"
							socialshare-type="feed"
							socialshare-via="2055205968038605"
							socialshare-url="{{combinedShareUrl}}"							
							socialshare-hashtags="#ASVABCEP, #career-exploration-program, #FYI"><i class="fa fa-facebook"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Find Your Interest');" 
						    socialshare socialshare-provider="twitter"
							socialshare-text="Check out my FYI Results : "
							socialshare-via="ASVABCEP"
							socialshare-url="{{combinedShareUrl}}"><i class="fa fa-twitter"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Find Your Interest');" 
						    socialshare socialshare-provider="linkedin"
							socialshare-text="ASVABCEP"
							socialshare-url="{{combinedShareUrl}}"><i class="fa fa-linkedin"></i></a> 	 
						<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Find Your Interest');" 
						    socialshare socialshare-provider="email"
							socialshare-subject="My FYI Results"
							socialshare-body="Check out my FYI results: {{combinedShareUrl}} %0D%0A %0D%0A Taking the FYI:{{domainUrl}}/media-center-article/50"><i class="fa fa-envelope"></i></a>  
					</div>
				</div>
                
                <p align="center" ng-if="!isUnlimitedFyi() && isAbleToRetakeTest">You are allowed to retake the FYI {{numberOfTestsLeft}} more time. <a href="find-your-interest-test">Click here to retake the FYI.</a></p>
				<p align="center" ng-show="hasReachedLimit">You have taken the FYI twice. If you would like to retake the test again, please fill out a <a href="faq">contact request form</a>.</p>
				<p align="center" ng-show="isUnlimitedFyi()"><a href="find-your-interest-test">Click here to retake the FYI.</a></p>
				
				<div class="row">
					<h2 class="columns">What Does each interest code mean?</h2>

                    <div class="small-9 columns">
                    	<table id="meaning"><tbody>
                        	<tr>
                            	<td>
                                	<div class="small-3 columns"><strong style="color: #2279BF">Realistic</strong></div>
						 			<div class="small-9 columns">activities often involve practical, hands-on problems and solutions.</div>
                                </td>
                                <td width="100"><a ng-click="interestCodeInfo('R')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #892C32">Investigative</strong></div> 
                                	<div class="small-9 columns">activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</div>
								</td>
                                <td><a ng-click="interestCodeInfo('I')">Learn More</a></td>
                            </tr>
                            <tr>
                            	<td>
                                	<div class="small-3 columns"><strong style="color: #F3913D">Artistic</strong></div>
                                	<div class="small-9 columns">activities allow you to be creative and use your imagination to do original work.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('A')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #174377">Social</strong></div>
                                	<div class="small-9 columns">activities allow you to use your skills and talents to interact effectively with others.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('S')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #ea292d">Enterprising</strong></div>
                                	<div class="small-9 columns">activities allow you to take a leadership role.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('E')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #52843c">Conventional</strong></div> 
                                	<div class="small-9 columns">activities require attention to accuracy and detail.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('C')">Learn More</a></td>
                            </tr>
                    	</tbody></table>
					</div>
					<div class="small-3 columns">
						<img style="display: block;margin: auto;" src="images/codes.jpg"> 
					</div>
				</div> 
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>