<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="1" class="caps">Find your Interests</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
			
			<div class="row">
					<div class="medium-8 columns medium-offset-2">
						<div class="row directions">
							<div class="medium-4 columns">
								Select <strong class="highlight">L</strong> for <strong>Like</strong>
								(I would like to do this activity.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">I</strong> for <strong>Indifferent</strong>
								(I don't care one way or the other.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">D</strong> for <strong>Dislike</strong>
								(I would not like to do this activity.)
							</div>
						</div>
					</div>
				</div>
				                				
				<p>Read each line carefully and select the appropriate letter for each activity. <strong>You must answer ALL questions. You may not go back to change your answers once you proceed to the next page. </strong></p>
				
				<div class="row">
					<section class="table-pagination">
                        <div class="medium-6 columns">90 Questions Total:</div>
                        <!-- <div class="medium-6 columns">
                        <uib-pagination total-items="200" ng-model="1" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-page="20" items-per-page="20" previous-text="<" next-text=">"></uib-pagination>
                        </div> -->
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <form name="myForm" ng-submit="submitAnswer()">
                    <section id="fyi-test" class="medium-12 columns">
                        <table class="hover">
                        	<tbody>
                                <tr ng-repeat="question in questionList track by $index">
                                    <td class="num">{{question.slot}}.</td>
									<td ng-style="{'color': question.answer === undefined && submitted ? 'red' : 'black'}">{{question.stem}}</td>
                                    <td class="highlight"><label>L <input type="radio" name="{{question.qId}}"
										ng-model="$parent.questionList[$index].answer" value="2"
									  ng-change='resetValidation(); saveFYIQustions()'></label></td>
                                    <td class="highlight"><label>I <input type="radio" name="{{question.qId}}"
										ng-model="$parent.questionList[$index].answer" value="1"
										ng-change='resetValidation(); saveFYIQustions();'></label></td>
                                    <td class="highlight"><label>D <input type="radio" name="{{question.qId}}"
										ng-model="$parent.questionList[$index].answer" value="0"
										ng-change='resetValidation(); saveFYIQustions();'></label></td>
                                </tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                       <div class="medium-12 columns"><hr/></div>
                       <div class="medium-12 columns text-right">
	                       <select ng-model="gender" ng-change='resetValidation(); saveFYIQustions()'>
	                       		<option value="">---Select Gender---</option>
	                       		<option value="M">Male</option>
	                       		<option value="F">Female</option>
	                       </select>
											 </div>
											 <div class="medium-12 columns text-right" style="margin-bottom: 5px; text-transform: none;">
												 <span style="color: #cc0000">{{validation}}</span>
											 </div>
                       <div class="medium-10 columns" style="text-transform:none;">When you are done, click the Next button to proceed.</div>
                       <div class="medium-2 columns">
                       	<button class="button" type="submit" ng-disabled="disableSubmit">Next</button>
                       </div>
                   </section>
                   </form>
			</div>
			
		</section>
	</div>
	<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
</section>

<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>