<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="1" class="caps">Find your Interests</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h2>YOUR scores are tied in some interest areas</h2>
                
				<br/>
				
				<p>In these areas, your interests are probably equally important. Because the FYI is set up to use 3 Top interest Codes. 
				Select the codes you want to use now for career exploration.  (You will have an opportunity to change your selection.)</p>
				
				<div class="row">
					<div class="medium-10 columns medium-offset-1">
						
						<p>&nbsp;</p>
							
						<h4 id="choose"><strong>Select {{tiedScoreObject.numSlotsLeft}} of the {{tiedScoreObject.numTiedScore}} tied interests</strong></h4>

						<div class="row column">
							<div id="tied" class="scores">
								<div class="labels">
									<div class="left">Interest Codes</div>
									<div class="right">Scores</div>
									<div class="right">Select One</div>
								</div>
								<div ng-repeat="s in tiedScoreObject.scoreList">
								<div class="result code-e" ng-if="s.interestCd == 'E'">
									<div class="left"><i class="code-e"></i> Enterprising</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								<div class="result code-c" ng-if="s.interestCd == 'C'">
									<div class="left"><i class="code-c"></i> Conventional</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								<div class="result code-a" ng-if="s.interestCd == 'A'">
									<div class="left"><i class="code-a"></i> Artistic</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								<div class="result code-i" ng-if="s.interestCd == 'I'">
									<div class="left"><i class="code-i"></i> Investigative</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								<div class="result code-s" ng-if="s.interestCd == 'S'">
									<div class="left"><i class="code-s"></i> Social</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								<div class="result code-r" ng-if="s.interestCd == 'R'">
									<div class="left"><i class="code-r"></i> Realistic {{s.scoreType}}</div>
									<div class="right">{{tiedScoreObject.scoreType == 'gender' ? s.genderScore : s.combinedScore | number:0}}</div>
									<div class="right"><input ng-if="s.checkbox" type="checkbox" ng-model="s.selected"
											ng-change="checkChanged(s)"
											ng-disabled="checked==limit && !s.selected"></div>
								</div>
								</div>
							</div>
														
						</div>
						
						<input type="submit" class="button centered" value="submit" ng-click="submit()">
										
						<p class="hide-for-large">&nbsp;</p>
						<p><br class="hide-for-large" /></p>
						
						<h4>&nbsp;</h4>
						
						<p>&nbsp;</p>
						
					</div>
				</div>
						
				<div class="row column">
					<h3>What Does each interest code mean?</h3>
				</div> 
				
				<div class="row">
					<div class="small-9 columns">
						<p><strong style="color: #2279BF">Realistic</strong> activities often involve practical, hands-on problems and solutions.</p>
						<p><strong style="color: #892C32">Investigative</strong> activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</p>
						<p><strong style="color: #F3913D">Artistic</strong> activities allow you to be creative and use your imagination to do original work.</p>
						<p><strong style="color: #174377">Social</strong> activities allow you to use your skills and talents to interact eectively with others.</p>
						<p><strong style="color: #ea292d">Enterprising</strong> activities allow you to take a leadership role.</p>
						<p><strong style="color: #52843c">Conventional</strong> activities require attention to accuracy and detail.</p>
					</div>
					<div class="small-3 columns">
						<img src="images/codes.jpg"> 
					</div>
				</div> 


			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>