<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="1" class="caps">Find your Interests</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>

			<section id="main-content" class="medium-10 columns" role="main">
				<div class="row">
					<div class="medium-8 columns">
		                <h1>Find your Interests directions</h1>
		                
						<br/>
						
						<ul>
		                	<li>
								With interest inventories, there are no right or wrong answers.
		               		</li>
		                	<li>For each of the activities in the FYI, ask yourself if you would like or dislike doing that activity.                		</li>
		                	<li>Don't be concerned with how well you would do any activity or whether you have the experience or training to do it.                		</li>
		                	<li>Go with the first answer that comes to mind.                		</li>
		                	<li>If you don't have a strong preference one way or the other, or you are unsure, you can answer Indifferent. </li>
		               	</ul>
					</div>
	               	
					<div class="medium-4 columns tutorial"
						ng-repeat="m in mediaCenterList | filter:{positionId: 9}:true">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img
							ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span> </a>
							<br><br>
					</div>
				</div>
				<div class="row">
					<div class="medium-8 columns medium-offset-2">
						<div class="row directions">
							<div class="medium-4 columns">
								Select <strong class="highlight">L</strong> for <strong>Like</strong>
								(I would like to do this activity.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">I</strong> for <strong>Indifferent</strong>
								(I don't care one way or the other.)
							</div>
							<div class="medium-4 columns">
								Select <strong class="highlight">D</strong> for <strong>Dislike</strong>
								(I would not like to do this activity.)
							</div>
						</div>
						<div class="row directions-image">
							<div class="row">
								<section class="table-pagination">
			                        <div class="medium-6 columns">90 Questions Total:</div>
			                        <div class="medium-12 columns"><hr/></div>
			                    </section>
			                    <section id="fyi-test" class="medium-12 columns">
			                        <table class="hover">
			                        	<tbody>
			                                <tr>
			                                    <td class="num">1.</td>
												<td>Attend an art class</td>
			                                    <td class="highlight"><label>L <input type="radio" name="1"></label></td>
			                                    <td class="highlight"><label>I <input type="radio" name="1"></label></td>
			                                    <td class="highlight"><label>D <input type="radio" name="1"></label></td>
			                                </tr>
			                                <tr>
			                                    <td class="num">2.</td>
												<td>Help children with after-school homework</td>
			                                    <td class="highlight"><label>L <input type="radio" name="2"></label></td>
			                                    <td class="highlight"><label>I <input type="radio" name="2"></label></td>
			                                    <td class="highlight"><label>D <input type="radio" name="2"></label></td>
			                                </tr>
			                                <tr>
			                                    <td class="num">3.</td>
												<td>Investigate stars and black holes</td>
			                                    <td class="highlight"><label>L <input type="radio" name="3"></label></td>
			                                    <td class="highlight"><label>I <input type="radio" name="3"></label></td>
			                                    <td class="highlight"><label>D <input type="radio" name="3"></label></td>
			                                </tr>
			                                <tr>
			                                    <td class="num">4.</td>
												<td>Adjust bicycle gears</td>
			                                    <td class="highlight"><label>L <input type="radio" name="4"></label></td>
			                                    <td class="highlight"><label>I <input type="radio" name="4"></label></td>
			                                    <td class="highlight"><label>D <input type="radio" name="4"></label></td>
			                                </tr>
			                        </table>
								</section>
						</div>
						</div>
					</div>
				</div>
				
				<p>&nbsp;</p>
				<p align="center"><br/><a class="button" href="find-your-interest-test">Let's Get started</a></p>

			</section>

		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>