<update-title title="My FYI Results | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="{{description}}"></update-meta>

<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@asvabcep"></update-meta>
<update-meta name="twitter:title" content="Check out my FYI Results"></update-meta>
<update-meta name="twitter:description" content="{{description}}"></update-meta>
<update-meta name="twitter:image" content="{{imageUrl}}"></update-meta>

<update-meta property="og:title" content="Check out my FYI Results"></update-meta>
<update-meta property="og:type" content="article"></update-meta>
<update-meta property="og:image" content="{{imageUrl}}"></update-meta>
<update-meta property="og:description" content="{{description}}"></update-meta>
<update-meta property="og:url" content="{{absUrl}}"></update-meta>

<div id="fyi" class="occufind">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section id="content-wrap">
		<div class="row">			
			<div class="medium-2 columns"  ng-show="isUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div class="medium-2 columns hide-for-small-only"  ng-show="!isUserLoggedIn">
				<img src="/CEP/images/asvab-ad.jpg" >
			</div>
			<div id="main-content" class="medium-10 columns" role="main">
				<h2>My FYI Results:</h2>
				
				<div class="row">
					<div class="medium-12 columns">
						<p>{{description}}</p>
					</div>
				</div>
				
				<div class="row">
					<div class="medium-12 columns">
						<p>Learn more about the FYI by reading this <a href="media-center-article/50">article</a>.</p>
					</div>
				</div>
				
				<div class="row">
					<div class="medium-12 columns">
						<img src="{{imageUrl}}"/>	
					</div>
				</div>	
				
				<br />
				
				<div class="row">
					<h2 class="columns">What Does each interest code mean?</h2>

                    <div class="small-9 columns">
                    	<table id="meaning"><tbody>
                        	<tr>
                            	<td>
                                	<div class="small-3 columns"><strong style="color: #2279BF">Realistic</strong></div>
						 			<div class="small-9 columns">activities often involve practical, hands-on problems and solutions.</div>
                                </td>
                                <td width="100"><a ng-click="interestCodeInfo('R')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #892C32">Investigative</strong></div> 
                                	<div class="small-9 columns">activities involve learning about new subject areas or ideas and allow you to use your knowledge to solve problems.</div>
								</td>
                                <td><a ng-click="interestCodeInfo('I')">Learn More</a></td>
                            </tr>
                            <tr>
                            	<td>
                                	<div class="small-3 columns"><strong style="color: #F3913D">Artistic</strong></div>
                                	<div class="small-9 columns">activities allow you to be creative and use your imagination to do original work.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('A')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #174377">Social</strong></div>
                                	<div class="small-9 columns">activities allow you to use your skills and talents to interact effectively with others.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('S')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #ea292d">Enterprising</strong></div>
                                	<div class="small-9 columns">activities allow you to take a leadership role.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('E')">Learn More</a></td>
                            </tr>
                            <tr>
								<td>
                                	<div class="small-3 columns"><strong style="color: #52843c">Conventional</strong></div> 
                                	<div class="small-9 columns">activities require attention to accuracy and detail.</div>
                                </td>
                                <td><a ng-click="interestCodeInfo('C')">Learn More</a></td>
                            </tr>
                    	</tbody></table>
					</div>
					<div class="small-3 columns">
						<img style="display: block;margin: auto;" src="images/codes.jpg"> 
					</div>
				</div> 
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>