<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-5 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-7 columns">
				<p class="caps">{{(userRole === 'E' || userRole === 'D') ? 'Sample summary results' : 'My asvab summary results'}}</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h1>{{(userRole === 'E' || userRole === 'D') ? 'Sample summary results' : 'My asvab summary results'}}</h1>


				<div class="summary-results-hero-box">
					<div class="summary-results-hero-table-title">
						<h4><strong>Results shown for</strong></h4>

						<span ng-if="haveAsvabTestScores && getScore('verbal') && getScore('math') && getScore('science')" class="menu tools float-right ng-scope" style="display: flex">
							<a ng-if="userRole === 'S'" ng-click="downloadPdf()" style="margin-right: 20px">Download PDF <span class="fa fa-download"></span></a>
							<a ng-if="userRole !== 'S'" target="_blank" href="https://www.asvabprogram.com/pdf/ASR_Poster.pdf" style="margin-right: 20px">Download Sample ASR <span class="fa fa-download"></span></a>
							<a ng-if="!mobileOrTablet" ng-click="print()">Print <span class="fa fa-print"></span></a>
						</span>
					</div>

					<div class="row">
					<!-- Results Shown Column 1 -->
						<div class="large-8 medium-7 columns">
							<section id="fyi-results">
								<table class="table" id="test-info-table">
									<tbody>
										<tr>
											<th>Student Grade:</th>
											<td class="ng-binding">{{scoreSummary.controlInformation.educationLevel}}th</td>
										</tr>
										<tr>
											<th>Student Gender:</th>
											<td class="ng-binding">{{genderFull}}</td>
										</tr>
										<tr>
											<th>Test Date:</th>
											<td class="ng-binding">{{testDate.month}} {{testDate.day}}, {{testDate.year}}</td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="large-4 medium-5 columns text-center">
							
						<div ng-hide="userRole === 'E' || userRole === 'D'">
							<p>Don’t see scores you expected?</p>
							<a class="button optionButtons" href="" ng-click="cepManualInput('retrieve')">Check for New Scores</a>
							<!-- ngIf: !haveAsvabTestScores -->
						</div>
						</div>
					</div>
				</div>


				<div class="row result-page-include-section">
				<!-- Your Results Column 1 -->
					<div class="medium-7 columns">
                		<h4 id="choose"><strong>Your ASVAB results include:</strong></h4>
						<ul>
							<li><a href="" ng-click="scrollTo('ces')">Career Exploration Scores</a></li>
							<li><a href="" ng-click="scrollTo('asvab')">ASVAB Test Scores</a></li>
							<li><a href="" ng-click="scrollTo('mes')">Military Entrance Score (AFQT)</a></li>
						</ul>
					</div>

				<!-- Your Results Column 2 -->
					<div class="medium-5 columns">
						<div class="tutorial" ng-repeat="m in mediaCenterList | filter : {positionId : 6, categoryId: 5} : true">
							<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
							<!--<h4><strong>{{m.title}}</strong></h4>-->
							<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}">
                                <!--<img ng-src="{{m.thumbnailUrl}}">-->
								<span class="image-wrapper"><img src="images/asvab-tutorial-video.jpg" style="position: relative;"><span id="play-icon"></span></span>
							</a>
							<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)">
								<!--<span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span id="play-icon"></span></span>-->
								<span class="image-wrapper"><img src="images/asvab-tutorial-video.jpg" style="position: relative;"><span id="play-icon"></span></span>
							</a>
						</div>
					</div>
				</div>
			<!-- CES Section -->
				<h2 id="ces">Career Exploration Scores</h2>
				<p>The career exploration scores translate your ASVAB test scores into skill strength scores to help you with career exploration. <a href="" ng-click="moreInfo('ces')">Learn More.</a></p>

				<div class="row">
				<!-- CES Standard Scores Colum -->
					<div class="large-6 columns">
						<h3>Standard Scores</h3>
						<p>These are your actual scores on the test. <a href="" ng-click="moreInfo('cesStandard')">Learn More.</a></p>
						<table class="table" id="score-band-table">
							<tbody>
								<tr>
									<td style="width: 55px"><img src="images/score-band.png"></td>
									<td><p>The score bands show the range your scores would probably fall in if you took the test again. <a href="" ng-click="moreInfo('scoreBands')">Learn More.</a></p></td>
								</tr>
							</tbody>
						</table>

						<!-- Chart -->
						<div class="chartContainer">
							<div class="chart">
								<div id="cesStandardChart1">
									<canvas id="cesScores1_1" class="chart-horizontal-bar" chart-data="cesData1_1" chart-dataset-override="standardScoreColors1" chart-labels="cesLabels1_1" chart-options="scoreChartOptions" height=286></canvas>
								</div>
							</div>
						</div>
					</div>

				<!-- CES Percentile Scores Colum -->
					<div class="large-6 columns">
						<h3>Percentile Scores</h3>
						<p>These are your scores compared to other {{scoreSummary.controlInformation.educationLevel}}th grade students. <a href="" ng-click="moreInfo('cesPercent')">Learn More.</a></p><br /><br /><br />

						<!-- Chart -->
						<div class="chartContainer">
							<div class="chart">
								<!-- Verbal -->
								<div id="cesPercentChart1">
									<p>Verbal Skills</p>
									<canvas id="cesChart2_1" class="chart-horizontal-bar" chart-data="cesData2_1" chart-colors="greenColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Math -->
								<div id="cesPercentChart2">
									<p>Math Skills</p>
									<canvas id="cesChart2_2" class="chart-horizontal-bar" chart-data="cesData2_2" chart-colors="redColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Science -->
								<div id="cesPercentChart3">
									<p>Science/Technical Skills</p>
									<canvas id="cesChart2_3" class="chart-horizontal-bar" chart-data="cesData2_3" chart-colors="purpleColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			<!-- ASVAB Section -->
				<h2 id="asvab">ASVAB Test Scores</h2>
				<p>
					<strong>The ASVAB subtest scores are used to calculate your Career Exploration Scores.  
					<a href="" ng-click="moreInfo('asvab')">See more about composite scores.</a>
                    </strong>
				</p>

				<!-- Chart Key -->
				<div class="row">
					<div class="small-4 columns">
						<p style="white-space: nowrap;">Verbal Skills
							<span id="greenBar"></span>
						</p>
					</div>
					<div class="small-4 columns">
						<p style="white-space: nowrap;">Math Skills
							<span id="redBar"></span>
						</p>
					</div>
					<div class="small-4 columns">
						<p style="white-space: nowrap;">Science/Technical Skills
							<span id="purpleBar"></span>
						</p>
					</div>
				</div>

				<div class="row">
				<!-- ASVAB Standard Scores Colum -->
					<div class="large-6 columns">
						<h3>Standard Scores</h3>
						<p>These are your actual scores on each subtest <a href="" ng-click="moreInfo('asvabStandard')">Learn More.</a>


						<span ng-if="false"><!-- Not implemented, hide from dom, remove span when implemented -->
						<br />
						<strong>See which test scores are used to build each career exploration scores skill</strong>
						</span>


						</p>


						<span ng-if="false"><!-- Not implemented, hide from dom, remove span when implemented -->
                            <!-- Area Hilites -->
                            <div class="row">
                                <div class="small-4 columns">
                                    <button id="hiliteVerbal" class="button" ng-click="hiliteItems('verbal');">Verbal Skills</button>
                                </div>
                                <div class="small-4 columns">
                                    <button id="hiliteMath" class="button" ng-click="hiliteItems('math');">Math Skills</button>
                                </div>
                                <div class="small-4 columns">
                                    <button id="hiliteScience" class="button" ng-click="hiliteItems('science');">Science Skills</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <button id="clearHilites" class="button centered hollow" ng-click="hiliteItems('none');">Clear Skill Highlights</button>
                                </div>
                            </div>
                        </span>

                        <br /><br />
						<!-- Chart -->
						<div class="chartContainer">
							<div class="chart">
								<div id="cesStandardChart2">
									<canvas id="asvabScores1_1" class="chart-horizontal-bar" chart-data="asvabData1_1" chart-dataset-override="standardScoreColors2" chart-labels="asvabLabels1_2" chart-options="scoreChartOptions" height=932></canvas>
								</div>
							</div>
						</div>
					</div>

				<!-- ASVAB Percentile Scores Colum -->
					<div class="large-6 columns">
						<h3>Percentile Scores</h3>
						<p>These are your scores compared to other {{scoreSummary.controlInformation.educationLevel}}th grade students. <a href="" ng-click="moreInfo('asvabPercent')">Learn More.</a></p>

						<!-- Chart -->
						<div class="chartContainer" style="margin-top: 100px">
							<div class="chart">
								<!-- General Science -->
								<div id="asvabPercentChart1">
									<p>General Science</p>
									<canvas id="asvabChart2_1" class="chart-horizontal-bar" chart-data="asvabData2_1" chart-colors="purpleColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Arithmetic Reasoning -->
								<div id="asvabPercentChart2">
									<p>Arithmetic Reasoning</p>
									<canvas id="asvabChart2_2" class="chart-horizontal-bar" chart-data="asvabData2_2" chart-colors="redColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Word Knowledge -->
								<div id="asvabPercentChart3">
									<p>Word Knowledge</p>
									<canvas id="asvabChart2_3" class="chart-horizontal-bar" chart-data="asvabData2_3" chart-colors="greenColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Paragraph Comprehension -->
								<div id="asvabPercentChart4">
									<p>Paragraph Comprehension</p>
									<canvas id="asvabChart2_4" class="chart-horizontal-bar" chart-data="asvabData2_4" chart-colors="greenColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Mathematics Knowledge-->
								<div id="asvabPercentChart5">
									<p>Mathematics Knowledge</p>
									<canvas id="asvabChart2_5" class="chart-horizontal-bar" chart-data="asvabData2_5" chart-colors="redColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Electronics Information -->
								<div id="asvabPercentChart6">
									<p>Electronics Information</p>
									<canvas id="asvabChart2_6" class="chart-horizontal-bar" chart-data="asvabData2_6" chart-colors="purpleColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- EAuto and Shop Information -->
								<div id="asvabPercentChart7">
									<p>Auto and Shop Information</p>
									<canvas id="asvabChart2_7" class="chart-horizontal-bar" chart-data="asvabData2_7" chart-colors="blackColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>

								<!-- Mechanical Comprehension -->
								<div id="asvabPercentChart8">
									<p>Mechanical Comprehension</p>
									<canvas id="asvabChart2_8" class="chart-horizontal-bar" chart-data="asvabData2_8" chart-colors="purpleColors" chart-labels="percentChartLabels" chart-options="percentChartOptions" height=90></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			<!-- MES Section -->
				<div class="row">
					<div class="medium-12 columns">
						<h2 id="mes">Military Entrance Score (AFQT)</h2>
                        <div id="afqt" class="row">
							<div class="col-md-3">
								<h3>Your AFQT Score*</h3>
								<div>
								<!-- AFQT Doughnut Chart -->
                                <div id="afqtChart">
                                    <canvas id="afqtChart1" class="chart chart-doughnut" chart-data="afqtChartData" chart-labels="afqtChartLabels" chart-options="afqtChartOptions" chart-colors="afqtChartColors"></canvas>
                                </div>
                                <div id="afqtScore">{{getAfqtScore()}}</div>
								</div>
							</div>
							<div class="col-md-9">
								<p> Participation in the ASVAB CEP does not obligate you to talk with military recruiters or consider a military career. <br> <br>
						This score is used to determine your qualifications for entry into any branch of the United States Armed Forces.
							<br>
<!-- 							<a href="" ng-click="moreInfo('afqt')">Learn more about AFQT</a>
 -->						</p>
							</div>	
						</div>
                        						
						<h2><smaller>Your military line scores</smaller></h2>
<!-- 
						<p><b>The unique composite scores each Service uses to determine placement eligibility can be found <a href="" ng-click="moreInfo('asvab')">here.</a></b></p>
 -->
 						<p><b>If you are interested in joining the Military it is best to discuss this score with a recruiter. <a ng-controller="GA" ng-click="trackClick('#FROM_CEP_TO_CITM')" target="_blank" ng-href="{{ssoUrl}}composite-scores">Learn More.</a></b><br />
						* The number shows how your score compares to the scores of American men and women 18 to 23 years of age.</p>
					</div>
					<div class="medium-4 columns">
					</div>
				</div>
				
			</section>
			<!-- Scroll to top -->
			<a class="button optionButtons goToTop" style="display: none;"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
  <style>
	#fyi #score-band-table > tbody > tr > td {
		border: 0;
	}
	#fyi #test-info-table > tbody > tr > td {
		vertical-align: top;
	}
  </style>