<div id="fyi" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-7 columns">
				<p class="caps">My ASVAB Summary Results</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h2>YOUR ASVAB SUMMARY RESULTS</h2>
                <h4><strong>Results shown for Manually Entered Scores</strong></h4>
                
				<div class="row">
					<!-- Results Shown Column 1 -->
					<div class="large-7 columns">
						<section id="fyi-results">
							<table class="table" id="test-info-table">
								<thead>
									<tr>
										<td>Student Info</td>
										<td>Test Info</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div ng-show="isGrade()">Grade: {{hsGrade}}th <br /></div><div ng-show="isGender()">Gender: {{gender}}</div></td>
										<td><div ng-show="isDate()">Date: {{testDate.month}}/{{testDate.day}}/{{testDate.year}}<br /></div><div ng-show="isLocation()">Location: {{testLocation}}</div></td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>

					<!-- Results Shown Column 1 -->
					<div class="large-5 columns">
						<p>Don’t see scores you expected?</p>
						<a class="button optionButtons" href="" ng-click="cepManualInput('retrieve')">Check for New Scores</a>
						<a class="button optionButtons" href="" ng-click="cepManualInput('enter')">Enter Your CEP Scores Manually</a>
					</div>
				</div>

				<div class="row">
					<!-- Your Results Column 1 -->
					<div class="large-7 columns">
                		<h4 id="choose"><strong>Your ASVAB results include:</strong></h4>
						<ul>
							<li><a href="" ng-click="scrollTo('ces')">Career Exploration Scores</a></li>
							<li><a href="" ng-click="scrollTo('asvab')">ASVAB Test Scores</a></li>
							<li><a href="" ng-click="scrollTo('mes')">Military Entrance Score (AFQT)</a></li>
						</ul>
					</div>

					<!-- Your Results Column 2 -->
					<div class="large-5 columns">
						<div class="tutorial" ng-repeat="m in mediaCenterList | filter : {positionId : 6, categoryId: 5} : true">
							<!--<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>-->
							<h4><strong>{{m.title}}</strong></h4>
							<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}">
								<!--<img ng-src="{{m.thumbnailUrl}}">-->
								<img src="images/asvab-tutorial-video.jpg">
							</a>
							<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)">
								<!--<span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span id="play-icon"></span></span>-->
								<span class="image-wrapper"><img src="images/asvab-tutorial-video.jpg" style="position: relative;"><span id="play-icon"></span></span>
							</a>
						</div>
					</div>
				</div>

				<!-- CES Section -->
		 		<h2 id="ces">Career Exploration Scores</h2>
				<p>The career exploration scores translate your ASVAB test scores into skill strength scores to help you with career exploration. <a href="" ng-click="moreInfo('ces')">Learn More.</a></p>

				<div class="row">
					<!-- CES Standard Scores Colum -->
					<div class="large-6 columns">
						<!-- <h2><smaller>Standard Scores</smaller></h2>
						<p>These are your actual scores on the test. <a href="" ng-click="moreInfo('cesStandard')">Learn More.</a></p> -->
						<table id="my-results-table" class="table table-striped">
							<tbody>
								<tr>
									<td id="varbal-score">{{verbalScore}}</td>
									<td id="math-score">{{mathScore}}</td>
									<td id="science-score">{{scienceScore}}</td>
								</tr>
								<tr>
									<td>V</td>
									<td>M</td>
									<td>S/T</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- ASVAB Section -->
 			<h2 id="asvab">ASVAB Test Scores</h2>
				<p>
					<strong>The ASVAB subtest scores are used to calculate your career exploration scores and the unique composite scores each Service uses to determine placement eligibility.</strong> 
					<a href="" ng-click="moreInfo('asvab')">See more about composite scores.</a>
				</p>
				<hr>
				<p><strong>ASVAB test scores are not included with manually entered scores.</strong></p>

				<!-- MES/AFQT Section -->
 				<div class="row">
					<div class="medium-8 columns">
						<h2 id="mes">Military Entrance Score (AFQT)</h2>
						<p>This score is used to determine your qualifications for entry into any branch of the United States Armed Forces.
							<br />
							<a href="" ng-click="moreInfo('afqt')">Learn more about AFQT</a>
						</p>
						<hr>
						<p><strong>The AFQT score is not included with manually entered scores.</strong></p>
					</div>
					<div class="medium-4 columns">
					</div>
				</div>

			</section>
			<!-- Scroll to top -->
			<a class="button optionButtons goToTop" style="display: none;"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
  <style>
    
  </style>