<!-- <update-meta property="og:title" content="{{page.pageTitle}}"></update-meta> -->
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<!-- <update-title title="{{page.pageTitle}}"></update-title> -->
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div class="occufind faq">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">FAQs</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<!-- <li><a href=""><i class="fa fa-caret-left"></i> Back To [page title]</a></li> -->
				</ul>
			</div>
		</div>
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="divider"></li>
					</ul>
				</div>
			</div>
			<section id="main-content" class="medium-9 columns" role="main">
			  <h1 class="job-title">Frequently Asked Questions</h1>
			  <p>For a faster response please see the commonly asked questions &amp; answers, below.</p>
			  
				<h3 class="faq-heading">About ASVAB CEP</h3>
				<uib-accordion> 
					<uib-accordion-group ng-repeat="a in about" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{a.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<dir id="dir" content="a.description"></dir>
					</uib-accordion-group> 
				</uib-accordion>
				
				<h3 class="faq-heading">ASVAB Testing</h3>
				<uib-accordion> 
					<uib-accordion-group ng-repeat="a in testing" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{a.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<dir id="dir" content="a.description"></dir>
					</uib-accordion-group> 
				</uib-accordion>
				
				<h3 class="faq-heading">ASVAB Scores</h3>
				<uib-accordion> 
					<uib-accordion-group ng-repeat="a in score" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{a.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<dir id="dir" content="a.description"></dir>
					</uib-accordion-group> 
				</uib-accordion>
				
				<h3 class="faq-heading">Access to ASVAB Career Exploration website</h3>
				<uib-accordion> 
					<uib-accordion-group ng-repeat="a in access" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{a.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<dir id="dir" content="a.description"></dir>
					</uib-accordion-group> 
				</uib-accordion>
				
				<h3 class="faq-heading">Military Related Questions</h3>
				<uib-accordion> 
					<uib-accordion-group ng-repeat="a in military" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{a.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<dir id="dir" content="a.description"></dir>
					</uib-accordion-group> 
				</uib-accordion>
				
			
			

			  
			</section>
			<aside id="search-sidebar" class="sidebar medium-3 columns">
                <section id="contact-form">
					<form class="ng-pristine ng-valid" ng-submit="emailUs()">
                        <h2>Contact Us</h2>
                        
						<p>For further assistance, please fill out a contact us form.</p>
                        <p>	
                        	<label class="caps">I am a</label>
                            <select ng-model="userType" required ng-disabled="formDisabled">
								<option value="Student">Student</option>
								<option value="Educator">Educator</option>
								<option value="Parent">Parent</option>
							</select>
							
                            <label class="caps">First Name</label>
                            <input type="text" ng-model="firstName" required ng-disabled="formDisabled">
							
                            <label class="caps">Last Name</label>
                            <input type="text" ng-model="lastName" required ng-disabled="formDisabled">
							
                            <label class="caps">Email</label>
                            <input type="email" ng-model="email" required ng-disabled="formDisabled">
							
                            <label class="caps">Topic</label>
                            <select ng-model="topics" required ng-disabled="formDisabled">
								<option value="General Questions">General Questions</option>
								<option value="ASVAB CEP Scheduling">ASVAB CEP Scheduling</option>
								<option value="Access Code Issues">Access Code Issues</option>
								<option value="Website Issues">Website Issues</option>
								<option value="I Can't Find What I'm Looking For">I Can't Find What I'm Looking For</option>
								<option value="I Don't Understand My Scores">I Don't Understand My Scores</option>
								<option value="Request A Post-Test Interpretation/Workshop">Request A Post-Test Interpretation/Workshop</option>
								<option value="ASVAB Test Administration Issues">ASVAB Test Administration Issues</option>
								<option value="Merge Accounts">Merge Accounts</option>
							</select>
							
							<label class="caps">Message</label>
                            <textarea ng-model="message" required ng-disabled="formDisabled"></textarea>
                        </p>
                        <p ng-if="validation != undefined" style="color: #cc0000">{{validation}}</p>
                        <div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                        <button type="submit" class="button" style="width: 100px; margin-top:-20px;">Submit<span ng-if="formDisabled" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
                    </form>
                </section>
								<p>Submit press and legislative inquiries to: <a href="mailto:asvabcep@gmail.com?subject=Press and legislative inquiries">asvabcep@gmail.com</a></p>
								<p>Contact a local representative by calling 1-800-323-0513.</p>
                <a ng-click="openScoreRequestModal()">Request ASVAB Test Scores</a>
		  	</aside>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

  </div>