<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
async defer></script>
<script src="js/angular-recaptcha.min.js"></script>

<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div ng-show="stepOne" ng-init="stepOne = true" style="background-color: white">
			<div class="modal-header ng-scope">
				<button type="button" class="close" ng-click="modalOptions.ok()"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
			</div>
			<div class="modal-body ng-scope">
				<div class="row column">
					
						<h2>Before Submitting a score Request, <br/>Please consider the following:</h2>
						<p>&nbsp;</p>
						<ul>
							<li>
								ASVAB CEP scores are only <strong>available for two years after an individual takes the test.</strong> If you took the test more than two years ago your test scores were removed from the ASVAB CEP system. 
							</li>
							<li><strong>If you took the test within the past three months,</strong> please contact your school counselor for the status of your results.</li>
							<li>MEPCOM can only release test scores to students who took the test, to counselors at schools offering the test, and to parents of students under the age of 18.</li>
							<li>MEPCOM can <strong>only retrieve scores from tests taken in 11th and 12th grade and post-secondary schools.</strong> All 10th grade scores are invalid for enlistment purposes and are not available through the USMIRS database. </li>
						</ul>
						
						<p>&nbsp;</p>
				</div>
			</div>
			<div class="modal-footer ng-scope" style="text-align:center">
				<button class="button" type="button" ng-click="stepTwo = true; stepOne = false;">Continue</button>
					
			</div>
</div>


<!-- Modal 3: Request 2 -->


<div ng-show="stepTwo" style="background-color: white">
<form ng-submit="submit()">
			<div class="modal-header ng-scope">
				<button type="button" class="close" ng-click="modalOptions.ok()"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
			</div>
			<div class="modal-body ng-scope">
				<div class="row">
					<div class="medium-9 columns">
						
						  <div class="row column">
						  	<label>I am a: &nbsp; 
							  <select ng-model="userType" ng-disabled="formDisabled" required>
							  	<option value="">--- Select One ---</option>
								<option value="Student">Student</option>
								<option value="Parent">Parent</option>
								<option value="Parent">Other</option>
							  </select>
							  <span style="padding-left: 10px;" ng-show="userType == 'Parent'">Is the student participant under 18? Yes: <input type="radio" name="parentAllow" ng-model="parentAllow" ng-value="true"> No: <input type="radio" name="parentAllow" ng-model="parentAllow" ng-value="false"  ng-click="notAllowedPopup()"></span>
							</label>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="firstName">
									<input type="text" style="display: inline-block; width:98%;" placeholder="Student First Name" id="firstName" ng-model="firstName" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required>
								</label>
							</div>
							<div class="medium-6 columns">
								<label for="lastName">
									<input type="text" style="display: inline-block; width:98%;" placeholder="Student Last Name" id="lastName" ng-model="lastName" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required>
								</label>
							</div>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="email">
									<input type="email" style="display: inline-block; width:98%;" placeholder="Email" id="email" ng-model="email" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required>
								</label>
							</div>
						  </div>
						  <div class="row column">
						  	<label for="schoolName">
						  		<input type="text"  style="display: inline-block; width:99%;" placeholder="School Name" id="schoolName" ng-model="schoolName" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required>
						  	</label>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="city">
									<input type="text" style="display: inline-block; width:98%;" placeholder="School City" id="city" ng-model="city" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required>
								</label>
							</div>
							<div class="medium-6 columns">
								<label for="county">
									<input type="text" style="display: inline-block; width:98%;" placeholder="School County" id="county" ng-model="county" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" ng-required="country == 'US'">
								</label>
							</div>							
						  </div>	
						  <div class="row">
						  	<div class="medium-6 columns">
						  		<label for="country">
						  			<select id="country" ng-model="country" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" required ng-change="resetStateSelection()">
						  				<option value="">--Select Country--</option>
						  				<option value="Bahrain">Bahrain</option>
						  				<option value="Belgium">Belgium</option>
						  				<option value="Cuba">Cuba</option>						  				
						  				<option value="Germany">Germany</option>
						  				<option value="Italy">Italy</option>
						  				<option value="Japan">Japan</option>
						  				<option value="Netherlands">Netherlands</option>
						  				<option value="South Korea">South Korea</option>
						  				<option value="Spain">Spain</option>
						  				<option value="UK">United Kingdom</option>
						  				<option value="US">United States of America</option>
						  			</select>
						  		</label>
						  	</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<label for="state">
									<select id="state" ng-model="state" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled || country != 'US'" ng-required="country == 'US'">
									<option value="">--- Select State ---</option>
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>								
									<option value="AR">Arkansas</option>																
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VI">U.S. Virgin Islands</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
									</select>
									</label>
								</div>
						  </div>
						  <div class="row">
							<div class="medium-6 columns">
								<label for="dt">
									Approximate Test Date: &nbsp;
									<input type="text" placeholder="mm/yyyy" style="display:inline-block;width:48%;" 
										uib-datepicker-popup="MM/yyyy" id="dt" ng-model="dt" 
										is-open="popup1.opened" datepicker-options="dateOptions"
										max-date="maxDate"
										show-button-bar="false" close-text="Close" 
										alt-input-formats="altInputFormats" 
										ng-click="open1()" 
										ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled" 
										required>
								</label>								
							</div>
							</div>
							<div class="row">
								<div class="medium-10 columns">
									<label for="regGradeLevel">What was your grade level when you took the ASVAB:
										<select id="regGradeLevel" ng-model="regGradeLevel" style="width: 70%" required>
											<option value="">--- Select Grade Level * ---</option>
											<option value="10">High School Sophmore, 10th grade</option>
											<option value="11">High School Junior, 11th grade</option>
											<option value="12">High School Senior, 12th grade</option>
											<option value="13">First Year Post-secondary, 13th grade</option>
											<option value="14">Second Year Post-secondary, 14th grade</option>
											<option value="15">Third Year Post-secondary, 15th grade</option>
											<option value="0">Other</option>
										</select>
									</label>
								</div>
							</div>
						  <div class="row column">
						  	<textarea placeholder="Additional Message (optional)" ng-model="message" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled"></textarea>
						  </div>
						  
						  <div class="row column" ng-if="validation != undefined" style="color: #cc0000">
						  {{validation}}
						  </div>
						  
						  <div class="row column">
						  	<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" on-create="onWidgetCreate(1)" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
						  	<span>All fields are required</span>
						  </div>
					
					</div>
				</div>
				
			</div>
			<div class="modal-footer ng-scope" style="text-align:center">
				<button class="button" type="submit" ng-disabled="(userType != 'Student' && !parentAllow) || formDisabled">Continue<span ng-if="working" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
					
			</div>
		</form>
</div>


<!-- Modal 1: Notes -->
	
	<div ng-show="stepThree" style="background-color: white">
			<div class="modal-header ng-scope">
				<button type="button" class="close" ng-click="modalOptions.ok()"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Request Your Scores</h3>
			</div>

			<div style="text-align: center; margin: 100px 0;">
				<h2>Your Request has been submitted. </h2>
				<h4 style="margin: 0 auto; max-width: 70%; line-height: 1.5">{{scoreRequestResponse}}</h4>
				<!-- <h2>Your Request has been submitted. </h2>
				
				<h4><strong style="color: #000;">Please allow up to 2-3 weeks for a reply.</strong></h4> -->
			</div>
					
			<div class="modal-footer ng-scope" style="text-align:center">
				<button class="button" type="button" ng-click="modalOptions.ok()">Close</button>
					
			</div>
</div>