<update-title title="Complete Occupation List | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="Find your dream job. Search careers by interest, skill area, keywords, etc. in the OCCU-Find from the ASVAB Career Exploration Program."></update-meta>

<div id="search-list" class="occufind" ng-click="handleClick($event)">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns" ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div class="medium-2 columns hide-for-small-only" ng-show="!occuFindUserLoggedIn">
				<img src="/CEP/images/asvab-ad.jpg" >
			</div>
			<section id="main-content" class="large-7 medium-10 columns" role="main">
			  <div class="row column">
                  	<h1 class="page-title">{{displaySelectedInterestCodes()}}</h1>
                    <div id="cluster">
                        <i class="{{filterItems.C ? 'code-c' : 'code-c off'}}"></i>
                        <i class="{{filterItems.R ? 'code-r' : 'code-r off'}}"></i>
                        <i class="{{filterItems.I ? 'code-i' : 'code-i off'}}"></i>
                        <i class="{{filterItems.E ? 'code-e' : 'code-e off'}}"></i>
                        <i class="{{filterItems.S ? 'code-s' : 'code-s off'}}"></i>
                        <i class="{{filterItems.A ? 'code-a' : 'code-a off'}}"></i>                        
                    </div>
              </div>

				<p>This list shows {{selectedTitleTwo == undefined ?
					selectedTitleOne + ' Occupations. If this interest code aligns' : selectedTitleOne + ' and ' +
					selectedTitleTwo + ' Occupations. If these interest codes align'}}
					with your FYI results you may find these occupations satisfying.
					You will need to explore more to find out if a career is really
					right for you. Click on a title to view more information.</p>

				<div class="callout secondary show-for-small-only">
					<div ng-if="categoryItems.S || categoryItems.B || categoryItems.G || keyword || categoryItems.H || selectedTitleOne != undefined || workValueItems.A || workValueItems.I || workValueItems.REC || workValueItems.REL || workValueItems.S || workValueItems.W">
						<p>
							<strong>
								{{categoryItems.S || categoryItems.B ||	categoryItems.G || categoryItems.H || keyword ||
								selectedTitleOne != undefined ? 'Searched By ' : ''}}
							</strong>
							<span ng-if="selectedTitleOne != undefined">
								<br />Interests: <strong>{{selectedTitleTwo == undefined ? selectedTitleOne : selectedTitleOne + ' and ' + selectedTitleTwo}}</strong>
							</span>
							<span ng-if="workValueItems.A || workValueItems.I || workValueItems.REC || workValueItems.REL || workValueItems.S || workValueItems.W">
								<br />Work Values: <strong>{{ displaySelectedWorkValues() }}</strong>
							</span>
							<span ng-if="categoryItems.S || categoryItems.B || categoryItems.G || categoryItems.H">
								<br />Category: <strong>{{ displaySelectedCategories() }}</strong>
							</span>
							<span ng-if="keyword">
								<br />Keyword: <strong>{{keyword ? "'" + keyword + "'" : ''}}</strong>
							</span>						
						</p>
					</div>
					<div class="change-filter text-center">
						<a ng-click="scrollTo('search-sidebar')" class="button centered">Change Filters</a>
					</div>
				</div>
				
				<div ng-if="skillImportance" class="select-icon-box text-center hide-for-small-only">
					<img ng-if="skillImportance == 'V'" src="images/small-book1.png"> 
					<img ng-if="skillImportance == 'M'" src="images/small-book2.png"> 
					<img ng-if="skillImportance == 'S'" src="images/small-book3.png"> 
					<b>Occupations are sorted by
						{{skillImportance == 'V' ? 'Verbal' : skillImportance == 'M' ? 'Math' : skillImportance == 'S' ? 'Science/Technical' : ''}} importance.</b>
				</div>				
				<div class="row" ng-if="skillImportance != undefined && skillImportance != ''">
					<uib-tabset active="activeJustified" class="medium-12 columns">
					<uib-tab index="0" heading="Most Important" align="center" ng-click="skillViewSelected('hi')">					
						<div ng-if="skillView == 'hi'">
	                    	<div class="row columns">
								<section class="table-pagination">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>	
			               	<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>				
		                    <section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>                                
		                                <tr ng-repeat="o in results = (occupationResults                               	
		                                | filter : search 
		                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
		                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
		                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter)
		                               	| filter: (!workValueItems.A && !workValueItems.I && !workValueItems.REC && !workValueItems.REL && !workValueItems.S && !workValueItems.W ? '' : workValueFilter))
		                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage" ng-init="resultsLength = results.length" >		                               		
		                                	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>	                                    
		                                    </td>
		                                </tr>
		                        </table>
							</section>   
							<div class="row columns">
								<section class="table-pagination" style="clear:both;">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>    					
						</div>
					</uib-tab>
					<uib-tab index="1" heading="Moderately Important" align="center" ng-click="skillViewSelected('md')">					
						<div ng-if="skillView == 'md'">							
	                        <div class="row columns">
								<section class="table-pagination">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>				
			               	<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>	
		                    <section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>                                
		                                <tr ng-repeat="o in results = (occupationResults                               	
		                                | filter : search 
		                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
		                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
		                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter)
																		| filter: (!workValueItems.A && !workValueItems.I && !workValueItems.REC && !workValueItems.REL && !workValueItems.S && !workValueItems.W ? '' : workValueFilter))
		                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
		                                	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>	                                    
		                                    </td>
		                                </tr>
		                        </table>
							</section>   
							<div class="row columns">
								<section class="table-pagination" style="clear:both;">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>    
						</div>
					</uib-tab> 
					<uib-tab index="2" heading="Least Important" align="center" ng-click="skillViewSelected('lw')">					
						<div ng-if="skillView == 'lw'">							
							<div class="row columns">
								<section class="table-pagination">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>	
			               	<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>				
		                    <section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>                                
		                                <tr ng-repeat="o in results = (occupationResults                               	
		                                | filter : search 
		                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
		                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
		                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter)
																		| filter: (!workValueItems.A && !workValueItems.I && !workValueItems.REC && !workValueItems.REL && !workValueItems.S && !workValueItems.W ? '' : workValueFilter))
		                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
		                                	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>	                                    
		                                    </td>
		                                </tr>
		                        </table>
							</section>   
							<div class="row columns">
								<section class="table-pagination" style="clear:both;">
				                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
				                    <div class="medium-6 columns pagination-numbers">
				                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
				                    </div>
				                    <div class="medium-12 columns"><hr/></div>
				               	</section>
			               	</div>    
						</div>
					</uib-tab> 
				</uib-tabset>
				</div>
				<!-- No Skill Selected START -->
				<div class="row" ng-if="skillImportance == undefined || skillImportance == ''">
					<div class="row columns">
						<section class="table-pagination">
		                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
		                    <div class="medium-6 columns pagination-numbers">
		                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
		                    </div>
		                    <div class="medium-12 columns"><hr/></div>
		               	</section>
	               	</div>
	               	<div class="row columns">						
					  	<div class="medium-12 columns">
					  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
					  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
				  		</div>
					</div>					
                    <section id="search-list" class="medium-12 columns">
                        <table class="hover">
                        	<tbody>                                
                                <tr ng-repeat="o in results = (occupationResults                               	
                                | filter : search 
                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter)
																| filter: (!workValueItems.A && !workValueItems.I && !workValueItems.REC && !workValueItems.REL && !workValueItems.S && !workValueItems.W ? '' : workValueFilter))
                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
                                	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
                                    <td>
                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
											{{o.occupationTitle}}			
											<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
											<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
											<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
											<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>									
										</a>										
									</td>
                                    <td align="right" width="100">                                    
	                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
																			<i ng-if="!o.interestCdTwo" class="code-transparent"></i>
	                                    
	                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>	
																			<i ng-if="!o.interestCdThree" class="code-transparent"></i>                                   
                                    </td>
                                </tr>
                        </table>
					</section>   
					<div class="row columns">
						<section class="table-pagination" style="clear:both;">
		                    <div class="medium-6 columns pagination-title">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</div>
		                    <div class="medium-6 columns pagination-numbers">
		                         <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged(this); saveSearch();"></uib-pagination>
		                    </div>
		                    <div class="medium-12 columns"><hr/></div>
		               	</section>
	               	</div>                 
				</div>				
               	<div ng-controller="OnetDisclaimerController" ng-include="'cep/page-partials/onet-disclaimer.html'"></div>                    
				<!-- No Skill Selected END -->				
			</section>
			<aside id="search-sidebar" class="sidebar large-3 medium-10 pull-right columns search-list">
			<div ng-controller="MobileInterestCodesController"></div>
                <section id="filters">
					<form ng-submit="occufindSearch()">
						<a ng-click="clearSelections()">Clear Selections</a>						
                        <h3 class="gray-bg">Search by:</h3>    
                        <label for="keyword" class="sr-only">Keyword:</label>                    
                        <input id="keyword" placeholder="Keyword (optional)" ng-model="keyword" ng-change="saveSearch()" type="text">                        
                    </form>
                    <div id="filter-interest">	
                      	<h3 class="transpernt-title"><b>INTEREST CODE</b></h3>
                        <p>(select up to two)</p>
						<span style="display:block; clear: both" ng-repeat="item in checkboxInterest">																		
							<input 	type="checkbox"
									id="interest{{$index}}" 
									ng-model="filterItems[item.code]"
									ng-click="limitTwo(item);"
									ng-change="saveSearch();"
									ng-disabled="interestChecked==interestLimit && !filterItems[item.code]"/>
							<i class="code-{{item.code | lowercase}}"></i>
							<label for="interest{{$index}}" style="display:inline">{{item.name}}</label>								
						</span>
					</div>
				
					<h3 class="gray-bg">Sort by</h3>
                      <div class="book-select">
                          <h3 class="transpernt-title"><b>My ASVAB STRENGTHS</b>
                              <a class="explain alt" style="margin-right: 13px" ng-controller="LeftNavigationController" ng-click="showSortByStrength()"></a>
                          </h3>
                          <p>(select one optional)</p>
                          <div class="book-select-input">
                              <span style="display:block; clear: both" ng-repeat="item in checkboxSkill">	
                             		<input 	type="checkbox"
                             				id="skill{{$index}}" 
											ng-model="skillItems[item.code]"
											ng-click="onSkillChange(item);limitOne(item);"
											ng-change="saveSearch();"
											ng-disabled="skillChecked==skillLimit && !skillItems[item.code]">									
								<img ng-src="images/small-book{{$index + 1}}.png" alt="small-book{{$index + 1}}">
								<label style="display:inline;" for="skill{{$index}}">{{item.name}}</label>									
							</span>
                          </div>
                      </div>
                      <h3 class="gray-bg">Filter By</h3>
                      <div id="filter-category">
						  <table class="table" style="margin-bottom: 10px">
							<thead class="border-none">
							  <tr>
								<th colspan="3" class="border-none p-0"><span class="text-uppercase" style="display: flex; justify-content: space-between;">Work Values <a class="explain alt" ng-controller="LeftNavigationController" ng-click="workValuesHint()" style="margin-right: 13px"></a></span></th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td class="border-none">
								  <div class="select_with_checkbox">
									<div ng-click="workValuesToggle = !workValuesToggle; categoriesToggle = false" 
										class="custom_select_dropdown"
										style="margin-bottom: -5px; height: 21px; display: flex; align-items: center"
										>Select Work Values ({{workValueChecked}})
									</div>
									<table ng-class="{active: workValuesToggle}">
									  <tbody>
										<tr><td colspan="3" class="pt-10 pl-10 work-value-element">(select up to three)</td></tr>
										<tr>
										  <td class="work-value-element">
                                                <span class="work-value-element" style="display:block; clear: both" ng-repeat="item in checkboxWorkValue">
																										<img class="work-value-element" style="max-width: 20px" for="workValue{{$index}}" ng-src="{{item.image}}" title="{{item.rel}}"></img>
                                                    <label class="work-value-element" style="display:inline;" for="workValue{{$index}}">{{item.name}}</label>
																										<input  type="checkbox"
																														class="work-value-element"
                                                            id="workValue{{$index}}"
																														ng-click="limitThree(item);"
                      				                        			ng-model="workValueItems[item.code]"
                                                            ng-change="saveSearch();"
																														ng-disabled="workValueChecked==workValueLimit && !workValueItems[item.code]"/>
                                                </span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                          <table class="table" style="margin: 0">
							<thead class="border-none">
							  <tr>
								<th colspan="3" class="border-none p-0"><span class="text-uppercase" style="display: flex; justify-content: space-between;">Categories <a class="explain alt" ng-controller="LeftNavigationController" ng-click="careerDefinitionsNoCareerCluster()" style="margin-right: 13px"></a></span></th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td class="border-none">
								  <div class="select_with_checkbox">
									<div ng-click="categoriesToggle = !categoriesToggle" 
										class="custom_select_dropdown"
										style="margin-bottom: -5px; height: 21px; display: flex; align-items: center"
										>Select Categories ({{categoryChecked}})
									</div>
									<table ng-class="{active: categoriesToggle}">
									  <tbody>
										<!-- <tr><td colspan="3" class="pt-10">(select up to three)</td></tr> -->
										<tr>
										  <td class="category-element">
                                                <span class="category-element" style="display:block; clear: both" ng-repeat="item in checkboxCategory">
                                                    <i id="category-element" class="{{item.iconClass}}" title="{{item.rel}}"></i>
                                                    <label class="category-element" style="display:inline;" for="category{{$index}}">{{item.name}}</label>
                                                    <input  type="checkbox"
																														class="category-element"
                                                            id="category{{$index}}"
																														ng-click="categoryCount(item)"
                                                            ng-model="categoryItems[item.code]"
                                                            ng-change="saveSearch();">
                                                </span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                          </table>
					</div>
                </section>
                <section id="explore">
                    <h3 class="gray-bg">Other ways to Explore<span ng-controller="LeftNavigationController" ng-click="careerDefinitions()" class="explain-parent"><a class="explain alt"></a></span></h3>
                    <ul class="menu vertical">                   
                        <!-- <li><a href="green-stem-bright/bright">Bright Outlook</a></li> -->
                        <li><a href="career-cluster">Career Clusters</a></li>                        
                        <!-- <li><a href="green-stem-bright/hot">Hot Military Careers</a></li>
                        <li><a href="green-stem-bright/green">Green Careers</a></li>
                        <li><a href="green-stem-bright/stem">STEM Careers</a></li> -->
                    </ul>
                </section>
		  	</aside>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>