<div class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li></a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div id="sidebar" class="medium-2 columns logged-in" ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="header-space"><span>Resources</span></li>					
						<li class="activity"><a href="{{ssoUrl}}" target="_blank">Careers in the Military</a> </li>
						<li class="activity"><a href="http://todaysmilitary.com/working" target="_blank" ng-controller="GA" ng-click="trackClick('JAMRSs_Link_Clicked');">Today's Military</a></li>
						<li class="activity"><a href="http://www.goarmy.com/careers-and-jobs.html" target="_blank">Army</a></li>
						<li class="activity"><a href="http://www.navy.com/careers.html" target="_blank">Navy</a></li>
						<li class="activity"><a href="https://www.airforce.com/careers/browse-careers" target="_blank">Air Force</a></li>
						<li class="activity"><a href="http://www.marines.com/becoming-a-marine" target="_blank">Marine Corps</a></li>
						<li class="activity"><a href="http://www.gocoastguard.com/active-duty-careers" target="_blank">Coast Guard</a></li>
						<li class="activity"><a href="http://www.nationalguard.com/careers/" target="_blank">National Guard</a></li>	
					</ul>
				</div>
			</div>
			<div id="sidebar" class="medium-2 columns not-logged-in" ng-show="!occuFindUserLoggedIn">
				<img src="/CEP/images/Military_moreinfo.jpg">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="header-space"><span>Resources</span></li>					
						<li class="activity"><a href="{{ssoUrl}}" target="_blank">Careers in the Military</a> </li>
						<li class="activity"><a href="http://todaysmilitary.com/working" target="_blank" ng-controller="GA" ng-click="trackClick('JAMRSs_Link_Clicked');">Today's Military</a></li>
						<li class="activity"><a href="http://www.goarmy.com/careers-and-jobs.html" target="_blank">Army</a></li>
						<li class="activity"><a href="http://www.navy.com/careers.html" target="_blank">Navy</a></li>
						<li class="activity"><a href="https://www.airforce.com/careers/browse-careers" target="_blank">Air Force</a></li>
						<li class="activity"><a href="http://www.marines.com/becoming-a-marine" target="_blank">Marine Corps</a></li>
						<li class="activity"><a href="http://www.gocoastguard.com/active-duty-careers" target="_blank">Coast Guard</a></li>
						<li class="activity"><a href="http://www.nationalguard.com/careers/" target="_blank">National Guard</a></li>	
					</ul>
				</div>	
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				<div class="row">
					<div class="columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a href="occufind-occupation-search-results">Search</a> > </li>
							<li><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
							<li>Related Military Careers</li>
						</ul>
						<div class="top-blue-panel">
							<ul class="menu tools icons-right pull-left" ng-show="occuFindUserLoggedIn">
								<li id="notes" ng-controller="NotesController"><a href="" ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
								<li id="favorites" ng-include="'cep/page-partials/occufind-add-favorites.html'" ng-controller="AddFavorites"></li>
								<li id="view-favorites" class="show-for-small-only"><a href="favorites"><i class="fa fa-heart"></i> <span>View Favorites</span></a></li>
							</ul>
							<h1 class="job-title hide-for-small-only">Military Careers Related to {{occupationTitle}}</h1>
						</div>
					</div>
				</div>
                <h2 class="job-title show-for-small-only">Military Careers Related to {{occupationTitle}}</h2>
				<br/>
				<div class="careers">
                          
                  <div class="row career" ng-repeat="m in militaryMoreDetails">
                    <div class="small-12 columns">
                      <div class="row">
  
                        <div class="small-12 columns">
                          <h3><a ng-controller="GA" ng-click="trackClick('#FROM_CEP_TO_CITM')" href="{{ssoUrl}}career-detail/{{m.mcId}}" target="_blank"><strong>{{m.title}}</strong></a> <i ng-if="m.isHotJob == 'T'" class="icon-hotjob"></i><i class="icon-right pull-right hide-for-medium"></i></h3>
                        </div>
  
                        <div class="small-8 columns">
                          <div class="career-details">
                              
                            <div class="row">
                              <div class="small-6 columns">
                                <ul class="checked">
                                  <li ng-class="{inactive: m.enlisted == 'F'}">Enlisted</li>
                                  <li ng-class="{inactive: m.officer == 'F'}">Officer</li>
                                </ul>
                              </div>
                              <div class="small-6 columns">
                                <ul class="checked">
                                  <li ng-class="{inactive: m.activeDuty == 'F'}">Active Duty</li>
                                  <li ng-class="{inactive: m.reserve == 'F'}">Reserve</li>
                                </ul>
                              </div>
                            </div>
                            <div class="row">
                              <div class="small-12 columns services">
                                <br/>
                                <h4>Services Offering this Occupation</h4>
                                <span>
																<img ng-if="m.isArmy == 'T'" src="images/army.png">
																<img ng-if="m.isMarines == 'T'" src="images/marines.png">
																<img ng-if="m.isNavy == 'T'" src="images/navy.png">
																<img ng-if="m.isAirForce == 'T'" src="images/air-force.png">
																<!--  <img src="images/natl-guard.png"> --> 
																<img ng-if="m.isSpaceForce == 'T'" src="images/spaceforce.png">
																<img ng-if="m.isCoastGuard == 'T'" src="images/coast-guard.png">
								</span>
                              </div>
                            </div>
                          </div>   
                        </div>
                        <div class="small-4 columns">
                         <img src="/citm-images/{{m.mcId}}.jpg">
                        </div>
                      </div>
                      <hr/>
                    </div>
                  </div>
                  </div>
				<!-- <div class="row">
					<section ng-if="militaryHotJobs.length != 0" class="large-12 columns">
						<h3>HOT JOBS in the Military</h3>
						<ul>
							<li ng-repeat="m in militaryHotJobs">U.S. {{m.service == 'M' ? 'Marines' : m.service == 'F' ? 'Air Force' : m.service == 'N' ? 'Navy' : m.service == 'A' ? 'Army' : m.service == 'C' ? 'Coast Guard' : ''}} <a href="{{m.url}}" target="_blank">{{m.title}}</a></li>
						</ul>
					</section>
					<section class="large-12 columns">
						<h3>Careers in the Military</h3>
						<p>This information represents thousands of careers in the 
						United States Military. Related military occupations are shown here.
						</p>
						<div id="search-list" class="row column">
	                        <table class="hover" id="education-detail-list"><tbody>						
                                <tr style="display:none;"><td></td></tr>
								<tr ng-repeat="m in militaryMoreDetails">
									<td class="school-row">
										<p><a href="http://198.61.220.37:8080/CITM/career-detail/{{m.mcId}}" target="_blank"><strong>{{m.title}}</strong></a></p>
										<table><tbody>
										  <tr>
											<td valign="top" colspan="2">
												<div class="school-info">
													<p>{{m.description}}</p>
												</div>		
											</td>
										  </tr>
										  <tr>
											<td valign="top" width="155">
												<div class="school-info">
												  <strong>Military Services Offering this Occupation</strong>
												</div>
											</td>
											<td class="services" valign="top">
												<span ng-repeat="s in m.service">
													<img ng-if="s == 'C'" src="images/coast-guard.png">
													<img ng-if="s == 'F'" src="images/air-force.png">
													<img ng-if="s == 'N'" src="images/navy.png">
													<img ng-if="s == 'A'" src="images/army.png">
													<img ng-if="s == 'M'" src="images/marines.png">
												</span>
											</td>
										  </tr>
										</tbody></table>
									</td>
                                </tr>end row
								
                        </tbody></table>
					</div>
					
					</section>
				</div> -->
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div id="footerOne" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div id="footerTwo" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>