<update-meta property="og:title" content="With ASVAB CEP, I explored: {{occupationTitle}}"></update-meta>
<update-meta property="og:description" content="{{occupationDescription}}"></update-meta>
<update-meta property="og:image" content="{{imageUrl}}"></update-meta>
<update-meta property="og:url" content="{{absUrl}}"></update-meta>
<update-meta property="og:type" content="article"></update-meta>

<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@asvabcep"></update-meta>
<update-meta name="twitter:title" content="With ASVAB CEP, I explored: {{occupationTitle}}"></update-meta>
<update-meta name="twitter:description" content="{{occupationDescription}}"></update-meta>
<update-meta name="twitter:image" content="{{imageUrl}}"></update-meta>

<update-title title="{{occupationTitle}} | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="{{occupationDescription}}"></update-meta>

<div class="occufind">    
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>    
    <section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
	</section>
	
	<section id="content-wrap" ng-if="alternateView.length == 0">
		<div class="row">
			<div id="sidebar" class="medium-2 columns logged-in"  ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div id="sidebar" class="medium-2 columns not-logged-in hide-for-small-only"  ng-show="!occuFindUserLoggedIn">
				<img src="/CEP/images/asvab-ad.jpg" >
			</div>
			<div class="medium-10 columns">
				<div class="row">
					<div class="medium-12 columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a href="occufind-occupation-search-results">Search</a> > </li>
							<li>{{occupationTitle}}</li>
						</ul>
						<div class="top-blue-panel">
							<div ng-show="occuFindUserLoggedIn">
								<ul class="menu tools icons-right pull-left">						
									<li id="notes" ng-controller="NotesController"><a ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites" ng-include="'cep/page-partials/occufind-add-favorites.html'" ng-controller="AddFavorites"></li>
									<li id="view-favorites" class=" show-for-small-only"><a href="favorites"><i class="fa fa-heart"></i> View Favorites</a></li>
								</ul>
							 </div>							 
							 <div class="new-socials show-for-medium pull-right">
							 	<div class="share">Share: 
									<a href="#" ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Occu-Find');" 
									    socialshare socialshare-provider="facebook"
										socialshare-via="2055205968038605"
										socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
									<a href="#" ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Occu-Find');" 
									    socialshare socialshare-provider="twitter"
									    socialshare-via="ASVABCEP"
									    socialshare-text="{{occupationTitle}}: {{ShrinkDescription(occupationDescription, 50)}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
									<a href="#" ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Occu-Find');" 
									    socialshare socialshare-provider="linkedin"
									    socialshare-text="With ASVAB CEP, I explored: {{occupationTitle}}"
							            socialshare-description="{{occupationDescription}}"
										socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
									<a href="#" ng-controller="GA" ng-click="trackSocialShare('Email', 'Occu-Find');"  
									    socialshare socialshare-provider="email"
										socialshare-subject="With ASVAB CEP, I explored: {{occupationTitle}}"
										socialshare-body="With ASVAB CEP, I explored: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a>
								</div>
							 </div>
							 <h1 ng-if="screenWidth >= 640" class="job-title hide-for-small-only">{{occupationTitle}}</h1>
						</div>
					</div>
					<section id="main-content" class="large-8 medium-12 columns" role="main">			
						<div class="row show-for-small-only">
							<div class="share">Share: <br>
								<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Occu-Find');" 
								    socialshare socialshare-provider="facebook"
									socialshare-via="2055205968038605"
									socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
								<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Occu-Find');" 
								    socialshare socialshare-provider="twitter"
								    socialshare-via="ASVABCEP"
								    socialshare-text="{{occupationTitle}}: {{ShrinkDescription(occupationDescription, 50)}}"
									socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
								<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Occu-Find');" 
								    socialshare socialshare-provider="linkedin"
								    socialshare-text="{{occupationTitle}}"
						            socialshare-description="{{occupationDescription}}"
									socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
								<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Occu-Find');" 
								    socialshare socialshare-provider="email"
									socialshare-subject="With ASVAB CEP, I explored: {{occupationTitle}}"
									socialshare-body="With ASVAB CEP, I explored: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
							</div>
						</div>
						<h1 ng-if="screenWidth < 640" class="job-title show-for-small-only">{{occupationTitle}}</h1>
						<p ng-if="alternateTitles.length > 0" ng-init="shrinkVal=5">
							<strong>Also Called: </strong>
							<span ng-repeat="a in alternateTitles | limitTo: shrinkVal"> {{a.reportedJobTitle}}<span ng-if="!$last">,</span></span>
		                    <a  ng-hide="alternateTitles.length < 5 || shrinkVal > 5"  ng-click="shrinkVal=10000">Show more...</a>
							<a  ng-show="shrinkVal > 5"  ng-click="shrinkVal = 5">...Show  less</a>
		               </p>
		
						<p>
							<strong>Description: </strong>
							{{occupationDescription}}
						</p>
						
						<section id="oc-legend" class="hide-for-large">
							<img ng-if="showImageUrl()" ng-src="{{imageUrl}}" style="display: block; margin: auto; width:100%" alt="{{imageAltText.imageAltText}}" title="{{imageAltText.imageAltText}}">
							<ul class="menu no-margins icons-left right-align">
								<li ng-if="occupationStem" id="stem"><a ng-controller="LeftNavigationController" ng-click="stemDefinition()">Stem</a></li>
								<!-- <li ng-if="occupationGreen" id="green"><a ng-controller="LeftNavigationController" ng-click="greenDefinition()">Green</a></li> -->
								<li ng-if="occupationBright" id="hot"><a ng-controller="LeftNavigationController" ng-click="brightDefinition()">Bright Outlook</a></li>
							</ul>	
						</section>
						<div class="callout secondary"  ng-show="!occuFindUserLoggedIn" >
								<p><strong>Is this career right for you?</strong><br> 
									The ASVAB CEP gives you the tools to discover your strengths and interests. If you're already a participant, start exploring.</p>
									<a class="button" ng-click="showLoginModal()">Login</a>   							
									<p><strong>Not a participant? <a href="general-help">Click here to get started!</a></strong></p>
						</div>
						<div class="row">
							<section id="interest-codes" class="medium-6 columns">
								<h3 style="padding: 8px 10px">JOB INTEREST CODES <a ng-click="openDescription('interest-codes')" class="occufind-explain alt"></a></h3>
								<p ng-if="!occupationInterestOne && !occupationInterestTwo && !occupationInterestThree">
									Interest code information is not yet available for this occupation. 
								</p>
								<ul>
									<li ng-if="occupationInterestOne == 'R'" class="code-r">Realistic</li>
									<li ng-if="occupationInterestOne == 'I'" class="code-i">Investigative</li>
									<li ng-if="occupationInterestOne == 'A'" class="code-a">Artistic</li>
									<li ng-if="occupationInterestOne == 'S'" class="code-s">Social</li>
									<li ng-if="occupationInterestOne == 'E'" class="code-e">Enterprising</li>
									<li ng-if="occupationInterestOne == 'C'" class="code-c">Conventional</li>
									
									<li ng-if="occupationInterestTwo == 'R'" class="code-r">Realistic</li>
									<li ng-if="occupationInterestTwo == 'I'" class="code-i">Investigative</li>
									<li ng-if="occupationInterestTwo == 'A'" class="code-a">Artistic</li>
									<li ng-if="occupationInterestTwo == 'S'" class="code-s">Social</li>
									<li ng-if="occupationInterestTwo == 'E'" class="code-e">Enterprising</li>
									<li ng-if="occupationInterestTwo == 'C'" class="code-c">Conventional</li>
									
									<li ng-if="occupationInterestThree == 'R'" class="code-r">Realistic</li>
									<li ng-if="occupationInterestThree == 'I'" class="code-i">Investigative</li>
									<li ng-if="occupationInterestThree == 'A'" class="code-a">Artistic</li>
									<li ng-if="occupationInterestThree == 'S'" class="code-s">Social</li>
									<li ng-if="occupationInterestThree == 'E'" class="code-e">Enterprising</li>
									<li ng-if="occupationInterestThree == 'C'" class="code-c">Conventional</li>
								</ul>
							</section>
							<section id="skill-importance" class="medium-6 columns">
								<h3 style="padding: 8px 10px">Job Skill Importance <a ng-click="openDescription('skill-importance')" class="occufind-explain alt"></a></h3>
								<div ng-show="!occuFindUserLoggedIn">
									Login to see how important verbal, math, and science/technical skills are for this occupation.
								</div>
								
								<div ng-show="occuFindUserLoggedIn">
									<ul>
										<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" data-rating="{{skillImportance.verbal}}"></div></div></li>
										<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" data-rating="{{skillImportance.math}}"></div></div></li>
										<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" data-rating="{{skillImportance.sciTech}}"></div></div></li>
									</ul>
								</div>
							</section>
							<section class="large-12 columns" ng-if="workValues && workValues.length > 0">
								<h3 style="padding: 8px 10px; margin-bottom:20px">Work Values 
									<a ng-click="openDescription('work-values')" class="occufind-explain alt"></a>
								</h3>
								<div class="row" ng-init="occupationLimit = 5; limitFlag = true;">
									<div ng-if="checkWorkValueType('A')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('achievement')">
											<img src="images/WV-1.png" alt="Images">
											<p>Achievement</p>
										</div>
									</div>
                  <div ng-if="checkWorkValueType('I')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('independence')">
											<img src="images/WV-2.png" alt="Images">
											<p>Independence</p>
										</div>
									</div>
									<div ng-if="checkWorkValueType('REC')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('recognition')">
											<img src="images/WV-3.png" alt="Images">
											<p>Recognition</p>
										</div>
									</div>
									<div ng-if="checkWorkValueType('REL')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('relationships')">
											<img src="images/WV-4.png" alt="Images">
											<p>Relationships</p>
										</div>
									</div>
									<div ng-if="checkWorkValueType('S')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('support')">
											<img src="images/WV-5.png" alt="Images">
											<p>Support</p>
										</div>
									</div>
									<div ng-if="checkWorkValueType('W')" class="columns medium-4 text-center" style="cursor: pointer">
										<div ng-click="openDescription('working conditions')">
											<img src="images/WV-6.png" alt="Images">
											<p>Working Conditions</p>
										</div>
									</div>
								</div>
							</section>
							<section class="large-12 columns" ng-if="tasks.length != 0">
								<h3 style="padding: 8px 10px">What They Do <a ng-click="openDescription('what-they-do')" class="occufind-explain alt"></a></h3>
								<p ng-init="occupationLimit = 5; limitFlag = true;">
									<ul ng-repeat="t in tasks | limitTo : occupationLimit">
										<li>{{t.occupationTask}}</li>
									</ul>
									<a ng-click="(occupationLimit = (occupationLimit == 5 ? tasks.length : 5)); limitFlag = !limitFlag">
										<span ng-show="!limitFlag">... </span>
										show
										<span ng-show="limitFlag">more ...</span>
										<span ng-show="!limitFlag">less</span>
									</a>
								</p>
							</section>
							<section id="how-to-get-there" class="large-12 columns">
								<h3 style="padding: 8px 10px">How to Get There <a ng-click="openDescription('how-to-get-there')" class="occufind-explain alt"></a></h3>
								<div id="education" class="chart-sction">									
									<div ng-hide="educationLevel.length == 0 && schoolDetails.length == 0">										
										<h4 style="padding:15px 0; margin:0">Education <a ng-click="openDescription('education')" class="occufind-sub-explain alt"></a></h4>			                        							
			                        	<ul class="bar_chart">
			                        		<li ng-repeat="barData in barList">
			                        			<span>{{barData.school}}</span>
													<div class="chart-percentage">
														<span>{{barData.value}}%</span>
			                        				<div class="progress-new">
			                        					<div ng-style="{'width' : + barData.value + '%'}" role="progressbar" ng-class="'progress-bar-new ' + barData.color"></div>
			                        				</div>
			                        			</div>
			                        		</li>
			                        	</ul>
			                        	<div ng-if="educationLevel.length !=0" class="ng-scope progressbar-line">Estimated levels of education needed for hire.*</div>
			                        	<div class="text-center">		                        	
			                        		<a ng-click="schoolMoreDetails()" ng-if="educationLevel.length != 0 &amp;&amp; schoolDetails.length != 0" class="ng-scope border-btn">College Info </a>		                        	
			                        	</div>
										<p ng-if="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Title - </strong>
				                            <span>{{jobZone.name}}</pan>
			                        	</p>		                        	
			                        	<p ng-if="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Education: </strong>
				                            <span>{{jobZone.education}}</pan>
			                        	</p>		                        	
			                        	<p ng-if="educationLevel.length == 0 && jobZone">
											<strong style="text-align:left;">Related Experience: </strong>
				                            <span>{{jobZone.experience}}</pan>
			                        	</p>
										<div ng-if="educationLevel.length == 0 && schoolDetails.length != 0">The estimated education level is not reported for this occupation but there are colleges offering related degrees. <a ng-click="schoolMoreDetails()">Click to learn more</a>.</div>
				                    	<hr/>
		                        	</div>
								</div>
								<div id="credentials" style="padding-left:10px;">
									<h4 style="padding:15px 0; margin:0">Credentials <a ng-click="openDescription('credentials')" class="occufind-sub-explain alt"></a></h4>
			                        <div style="margin-bottom: 15px;" show-more> 
										<span ng-bind-html="certificateExplanation"></span>
									</div>		                        
			 
									<ul class="menu chevron borderBtn">
										<li ng-show="occupationCertificates.TotalItems > 0">
											<a class="border-btn" ng-click="findCertifications()">Certifications</a>
										</li>
										<li><a class="border-btn" ng-click="findLicenses()">Licenses</a></li>
										<li><a class="border-btn item-long" href="https://www.apprenticeship.gov/apprenticeship-occupations/listings?occupationCode={{socId}}" target="_blank">Apprenticeship.gov</a></li>
									</ul>
									<hr/>
								</div>
								<div id="mil-offering" style="padding-left:10px;">
									<div ng-if="servicesOffering.length != 0">
			                        	<h4 style="padding:15px 0; margin:0">Military Services Offering this Occupation <a ng-click="openDescription('mil-offering')" class="occufind-sub-explain alt"></a></h4>						
										<div style="margin-bottom: 1rem;">
											<span ng-repeat="s in servicesOffering | orderBy:orderByService">
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'A'" src="images/service/army.png" title="Army"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'M'" src="images/service/marines.png" title="Marine Corps"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'N'" src="images/service/navy.png" title="Navy"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'F'" src="images/service/airforce.png" title="Air Force"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'S'" src="images/service/spaceforce.png" title="Space Force"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'C'" src="images/service/Coast-Guard.png" title="Coast Guard"/></a>
												<a ng-click="militaryMoreDetails()"><img ng-if="s.serviceCode == 'G'" src="images/service/national-guard.png" title="National Guard"/></a>
											</span>
										</div>			
			                         	<div class="text-center"><a ng-click="militaryMoreDetails()" class="border-btn">Military Info</a></div>
			                         	<hr/>
			                         </div>
								</div>
							</section>
									
							<section ng-if="stateSalary.length > 0 || stateEntrySalary.length > 0" class="large-12 columns">
								<h3 style="padding: 8px 10px">Employment Statistics <a ng-click="openDescription('emp-stats')" class="occufind-explain alt"></a></h3>
								<ul style="margin-left: 0px;" class="nav nav-tabs">
									<li ng-if="stateEntrySalary.length > 0" style="width:50%;" ng-class="{active: stateEntrySalary.length > 0}">
										<a title="Click here to see the approximate entry-level salaries for this position" style="line-height:35px;" data-toggle="tab" href="#entry" class="chart-link text-center">Entry-Level Salaries</a>
									</li>
									<li ng-if="stateSalary.length > 0" style="width:50%;" ng-class="{active: stateEntrySalary.length == 0}">
										<a title="Click here to see the national salary for this position" style="line-height:35px;" data-toggle="tab" href="#avg" class="chart-link text-center">Average Salaries</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="entry" class="tab-pane fade" ng-class="{in: stateEntrySalary.length > 0, active: stateEntrySalary.length > 0}">
										<div class="row"> 
											<span class="medium-9 small-8 columns">
												The national entry-level salary<sup>1</sup> for {{blsTitle.blsTitle}} is: <strong>{{nationalEntrySalary | currency}}</strong>						
											</span>
										</div>
										<center class="salary-chart"><div google-chart chart="entryLevelSalaryChart"></div></center>
										<center class="salary-chart-mobile"><div google-chart chart="entryLevelSalaryChartMobile"></div></center>								
										<p><sup>1</sup> This data comes from <a href="https://www.bls.gov/oes/" target="_blank">Bureau of Labor Statistics</a> and reflects the lowest ten percent earnings for this occupation, which approximates entry level salary. Salary data reflects wages from {{stateSalaryYear}}.</p>								
									</div>
									<div id="avg" class="tab-pane fade" ng-class="{in: stateEntrySalary.length == 0 && stateSalary.length > 0, active: stateEntrySalary.length == 0 && stateSalary.length > 0}">
										<div class="row"> 
											<span class="medium-9 small-8 columns">
												The national salary average for {{blsTitle.blsTitle}} is: <strong>{{nationalSalary | currency}}</strong>						
											</span>
										</div>
										<center class="salary-chart"><div google-chart chart="chart"></div></center>
										<center class="salary-chart-mobile"><div google-chart chart="chartMobile"></div></center>
									</div>
								</div>
								<p><b>Blank areas indicate data not available.</b></p>
								<p ng-if="showBLSStatement()">Wage and employment data collected from {{blsTitle.blsTitle}}, which is a broad example of this occupation.</p>						
		 						<p>National Poverty Level: <strong style="margin-right: 5px">{{nationalPovertyLevel | currency:"$":0}}</strong><a ng-click="openDescription('poverty-level')" class="occufind-sub-explain alt"></a><br/>
		 							<a target="_blank" href="https://aspe.hhs.gov/poverty-guidelines">Learn more</a>
		 						</p>
		 						<div style="margin-top: 20px;" class="text-center"><a ng-click="employmentMoreDetails()" class="border-btn">More Details</a></div>
							</section>
						</div>
					</section>
					<aside class="sidebar large-4 medium-12 pull-right columns">
						<section id="oc-legend" class="show-for-large">
							<ul class="menu no-margins icons-left right-align">
								<li ng-if="occupationStem" id="stem"><a ng-controller="LeftNavigationController" ng-click="stemDefinition()">Stem</a></li>
								<!-- <li ng-if="occupationGreen" id="green"><a ng-controller="LeftNavigationController" ng-click="greenDefinition()">Green</a></li> -->
								<li ng-if="occupationBright" id="hot"><a ng-controller="LeftNavigationController" ng-click="brightDefinition()">Bright Outlook</a></li>
							</ul>
							<img ng-if="showImageUrl()" ng-src="{{imageUrl}}" style="display: block; margin: auto; width:100%; padding-bottom: 20px;" alt="{{imageAltText.imageAltText}}" title="{{imageAltText.imageAltText}}">
						</section>
						<section ng-if="relatedOccupations.length != 0"  ng-show="occuFindUserLoggedIn">	
							<h3>Related Careers</h3>
							<ul class="related-careers">
								<li ng-repeat="r in relatedOccupations"><a ng-click="relatedCareers(r.relatedOnetSoc)" href="">{{r.title}}</a><i ng-if="r.isStemOccupation" class="icon stem" rel="stem"></i><i ng-if="r.isBrightOccupation" class="icon hot" rel="bright"></i><i ng-if="r.isGreenOccupation" class="icon green" rel="green"></i></li>
							</ul>
						</section>
						<section ng-if="relatedCareerCluster.length != 0"  ng-show="occuFindUserLoggedIn">	
							<h3>Related Career Cluster</h3>
							<ul class="related-career-cluster">
								<li ng-repeat="r in relatedCareerCluster"><a href="career-cluster-occupation-results/{{r.ccId}}">{{r.careerClusterName}}</a></li>
							</ul>
						</section>
						<section  ng-show="occuFindUserLoggedIn">	
							<h3>Career Resources</h3>
							<ul class="career-resources">
								<li ng-repeat="m in moreResources"><a href="{{m.url}}" target="_blank">{{m.title}}</a></li>
							</ul>
						</section>
						
						<section  ng-show="occuFindUserLoggedIn">	
							<h3>More Resources</h3>
							<ul class="career-resources">
								<li><a href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></li>
								<li><a href="http://www.fastweb.com/" target="_blank">Fastweb</a></li>
								<li><a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></li>
								<li><a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></li>
								<li><a href="http://www.usaeop.com/" target="_blank">Army Educational Outreach Program</a></li>
								<li><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
								<li><a href="https://www.march2success.com/" target="_blank">March2Success</a></li>
								<li><a href="https://www.onetonline.org/" target="_blank">O*NET OnLine</a></li>
								<li><a target="_blank" href="http://Livingwage.mit.edu">Living Wage Calculator</a></li>
							</ul>
						</section>
						
						<!-- not logged in -->
						<section  ng-show="!occuFindUserLoggedIn">	
							<h3>WHAT'S YOUR DREAM JOB?</h3>
							<ul class="career-resources">
								<li><a href="student"> <strong>Identify your strengths </strong>
									Take the ASVAB test </a></li>
								<li><a href="student-learn"> <strong>Learn about yourself</strong>
									Find Your Interests </a></li>
								<li><a href="student-explore"> <strong>Find your dream job</strong>
									Explore the OCCU-Find </a></li>
							</ul>
						</section>
						<section  ng-show="!occuFindUserLoggedIn">	
							<h3>MORE EXPLORATION RESOURCES</h3>
							<ul class="career-resources">
								<li><a href="media-center-article/6"> Considering a Gap Year </a></li>
								<li><a href="media-center-article/10"> CTE: Preparing for Life After High School</a></li>
								<li><a href="media-center"> More from the Media Center </a></li>
							</ul>
						</section>
		
					</aside>
					<section class="disclaimer-section">
						<div ng-controller="OnetDisclaimerController" ng-include="'cep/page-partials/onet-disclaimer.html'"></div>
						<div class="row">
							<div class="medium-12 columns">
							<p>*The percents shown are from O*NET data collection, in which
								job incumbents were asked, "If someone were being hired to perform
								this job, indicate the level of education that would be required"
								(education levels shown). (Note that this does not mean the level
								of education that the respondents achieved.)</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<!-- NO SKILL RATING VIEW -->
	<section id="content-wrap" ng-if="alternateView.length > 0">
	  		
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li><a>OCCU-FIND</a></li>
					</ul>
				</div>
			</div>
		<div class="row">
			<div class="medium-2 columns"  ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div class="medium-2 columns hide-for-small-only"  ng-show="!occuFindUserLoggedIn">
				<img src="/CEP/images/asvab-ad.jpg" >
			</div>
			<div class="medium-10 columns" >
			
				<div class="show-for-medium">
					<div class="share">Share: 
						<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Occu-Find');" 
						    socialshare socialshare-provider="facebook"
							socialshare-via="2055205968038605"
							socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Occu-Find');" 
						    socialshare socialshare-provider="twitter"
						    socialshare-via="ASVABCEP"
						    socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
							socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Occu-Find');" 
						    socialshare socialshare-provider="linkedin"
						    socialshare-text="{{occupationTitle}}"
				            socialshare-description="{{occupationDescription}}"
							socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Occu-Find');" 
						    socialshare socialshare-provider="email"
							socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
							socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
						<hr style="margin-bottom:0">
					</div>
				</div>
				<div ng-show="occuFindUserLoggedIn">
				<ul class="menu tools icons-right">
					<li id="notes" ng-controller="NotesController"><a ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i>Notes</a></li>
					<li id="favorites" ng-include="'cep/page-partials/occufind-add-favorites.html'" ng-controller="AddFavorites"></li>
					<li id="view-favorites" class=" show-for-small-only"><a href="favorites"><i class="fa fa-heart"></i> <span>View Favorites</a></li>
				</ul>
				</div>

			</div>
			<section id="" class="medium-10 columns" role="main">
			
				<div class="row show-for-small-only">
					<div class="share">Share: <br>
						<a ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Occu-Find');" 
						    socialshare socialshare-provider="facebook"
							socialshare-via="2055205968038605"
							socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
						<a ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Occu-Find');" 
						    socialshare socialshare-provider="twitter"
						    socialshare-via="ASVABCEP"
						    socialshare-text="{{occupationTitle}}: {{occupationDescription}}"
							socialshare-url="{{absUrl}}"><i class="fa fa-twitter"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Occu-Find');" 
						    socialshare socialshare-provider="linkedin"
						    socialshare-text="{{occupationTitle}}"
				            socialshare-description="{{occupationDescription}}"
							socialshare-url="{{domainUrl}}{{imageUrl}}"><i class="fa fa-linkedin"></i></a> 
						<a ng-controller="GA" ng-click="trackSocialShare('Email', 'Occu-Find');" 
						    socialshare socialshare-provider="email"
							socialshare-subject="I found this at ASVAB CEP: {{occupationTitle}}"
							socialshare-body="I found this at ASVAB CEP: {{occupationTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
					</div>
				</div>
				
		<!-- 		<div ng-include="'cep/page-partials/mobile-interest-codes.html'" ng-controller="MobileInterestCodesController" ng-show="occuFindUserLoggedIn"></div> -->
				
				<div class="row">
				<section id="oc-legend" class="medium-12 columns hide-for-large">
					<ul class="menu no-margins icons-left right-align">
						<li ng-if="occupationStem" id="stem"><a ng-controller="LeftNavigationController" ng-click="stemDefinition()">Stem</a></li>
						<!-- <li ng-if="occupationGreen" id="green"><a ng-controller="LeftNavigationController" ng-click="greenDefinition()">Green</a></li> -->
						<li ng-if="occupationBright" id="hot"><a ng-controller="LeftNavigationController" ng-click="brightDefinition()">Bright Outlook</a></li>
					</ul>	
				</section>
				<h1 ng-if="screenWidth >= 640" class="job-title medium-6 columns">{{occupationTitle}}</h1>
				
				<section id="oc-legend" class="medium-6 columns show-for-large">
					<ul class="menu no-margins icons-left right-align">
						<li ng-if="occupationStem" id="stem"><a ng-controller="LeftNavigationController" ng-click="stemDefinition()">Stem</a></li>
						<!-- <li ng-if="occupationGreen" id="green"><a ng-controller="LeftNavigationController" ng-click="greenDefinition()">Green</a></li> -->
						<li ng-if="occupationBright" id="hot"><a ng-controller="LeftNavigationController" ng-click="brightDefinition()">Bright Outlook</a></li>
					</ul>
				</section>
				
				
				
				<p class="medium-12 columns">{{alternateView[0].description}}</p>
				</div>
				
				<div class="callout secondary"  ng-show="!occuFindUserLoggedIn" >
						<p><strong>Is this career right for you?</strong><br> 
							The ASVAB CEP gives you the tools to discover your strengths and interests. If you're already a participant, start exploring.</p>
							<a class="button" ng-click="showLoginModal()">Log In</a>   							
							<p><strong>Not a participant? <a href="general-help">Click here to get started!</a></strong></p>
				</div>
				<div class="row">
					
					<section class="large-12 columns" ng-if="alternateView.length > 0 && alternateView[0].relatedTitle != undefined">
						<h3>Related Careers</h3>
						<ul class="related-careers">
							<li ng-repeat="r in alternateView"><a ng-click="relatedCareers(r.relatedSocId)" href="">{{r.relatedTitle}}</a><i ng-if="r.isStemOccupation" class="icon stem" rel="stem"></i><i ng-if="r.isBrightOccupation" class="icon hot" rel="bright"></i><i ng-if="r.isGreenOccupation" class="icon green" rel="green"></i></li>
						</ul>
					</section>
				</div>
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div id="footerOne" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div id="footerTwo" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
	</div>