<div id="new-more-detail">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">x</span></button>
				<h3 class="modal-title">{{militaryMoreDetails[index].title}}</h3>
			</div>
			<div class="modal-body ng-scope">
				<div>
					<h3>Job Description</h3>
					<p>{{militaryMoreDetails[index].description}}</p>
				</div>
				<div>
					<h3>What they do</h3>
					<p>{{militaryMoreDetails[index].whatTheyDoBase}}</p>
					<ul>
					  <li ng-show="militaryMoreDetails[index].whatTheyDo.length > 0" ng-repeat="m in militaryMoreDetails[index].whatTheyDo">{{m}}</li>
				  </ul>
				</div>
				<div>
					<h3>Training Provided</h3>
					<p>{{militaryMoreDetails[index].trainingBase}}</p>
					<ul>
					  <li ng-show="militaryMoreDetails[index].training.length > 0" ng-repeat="m in militaryMoreDetails[index].training">{{m}}</li>
				  </ul>
				</div>
			</div>
			<div class="modal-footer ng-scope">
				<button class="button" type="button" ng-click="modalOptions.close()">OK</button>
			</div>
</div>