<div class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div id="sidebar" class="medium-2 columns logged-in" ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div id="sidebar" class="medium-2 columns not-logged-in" ng-show="!occuFindUserLoggedIn">
				<img src="/CEP/images/Employment_moreinfo.jpg">	
			</div>
			
			<section id="main-content" class="medium-10 columns" role="main">	
				<div class="row">
					<div class="columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a href="occufind-occupation-search-results">Search</a> > </li>
							<li><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
							<li>National Employment Outlook</li>
						</ul>
						<div class="top-blue-panel">
							<div ng-show="occuFindUserLoggedIn">
								<ul class="menu tools icons-right pull-left margin-left-5">
									<li id="notes" ng-controller="NotesController"><a href="" ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites" ng-include="'cep/page-partials/occufind-add-favorites.html'" ng-controller="AddFavorites"></li>
									<li id="view-favorites" class=" show-for-small-only"><a href="favorites"><i class="fa fa-heart"></i> <span>View Favorites</a></li>
								</ul>
							</div>
							<h1 class="job-title hide-for-small-only">National Employment Outlook for {{occupationTitle}}</h1>
						</div>	
					</div>								
				</div>			
                <h2 class="job-title show-for-small-only">National Employment Outlook for {{occupationTitle}}</h2>
				<p>The chart below illustrates the estimated change in the
					number of people employed in this occupation.</p>
				<br/>                
                <div id="employment-table" class="row">
                
                  <div id="label" class="small-6 columns caps">{{occupationTitle}}</div>
                  
                  <div class="small-3 columns no-border">
                  	<div class="row">
                    	<div class="small-12 columns heading">Employment</div>
                        <div id="start" class="small-6 columns year">{{stateSalaryYear}}</div>
                        <div id="end" class="small-6 columns year">{{stateSalaryYear + 10}}</div>
                        <div class="small-6 columns">{{employementMoreDetails[0].baseNum * 1000 | number}}</div>
                        <div class="small-6 columns">{{employementMoreDetails[0].projectedNum * 1000 | number}}</div>
                    </div>
                  </div>
                  
                  <div class="small-3 columns no-border">
	                  <div class="row">
                          <div id="percent-change-heading" class="small-12 columns heading">Percent<br>Change</div>
                          <div id="percent-change" class="small-12 columns">{{employementMoreDetails[0].changePercentage}}% 
                          
                          	<i ng-if="employementMoreDetails[0].changePercentage >= 14"><img src="images/growth_icons/employ_level5.png" alt="Growth Icon"></i>
                            <i ng-if="employementMoreDetails[0].changePercentage < 14 && employementMoreDetails[0].changePercentage >= 9"><img src="images/growth_icons/employ_level4.png" alt="Growth Icon"></i>
                  			<i ng-if="employementMoreDetails[0].changePercentage < 9 && employementMoreDetails[0].changePercentage >= 5"><img src="images/growth_icons/employ_level3.png" alt="Growth Icon"></i>
                  			<i ng-if="employementMoreDetails[0].changePercentage < 5 && employementMoreDetails[0].changePercentage >= 2"><img src="images/growth_icons/employ_level2.png" alt="Growth Icon"></i>
                  			<i ng-if="employementMoreDetails[0].changePercentage <= 2"><img src="images/growth_icons/employ_level1.png" alt="Growth Icon"></i>
                            
                          </div>
                      </div>
                  </div>
                </div>
                
                <br/>

				<p>Source: <a href="http://www.bls.gov/emp/" target="_blank">Bureau of Labor Statistics</a> {{stateSalaryYear}}-{{stateSalaryYear + 10}} employment.
					"Projected growth" represents the estimated change in total
					employment over the period ({{stateSalaryYear}}-{{stateSalaryYear + 10}}). "Projected job openings"
					represent openings due to growth and replacement.</p>


			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div id="footerOne" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div id="footerTwo" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>