<div class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div id="sidebar" class="medium-2 columns logged-in" ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="header-space"><span>Resources</span></li>
						<li class="activity"><a href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></li>
						<li class="activity"><a href="http://www.fastweb.com/" target="_blank">Fastweb</a></li>
						<li class="activity"><a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></li>
						<li class="activity"><a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></li>
					</ul>
				</div>
			</div>
			<div id="sidebar" class="medium-2 columns not-logged-in" ng-show="!occuFindUserLoggedIn">
				<img  src="/CEP/images/Education_moreinfo.jpg">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="header-space"><span>Resources</span></li>
						<li class="activity"><a href="https://fafsa.ed.gov/" target="_blank">FAFSA</a></li>
						<li class="activity"><a href="http://www.fastweb.com/" target="_blank">Fastweb</a></li>
						<li class="activity"><a href="http://nces.ed.gov/collegenavigator/" target="_blank">College Navigator</a></li>
						<li class="activity"><a href="http://www.collegecalc.org/" target="_blank">CollegeCalc</a></li>
					</ul>
				</div>
			</div>
				
				<section id="main-content" class="medium-10 columns school-details" role="main">
				<div class="row">
					<div class="medium-12 columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a href="occufind-occupation-search-results">Search</a> > </li>
							<li><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
							<li><a href="occufind-education-details/{{socId}}">Education Details</a> > </li>
							<li>{{schoolTitle}}</li>
						</ul>
						<div class="top-blue-panel">
							<div ng-show="occuFindUserLoggedIn">
								<ul class="menu tools icons-right">
									<li id="notes" ng-controller="NotesController"><a href="" ng-click="showSchoolNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites" ng-include="'cep/page-partials/school-add-favorites.html'" ng-controller="SchoolAddFavorites"></li>									
								</ul>
							</div>
							<h1 class="job-title hide-for-small-only">{{schoolTitle}}</h1>
						</div>
					</div>
				</div>				
                <div class="blur-titles">
                  <h2 class="job-title show-for-small-only">{{schoolDetails.institutionName}}</h2>
                  <h5 class="small-blue">{{schoolDetails.city}}, {{schoolDetails.state}}</h5>
                  <p><!-- school description --></p>
                </div>				
				<div class="row">
                	<div class="medium-6 columns">
                        <section class="large-12 tuition-box school-sec" ng-if="(schoolDetails.inStateTutition && schoolDetails.inStateTutition > 0) && (schoolDetails.outOfStateTutition && schoolDetails.outOfStateTutition > 0 )">
                            <h3>Tuition</h3>
                            <div class="list-text">
                              <span class="school-bold-text"><b>In State Tuition:</b> {{schoolDetails.inStateTutition | currency}}*</span><br>
                              <span class="school-bold-text"><b>Out of State Tuition:</b> {{schoolDetails.outOfStateTutition | currency}}*</span><br>
                            </div>
                            <p>*Price is only tuition fees and may not include all associated costs with living and attendance.</p>
                        </section>
                        <section class="large-12 school-sec" ng-if="schoolDetails.totalApplicants > 0" >
                            <h3>Admission Information</h3>
							<!-- <div class="percentage-line-box">
                                <div class="percentage-number"><strong>Number of applicants:</strong><span> {{schoolDetails.totalApplicants | number}}</span></div>
                                <div class="percentage-line" style="margin: 9px 0;">
                                	<span class="overlay-line"></span>
                                    <span class="top-line"></span>
                                </div>
								<div class="percentage-number bottom-text"><strong>Application Deadline:</strong><span>86%</span></div>
                            </div> -->
                            <div><strong>Number of applicants:</strong><span> {{schoolDetails.totalApplicants | number}}</span></div>
							<!-- <div class="progress" style="background-color: #D6F0F0; margin: 5px;">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentageAdmitted | number: 0}}" aria-valuemin="0"
									aria-valuemax="100" style="width: {{percentageAdmitted | number: 0}}%">{{percentageAdmitted | number: 0}}%</div>
							</div> -->
							<uib-progressbar style="margin-left: 5px; margin-right:5px;" animate="false" value="percentageAdmitted | number: 0" type="success"><b>{{percentageAdmitted | number: 0}}%</b></uib-progressbar>

							<div><strong>Number of applicants admitted:</strong><span> {{schoolDetails.totalAdmitted | number}}</span></div>
							<hr>
                            <!-- <span class="school-bold-text"><b>Application Deadline:</b>04/01/18</span><br> -->
                        </section>
                      <section class="large-12 school-sec" ng-if="schoolDetails.retentionRate > 0">
                            <h3>First-Time Students Returning the Following Year</h3>
                            
                            <div class="fall-sec">
                                <strong>Fall {{ipedsYearUpdated-1}} returning Fall {{ipedsYearUpdated}}</strong>
                                <div google-chart chart="myChartObject" style="height:200px; width:100%;"></div>
                            </div>
                        </section>
                      <section class="large-12 school-sec test-sec" ng-if="schoolDetails.satCritica25Percent > 0  && schoolDetails.satMath25Percent > 0 && schoolDetails.actCritical25Percent > 0">
                            <h3>Test Scores</h3>
                            <p>Half of the Freshman class scored within these ranges. 25% scored lower and 25% scored higher than these ranges.</p>
                            <div class="critical-lines">
                            	<div class="lines-row">
                                	<strong>SAT Critical<br> Reading</strong>
                                    <div class="lines-right">
                                    	<div class="lines-number">
                                    		<b ng-attr-style="margin-left: {{(schoolDetails.satCritica75Percent > 700 && schoolDetails.satCritica75Percent - schoolDetails.satCritica25Percent <= 100) ? satCritica25Percent - 30 : (schoolDetails.satCritica75Percent - schoolDetails.satCritica25Percent <= 50) ? satCritica25Percent - 30 : satCritica25Percent - 15}}px;">{{schoolDetails.satCritica25Percent}}</b>
                                            <b ng-attr-style="margin-right: {{268 - satCritica75Percent - 15 < 0 ? 0 : 268 - satCritica75Percent - 15}}px;">{{schoolDetails.satCritica75Percent}}</b>
                                        </div>
                                        <span class="line-px"></span>
                                        <span class="score-top-line" ng-attr-style="margin-left: {{satCritica25Percent}}px; width: {{satCritica75Percent - satCritica25Percent}}px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="critical-lines">
                            	<div class="lines-row lines-row2">
                                	<strong>SAT <br>Math</strong>
                                    <div class="lines-right">
                                    	<div class="lines-number">
                                            <b ng-attr-style="margin-left: {{(schoolDetails.satMath75Percent > 700 && schoolDetails.satMath75Percent - schoolDetails.satMath25Percent <= 100) ? satMath25Percent - 30 : (schoolDetails.satMath75Percent - schoolDetails.satMath25Percent <= 50) ? satMath25Percent - 30 : satMath25Percent - 15}}px;">{{schoolDetails.satMath25Percent}}</b>
                                            <b ng-attr-style="margin-right: {{268 - satMath75Percent - 15 < 0 ? 0 : 268 - satMath75Percent - 15}}px;">{{schoolDetails.satMath75Percent}}</b>
                                        </div>
                                        <span class="line-px"></span>
                                        <span class="score-top-line" ng-attr-style="margin-left: {{satMath25Percent}}px; width: {{satMath75Percent - satMath25Percent}}px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="critical-lines">
                            	<div class="lines-row lines-row3">
                                	<strong>ACT <br>Composite</strong>
                                    <div class="lines-right">
                                    	<div class="lines-number">
                                            <b ng-attr-style="margin-left: {{(schoolDetails.actCritical75Percent > 28 && schoolDetails.actCritical75Percent - schoolDetails.actCritical25Percent <= 2) ? actCritical25Percent - 30 : (schoolDetails.actCritical75Percent - schoolDetails.actCritical25Percent <= 1) ? actCritical25Percent - 30 : actCritical25Percent - 15}}px;">{{schoolDetails.actCritical25Percent}}</b>
                                            <b ng-attr-style="margin-right: {{268 - actCritical75Percent - 15 < 0 ? 0 : 268 - actCritical75Percent - 15}}px;">{{schoolDetails.actCritical75Percent}}</b>
                                        </div>
                                        <span class="line-px"></span>
                                        <span class="score-top-line" ng-attr-style="margin-left: {{actCritical25Percent}}px; width: {{actCritical75Percent - actCritical25Percent}}px;"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div google-chart chart="barChartObject"></div> -->
                        </section>
                    </div>
                	<div class="medium-6 columns">
                        <section class="large-12 school-sec">
                            <h3>Types of Degrees offered</h3>
                            <div class="list-text">
                                <span ng-if="schoolDetails.certificate">Certificate</span>
                                <span ng-if="schoolDetails.associates">Associate's Degree</span>
                                <span ng-if="schoolDetails.bachelors">Bachelor's Degree</span>
                                <span ng-if="schoolDetails.masters">Master's Degree</span>
                                <span ng-if="schoolDetails.doctoral">Doctoral Degree</span>
                            </div>
                        </section>
                        <section class="large-12 school-sec">
                            <h3>Degrees and Majors offered </h3>
                            <div class="tab_Lefticon">
                                <uib-accordion> 
                                    <uib-accordion-group ng-repeat="(key, value) in schoolDetails.collegeMajors"> 
                                        <uib-accordion-heading><i>+</i><i>-</i> {{key}}</uib-accordion-heading> 
                                          <ul>
                                              <li ng-repeat="v in value"><a ng-click="majorPopup(v.cipTitle, v.cipDescrpition)">{{v.cipTitle}}</a></li>
                                          </ul>
                                    </uib-accordion-group>
                                    
                                </uib-accordion>
                            </div>                            
                        </section>
                        <section class="large-12 school-sec icons" ng-if="schoolDetails.rotcArmy || schoolDetails.rotcNavy || schoolDetails.rotcAirForce">
                            <h3>Available ROTC <a ng-click="openDescription('rotc')" class="occufind-sub-explain alt"></a></h3>
                        <ul class="plain ma0">
							<li><img ng-if="schoolDetails.rotcArmy" src="images/army.png"> <img ng-if="schoolDetails.rotcAirForce" src="images/air-force.png"> <img ng-if="schoolDetails.rotcNavy" src="images/navy.png"></li>
						</ul>                            
                        </section>
                    </div>
				</div>
                
                <div class="row" ng-show='schoolDetails.url.length >2'>
                	<div class="medium-12 columns text-center">
						<span class="usc-bottom">Learn more at <a href="//{{schoolDetails.url}}" target="_blank">{{schoolDetails.url}}</a></span>
                    </div>
				</div>
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div id="footerOne" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div id="footerTwo" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>