<div id="education-details" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div id="sidebar" class="medium-2 columns logged-in" ng-show="occuFindUserLoggedIn">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div id="sidebar" class="medium-2 columns not-logged-in" ng-show="!occuFindUserLoggedIn">				
				<img src="/CEP/images/Education_moreinfo.jpg">				
			</div>			
			
			<section id="main-content" class="medium-10 columns" role="main">
				<div class="row">
					<div class="columns">
						<ul class="content-bread-cumbs hide-for-small-only">
							<li><a href="occufind-occupation-search-results">Search</a> > </li>
							<li><a href="occufind-occupation-details/{{socId}}">{{occupationTitle}}</a> > </li>
							<li>Education Details</li>
						</ul>
						<div class="top-blue-panel">
							<div ng-show="occuFindUserLoggedIn" >
								<ul class="menu tools icons-right pull-left margin-left-5">
									<li id="notes" ng-controller="NotesController"><a href="" ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
									<li id="favorites" ng-include="'cep/page-partials/occufind-add-favorites.html'" ng-controller="AddFavorites"></li>
								</ul>
							</div>	
							<h1 class="job-title hide-for-small-only">Education Details for {{occupationTitle}}</h1>					
						</div>
					</div>
				</div>
				<h2 class="job-title show-for-small-only">Education Details for {{occupationTitle}}</h2>				
                <p>The programs of study associated with this occupation are: </p>
                    <ul>
                    	<div ng-if="!showMore">
							<li ng-repeat="major in schoolMajors | limitTo:3"> 
								<div>{{major}} </div>
							</li>
                    	</div>
                    	<div ng-if="showMore">
							<li ng-repeat="major in schoolMajors"> 
								<div> {{major}} </div>
							</li>
                    	</div>
                        <div ng-show="hasMore()"><li><a href="#" ng-click="showMore = !showMore"> {{ showMoreText() }}</a></li></div>
 					</ul>
<!-- 
 				</div>
 -->
                <br/>
                
                <p>{{ipedsDisclaimer}}</p>
 				<div class="filters">
                <div class="row">
                <div class="medium-6 columns">
                	<label><strong class="caps">Search by state: </strong></label> 
                	<select ng-model="search">
							<option value="">SHOW ENTIRE UNITED STATES</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="PR">Puerto Rico</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
                <div class="medium-6 columns">
                	<label><strong class="caps">Sort by: </strong></label>
                	<select ng-model="sort">
                		<option value="">School Name Ascending</option>
                		<option value="-schoolName">School Name Descending</option>
                		<option value="city">City Ascending</option>
                		<option value="-city">City Descending</option>
                		<option value="inStateTuition">In State Tuition Lowest to Highest</option>
                		<option value="-inStateTuition">In State Tuition Highest to Lowest</option>
                		<option value="outStateTuition">Out State Tuition Lowest to Highest</option>
                		<option value="-outStateTuition">Out State Tuition Highest to Lowest</option>
               		</select>
				</div>
				</div>
                </div>
                
                <br/>
				
				<div class="row">
				
					<section class="table-pagination">
                        <div class="medium-6 columns">Showing {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Schools</div>
                        <div class="medium-6 columns">
						<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>                        
                        </div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    
                    <div id="search-list" class="medium-12 columns">
                        <table class="hover" id="education-detail-list" >
                        	<tbody>
							
                                <tr  ng-repeat="s in filtered | orderBy:sort | limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
									<td class="school-row">
										<p><a href="occufind-school-details/{{socId}}/{{s.unitId}}"><strong>{{s.schoolName}}</strong></a> | {{s.city}}, {{s.state}}</p>
										<table>
										<tr>
											<td valign="top" width="45%">
												<div class="school-info">

<!-- 												  <strong>Location:</strong> {{s.city}}, {{s.state}} </a><br>
 -->
												  <strong>In State Tuition:</strong> {{s.inStateTuition | currency}} </a><br>
												  <strong>Out of State Tuition:</strong> {{s.outStateTuition | currency}} </a><br>
												  <!-- <strong>Application Deadline:</strong> 04/01/18 -->
												  </p>
												</div>
											</td>
											<td valign="top" width="32%" class="degree-types-label"><strong>Types of Degrees offered:</strong></td>
											<td valign="top">
												<div class="degree-types">
													<span ng-if="s.certificate">Certificate<br></span>
													<span ng-if="s.associates">Associate's Degree<br></span>
													<span ng-if="s.bachelors">Bachelor's Degree<br></span>
													<span ng-if="s.masters">Master's Degree<br></span>
													<span ng-if="s.doctoral">Doctoral Degree<br></span>
												</div>
											</td>
										</tr>
										</table>
									</td>
                                </tr><!-- end row -->
                                <tr ng-if="filtered.length == 0">
                                <td>There are no education details at the moment.</td>
                                </tr>
								
                        </tbody></table>
					</div>
					
					<section class="table-pagination" style="clear:both">
						<div class="medium-12 columns"><hr/></div>
                        <div class="medium-6 columns">Showing {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Schools</div>
                        <div class="medium-6 columns">
                        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                        </div> 
                    </section>
					
				</div>
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div id="footerOne" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div id="footerTwo" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>