<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div class="occufind"
	ng-click="handleClick($event)">
	<div ng-include="'cep/page-partials/header.html'"
		ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>

	</section>

	<section id="content-wrap" class="occufind-search">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'"
					ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				<h1 class="job-title">OCCU-Find Search</h1>
				<div class="row">
					<div class="medium-8 columns">
						<strong>This is where it all comes together.</strong>
		
						<p>The OCCU-Find catalogs approximately 1000 career options that are available to you!</p>
						<br />
						<h4>To find your dream job select from these options:</h4>
						<span><strong>Tip: </strong>To maximize your exploration, enter your top interest codes and sort by your strongest skill. </span>
					</div>
					<div class="medium-4 columns tutorial ng-scope mt0"
						ng-repeat="m in mediaCenterList | filter:{positionId: 21}:true">
						<a class="resource-title" href="media-center-article/{{m.id}}">Learn more</a>
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img
							ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span> </a>
							<br><br>
					</div>
				</div>
			</section>
			<section id="search-sidebar">
				<div class="medium-10 columns">
					<section id="filters">
						<form ng-submit="occufindSearch()" class="ng-pristine ng-valid">
                            <div class="row">
                                <div class="medium-4 columns">                                                      
                                   	<h3 class="gray-bg">Search by</h3>
                                    <div id="filter-interest">              
                                        <h3>
                                            <b>INTEREST CODES</b>
                                        </h3>
                                        <p>(select up to two)</p>
                                        <span ng-repeat="item in checkboxInterest" class="ng-binding ng-scope">
                                        	<span class="check-box">       
                                   				<i class="code-{{item.code | lowercase}}"></i>
                                        		<label for="interest{{$index}}" style="display:inline">{{item.name}}</label>           		
												<input 	type="checkbox"
														id="interest{{$index}}"
														ng-model="filterItems[item.code]"
														ng-click="limitTwo(item);"
														ng-change="saveSearch();"
														ng-disabled="checked==limit && !filterItems[item.code]"/><br />                      
                                        	</span>
										</span>
                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                	<div id="sort-skill">
	                                	<h3 class="gray-bg title-toggle">Sort by</h3>  
	                                    <div id="filter-strength" class="book-select toggle-content">   
	                                        <h3>
	                                            <b>My ASVAB STRENGTHS</b>
	                                            <a class="explain alt" ng-controller="LeftNavigationController" ng-click="showSortByStrength()"></a>
	                                        </h3>
	                                        <p>(select one optional)</p>	                                        
	                                        <div class="book-select-input">                                                
	                                            <span ng-repeat="item in checkboxSkill">									
													<img ng-src="images/small-book{{$index + 1}}.png" alt="small-book{{$index + 1}}">
													<label style="display:inline;" for="skill{{$index}}">{{item.name}}</label>
													<input 	type="checkbox"
																id="skill{{$index}}" 
															   ng-model="skillItems[item.code]"
															   ng-click="onSkillChange(item);limitOne(item);"
															   ng-change="saveSearch();"
															   ng-disabled="skillChecked==skillLimit && !skillItems[item.code]">	<br />
	                                            </span>
	                                        </div>
	                                    </div>	                                    
                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                	<div id="filter-category">
                                		<h3 class="gray-bg title-toggle">Filter by</h3>
                                		<div class="book-select toggle-content">
                                			<table class="table">
												<thead class="border-none">
												  <tr>
													<th colspan="3" class="border-none"><b class="text-uppercase">Work Values <a class="explain alt" ng-controller="LeftNavigationController" ng-click="workValuesHint()"></a></b></th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
													<td class="border-none">
													  <div class="select_with_checkbox">
														<div ng-click="workValuesToggle = !workValuesToggle; categoriesToggle = false"
															class="custom_select_dropdown"
															style="margin-bottom: -5px; height: 21px; display: flex; align-items: center"
															>Select Work Values ({{workValueChecked}})
														</div>
														<table ng-class="{active: workValuesToggle}">
														  <tbody>
															<tr><td colspan="3" class="pt-10 pl-10 work-value-element">(select up to three)</td></tr>
															<tr>
															  <td class="work-value-element">
																<span ng-repeat="item in checkboxWorkValue">
																	<div class="work-value-element" style="display: flex; margin-bottom: 0px; justify-content: space-between;">
																		<div style="margin-bottom: 0px" class="work-value-element">
																			<img class="work-value-element" style="max-width: 20px" ng-src="{{item.image}}" title="{{item.rel}}"></img>
																			<label class="work-value-element" style="display:inline;" for="workValue{{$index}}">{{item.name}}</label><br />
																		</div>
																		<div style="margin-bottom: 0px">
																			<input type="checkbox" class="work-value-element" id="workValue{{$index}}" ng-click="limitThree(item);"
																				ng-model="workValueItems[item.code]"
																				ng-change="saveSearch();"
																				ng-disabled="workValueChecked==workValueLimit && !workValueItems[item.code]"/>
																		</div>
																	</div>
																</span>
															  </td>
															</tr>
														  </tbody>
														</table>
													  </div>
													</td>
												  </tr>
												</tbody>
											</table>

											<table class="table">
												<thead class="border-none">
												  <tr>
													<th colspan="3" class="border-none"><b class="text-uppercase">Categories <a class="explain alt" ng-controller="LeftNavigationController" ng-click="careerDefinitionsNoCareerCluster()"></a></b></th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
													<td class="border-none">
													  <div class="select_with_checkbox">
														<div ng-click="categoriesToggle = !categoriesToggle"
															class="custom_select_dropdown"
															style="margin-bottom: -5px; height: 21px; display: flex; align-items: center"
															>Select Categories Values ({{categoryChecked}})
														</div>
														<table ng-class="{active: categoriesToggle}">
														  <tbody>
															<tr>
															  <td class="category-element">
                               					<span ng-repeat="item in checkboxCategory">
                               						<input	type="checkbox"
																					 		class="category-element"
                               								id="category{{$index}}"
																							ng-click="categoryCount(item)"
                               								ng-model="categoryItems[item.code]"
                               								ng-change="saveSearch();"/>
																					<span class="category-element">
																						<i class="{{item.iconClass}}" id="category-element" title="{{item.rel}}"></i>
																						<label class="category-element" style="display:inline;" for="category{{$index}}">{{item.name}}</label><br />
																					</span>
                               					</span>
											</td>
										</tr>
									  </tbody>
									</table>
								  </div>
								</td>
							  </tr>
							</tbody>
						</table>
                               				<h3>
                               					<b>Keyword</b>
                               				</h3>         
                               				<div class="arrow-keyword">
                               					<input type="text" ng-model="keyword" ng-change="saveSearch();" placeholder="(optional)"/>
                               					<button type="submit">
	                               					<img src="images/blue-arrow-right.png" alt="blue-arrow-right"/>
                               					</button>
                               				</div>                     			
                                		</div>
                                	</div>
                                </div>
                            </div>
                            <hr style="margin:0;">
                            <input type="submit" class="button" value="Explore">
                        </form>
					</section>
					<section class="other" id="explore">
						<h3 style="margin: 40px 0 0;">
							<strong>Other search lists</strong>
						</h3>
						<ul class="menu vertical">
							<li><a href="career-cluster">Career Clusters</a></li>				
						</ul>
					</section>
				</div>				
			</section>			
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>