<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>	
	<section class="hide-for-small-only" id="banner">
		<div class="row">			
			<div class="large-12 columns">
				<a style="float:left; margin-top:20px;" href="#" ng-click="backFromHistory()">&lt; Previous Page</a>				
				<p class="caps">Careers in the Military</p>
			</div>
		</div>
	</section>
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li class="divider"></li>
					</ul>
				</div>
			</div>
		</div>
		<section id="main-content" class="show-for-medium medium-12 columns" role="main"  style="background-color:#fff; padding:0;">			
			<div class="show-for-medium">
				<iframe src="{{citmWebLink}}" width="100%" allowfullscreen scrolling="yes" frameborder="0" style="height: 100vh;"></iframe>				
			</div>
		</section>
		<section class="show-for-small-only">			
			<iframe src="{{citmWebLink}}" width="100%" allowfullscreen scrolling="yes" frameborder="0" style="height: 100vh;"></iframe>			
		</section>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>