<div class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>

	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<div class="medium-10 columns">
				<h2 class="show-for-medium">COMPARE OCCUPATIONS</h2>
				<ul class="menu tools icons-right icons-medium">
					<li id="download"><a href="" ng-click="downloadPdf()">Download PDF</a></li>
					<li id="print"><a href="" ng-click="printPdf()">Print</a></li>
					<li id="back"><a href="favorites">Back to Favorites</a></li>
				</ul>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">  
				<h2 class="show-for-small-only">COMPARE OCCUPATIONS</h2>              
				
                <br/>
                
                <div id="compare-table" class="row">
				
					<table id="printPdf">
						<tr>
							<td>
								<h4>{{occupationOneTitle}}</h4>
								<div class="row">
									<section id="interest-codes" class="medium-12 columns">
										<h3>INTEREST CODES</h3>
										<ul>
											<li ng-if="occupationOneInterestCdOne == 'S'" class="code-s">Social</li>
											<li ng-if="occupationOneInterestCdOne == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationOneInterestCdOne == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationOneInterestCdOne == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationOneInterestCdOne == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationOneInterestCdOne == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationOneInterestCdTwo == 'S'" class="code-s">Social</li>
											<li ng-if="occupationOneInterestCdTwo == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationOneInterestCdTwo == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationOneInterestCdTwo == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationOneInterestCdTwo == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationOneInterestCdTwo == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationOneInterestCdThree == 'S'" class="code-s">Social</li>
											<li ng-if="occupationOneInterestCdThree == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationOneInterestCdThree == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationOneInterestCdThree == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationOneInterestCdThree == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationOneInterestCdThree == 'E'" class="code-e">Enterprising</li>
										</ul>
									</section>
									<section id="skill-importance" class="medium-12 columns">
										<h3>Skill Importance</h3>
										<ul>
											<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" data-rating="{{occupationOneSkillRating.verbal}}"></div></div></li>
											<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" data-rating="{{occupationOneSkillRating.math}}"></div></div></li>
											<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" data-rating="{{occupationOneSkillRating.sciTech}}"></div></div></li>
										</ul>
									</section>
									<section id="education" class="large-12 columns plain">
										<h3>Education Level</h3>
										<ul>
											<li ng-repeat="e in occupationOneEducation | orderBy: '-educationLvlVal'"><div class="row"><div class="medium-3 column"><strong>{{e.educationLvlVal}}%</strong></div>     <div class="medium-9 column">{{e.educationDesc}}</div></div> </li>
										</ul>
									</section>
									<section class="large-12 columns">
										<h3>Services Offering <br>
										this Occupation</h3>
										<span ng-repeat="s in occupationOneServiceOffering">
										<img ng-if="s.serviceCode == 'F'" src="images/service/airforce.png"/>
										<img ng-if="s.serviceCode == 'A'" src="images/service/army.png"/>
										<img ng-if="s.serviceCode == 'C'" src="images/service/Coast-Guard.png"/>
										<img ng-if="s.serviceCode == 'M'" src="images/service/marines.png"/>
										<img ng-if="s.serviceCode == 'G'" src="images/service/national-guard.png"/>
										<img ng-if="s.serviceCode == 'N'" src="images/service/navy.png"/>
										</span>
									</section>
									<section class="large-12 columns plain">
										<h3>Nationwide Salary Average</h3>
										<ul>
											<li><strong>{{occupationOneNationalSalary | currency}}</strong></li>
										</ul>
									</section>
									<section class="large-12 columns plain">
										<h3>Notes</h3>
										<ul>
											<li>{{occupationOneNotes}}</li>
										</ul>
									</section>
								</div>
							</td>
							<td>
								<h4>{{occupationTwoTitle}}</h4>
								<div class="row">
									<section id="interest-codes" class="medium-12 columns">
										<h3>INTEREST CODES</h3>
										<ul>
											<li ng-if="occupationTwoInterestCdOne == 'S'" class="code-s">Social</li>
											<li ng-if="occupationTwoInterestCdOne == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationTwoInterestCdOne == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationTwoInterestCdOne == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationTwoInterestCdOne == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationTwoInterestCdOne == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationTwoInterestCdTwo == 'S'" class="code-s">Social</li>
											<li ng-if="occupationTwoInterestCdTwo == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationTwoInterestCdTwo == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationTwoInterestCdTwo == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationTwoInterestCdTwo == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationTwoInterestCdTwo == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationTwoInterestCdThree == 'S'" class="code-s">Social</li>
											<li ng-if="occupationTwoInterestCdThree == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationTwoInterestCdThree == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationTwoInterestCdThree == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationTwoInterestCdThree == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationTwoInterestCdThree == 'E'" class="code-e">Enterprising</li>
										</ul>
									</section>
									<section id="skill-importance" class="medium-12 columns">
										<h3>Skill Importance</h3>
										<ul>
											<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" data-rating="{{occupationTwoSkillRating.verbal}}"></div></div></li>
											<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" data-rating="{{occupationTwoSkillRating.math}}"></div></div></li>
											<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" data-rating="{{occupationTwoSkillRating.sciTech}}"></div></div></li>
										</ul>
									</section>
									<section id="education" class="large-12 columns plain">
										<h3>Education Level</h3>
										<ul>
											<li ng-repeat="e in occupationTwoEducation | orderBy: '-educationLvlVal'"><div class="row"><div class="medium-3 column"><strong>{{e.educationLvlVal}}%</strong></div>     <div class="medium-9 column">{{e.educationDesc}}</div></div> </li>
										</ul>
									</section>
									<section class="large-12 columns">
										<h3>Services Offering <br>
										this Occupation</h3>
										<span ng-repeat="s in occupationTwoServiceOffering">
										<img ng-if="s.serviceCode == 'F'" src="images/service/airforce.png"/>
										<img ng-if="s.serviceCode == 'A'" src="images/service/army.png"/>
										<img ng-if="s.serviceCode == 'C'" src="images/service/Coast-Guard.png"/>
										<img ng-if="s.serviceCode == 'M'" src="images/service/marines.png"/>
										<img ng-if="s.serviceCode == 'G'" src="images/service/national-guard.png"/>
										<img ng-if="s.serviceCode == 'N'" src="images/service/navy.png"/>
										</span>
									</section>
									<section class="large-12 columns plain">
										<h3>Nationwide Salary Average</h3>
										<ul>
											<li><strong>{{occupationTwoNationalSalary | currency}}</strong></li>
										</ul>
									</section>
									<section class="large-12 columns plain">
										<h3>Notes</h3>
										<ul>
											<li>{{occupationTwoNotes}}</li>
										</ul>
									</section>
								</div>
							</td>
							<td ng-if="occupationThree != undefined">
								<h4>{{occupationThreeTitle}}</h4>
								<div class="row">
									<section id="interest-codes" class="medium-12 columns">
										<h3>INTEREST CODES</h3>
										<ul>
											<li ng-if="occupationThreeInterestCdOne == 'S'" class="code-s">Social</li>
											<li ng-if="occupationThreeInterestCdOne == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationThreeInterestCdOne == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationThreeInterestCdOne == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationThreeInterestCdOne == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationThreeInterestCdOne == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationThreeInterestCdTwo == 'S'" class="code-s">Social</li>
											<li ng-if="occupationThreeInterestCdTwo == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationThreeInterestCdTwo == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationThreeInterestCdTwo == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationThreeInterestCdTwo == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationThreeInterestCdTwo == 'E'" class="code-e">Enterprising</li>
											
											<li ng-if="occupationThreeInterestCdThree == 'S'" class="code-s">Social</li>
											<li ng-if="occupationThreeInterestCdThree == 'R'" class="code-r">Realistic</li>
											<li ng-if="occupationThreeInterestCdThree == 'C'" class="code-c">Conventional</li>
											<li ng-if="occupationThreeInterestCdThree == 'I'" class="code-i">Investigative</li>
											<li ng-if="occupationThreeInterestCdThree == 'A'" class="code-a">Artistic</li>
											<li ng-if="occupationThreeInterestCdThree == 'E'" class="code-e">Enterprising</li>
										</ul>
									</section>
									<section id="skill-importance" class="medium-12 columns">
										<h3>Skill Importance</h3>
										<ul>
											<li><div><span class="starrr-label">Verbal</span> <div class="ratebox" data-id="1" data-rating="{{occupationThreeSkillRating.verbal}}"></div></div></li>
											<li><div><span class="starrr-label">Math</span> <div class="ratebox" data-id="2" data-rating="{{occupationThreeSkillRating.math}}"></div></div></li>
											<li><div><span class="starrr-label">Science / Technical</span> <div class="ratebox" data-id="3" data-rating="{{occupationThreeSkillRating.sciTech}}"></div></div></li>
										</ul>
									</section>
									<section id="education" class="large-12 columns plain">
										<h3>Education Level</h3>
										<ul>
											<li ng-repeat="e in occupationThreeEducation | orderBy: '-educationLvlVal'"><div class="row"><div class="medium-3 column"><strong>{{e.educationLvlVal}}%</strong></div>     <div class="medium-9 column">{{e.educationDesc}}</div></div> </li>
										</ul>
									</section>
									<section class="large-12 columns">
										<h3>Services Offering <br>
										this Occupation</h3>
										<span ng-repeat="s in occupationThreeServiceOffering">
										<img ng-if="s.serviceCode == 'F'" src="images/service/airforce.png"/>
										<img ng-if="s.serviceCode == 'A'" src="images/service/army.png"/>
										<img ng-if="s.serviceCode == 'C'" src="images/service/Coast-Guard.png"/>
										<img ng-if="s.serviceCode == 'M'" src="images/service/marines.png"/>
										<img ng-if="s.serviceCode == 'G'" src="images/service/national-guard.png"/>
										<img ng-if="s.serviceCode == 'N'" src="images/service/navy.png"/>
										</span>
									</section>
									<section class="large-12 columns plain">
										<h3>Nationwide Salary Average</h3>
										<ul>
											<li><strong>{{occupationThreeNationalSalary | currency}}</strong></li>
										</ul>
									</section>
									<section class="large-12 columns plain">
										<h3>Notes</h3>
										<ul>
											<li>{{occupationThreeNotes}}</li>
										</ul>
									</section>
								</div>
							</td>
						</tr>
					</table>
                
				
                </div>
				
				
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>