<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>

<div class="modal-body" style="padding-bottom: 0px">
  <p style="margin-bottom: 0px" ng-bind-html="modalOptions.bodyText">
  </p>
  <hr>
</div>


<div ng-repeat="option in modalOptions.alternateTraining" class="modal-body" style="padding: 0px 15px">
  <div style="display: flex">
    <input type="radio" name="alternateTraining" ng-model="modalOptions.alternateTrainingSelected"
      ng-value="option.essTrainingId">
    <div style="width: 100%">
      <div class="row">
        <div class="medium-3 columns">
          <strong>Where: </strong>
        </div>
        <div class="medium-9 columns">
          {{option.location.building}}
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong>At:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.location.buildingAddress}}
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong ng-if="option.essEndDate">Dates:</strong>
          <strong ng-if="!option.essEndDate">Date:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.essStartDate | date : 'MM/dd/yyyy'}}
          <span ng-if="option.essEndDate"> -
            {{option.essEndDate | date : 'MM/dd/yyyy'}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns">
          <strong>Slots Left:</strong>
        </div>
        <div class="medium-9 columns">
          {{option.essMaxNumberOfParticipants - option.numberOfParticipants}}
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="modal-footer">
  <button class="button" type="button" data-ng-click="modalOptions.reregister()"
    ng-disabled="!modalOptions.alternateTrainingSelected">Register</button>
  <button class="button" type="button" data-ng-click="modalOptions.close();">Cancel</button>
</div>