<footer id="footer">
	<div class="row hide-for-large">
		<div class="medium-5 columns">
			<form id="search3" class="mini-form" action="search-result-public">
				<gcse:searchbox-only resultsUrl="search-result" queryParameterName="q"></gcse:searchbox-only>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 small-12 columns">
			<div class="hide-for-large">
				<ul class="menu center-align">
					<li><a href="faq">Contact Us</a></li>
					<li class="divider">|</li>
					<li><a href="general-resources">Resources</a></li>
				</ul>
			</div>
			<div class="social">
				<h3>Connect with us:</h3>
				<p>
					<a href="https://twitter.com/asvabcep" target="_blank"><i class="fa fa-twitter"></i></a> 
					<a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><i class="fa fa-youtube"></i></a> 
					<a href="https://www.facebook.com/asvabcep/" target="_blank"><i class="fa fa-facebook"></i></a> 
					<a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.instagram.com/asvabcep/" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href='#' ng-click="snapChatModal()"><i class='fa fa-snapchat-ghost'></i></a>
				</p>
			</div>
		</div>
		<div class="medium-3 small-12 columns text-center">
			<img src="images/logo-footer.png" alt="ASVAB logo">
		</div>
		<div class="medium-3 small-12 columns text-center">
			<p class="sponsor">The ASVAB Career Exploration Program is sponsored by the Department of Defense</p>
		</div>
	</div>
	
	<div class="row">		
		<div class="medium-offset-6 medium-6 small-12 columns">
			<ul class="app-info">
				<li>{{version}}</li>
				<li><strong>Last Updated:</strong> {{lastUpdated}}</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="medium-12 columns">
			<ul id="footer-menu" class="menu right-align no-margin-right">
				<li><a href="./">Home</a></li>
				<li><a href="general-help">Help</a></li>
				<li><a href="general-link">Link to Us</a></li>
				<li><a href="general-privacy-security">Privacy &amp; Security</a></li>
				<li><a href="general-site">Site Map</a></li>
				<li><a href="general-resources">Resources</a></li>
				<li><a href="faq">FAQ</a></li>
				<li><a href="faq">Contact Us</a></li>
			</ul>
		</div>
	</div>
</footer>