<div ng-if="isDisplayBanner === 'true'" class="alert-banner text-center" style="color: #fff; background-color: #8b2e33; padding: 10px; font-size:15px;">   		
	<span><span class="fa fa-exclamation-triangle"></span>&nbsp;{{maintenanceBannerText}}</span>
</div>
<header id="header" ng-class="{'login': isLoggedIn()}">
	<update-link rel="canonical" href="{{absUrl}}"></update-link>
	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
	  <div class="title-bar-title" ng-controller="LogOutController">
		<a href="./" ng-show="!isLoggedIn()" ><img src="images/logo-mobile.png" alt="ASVAB logo"></a>
		<a ng-click="goToDashboard()" ng-show="isLoggedIn()"  ><img src="images/logo-mobile.png" alt="ASVAB logo"></a>
	  </div>
	  <a class="contact-icon" href="faq"></a>
	  <button class="menu-icon" type="button" data-toggle></button>	  
	</div>
	
	<nav id="main-menu">
		<div class="row show-for-large sticky_nav">
			<div class="medium-4 columns logo">
				<div class="logo-wrap" ng-show="!isLoggedIn()"><a href="./"><img src="images/logo.png" alt="ASVAB"></a></div>
				<div class="logo-wrap" ng-show="isLoggedIn()"><a ng-click="goToDashboard()"><img src="images/logo.png" alt="ASVAB"></a></div>
				<div class="sticky_logo logo-wrap"><a ng-click="goToDashboard()"><img src="images/sticky_logo.png" alt="ASVAB"></a></div>
			</div>
			<div class="medium-8 columns menu-right">
				<div class="header-top-menu">
					<ul class="menu" ng-controller="LogOutController">
						<li class="show-for-large"  ng-include='"cep/components/search/page-partials/search.html"'></li>						
						<li><a href="faq">Contact Us</a></li>
						<li class="divider">|</li>
						<li><a href="general-resources">Resources</a></li>
						<li id="header-login-container">
							<div uib-dropdown ng-click="toggleDropdown($event)">
							  <button ng-if="isLoggedIn();" ng-click="goToDashboard()" class="button" type="button" id="header-login" style="padding:10px;" uib-dropdown-toggle>MY ASVAB CEP</button>
                   			  <button ng-if="!isLoggedIn();" class="button" type="button" id="header-login" uib-dropdown-toggle>Login<i class="fa fa-angle-right"></i></button>
                              <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="header-login" ng-style="{'display': toggleLogin}">
                                  <div ng-if="disableLogin==='false'" class="header-pop-main" ng-controller="LoginController">
                                   	  <div class="header-pop-left">
                                   	  	 <div style="color:red;">{{message}}</div>                                      	  
                                         <form ng-show="showAccessCodeLogin" ng-submit="accessCodeLogin()" class="login mini-form access-login">                                                                                        	  
                                             <div class="form-group-wrap">
                                                 <div class="form-col6">
                                                 	<label for="accessCode" class="sr-only">Access Code:</label>
                                                 	<input placeholder="Access Code" type="password" id="accessCode" ng-model="accessCode" required>
                                                 </div>                                                  
                                                 <button type="submit" class="button" ng-disabled="disabled">Login</button>
                                             </div>
                                             <div class="pop-bottom-links"><a class="pop-access-link1" ng-click="goToGeneralHelp()" href="#">Where do I get my access code?</a> | <a ng-click="toggleEmailLogin()" href="#">Use email to login</a></div>
                                         </form>
                                         <form ng-show="showEmailLogin" ng-submit="emailLogin()" class="login mini-form email-login">
                                             <div class="form-group-wrap">
                                                 <div class="form-col6">
                                                 	  <label for="email" class="sr-only">Email</label>
                                                     <input placeholder="Email" type="email" id="email" ng-model="email" required>
                                                     
                                                     <label for="password" class="sr-only">Password</label>
                                                     <input placeholder="Password" type="password" id="password" ng-model="password" required>
                                                 </div>                                                  
                                                 <button type="submit" class="button" ng-disabled="disabled">Login</button>
                                             </div>
                                             <div class="pop-bottom-links"><a ng-click="togglePasswordReset()" href="#">Forgot password</a> | <a ng-click="toggleAccessCodeLogin()" href="#">Use access code only</a></div>
                                         </form>
                                         <form ng-show="showPasswordReset" ng-submit="sendResetCode()" role="form" class="login mini-form forgot-pass-form">
                                             <div class="form-group-wrap">
                                             	<div class="form-col6">
													<label for="resetPasswordEmail" class="sr-only">Email</label>
                                                 	<input type="email" placeholder="Email" id="resetPasswordEmail" ng-model="resetPasswordEmail" required>
												</div>
                                             	<button type="submit" class="button">Request Password Reset</button>
                                             </div>                                              
                                             <div class="pop-bottom-links"><a ng-click="toggleEmailLogin()" href="#">Back to Login</a></div>
                                         </form>
<!--										  <div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="clear:both; transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
                                     </div>
                                     <div class="header-pop-right">
                                         <div class="pop-or">OR</div>
                                         <a class="pop-acount-btn" ng-click="showRegisterModal();" href="#">Create account</a>
                                     </div>
                               	  </div>
                                  <div ng-if="disableLogin==='true'">
                                  	<p style="margin-bottom: 0; padding:2px 5px; border:1px solid #8b2e33;">Login is currently disabled due to maintenance. We apologize for the inconvenience.</p>
                                  </div>
                              </div>
                   			</div>                   			
						</li>
						<li ng-if="isLoggedIn();" class="logout"><a ng-click="logout();">Logout</a></li>
					</ul>
					<ul class="menu" id="secondary">
						<li><a href="./">Home</a></li>
						<li><a href="student">Participants</a></li>
						<li><a href="educators">Educators</a></li>
						<li><a href="parents">Parents</a></li>
					</ul>
				</div>
			</div>
		</div>
           <div class="hide-for-large">
           	<ul class="dropdown menu" data-dropdown-menu ng-controller="LogOutController">
           		<li ng-show="!isLoggedIn() && disableLogin === 'false'">
           			<a ng-click="showLoginModal();">Login to MYASVAB</a>           			           			
           		</li>
           		<li ng-show="isLoggedIn();">
           			<a ng-click="logout();">Logout</a>
           		</li>
           		<li ng-show="!isLoggedIn() && disableLogin === 'false'">
           			<a ng-click="showRegisterModal();">Create an Account</a>
          		</li>
          		<li ng-show="isLoggedIn();">
          			<a ng-click="goTo('dashboard')">My ASVAB CEP</a>
          		</li>
           		<li><a ng-click="goTo('/')">Home</a></li>
           		<li class="dropdown">
           			<a>Participants</a>
           			<ul class="menu" style="z-index:1;">
           				<li class="header"><a href="student">Understand the ASVAB</a></li>
           				<!-- <li style="margin-left:15px;"><a href="student-program">The ASVAB Test</a></li>
           				<li style="margin-left:15px;"><a href="student-post-test">Post-Test Activities</a></li> -->
           				<li class="header"><a href="student-learn">Learn About Yourself</a></li>
           				<!-- <li style="margin-left:15px;"><a href="student-learn-skills">Skills</a></li>
           				<li style="margin-left:15px;"><a href="student-learn-interests">Interests</a></li>
           				<li style="margin-left:15px;"><a href="student-learn-work-values">Work Values</a></li> -->
           				<li class="header"><a href="student-explore">Explore Careers</a></li>
           				<!-- <li style="margin-left:15px;"><a href="student-explore-occu-find">OCCU-Find</a></li>
           				<li style="margin-left:15px;"><a href="student-explore-action-steps">Action Steps</a></li> -->
           				<li class="header"><a href="student-plan">Plan Your Future</a></li>
           				<!-- <li style="margin-left:15px;"><a href="student-plan-understanding">Options</a></li>
           				<li style="margin-left:15px;"><a href="student-plan-tools">Tools</a></li> -->
           			</ul>
        		</li>
           		<li class="dropdown">
           			<a>Educators</a>
           			<ul class="menu" style="z-index:1;">
           				<li class="header"><a href="educators">The ASVAB CEP</a></li>
           				<li class="header"><a href="educators-test">ASVAB Test</a></li>
           				<li class="header"><a href="educators-post-test">Post-Test Activities</a></li>
           				<li class="header"><a href="federally-funded-sources">Federally Funded Sources</a></li>
           				<li class="header"><a href="teachers">Classroom Tools</a></li>
           				<li class="header"><a href="media-center-article/28">Understanding Test Scores</a></li>
           			</ul>
          		</li>
           		<li class="dropdown">
           			<a>Parents</a>
           			<ul class="menu" style="z-index:1;">
           				<li class="header"><a href="parents">The ASVAB CEP</a></li>
           				<li class="header"><a href="parents-test">ASVAB Test</a></li>
           				<li class="header"><a href="parents-post-test">Post-Test Activities</a></li>
           				<li class="header"><a href="parents-information">How You Can Help</a></li>
           			</ul>
							</li>
							<li><a ng-click="goTo('general-resources')">All Resources</a></li>
           	</ul>						
		</div>		
       </nav>
</header>
