<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">How would you like to enter the site?</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">

	<div class="row">
		<div class="small-4 columns"><a href="student" ng-click="modalOptions.close()" class="button">Enter as a STUDENT</a></div>
		<div class="small-4 columns"><a href="educators" ng-click="modalOptions.close()" class="button">Enter as a EDUCATOR</a></div>
		<div class="small-4 columns"><a href="parents" ng-click="modalOptions.close()" class="button">Enter as a PARENT</a></div>
	</div>
</div>

<div class="modal-footer">
</div>