<div class="left-sub-nav sidebar-desktop">
    <ul id="steps" class="menu hide-for-small-only vertical">
        <li><a href="dashboard">My ASVAB CEP</a></li>        
    </ul>
	<div class="graybgleftbox show_scores hide-for-small-only">
	    <!-- Books display -->
	    <h5 id="my-codes-label" class="menu hide-for-small-only" ng-hide="!haveManualAsvabTestScores && !getScore('verbal')">
	    	{{(userRole == 'E' || userRole == 'D') ? 'Sample' : 'My ASVAB CEP'}}	    	
	    	<br />
	    	{{showScoresTable ? "Scores" : "Strengths"}}
	    	<a class="explain alt" ng-click="resultsInfo()"></a> 
	   	</h5>
	   	
	    <!-- Books display -->
	    <div ng-show="!showScoresTable" class="hide-for-small-only"  ng-hide="!haveManualAsvabTestScores && !getScore('verbal')">
	         <div id="my-results" class="row small-up-3">
	            <div class="columns nopadding">
	                <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'verbal-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('verbal')" ng-model="$scope.vBooks.xPosSmall"></div>
	                <div class="text-center">V</div>
	            </div>
	            <div class="columns nopadding">
	                <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'math-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('math')" ng-model="$scope.mBooks.xPosSmall"></div>
	                <div class="text-center">M</div>
	            </div>
	            <div class="columns nopadding">
	                <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'science-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('science')" ng-model="$scope.sBooks.xPosSmall"></div>
	                <div class="text-center">S/T</div>
	            </div>
	        </div>
	        <!-- View Toggle -->
	        <div id="my-results-toggle" class="row small-up-1">
	            <div class="columns">
	                <div class="scores-toggle text-center">
	                    <a href="" ng-click="toggleScoreView();">{{(userRole == 'E' || userRole == 'D') ? 'See Sample Scores' : 'Show Scores'}}</a>
	                </div>
	            </div>
	        </div>
	    </div>
	
	    <!-- Table display -->
	    <div ng-show="showScoresTable" class="hide-for-small-only">
	        <table id="my-results-table" class="table table-striped">
	            <tbody>
	                <tr>
	                    <td id="varbal-score">{{getScore("verbal")}}</td>
	                    <td id="math-score">{{getScore("math")}}</td>
	                    <td id="science-score">{{getScore("science")}}</td>
	                </tr>
	                <tr>
	                    <td>V</td>
	                    <td>M</td>
	                    <td>S/T</td>
	                </tr>
	                <!-- AFQT not displayed for manual entered scores -->
	                <tr ng-if="!haveManualAsvabTestScores">
	                    <td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
	                </tr>
	                <tr>
	                    <td colspan="3" class="scores-toggle" style="background-color:#ffffff;">
	                        <a href="" ng-click="toggleScoreView();">{{(userRole == 'E' || userRole == 'D') ? 'See Sample Strengths' : 'Show Strengths'}}</a>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	
	    <ul class="menu hide-for-small-only vertical" ng-hide="!haveManualAsvabTestScores && !getScore('verbal')">
	        <li ng-if="!haveManualAsvabTestScores"><a href="my-asvab-summary-results" ng-class="{disabled: returnResultsDisabled() }">See ASVAB Results</a></li>
	        <li ng-if="haveManualAsvabTestScores"><a href="my-asvab-summary-results-manual" ng-class="{disabled: returnManualResultsDisabled() }">See ASVAB Results</a></li>
	        <li class="divider"></li>
	    </ul>
	
	    <!-- Intrest Code -->
	    <div>
		    <h5 ng-if="interestCodeOne != undefined && !loadingIndicator" id="my-codes-label" class="menu hide-for-small-only">
		    	My Top <br />
		    	Interests
		    	<a class="explain alt" ng-click="interestCodesInfo()"></a> 
	    	</h5>
			<ul ng-if="interestCodeOne != undefined && !loadingIndicator" id="my-codes" class="menu hide-for-small-only">
		        <li ng-if="interestCodeOne == 'C'" class="code-c"><a ng-click="interestCodeInfo('C')">C</a></li>
		        <li ng-if="interestCodeOne == 'R'" class="code-r"><a ng-click="interestCodeInfo('R')">R</a></li>
		        <li ng-if="interestCodeOne == 'I'" class="code-i"><a ng-click="interestCodeInfo('I')">I</a></li>
		        <li ng-if="interestCodeOne == 'A'" class="code-a"><a ng-click="interestCodeInfo('A')">A</a></li>
		        <li ng-if="interestCodeOne == 'S'" class="code-s"><a ng-click="interestCodeInfo('S')">S</a></li>
		        <li ng-if="interestCodeOne == 'E'" class="code-e"><a ng-click="interestCodeInfo('E')">E</a></li>
		        
		        <li ng-if="interestCodeTwo == 'C'" class="code-c"><a ng-click="interestCodeInfo('C')">C</a></li>
		        <li ng-if="interestCodeTwo == 'R'" class="code-r"><a ng-click="interestCodeInfo('R')">R</a></li>
		        <li ng-if="interestCodeTwo == 'I'" class="code-i"><a ng-click="interestCodeInfo('I')">I</a></li>
		        <li ng-if="interestCodeTwo == 'A'" class="code-a"><a ng-click="interestCodeInfo('A')">A</a></li>
		        <li ng-if="interestCodeTwo == 'S'" class="code-s"><a ng-click="interestCodeInfo('S')">S</a></li>
		        <li ng-if="interestCodeTwo == 'E'" class="code-e"><a ng-click="interestCodeInfo('E')">E</a></li>
		        
		        <li ng-if="interestCodeThree == 'C'" class="code-c"><a ng-click="interestCodeInfo('C')">C</a></li>
		        <li ng-if="interestCodeThree == 'R'" class="code-r"><a ng-click="interestCodeInfo('R')">R</a></li>
		        <li ng-if="interestCodeThree == 'I'" class="code-i"><a ng-click="interestCodeInfo('I')">I</a></li>
		        <li ng-if="interestCodeThree == 'A'" class="code-a"><a ng-click="interestCodeInfo('A')">A</a></li>
		        <li ng-if="interestCodeThree == 'S'" class="code-s"><a ng-click="interestCodeInfo('S')">S</a></li>
		        <li ng-if="interestCodeThree == 'E'" class="code-e"><a ng-click="interestCodeInfo('E')">E</a></li>					
			</ul>
		</div>
	</div>
	<span ng-if="loadingIndicator" id="loadingIndicator" class="fa fa-cog fa-spin fa-2x fa-fw" style="color: #2f2a6a;"></span>
	<span ng-if="numberTestTaken != 0 && interestCodeOne == undefined">Return to the FYI results page to choose your score.</span>
	<ul id="steps" class="menu vertical">
        <li class="header-space"><span>Step 1: Learn</span></li>
        <li ng-if="interestCodeOne != undefined || (interestCodeOne == undefined && numberTestTaken != 0)">
        	<a style="padding-top: 0px" href="find-your-interest-score" ng-class="{disabled: returnFyiDisabled()}">Return to FYI Results</a>
       	</li>
        <li ng-if="numberTestTaken != 0 && isShowTest()">
        	<a href="find-your-interest" ng-class="{disabled: takeFyiDisabled()}">Retake the FYI</a>
       	</li>
        <li ng-if="numberTestTaken == 0">
        	<a href="find-your-interest" ng-class="{disabled: takeFyiDisabled()}">Take the FYI (Find Your Interests)</a>
       	</li>
        <li ng-if="numberTestTaken == 0">
        	<a href="" ng-click="fyiManualInput()">Enter your FYI scores manually</a>
       	</li>
       	<!-- work values -->
       	<li ng-if="!isWorkValueResults"><a href="work-values-intro">Explore Your Work Values</a></li>
    	<li ng-if="isWorkValueResults">
            <a href="work-values-test-results">View Your Work Value Results</a>
        </li>
        <li class="header-space"><span>Step 2: Explore</span></li>
       	<li>
        	<a style="padding-top: 0px" href="occufind-occupation-search" ng-class="{disabled: occufindDisabled()}">OCCU-Find</a>        	
       	</li>
       	<li><a href="favorites" ng-class="{disabled: favoritesDisabled()}">View Favorites</a></li>
       	<li ng-if="noteList.length > 0"><a href="#" ng-controller="NotesController" ng-click="showOccufindNotes()">View Notes</a></li>
        <li class="header-space">
        	<span>Step 3: Plan</span>
        	<a style="padding-top: 0px" href="" ng-click="routeToPortfolio()" ng-class="{disabled: portfolioDisabled()}">My Portfolio</a>
				 </li>
				 <li><a href="education-career-plan" ng-class="{disabled: educationCareerPlanDisabled()}">My Educational and Career Plans</a></li>
				 <li><a href="{{domainName}}pdf/ASVAB_CEP_Coursework_Planner.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Coursework_Planner.pdf');">My Coursework Planner</a></li>
				 <li><a href="classroom-activities" ng-class="{disabled: classroomActivitiesDisabled()}">Classroom Activities</a></li>
        <li class="divider"></li>
	</ul>
</div>