<div class="mobile-sidebar show-for-small-only">
	<div class="row">
		<section>
			<div class="medium-12 columns">
				<ul id="steps" class="menu vertical mobile-sidebar-inner" ng-controller="LeftNavigationController">
					<li class="mobile-sidebar-asvab-title"><a href="dashboard">My ASVAB CEP</a></li>
				</ul>
				<div ng-include="'cep/page-partials/mobile-interest-codes.html'" ng-controller="MobileInterestCodesController"
					ng-show="occuFindUserLoggedIn"></div>
				<ul class="menu vertical">
					<li class="header-space"><span>Step 1: Learn</span>
						<div ng-if="interestCodeOne != undefined || (interestCodeOne == undefined && numberTestTaken != 0)"><a
								style="padding-left: 0px; padding-top: 11px; display: block" href="find-your-interest-score"
								ng-class="{disabled: returnFyiDisabled()}">Return to FYI Results</a></div>
						<div ng-if="numberTestTaken != 0 && isShowTest()"><a style="padding-left: 0px" href="find-your-interest"
								ng-class="{disabled: takeFyiDisabled()}">Retake the FYI</a></div>
						<div ng-if="numberTestTaken == 0"><a style="padding-left: 0px" href="find-your-interest"
								ng-class="{disabled: takeFyiDisabled()}">Take the FYI (Find Your Interests)</a></div>
						<div ng-if="numberTestTaken == 0"><a style="padding-left: 0px" href="" ng-click="fyiManualInput()">Enter
								your FYI scores manually</a></div>
						<div ng-if="!isWorkValueResults">
							<a href="work-values-intro">Explore Your Work Values</a>
						</div>
						<div ng-if="isWorkValueResults">
							<a href="work-values-test-results">View Your Work Value
								Results</a>
						</div></li>
					<li class="header-space">
						<span>Step 2: Explore</span>
						<a style="padding-left:0px;display:block;" href="occufind-occupation-search"
							ng-class="{disabled: occufindDisabled()}">OCCU-Find</a>
						<a style="padding-left:0px;display:block;" href="favorites" ng-class="{disabled: favoritesDisabled()}">View
							Favorites</a>
						<a ng-if="noteList.length > 0" href="#" ng-controller="NotesController" ng-click="showOccufindNotes()">View
							Notes</a>
					</li>
					<li class="header-space">
						<span>Step 3: Plan</span>
						<a href="" ng-click="routeToPortfolio()" ng-class="{disabled: portfolioDisabled()}">My Portfolio</a>
						<a href="education-career-plan" ng-class="{disabled: educationCareerPlanDisabled()}">My Educational and Career Plans</a>
					  <a href="{{domainName}}pdf/ASVAB_CEP_Coursework_Planner.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Coursework_Planner.pdf');">My Coursework Planner</a>
					  <a href="classroom-activities" ng-class="{disabled: classroomActivitiesDisabled()}">Classroom Activities</a>
					 </li>
				</ul>
			</div>
		</section>
	</div>
</div>