<div class="left-sub-nav">
    <!-- Books display -->
    <div class="graybgleftbox">
        <h5 id="my-codes-label" class="mobile-sub-nav clearfix ng-binding" ng-hide="!verbalScore">
            My ASVAB CEP {{showScoresTable ? "Scores" : "Strengths"}}
            <a class="explain alt" ng-controller="LeftNavigationController" ng-click="resultsInfo()"></a>
        </h5>
        <!-- Books display -->
        <div ng-show="!showScoresTable" ng-hide="!verbalScore" class="mobile-sub-nav clearfix">
             <div id="my-results" class="row small-up-3">
                <div class="columns nopadding">
                    <!--<div class="skill-books" id="verbal-skills-small" ng-style="getBookPos('verbal')"></div>-->
                    <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'verbal-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('verbal')" ng-model="$scope.vBooks.xPosSmall"></div>
                    <div class="text-center">Verbal</div>
                </div>
                <div class="columns nopadding">
                    <!--<div class="skill-books" id="math-skills-small" ng-style="getBookPos('math')"></div>-->
                    <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'math-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('math')" ng-model="$scope.mBooks.xPosSmall"></div>
                    <div class="text-center">Math</div>
                </div>
                <div class="columns nopadding">
                    <!--<div class="skill-books" id="science-skills-small" ng-style="getBookPos('science')"></div>-->
                    <div class="skill-books" ng-attr-id="{{ !haveManualAsvabTestScores ? 'science-skills-small' : 'manual-score-skills-small' }}" ng-style="getBookPos('science')" ng-model="$scope.sBooks.xPosSmall"></div>
                    <div class="text-center">Science/<br /> Tech</div>
                </div>
            </div>
            <!-- View Toggle -->
            <div id="my-results-toggle" class="row small-up-1">
                <div class="columns">
                    <div class="scores-toggle text-center">
                        <a href="" ng-click="toggleScoreView();" ng-hide="!haveManualAsvabTestScores && !verbalScore"><img src="images/toggle-view-icon.png" style="margin-right: 4px;"/>See My Scores</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table display -->
        <div ng-show="showScoresTable" class="mobile-sub-nav clearfix">
            <div id="my-results" class="row small-up-3">
                <div class="columns nopadding">
                    <div id="varbal-score" class="score">{{getScore("verbal")}}</div>
                    <div class="text-center">V</div>
                </div>
                <div class="columns nopadding">
                    <div id="math-score" class="score">{{getScore("math")}}</div>
                    <div class="text-center">M</div>
                </div>
                <div class="columns nopadding">
                    <div id="science-score" class="score">{{getScore("science")}}</div>
                    <div class="text-center">S&T</div>
                </div>
            </div>
            <!-- View Toggle -->
            <div id="my-results-toggle" class="row small-up-1">
                <div class="columns">
                    <div class="scores-toggle text-center">
                        <a href="" ng-click="toggleScoreView();"><img src="images/toggle-view-icon.png" style="margin-right: 4px;"/>See My Strengths</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="menu vertical" ng-hide="!haveManualAsvabTestScores && !verbalScore">
            <li ng-if="!haveManualAsvabTestScores"><a href="my-asvab-summary-results" ng-class="{disabled: returnResultsDisabled() }">See ASVAB Results</a></li>
            <li ng-if="haveManualAsvabTestScores"><a href="my-asvab-summary-results-manual" ng-class="{disabled: returnManualResultsDisabled() }">See ASVAB Results</a></li>
        </ul>
    </div>
    <div class="graybgleftbox">
        <div ng-hide="!interestCodeOne">
            <h5 id="my-codes-label" class="mobile-sub-nav text-center">
                My Top Interests
                <a class="explain alt" ng-controller="LeftNavigationController" ng-click="interestCodesInfo()"></a>
            </h5>
            <ul id="my-codes" class="menu">
                <li ng-if="interestCodeOne == 'C'" class="code-c"><a href="">C</a></li>
                <li ng-if="interestCodeOne == 'R'" class="code-r"><a href="">R</a></li>
                <li ng-if="interestCodeOne == 'I'" class="code-i"><a href="">I</a></li>
                <li ng-if="interestCodeOne == 'A'" class="code-a"><a href="">A</a></li>
                <li ng-if="interestCodeOne == 'S'" class="code-s"><a href="">S</a></li>
                <li ng-if="interestCodeOne == 'E'" class="code-e"><a href="">E</a></li>

                <li ng-if="interestCodeTwo == 'C'" class="code-c"><a href="">C</a></li>
                <li ng-if="interestCodeTwo == 'R'" class="code-r"><a href="">R</a></li>
                <li ng-if="interestCodeTwo == 'I'" class="code-i"><a href="">I</a></li>
                <li ng-if="interestCodeTwo == 'A'" class="code-a"><a href="">A</a></li>
                <li ng-if="interestCodeTwo == 'S'" class="code-s"><a href="">S</a></li>
                <li ng-if="interestCodeTwo == 'E'" class="code-e"><a href="">E</a></li>

                <li ng-if="interestCodeThree == 'C'" class="code-c"><a href="">C</a></li>
                <li ng-if="interestCodeThree == 'R'" class="code-r"><a href="">R</a></li>
                <li ng-if="interestCodeThree == 'I'" class="code-i"><a href="">I</a></li>
                <li ng-if="interestCodeThree == 'A'" class="code-a"><a href="">A</a></li>
                <li ng-if="interestCodeThree == 'S'" class="code-s"><a href="">S</a></li>
                <li ng-if="interestCodeThree == 'E'" class="code-e"><a href="">E</a></li>
            </ul>
        </div>
    </div>
</div>