<div ng-if="isUserLoggedIn" class="hearts">
	<span style="cursor:pointer" ng-show="isFavorited(o.onetSoc)" ng-click="removeFromFavorites(o.onetSoc)" class="icon heart-add selected"></span>
	<span style="cursor:pointer" ng-show="!isFavorited(o.onetSoc)" ng-click="addToFavorites(o.onetSoc, o.occupationTitle)" class="icon heart-add"></span>
</div>