<div class="row">
	<div id="disclaimer" class="medium-12 columns">
		<p>Occupational details for all careers listed in the OCCU-Find were derived from <a href="https://www.onetcenter.org/db_releases.html" target="_blank">O*NET {{onetVersion.value}} database</a> and the <a href="https://www.doleta.gov/" target="_blank">U.S. Department of Labor, Employment and Training Administration</a> in accordance with the content <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">license</a>. These details are complemented by relevant labor market information provided by <a href="http://bls.gov/" target="_blank">Bureau of Labor Statistics</a>, <a href="http://nces.ed.gov/" target="_blank">National Center of Education Statistics</a>, <a href="http://www.careeronestop.org/" target="_blank">CareerOneStop</a>, and Defense Manpower Data Center. Contact any business, college or Military Service directly for more details.</p>
	</div>
</div>