<div class="hearts">
	<span ng-if="isFavorited(unitId)"  ng-click="removeFromFavorites(unitId)" class="occufind-favorite"><i class="show-for-small-only fa fa-times-circle" style="font-size:20px;"></i><span><span class="show-for-medium">Remove from</span> favorites</span><span class="icon heart-add selected show-for-medium"></span></span>
	<span ng-if="!isFavorited(unitId)"  ng-click="addFavorite()" class="occufind-favorite"><i class="show-for-small-only fa fa-plus-circle" style="font-size:20px;"></i><span><span class="show-for-medium">Add to</span> favorites</span><span class="icon heart-add show-for-medium"></span></span> 
</div>