<div class="modal-header">
	<h3>{{modalOptions.headerText}}</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">
<div align="center"><i ng-if="modalOptions.headerText == 'Error'" class="glyphicon glyphicon-warning-sign fa-3x" style="padding-bottom: 40px; color:#cc0000;"></i></div>
	<p>
	<span ng-hide="modalOptions.headerText == 'Error'" ng-bind-html="modalOptions.bodyText"></span>
	<span ng-show="modalOptions.headerText == 'Error'">{{modalOptions.bodyText}}</span></p>
</div>

<div class="modal-footer" ng-controller="LogOutController">
  <button class="button" type="button" data-ng-click="modalOptions.continue()">Continue</button>
	<button class="button" type="button" data-ng-click="modalOptions.logout(); logout()">Logout</button>
</div> 