<div id="new-more-detail">
  <div class="modal-header ng-scope">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">x</span></button>
    <h3 class="modal-title"><b>Strategies for Taking the P&P ASVAB</b></h3>
  </div>
  <div class="modal-body ng-scope">
    <div>
      <ul>
        <li>
          Don't get hung up trying to answer questions you don't know - answer the questions you do know and return later to the ones you skipped.
        </li>
        <li>
          Answer every question. If you run out of time, it is to your advantage to fill in random guesses for the remaining items, as there is no penalty for guessing.
        </li>
        <li>
          Make sure you select only one response per item on your answer sheet, and erase completely if you change your answer.
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer ng-scope">
    <button class="button" type="button" ng-click="modalOptions.close()">OK</button>
  </div>
</div>