<div class="modal-header">
	<h3>{{modalOptions.headerText}}</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">
	<div align="center">
		<video id="video" width="100%" height="100%" controls>
			<source ng-src="{{videoURL}}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		
		<p id="show" style="position: absolute;">Loading</p>
		<div ng-if="loadingIndicator"><h1><i class='fa fa-cog fa-spin fa-2x' style='color: #2f2a6a;;'></i></h1></div>
	</div>
</div>

<div class="modal-footer">
	<button class="button" type="button" data-ng-click="modalOptions.close()">Close</button>
</div> 