<div class="modal-body view-detail">
  <div class="popup-details" ng-controller="ViewDetailController">
    <p>This feature can only be accessed by users who have an account.</p>
    <a class="button" ng-click="modalOptions.close(); goToLogin()">LOGIN</a>
    <p>Don't have an account?</p>
    <a class="button" ng-click="goToBringToSchool(); modalOptions.close()">BRING THE ASVAB CEP TO YOUR SCHOOL</a>
  </div>
  <button class="close-button" aria-label="Close modal" type="button" ng-click="modalOptions.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>