<div class="modal-header">
	<h3>{{modalOptions.headerText}}</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">
	<div align="center">
		<div class="yt-m-wrapper">
					<div class="yt-m-h_iframe">
						<iframe width="100%" height="100%" src="{{videoURL}}" frameborder="0" allowfullscreen></iframe>
					</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="button" type="button" data-ng-click="modalOptions.close()">Close</button>
</div> 