<div class="modal-header">
	<!-- <div class="small-12 columns" align="right">
		<button class="button" type="button" data-ng-click="modalOptions.close()">Close</button>
	</div> -->
	<h3 class="modal-title">Work Values: Situational Judgment
		Activity</h3>
</div>

<div class="modal-body">


	<p>Instructions: Your responses did not show enough variance for
		this activity to determine all of your top three work values. Please
		complete the activity again.</p>
	<p>
		<b>Tips for retaking the Situational Judgment Activity:</b>
	</p>
	<ul>
		<li>Read each item carefully before responding.</li>
		<li>Make sure that your responses accurately reflect your work
			values.</li>
		<li>Think about experiences in your life and how they made you
			feel. Relate that to your response for each item.</li>
		<li>Keep in mind that you are not selecting an occupation. You
			are selecting aspects of work that are important to you.</li>
	</ul>

</div>

<div class="modal-footer">
	<button class="button" type="button"
		data-ng-click="modalOptions.retakeTest()"
		data-ng-disabled="modalOptions.isDisabled">RETAKE</button>
</div>
