<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div id="fyi" class="occufind">
	<div ng-include="'cep/page-partials/header.html'"
		ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<h2 data-step="1" class="caps">Work Values</h2>
			</div>
		</div>

	</section>

	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'"
					ng-controller="LeftNavigationController"></div>
			</div>

			<section id="main-content" class="medium-10 columns" role="main">
				<div class="row">
					<div class="medium-12 columns">
						<h2>Work Values: Situational Judgment Activity</h2>

						<br />

						<p><b>Instructions:</b> In this activity, 16 realistic scenarios are presented
                            to help you determine the aspects of work that are important to
                            you. If you are unfamiliar with the scenario, that is ok.
                            Respond based on what you think you might prefer. There is NO
                            right or wrong response. You may select only one response.</p>
                        <p>Then you can explore careers that align with your top work values in the OCCU-Find.</p>
						<h3 style="text-transform: none;font-size: 14px;padding: 5px 10px;">The results of this activity will rank the six work values in order of importance based on your responses.  </h3>
                        
                        <div id="wv-intro-grid">
                            <div><img src="images/wv-Achievement.png"><strong>Achievement</strong></div>
                            <div><img src="images/wv-Independence.png"><strong>Independence</strong></div>
                            <div><img src="images/wv-Recognition.png"><strong>Recognition</strong></div>
                            <div><img src="images/wv-Relationships.png"><strong>Relationships</strong></div>
                            <div><img src="images/wv-Support.png"><strong>Support</strong></div>
                            <div><img src="images/wv-Working-Conditions.png"><strong>Working Conditions</strong></div>
                        </div>
					</div>

				</div>



				<p>&nbsp;</p>
				<p align="center">
					<br />
					<a class="button" href="work-values-test">Let's Get
						started</a>
				</p>

			</section>

		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'"
			ng-controller="LeftNavigationController"></div>
	</section>

	<div ng-include="'cep/page-partials/footer.html'"
		ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'"
		ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>