<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div id="fyi" class="occufind">
	<div ng-include="'cep/page-partials/header.html'"
		ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<h2 data-step="1" class="caps">Work Values</h2>
			</div>
		</div>

	</section>

	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'"
					ng-controller="LeftNavigationController"></div>
			</div>

			<section id="main-content" class="medium-10 columns wv-test" role="main">
				<div class="row">
					<div class="medium-12 columns">

						<p>Consider each situation carefully and select your preferred
							response for each situation.</p>
						<br /> <span>Progress 
						<uib-progressbar
							animate="false" value="progressPercentage | number: 0"
							type="success">
						</uib-progressbar></span>

						<hr>

						<div ng-repeat="testData in testData">
							<div ng-if="$index == activeQuestion">
								<p>{{testData.stem}}</p>
								<ul class="wv-questions">
									<li ng-repeat="options in testData.options"><input
										type="radio" name="itemID_{{testData.itemId}}"
										ng-click="testData.answer = options" ng-checked="testData.answer.optionId == options.optionId">{{options.stem}}</li>
										<!-- <li ng-repeat="options in testData.options"><input
										type="radio" name="itemID_{{testData.itemId}}"
										ng-value="options" ng-model="testData.answer">{{options.stem}}{{testData.answer.optionId}} == {{options.optionId}}</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
                
				<div class="wv-test-nav" style="margin-bottom: 20px">
                    <a class="button" ng-if="activeQuestion > 0" ng-click="previousQuestion()">Previous</a> 
                    <span>Click NEXT to proceed.</span>
				    <a class="button" ng-click="nextQuestion()" ng-disabled="isDisabled">Next</a>
                </div>


			</section>

		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'"
			ng-controller="LeftNavigationController"></div>
	</section>

	<div ng-include="'cep/page-partials/footer.html'"
		ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'"
		ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>