<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div id="fyi" class="occufind">
	<div ng-include="'cep/page-partials/header.html'"
		ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<h2 data-step="1" class="caps">Work Values</h2>
			</div>
		</div>

	</section>

	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'"
					ng-controller="LeftNavigationController"></div>
			</div>

			<section id="main-content" class="medium-10 columns" role="main">
				<div class="row" ng-if="!tiedSelectionCompleted">
					<div class="medium-12 columns">

						<h2>Your work values are tied in some areas</h2>
						<p>Two or more of your work values ranked the same.</p>
						<p class="wv-tiedIntro">
							<b>Which sounds most like you?</b> Select one of the {{tiedNumText()}} tied
							values.
						</p>
						<div ng-repeat="t in tiedScores">
							<div ng-if="$index == 0">
								<ul class="wv-resultsTable">
									<li ng-repeat="tiedSelections in t">
										<input type="radio"
										name="tiedScores" ng-value="$index"
										ng-model="$parent.$parent.$parent.$parent.tieSelectionIndex">
                                        <strong>{{tiedSelections.TypeId
										== 1 ? 'Achievement': tiedSelections.TypeId == 2 ?
										'Independence' : tiedSelections.TypeId == 3 ? 'Recognition' :
										tiedSelections.TypeId == 4 ? 'Relationships' :
										tiedSelections.TypeId == 5 ? 'Support' : 'Working
										Conditions'}}</strong>
                                        <img src="images/wv-Achievement.png" ng-if="tiedSelections.TypeId == 1">
					                    <img src="images/wv-Independence.png" ng-if="tiedSelections.TypeId == 2">
					                    <img src="images/wv-Recognition.png" ng-if="tiedSelections.TypeId == 3">
					                    <img src="images/wv-Relationships.png" ng-if="tiedSelections.TypeId == 4">
					                    <img src="images/wv-Support.png" ng-if="tiedSelections.TypeId == 5">
					                    <img src="images/wv-Working-Conditions.png" ng-if="tiedSelections.TypeId == 6">
                                        <span ng-if="tiedSelections.TypeId == 1">Workers who score high on
											Achievement are results-oriented. These workers often pursue
											jobs where employees are able to apply their strengths and
											abilities. This gives the employee a sense of accomplishment. </span>
										<span ng-if="tiedSelections.TypeId == 2">Workers who score high on
											Independence value the ability to approach work activities with
											creativity. These workers want to make their own decisions and
											plan their work with little supervision from a manager. </span>
										<span ng-if="tiedSelections.TypeId == 3">Workers who score high on
											Recognition pursue jobs with opportunities for advancement and
											leadership responsibilities that allow them to give direction
											and instruction to others. These workers are often considered
											prestigious by their peers and others in their organization and
											receive recognition for the work they contribute. </span> <span
										ng-if="tiedSelections.TypeId == 4">Workers who score high on
											Relationships prefer jobs that provide services to others and
											working with co-workers in a friendly, non-competitive
											environment. Workers in these jobs value getting along well
											with others and do not like to be pressured to do things that
											go against their morals or sense of what is right and wrong. </span>
										<span ng-if="tiedSelections.TypeId == 5">Workers who score high on
											Support appreciate when their company's leadership stands
											behind and supports their employees. People in these types of
											jobs like to feel like they are being treated fairly by the
											company and have supervisors who spend time and effort training
											their workers to perform well. </span> <span
										ng-if="tiedSelections.TypeId == 6">Workers who score high on Working
											Conditions value job security and pleasant working conditions.
											These workers enjoy being busy and want to be paid well for the
											work they do. They enjoy developing ways of doing things with
											little or no supervision and depend on themselves to get the
											work done. These workers pursue steady employment that offers
											something different to do on a daily basis. </span>
                                    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" ng-if="postError">
					<div class="medium-12 columns">

						<p>A system error has occurred. Click the submit button to try again. If error persist, please contact help desk.
					</div>
				</div>
				<div class="wv-tiedButton" ng-if="!tiedSelectionCompleted">
                    <a class="button" ng-click="selectTieScore()" ng-disabled="tieSelectionIndex === undefined">Submit</a>            
                </div>
                <div class="wv-tiedButton" ng-if="postError">
                    <a class="button" ng-click="postWorkValues()" ng-disabled="isDisabled">Submit</a>            
                </div>

			</section>

		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'"
			ng-controller="LeftNavigationController"></div>
	</section>

	<div ng-include="'cep/page-partials/footer.html'"
		ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'"
		ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>