
<style>
	/*If viewing on mobile, then remove the padding*/
	@media screen and (max-width: 767px) {
		body { padding-top: 0; }
	}
</style>

<div id="passwor-reset">
	<header>
		<div class="title-bar" data-responsive-toggle="main-menu"
			data-hide-for="medium">
			<div class="title-bar-title">
				<a href="./"><img src="images/logo-mobile.png" alt="ASVAB logo"></a>
			</div>
		</div>

		<section class="hide-for-small-only" id="banner">
			<div class="row"></div>
		</section>

	</header>
	<section id="content-wrap">
		<div class="modal-body center">
			<h3>UPDATE YOUR ACCOUNT</h3>
			Please update your password for your Career Exploration Program
			account.
			<form role="form">
				<input id="resetKey" type="hidden" placeholder="rest Key" ng-model="restCredentials.resetId" />
				<div class="row">
					<div class="col-sm-12 col-md-offset-4 col-md-4">
						<p style="color:red;">{{registrationLabel}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-offset-4 col-md-4">
						<label for="registerEmail" class="sr-only">Email</label>
						<input type="email" class="form-control" id="registerEmail"	placeholder="Email" ng-model="restCredentials.username" ng-change="clearRegistrationLabel()" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-offset-4 col-md-4">
						<label for="Password1" class="sr-only">New Password</label>
						<input type="password" class="form-control" id="Password1" placeholder="Password" ng-model="restCredentials.Password1" ng-change="clearRegistrationLabel()" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-offset-4 col-md-4">
						<label for="Password2" class="sr-only">Type Password</label>
						<input type="password" class="form-control" id="Password2" placeholder="Retype Password" ng-model="restCredentials.Password2" ng-change="clearRegistrationLabel()" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-offset-4 col-md-4 text-center">
						<button class="btn button" ng-click="ResetPassword()">Reset	Password</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<footer id="footer">
		<div class="row">
			<div class="medium-7 columns">
				<div class="row">
					<div class="medium-5 large-offset-2 columns text-center">
						<img src="images/logo-footer.png" alt="ASVAB logo">
					</div>
					<div class="medium-5 columns text-right">
						<p class="sponsor">The ASVAB Career Exploration Program is
							sponsored by the Department of Defense</p>
					</div>
				</div>
			</div>
			<div class="medium-7 columns">
				<ul id="footer-menu" class="menu right-align no-margin-right">
					<li><a href="">Home</a></li>
					<li><a href="">Help</a></li>
					<li><a href="">Link to Us</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>

