<!-- <div id="fyi-results" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;"> -->
	<div id="cep-scores">
		<div class="modal-header ng-scope">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
			<h3 class="modal-title">Your Scores</h3>
		</div>

		<!-- EInitial Display -->
		<div ng-hide="enter || retrieve">
			<div class="modal-body ng-scope">
				<div class="row">
					<br/><br/>
					<div class="medium-12 columns"><h3>Choose How You Enter Your Scores</h3></div>
					<div class="medium-5 columns">
						<a href="" class="button" ng-click="displayOptions('enter')">Enter Your CEP Scores Manually</a>
						<p>You will need to enter the scores from your latest ASVAB test.</p>
						<a href="" class="button" ng-click="displayOptions('retrieve')">Check for my full ASVAB results</a>
						<p>You will need to enter the access code from your latest ASVAB test. If scores are available, you will get all the results that are shown on your printout.</p>
					</div>
					<div class="medium-7 columns">
						<img src="images/asvab-poster.png">
					</div>
				</div>
			</div>
			<div class="modal-footer ng-scope">
				<button class="button" type="button" ng-click="modalOptions.close()">cancel</button>
			</div>
		</div>

		<!-- Enter Scores -->
		<div ng-hide="!enter">
			<form name ="manualForm">
			<div class="modal-body ng-scope">
				<div class="row">
					<br/><br/>
					<div class="medium-12 columns"><h3>Enter Results From Your ASVAB Summary Results Printout</h3></div>
					<div class="medium-5 columns">
						<h4><strong>Standard Scores</strong></h4>
						<div class="cep-score input-group">
							<input type="number" class="form-control" min="0" max="100" step="1" ng-model="asvabScore.verbalScore" required>
							<label>Verbal Skills</label>
						</div>
						<div class="cep-score input-group">
							<input type="number" class="form-control" min="0" max="100" step="1" ng-model="asvabScore.mathScore" required>
							<label>Math Skills</label>

						</div>
						<div class="cep-score input-group">
							<input type="number" class="form-control" min="0" max="100" step="1" ng-model="asvabScore.scienceScore" required>
							<label>Science/Technical</label>
						</div>
						<div class="cep-score input-group">
							<input type="number" class="form-control" min="0" max="100" step="1" ng-model="asvabScore.grade" required>
							<label>Grade</label>
						</div>
						<div id="gender">
							<label>Gender:<div style="color: red">{{genderValidate}}</div></label> 
							<select ng-model="asvabScore.gender" required>
								<option value="">---Select Gender---</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
						</div> 
						<div class="input-group">
							<label>Location of test (optional)</label>
							<input type="text" class="form-control" ng-model="asvabScore.testLocation">
						</div>
						<div class="input-group">
							<label>Date of test (optional)</label>
							<div class="row">
								<div class="small-4 columns">
									<input class="cep-date" type="number" class="form-control" min="0" max="12" step="1" ng-model="asvabScore.testMonth" placeholder="MM">
								</div>
								<div class="small-4 columns">
									<input class="cep-date" type="number" class="form-control" min="0" max="31" step="1" ng-model="asvabScore.testDay" placeholder="DD">
								</div>
								<div class="small-4 columns">
									<input class="cep-date" type="number" class="form-control" min="1000" max="9999" step="1" ng-model="asvabScore.testYear" placeholder="YYYY">
								</div>
							</div>
						</div>
					</div>
					<div class="medium-7 columns">
						<p>Find the scores on your printout (highlighted in orange)</p>
						<img src="images/asvab-poster-scores-hilite.png">
					</div>
				</div>
			</div>
			<div class="modal-footer ng-scope text-left">
				<a href="" ng-click="modalOptions.close()" style="margin-right: 20px">cancel</a>
				<button type="button" class="button" ng-click="modalOptions.submitAsvabScores(asvabScore)">Save</button>
			</div>
			</form>
		</div>

		<!-- Retrieve Scores -->
		<div ng-hide="!retrieve">
			<form>
			<div class="modal-body ng-scope">
				<div class="row">
					<br/><br/>
					<div class="medium-12 columns"><h3>Retrieve ASVAB CEP Scores</h3></div>
					<div class="medium-5 columns">
						<p>Enter access code to retrieve ASVAB CEP scores.</p>
						<div class="access-code input-group">
							<input ng-model="accessCode" id="access-code" type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Access Code">
						</div>
						<p>Note: When ASVAB CEP scores are retrieved from the database, any manually entered scores will be replaced.</p>
					</div>
					<div class="medium-7 columns">
						<p>Find the access code on your printout (highlighted in orange)</p>
						<img src="images/asvab-poster-code-hilite.png">
					</div>
				</div>
			</div>

			<div class="modal-footer ng-scope text-left">
				<!--<a href="" ng-click="displayOptions('initial')" style="margin-right: 20px">cancel</a>-->
				<a href="" ng-click="modalOptions.close()" style="margin-right: 20px">cancel</a>
				<button class="button" type="button" ng-click="modalOptions.getDmdcScore()">Check for and retrieve scores</button>
			</div>
			</form>
		</div>
	</div>
<!-- </div> -->

<!-- TODO add styles to app.css -->
<style type="text/css">
	#cep-scores .cep-score input {
		width: 60px;
		margin-right: 10px;
	}
	#cep-scores .access-code input {
		width: 220px;
		margin-right: 10px;
	}
	#cep-scores .cep-date {
		width: 80px;
		margin-right: 10px;
	}
</style>