<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Activity</h3>
</div>

<div class="modal-body">

	<div class="row" >
		<div class="medium-12 columns">
			<h3>{{title}}</h3>
			<p ng-bind-html="text">{{text}}</p>
		</div>
	</div>
</div>

<div class="modal-footer">
	<a class="button" target="_blank" href="{{documents}}{{link}}" ng-controller="GA" ng-click="trackClick(link);"><img alt="" src="images/icon-pdf.png">Print Activity</a>
	<button class="button" type="button" data-ng-click="modalOptions.close()">Close</button>
</div> 