<div ng-if="isLoggedIn" id="fyi" class="occufind" ng-style="myStyle">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="3" class="caps">Activities &amp; Tools</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap" ng-controller="ClassroomModalController">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>

			<div>
				<section id="main-content" class="medium-10 columns" role="main">
					<!-- Title -->
					<div class="row">
						<div class="medium-12 columns">
							<h2>Classroom Activities</h2>
							<p>Integrate career exploration into any curriculum. Connect your classroom to the real world.</p>
						</div>
					</div>
					<!-- Category select box -->
					<div class="row">
						<div class="medium-12 columns">
							<div class="filter-category">
								<p class="category-title">Filter by category</p>
								<select name="categorySelect" id="categorySelect"	ng-model="activeCategory.categoryId" 
									ng-change="onCategoryChange(activeCategory.categoryId)"
								>
									<option value="">Select</option>
									<option ng-repeat="category in activityCategories" ng-value="category.id">
										{{category.title}}
									</option>
								</select>
							</div>
						</div>
					</div>
					<!-- Activities - Category item -->
					<div class="row d-flex flex-wrap">
						<div ng-repeat="activity in classroomActivitiesFiltered" class="medium-4 columns category-wrapper">
							<div class="category-item">
								<h3>{{activity.title}}</h3>
								<p>{{activity.shortDescription}}</p>
								<div>
									<a class="btn classroom-student" ng-click="showModal(activity, modalSelector);" ng-style="myStyle"><i class="fa fa-list-ul"></i>Details <span ng-if="isLoadingPopup" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>

	<!-- classroom activities student - Modal 1 -->
	<div role="dialog" id="ActivityModal1" class="classroom-student-modal modal fade classroom_career_tree" animate="animate" modal-animation="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">×</span></button>
				<h3 class="modal-title">Classroom Activity</h3>
				</div>
				<div class="modal-body">
					<div>
						<h3>{{selectedActivity.title}}</h3>
						<p><b>Activity Description:</b></p>
						<span ng-bind-html="selectedActivity.longDescriptionHtml" class="list-style-disc"></span>
						<ul class="pdf_icon_list">
							<li><a ng-click='showActivity(studentActivity)'><img src="images/pdf_small_icon.png" alt="pdf icon"/>Download Activity</a></li>
						</ul>
					</div>
				</div>
				<div class="modal-footer text-center">
					<div class="small-12 columns">
						<button class="button" style="padding: 5px;" type="button">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- classroom_activities_counselor - Modal 2 -->
	<div id="ActivityModal2" class="classroom-counselor-modal modal fade ng-isolate-scope asvab-modal classroom_career_tree" animate="animate" modal-animation="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">×</span></button>
				<h3 class="modal-title">Classroom Activity</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="medium-8 columns">
							<div>
								<h3>{{selectedActivity.title}}</h3>
								<p><b>Activity Description:</b></p>
								<span ng-bind-html="selectedActivity.longDescriptionHtml" class="list-style-disc"></span>
								<ul class="pdf_icon_list">
									<li><a ng-click='showActivity(teacherGuide)'><img src="images/pdf_small_icon.png" alt="pdf icon"/>Teachers Guide</a></li>
									<li><a ng-click='showActivity(studentActivity)'><img src="images/pdf_small_icon.png" alt="pdf icon"/>Student Activity</a></li>
								</ul>
							</div>
						</div>
						<div class="medium-4 columns">
							<p><b>Alignment to Standards:</b></p>
							<ul class="standards_list" style="list-style: none;margin: 0px;">
								<li ng-repeat="standard in selectedActivity.standards">
									<a target="_blank" href="{{standard.url}}">{{standard.title}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer text-center">
					<div class="small-12 columns">
						<button class="button" style="padding: 5px;" type="button">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040; display: none;"></div>

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>