<div id="myasvab" class="occufind">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p>MY ASVAB CEP</p>
			</div>
		</div>
		
	</section>
	
	<section id="dashboard">
		<div class="row">
			<div class="col-md-12 text-right">
				<div class="edit-account">
					<div ng-if="userName">
						<span>Welcome, {{userName}} |</span>
						<button class="btn btn-link" ng-click="editAccount()">edit account</button>
					</div>
				</div>
			</div>
		</div>
	<!-- Score/Interest Code Sectoion -->
		<!-- Enter Scores display full width (no interest codes, no actual scores, no entered scores)-->
		<div class="row" style="margin-top: 25px" ng-if="showInitial">
			<div class="small-12 columns">
				<p class="dashSubHead">My ASVAB Results </p>
				<p><strong>You have taken the ASVAB CEP. Let's get started.</strong></p>
				<button class="button" type="button" ng-click="cepManualInput()">Enter Your Scores</button>
			</div>
		</div>
		
		<!-- With Scores or Interest Codes display -->
		<div class="row" style="margin-top: 25px" ng-if="!showInitial">

		<!-- Hide normal view if user has teacher role. -->
		<div ng-hide="userRole == 'E' || userRole == 'D'">
		
			<!-- Enter Manual Scores Display Area (no actual scores, no entered scores)-->
			<div ng-if="!haveAsvabTestScores && !haveManualAsvabTestScores" ng-class="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
				<p class="dashSubHead">My ASVAB Results </p>
				<p><strong>You have taken the ASVAB CEP. Let's get started.</strong></p>
				<button class="button" type="button" ng-click="cepManualInput()">Enter Your Scores</button>
			</div>
		
			<!-- Score Display Area -->
			<div ng-if="haveAsvabTestScores || haveManualAsvabTestScores" ng-class="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
				<p class="dashSubHead">
					<span>My ASVAB Strengths</span>
					<span class="float-right">
						<a ng-if="haveAsvabTestScores && getScore('verbal') && getScore('math') && getScore('science')"
							href="my-asvab-summary-results">See ASVAB Results</a>
						<a ng-if="!haveAsvabTestScores" href="my-asvab-summary-results-manual">See ASVAB Results</a>
					</span>
				</p>

				<!-- Score Books display -->
				<span ng-show="!showScoresTable">
					<div id="my-results" class="row small-up-4">
						<div class="columns">
							<!--<div class="skill-books" id="verbal-skills" ng-style="getBookPos('verbal')"></div>-->
							<div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" ng-style="getBookPos('verbal')" ng-model="$scope.vBooks.xPos"></div>
							<div>Verbal</div>
						</div>
						<div class="columns">
							<!--<div class="skill-books" id="math-skills" ng-style="getBookPos('math')"></div>-->
							<div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" ng-style="getBookPos('math')" ng-model="$scope.mBooks.xPos"></div>
							<div>Math</div>
						</div>
						<div class="columns">
							<!--<div class="skill-books" id="science-skills" ng-style="getBookPos('science')"></div>-->
							<div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" ng-style="getBookPos('science')" ng-model="$scope.sBooks.xPos"></div>
                            <div class="show-for-large"><span>Science/Technical</span></div>
                            <div class="hide-for-large"><span>Science/</br>Technical</span></div>
						</div>
						<!-- View Toggle -->
						<div class="columns">
							<div class="scores-toggle" id="">
								<a href="" ng-click="toggleScoreView();"><img src="images/toggle-view-icon.png" alt=""/><br />See My Scores</a>
							</div>
						</div>
					</div>
					<div class="rows">
						<br>
						<div class="text-left" style="margin-left: 7%"><b>Your top strength will have the most books</b></div>
					</div>
				</span>

				<!-- Score Table display -->
				<span ng-show="showScoresTable">
					<table id="my-results-table" class="table table-striped">
						<tbody>
						<tr>
							<td id="varbal-score">{{getScore("verbal")}}</td>
							<td id="math-score">{{getScore("math")}}</td>
							<td id="science-score">{{getScore("science")}}</td>
							<td rowspan="3" class="scores-toggle" style="background-color:#f2f2f2;"><a href="" ng-click="toggleScoreView();"><img src="images/toggle-view-icon.png" alt=""/><br />See My Strengths</a></td>
						</tr>
						<tr>
							<td>V</td>
							<td>M</td>
							<td>S/T</td>
						</tr>
						<!-- AFQT not displayed for manual entered scores -->
						<tr ng-if="haveAsvabTestScores">
							<td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
						</tr>
						</tbody>
					</table>
				</span>
			</div>
			<!-- END Score Display Area -->
			
			</div>
			
			<!-- View for teacher demo only score summary -->
			<div ng-show="userRole == 'E' || userRole == 'D'" ng-if="haveAsvabTestScores || haveManualAsvabTestScores" ng-class="interestCodeOne != undefined ? 'medium-6 columns' : 'medium-12 columns'">
                	<span class="border-title">Sample Strengths <a id="see_result" class="flyout_step_4 teacher_demo" href="my-asvab-summary-results">See Sample Results</a></span>
                    <div class="bookbox-main" ng-show="!showScoresTable">
                    	<div class="row  bookbox-sub">
                            <div class="medium-4 columns mb15">
                                <div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'verbal-skills' : 'manual-score-skills' }}" ng-style="getBookPos('verbal')" ng-model="$scope.vBooks.xPos"></div>
                                <span id="skill_strength" class="flyout_step_3 teacher_demo">Verbal</span>
                            </div>
                            <div class="medium-4 columns mb15">
                                <div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'math-skills' : 'manual-score-skills' }}" ng-style="getBookPos('math')" ng-model="$scope.mBooks.xPos"></div>
                                <span>Math</span>
                            </div>
                            <div class="medium-4 columns mb15">
                                <div class="skill-books" ng-attr-id="{{ haveAsvabTestScores ? 'science-skills' : 'manual-score-skills' }}" ng-style="getBookPos('science')" ng-model="$scope.sBooks.xPos"></div>
                           		<div class="show-for-large"><span>Science/Technical</span></div>
                           		<div class="hide-for-large"><span>Science</br> /Technical</span></div>
                            </div>
                            <div class="medium-12 columns mb0">
                            	<b>Your top strength will have the most books</b>
                            </div>
                        </div>
                        <a id="sample_score" class="smaplescore flyout_step_2 teacher_demo" ng-click="toggleScoreView();">
                            <img src="images/toggle-view-icon.png" alt="dashbordblue" />
                            <span>See My Score</span>
                        </a>
                    </div>
                    
                    <!-- Score Table display -->
					<span ng-show="showScoresTable">
						<table id="my-results-table" class="table table-striped">
							<tbody>
							<tr>
								<td id="varbal-score">{{getScore("verbal")}}</td>
								<td id="math-score">{{getScore("math")}}</td>
								<td id="science-score">{{getScore("science")}}</td>
								<td rowspan="3" class="scores-toggle" style="background-color:#f2f2f2;"><a href="" ng-click="toggleScoreView();"><img src="images/toggle-view-icon.png" alt=""/><br />See Sample Strengths</a></td>
							</tr>
							<tr>
								<td>V</td>
								<td>M</td>
								<td>S&T</td>
							</tr>
							<!-- AFQT not displayed for manual entered scores -->
							<tr ng-if="haveAsvabTestScores">
								<td colspan="3">AFQT: <span id="afqt-score">{{getScore("afqt")}}</span></td>
							</tr>
							</tbody>
						</table>
					</span>
                </div>
                <!-- View for teacher demo end score summary -->

			<!-- Intrest Code Display Area -->
			<div class="medium-6 columns" ng-if="interestCodeOne != undefined">
			<!--<div class="medium-6 columns">-->
<!-- 
				<p class="dashSubHead">My Interest Codes <a ng-click="interestCodes()" class="occufind-sub-explain"></a></p>
 -->
				<p class="dashSubHead">My Interest Codes <a ng-click="interestCodes()" class="explain"></a></p>
				<ul id="my-codes" class="menu center-align">
				<!--<ul ng-if="interestCodeOne != undefined" id="my-codes" class="menu center-align">-->
					<li ng-if="interestCodeOne == 'C'" class="code-c"><a href="" ng-click="interestCodeInfo('C')">C</a></li>
					<li ng-if="interestCodeOne == 'R'" class="code-r"><a href="" ng-click="interestCodeInfo('R')">R</a></li>
					<li ng-if="interestCodeOne == 'I'" class="code-i"><a href="" ng-click="interestCodeInfo('I')">I</a></li>
					<li ng-if="interestCodeOne == 'A'" class="code-a"><a href="" ng-click="interestCodeInfo('A')">A</a></li>
					<li ng-if="interestCodeOne == 'S'" class="code-s"><a href="" ng-click="interestCodeInfo('S')">S</a></li>
					<li ng-if="interestCodeOne == 'E'" class="code-e"><a href="" ng-click="interestCodeInfo('E')">E</a></li>

					<li ng-if="interestCodeTwo == 'C'" class="code-c"><a href="" ng-click="interestCodeInfo('C')">C</a></li>
					<li ng-if="interestCodeTwo == 'R'" class="code-r"><a href="" ng-click="interestCodeInfo('R')">R</a></li>
					<li ng-if="interestCodeTwo == 'I'" class="code-i"><a href="" ng-click="interestCodeInfo('I')">I</a></li>
					<li ng-if="interestCodeTwo == 'A'" class="code-a"><a href="" ng-click="interestCodeInfo('A')">A</a></li>
					<li ng-if="interestCodeTwo == 'S'" class="code-s"><a href="" ng-click="interestCodeInfo('S')">S</a></li>
					<li ng-if="interestCodeTwo == 'E'" class="code-e"><a href="" ng-click="interestCodeInfo('E')">E</a></li>

					<li ng-if="interestCodeThree == 'C'" class="code-c"><a href="" ng-click="interestCodeInfo('C')">C</a></li>
					<li ng-if="interestCodeThree == 'R'" class="code-r"><a href="" ng-click="interestCodeInfo('R')">R</a></li>
					<li ng-if="interestCodeThree == 'I'" class="code-i"><a href="" ng-click="interestCodeInfo('I')">I</a></li>
					<li ng-if="interestCodeThree == 'A'" class="code-a"><a href="" ng-click="interestCodeInfo('A')">A</a></li>
					<li ng-if="interestCodeThree == 'S'" class="code-s"><a href="" ng-click="interestCodeInfo('S')">S</a></li>
					<li ng-if="interestCodeThree == 'E'" class="code-e"><a href="" ng-click="interestCodeInfo('E')">E</a></li>
					<!-- <li class="tied" ng-if="(scoreChoice == 'gender' && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink.isCombinedScoresTied)" ng-click="tiedLinkClick();">TIED</li>	 -->
				</ul>
				<a ng-if="(scoreChoice == 'gender' && tiedLink.isGenderScoresTied) || (scoreChoice == 'combined' && tiedLink.isCombinedScoresTied)" ng-click="tiedLinkClick();">TIED</a>
			</div>
			<!-- END Intrest Code Display Area -->
			
		</div>
		
		<div id="load-popup" class="flyout_step_1 teacher_demo"></div>

<div class="exploration-section">
	<!-- Exploration Sectoion -->
		<div class="row">
			<div class="small-12 columns">
				<p class="dashSubHead">My Exploration</p>
			</div>
		</div>

    	<div class="row">

    	<!-- STEP 1 -->
       		<div class="medium-4 columns">
          		<h2>
                	<span class="step"><strong>1</strong></span>
                    <span class="caption">Learn</span>
                    <a href="#" id="step1" class="flyout_step_5 teacher_demo"></a>
            	</h2>
            	
                <!-- <p><img src="images/carot.png" alt=""/></p>  -->
                <!-- <span class="tied-link-parent" ng-if="tiedLink && interestCodeOne != undefined"><a class="tied-link-child" ng-click="tiedLinkClick();"><span class="tied-arrow-left"></span>TIED</a></span> -->
                <span ng-if="numberTestTaken != 0 && interestCodeOne == undefined">Return to the FYI results page to choose your score.</span>
                <ul class="menu vertical">
                	<li ng-if="interestCodeOne != undefined || (interestCodeOne == undefined && numberTestTaken != 0)"><a href="find-your-interest-score">Return to FYI results</a></li>
                	<li ng-if="isAbleToReTakeTest()"><a href="find-your-interest">ReTake the FYI <br><span style="font-weight:normal;">(Find Your Interests)</span></a></li>
                	<li ng-if="numberTestTaken == 0"><a href="find-your-interest">Take the FYI <br><span style="font-weight:normal;">(Find Your Interests)</span></a></li>
                	<li ng-if="numberTestTaken == 0"><a href="" ng-click="fyiManualInput()">Enter your FYI results manually</a>
                        
                    </li>
                	<li ng-if="!isWorkValueResults"><a href="work-values-intro">Explore Your Work Values</a></li>
                	<li ng-if="isWorkValueResults">
                        <a href="work-values-test-results">View Your Work Value Results</a>
                        
                        <ul class="wv-status" style="margin-left: 0px">
                            <li ng-repeat="w in workValueTopResults"><img src="images/WV-{{w.TypeId}}.png"><span class="count">{{$index + 1}}</span></li>
                        </ul>
                        
                    </li>
                </ul>
                
            </div>

            <!-- STEP 2 -->
            <div class="medium-4 columns">
            	<h2>
                	<span class="step flyout_step_6 teacher_demo" id="step2"><strong>2</strong></span>
                    <span class="caption">Explore</span>
                </h2>
            	<!-- <p><img src="images/carot.png" alt=""/></p> -->
                <ul class="menu vertical">
                	<li><a href="occufind-occupation-search">Search careers with <br>the OCCU-Find</a></li>
                	<li><a href="favorites">View Favorites</a></li>
                	<li ng-if="noteList.length != 0" ng-controller="NotesController"><a href="" ng-click="showOccufindNotes()">View Notes</a></li>
                </ul>
            </div>

            <!-- STEP 3 -->
            <div class="medium-4 columns">
            	<h2>
                	<span class="step flyout_step_7 teacher_demo" id="step3"><strong>3</strong></span>
                    <span class="caption">Plan</span>
                </h2>
            	<!-- <p><img src="images/carot.png" alt=""/></p> -->
                <ul class="menu vertical">
                	<li><a href="" ng-click="routeToPortfolio()">My Portfolio</a></li>
<!--					<li><a href="{{domainName}}pdf/ASVAB_CEP_Edu_and_Career_Plans.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');"><span style="white-space: nowrap;">My Educational &amp; Career Plans</span></a></li>-->
					<!-- Uncomment to activate new link for My Educational & Career Plans-->
					 <li><a href="education-career-plan"><span style="white-space: nowrap;">My Educational &amp; Career Plans</span></a></li>
					<li><a href="{{domainName}}pdf/ASVAB_CEP_Coursework_Planner.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Coursework_Planner.pdf');"><span style="white-space: nowrap;">My Coursework Planner</span></a></li>
					<li><a href="classroom-activities" id="classroom_activities" class="flyout_step_8 teacher_demo">
						<!-- <span class="new">New</span> -->
						 Classroom activities</a></li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    
    <section id="content-wrap" class="clearfix">
		  <div id="main-content" role="main">
				<div class="row">
					<div class="medium-6 columns">
						<h2>Stem Careers</h2>
                        <p>Innovations in the STEM fields: science, technology, engineering or mathematics - are viewed as an indicator of our nation's ability to sustain itself. Occupations that appear on this list require education in STEM disciplines.</p>
                        <p><strong>Sample STEM Careers</strong> <a ng-click="interestCodes()" class="explain"></a></p>
                        	<ul class="shaded" ng-if="interestCodeOne == undefined">
							<li><a ng-click="selectedOccupation('49-3011.00')">Aircraft Mechanics and Service Technicians</a><span class="codes"><i class="code-r"></i><i class="code-c"></i><i class="code-i"></i></span></li>
							<li><a ng-click="selectedOccupation('15-1122.00')">Information Security Analysts</a><span class="codes"><i class="code-c"></i><i class="code-i"></i><i class="code-r"></i></li>
							<li><a ng-click="selectedOccupation('11-3051.03')">Biofuels Production Managers</a><span class="codes"><i class="code-e"></i><i class="code-c"></i><i class="code-r"></i></li>
							<li><a ng-click="selectedOccupation('19-2041.01')">Climate Change Analysts</a><span class="codes"><i class="code-i"></i><i class="code-e"></i><i class="code-c"></i></li>
							<li><a ng-click="selectedOccupation('17-3029.02')">Electrical Engineering Technologists</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></li>
							<li><a ng-click="selectedOccupation('17-2199.09')">Nanosystems Engineers</a><span class="codes"><i class="code-i"></i><i class="code-r"></i><i class="code-e"></i></li>
						</ul>
						
						<ul class="shaded" ng-if="interestCodeOne != undefined">
							<li ng-repeat="b in stemCareers | limitTo : 4"><table style="margin: 0px;"><tr><td width="350px" style="background: #f2f2f2; margin: 0px; padding: 0px;"><a ng-click="selectedOccupation(b.onetSoc)">{{b.occupationTitle}}</a></td>
							<td width="100" style="background: #f2f2f2;" class="text-right">
 										
 										<i ng-if="b.interestCdOne == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdOne == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdOne == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdOne == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdOne == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="b.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="b.interestCdThree == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdThree == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdThree == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdThree == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdThree == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdThree == 'C'" class="code-c"></i>
	                                    </td></tr></table></li>
						</ul>
                        <p><a class="caps" href="green-stem-bright/stem">View complete list</a></p>
					</div>
					<div class="medium-6 columns">
						<h2>Bright Outlook</h2>
						<p>Occupations categorized as Bright Outlook are projected to have 100,000+ job openings, experience rapid growth (14%+) between {{onetYearUpdated.value}}-{{(onetYearUpdated.value-0) + 10}}, and/or represent new occupations in a high growth industry as reported by O*NET OnLine.</p>

						<p><strong>Sample Bright Outlook Careers</strong><a ng-click="interestCodes()" class="explain"></a></p>
						
						<ul class="shaded" ng-if="interestCodeOne == undefined">
							<li><a ng-click="selectedOccupation('17-1021.00')">Cartographers and Photogrammetrists</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></span></li>
							<li><a ng-click="selectedOccupation('49-3023.02')">Automotive Specialty Technicians</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-c"></i></li>
							<li><a ng-click="selectedOccupation('13-1071.00')">Human Resources Specialists</a><span class="codes"><i class="code-e"></i><i class="code-c"></i><i class="code-s"></i></li>
							<li><a ng-click="selectedOccupation('29-2041.00')">Emergency Medical Technicians and Paramedics</a><span class="codes"><i class="code-s"></i><i class="code-i"></i><i class="code-r"></i></li>
							<li><a ng-click="selectedOccupation('29-2031.00')">Cardiovascular Technologists and Technicians</a><span class="codes"><i class="code-r"></i><i class="code-i"></i><i class="code-s"></i></li>
							<li><a ng-click="selectedOccupation('51-4121.06')">Welders, Cutters, and Welder Fitters</a><span class="codes"><i class="code-r"></i><i class="code-c"></i><i class="code-i"></i></li>
						</ul>
						
						<ul class="shaded" ng-if="interestCodeOne != undefined">
							<li ng-repeat="b in brightCareers | limitTo : 4"><table style="margin: 0px; padding: 0px;"><tr><td width="350px" style="background: #f2f2f2; margin: 0px; padding: 0px;"><a ng-click="selectedOccupation(b.onetSoc)">{{b.occupationTitle}}</a></td>
							<td width="120" style="background: #f2f2f2;" class="text-right">
 										
 										<i ng-if="b.interestCdOne == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdOne == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdOne == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdOne == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdOne == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="b.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="b.interestCdThree == 'R'" class="code-r"></i>
	                                    <i ng-if="b.interestCdThree == 'I'" class="code-i"></i>
	                                    <i ng-if="b.interestCdThree == 'A'" class="code-a"></i>
	                                    <i ng-if="b.interestCdThree == 'S'" class="code-s"></i>
	                                    <i ng-if="b.interestCdThree == 'E'" class="code-e"></i>
	                                    <i ng-if="b.interestCdThree == 'C'" class="code-c"></i>
	                                    </td></tr></table></li>
						</ul>
                        <p><a class="caps" href="green-stem-bright/bright">View complete list</a></p>
					</div>
                </div>
                <div class="row">
					<div id="resources" class="large-12 columns">
                    	<hr/>
						<div class="row">
							<div class="medium-4 columns tutorial"
								ng-repeat="m in mediaCenterList | filter : {positionId : 19} : true">
								<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
								<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
								<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
											id="play-icon"></span></span></a>
							</div>
							<div class="medium-4 columns tutorial"
								ng-repeat="m in mediaCenterList | filter : {positionId : 20} : true">
								<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
								<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
								<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
											id="play-icon"></span></span></a>
							</div>
							<div class="medium-4 columns tutorial"
								ng-repeat="m in mediaCenterList | filter : {positionId : 21} : true">
								<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
								<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
								<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
											id="play-icon"></span></span></a>
							</div>
                        </div>
                        
                        <div class="row align-spaced">
							<div class="large-4 columns small-centered">
								<a class="button expanded" href="general-resources">View Resources</a>
							</div>
						</div>
					</div>
				</div>
			</div>

	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>