<div class="main" style="padding-bottom: 0">
  <div class="popup-main" style="max-width: 100%">
    <div class="popup-details">
      <div class="modal-header mb-10 padding-0">
        <h4 class="mb-0">Account Information
          <button class="update-account close-button" aria-label="Close modal" type="button" ng-click="modalOptions.close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body text-center">
        <h3 class="mb-30">Update Account information</h3>
        <div class="popup-form-filed" style="padding-right: 0;">
          <form class="text-left" ng-submit="modalOptions.save()">
            <label for="registerEmail" class="sr-only">Email Address</label>
            <input type="email" id="registerEmail" placeholder="Email" ng-model="form.username"/>

            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" placeholder="Password" ng-model="form.pwCurrent">

            <div class="divider mb-10"></div>

            <label for="resetPassword1">Change Password</label>
            <input type="password" id="resetPassword1" placeholder="Password" ng-model="form.pw1"/>
            <label for="resetPassword2" class="sr-only">Retype Password</label>
            <input type="password" id="resetPassword2" placeholder="Retype Password" ng-model="form.pw2" />
            <span style="color: darkred;" class="text-left">{{errorMsg}}</span>
            <div class="form-btn text-center">
              <button type="submit" class="button" ng-disabled="isSaving">Save</button>
              <button type="button" class="button" style="padding: 8px 10px" ng-click="modalOptions.close()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

