<!-- <div id="fyi-results" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;"> -->
			<div id="fyi-results">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">FYI Results</h3>
			</div>
			<div class="modal-body ng-scope">
				<div class="row">
					<br/><br/>
					<div class="medium-12 columns"><h3>Enter results from the paper based FYI</h3></div>
					<div class="medium-4 columns">
						<p>Your FYI raw scores can be found on Step 4 of the paper-based FYI.</p>
						<img src="images/fyi-results-example.jpg"/>
					</div>
					<div class="medium-7 columns">
						
						<div class="fyi-scores clearfix">
							<p>Raw FYI Scores:<div style="color: red">{{rawScoreValidate}}</div></p>
							<div class="fyi-score fyi-r">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.rRawScore">
							</div>
							<div class="fyi-score fyi-i">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.iRawScore">
							</div>
							<div class="fyi-score fyi-a">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.aRawScore">
							</div>
							<div class="fyi-score fyi-s">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.sRawScore">
							</div>
							<div class="fyi-score fyi-e">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.eRawScore">
							</div>
							<div class="fyi-score fyi-c">
								<input type="number" min="0" max="30" ng-model="interestCodeRawScore.cRawScore">
							</div>
						</div>
						<div id="gender">
							<label>Gender:<div style="color: red">{{genderValidate}}</div></label> 
							<select ng-model="gender">
								<option value="">---Select Gender---</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
						</div> 
					</div>
				</div>
			</div>
			<div class="modal-footer ng-scope">
				<button class="button" type="button" ng-click="modalOptions.submit()">submit</button>
			</div>
			</div>
<!-- </div> -->