<div class="main">
  <div class="popup-main">
    <div class="popup-details">
      <div class="modal-header mb-10 padding-0">
        <h4 class="mb-0">Account Benefits
          <button class="close-button" aria-label="Close modal" type="button" ng-click="modalOptions.close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body text-center">
        <h3 class="mb-30">Don't forget to create an account!</h3>
        <p>Register your access code using your email and a password.</p>
        <p>This will ensure uninterrupted access to your test scores and career exploration tools for up to two years.</p>
        <p><strong>For your security, some site features are disabled for users who log in using access code only.</strong></p>
        <div class="form-btn text-center">
          <button type="button" class="button" ng-click="modalOptions.register();">Create Account Now</button>
          <button type="button" class="button" ng-click="modalOptions.close();">Continue without Account</button>
        </div>
      </div>
    </div>
  </div>
</div>