<div id="search-list" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-show="occuFindUserLoggedIn" ng-controller="LeftNavigationController"></div>
				<div ng-show="!occuFindUserLoggedIn">
					<img src="/CEP/images/asvab-ad.jpg" >
				</div>
			</div>
			<section id="main-content" class="large-7 medium-10 columns" role="main">
			  <div class="row column">
                  	<h2 class="page-title">{{category}} <span ng-if="hot()"> Military </span>careers occupation list</h2>
              </div>
              
              <div class="row column">
                  	<p>Click on the letter to view a list of occupational titles beginning with that letter. Cick on a title to view more information.</p>
                  	<p>You are browsing occupations having titles starting with:</p>
              </div>
              
              <div class="row column">
                   	<a ng-click="filterAlphabet('A')" class="button" style="padding:3px; margin:0px;">A</a>
                  	<a ng-click="filterAlphabet('B')" class="button" style="padding:3px; margin:0px;">B</a>
                  	<a ng-click="filterAlphabet('C')" class="button" style="padding:3px; margin:0px;">C</a>
                  	<a ng-click="filterAlphabet('D')" class="button" style="padding:3px; margin:0px;">D</a>
                  	<a ng-click="filterAlphabet('E')" class="button" style="padding:3px; margin:0px;">E</a>
                  	<a ng-click="filterAlphabet('F')" class="button" style="padding:3px; margin:0px;">F</a>
                  	<a ng-click="filterAlphabet('G')" class="button" style="padding:3px; margin:0px;">G</a>
                  	<a ng-click="filterAlphabet('H')" class="button" style="padding:3px; margin:0px;">H</a>
                  	<a ng-click="filterAlphabet('I')" class="button" style="padding:3px; margin:0px;">I</a>
                  	<a ng-click="filterAlphabet('J')" class="button" style="padding:3px; margin:0px;">J</a>
                  	<a ng-click="filterAlphabet('K')" class="button" style="padding:3px; margin:0px;">K</a>
                  	<a ng-click="filterAlphabet('L')" class="button" style="padding:3px; margin:0px;">L</a>
                  	<a ng-click="filterAlphabet('M')" class="button" style="padding:3px; margin:0px;">M</a>
                  	<a ng-click="filterAlphabet('N')" class="button" style="padding:3px; margin:0px;">N</a>
                  	<a ng-click="filterAlphabet('O')" class="button" style="padding:3px; margin:0px;">O</a>
                  	<a ng-click="filterAlphabet('P')" class="button" style="padding:3px; margin:0px;">P</a>
                  	<a ng-click="filterAlphabet('Q')" class="button" style="padding:3px; margin:0px;">Q</a>
                  	<a ng-click="filterAlphabet('R')" class="button" style="padding:3px; margin:0px;">R</a>
                  	<a ng-click="filterAlphabet('S')" class="button" style="padding:3px; margin:0px;">S</a>
                  	<a ng-click="filterAlphabet('T')" class="button" style="padding:3px; margin:0px;">T</a>
                  	<a ng-click="filterAlphabet('U')" class="button" style="padding:3px; margin:0px;">U</a>
                  	<a ng-click="filterAlphabet('V')" class="button" style="padding:3px; margin:0px;">V</a>
                  	<a ng-click="filterAlphabet('W')" class="button" style="padding:3px; margin:0px;">W</a>
                  	<a ng-click="filterAlphabet('X')" class="button" style="padding:3px; margin:0px;">X</a>
                  	<a ng-click="filterAlphabet('Y')" class="button" style="padding:3px; margin:0px;">Y</a>
                  	<a ng-click="filterAlphabet('Z')" class="button" style="padding:3px; margin:0px;">Z</a>

              </div>

				<div class="row" ng-if="skillSelected == undefined || skillSelected == ''">
					<section class="table-pagination">
                        <div class="medium-6 columns">Showing {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Careers</br></div>
                        <div class="medium-6 columns text-right">
                             <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="setCurrentPage(currentPage)" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                        </div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <section id="search-list" class="medium-12 columns">
                        <table class="hover">
                        	<tbody>
                                <tr ng-repeat="o in occupationResults.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
                                    <td>
                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
											{{o.occupationTitle}}<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i><i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i><i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
										</a>
									</td>
                                    <td align="right" width="100">
                                    
	                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>
	                                    
                                    </td>
                                </tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                        <div class="medium-12 columns"><hr/></div>
                        <div class="medium-6 columns">Showing {{totalItems != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= totalItems ? ((currentPage)*itemsPerPage) : totalItems}}</span> of {{totalItems}} Careers</div>
                        <div class="medium-6 columns text-right">
                        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                        </div>
                    </section>
				</div>
				
				<div class="row column">
<!--                   	Source:
                  	<ol>
                  	<li>Complete list obtained from <a href="http://www.onetonline.org/find/bright?b=0&g=Go" target="_blank">O*NET Online</a></li>
                  	<li>Growth and job openings source: <a href="http://www.bls.gov/emp/" target="_blank">Bureau of Labor Statistics</a> 2014-2024 employement projections. Projected growth represents the estimated change in total employment over the projections period(2014-2024). Projected job openings represent openings due to growth and replacement.</li>
                  	<li>New & Emerging source: National Center for O*NET Development. See the <a href="http://www.onetcenter.org/reports/NewEmerging.html" target="_blank">New & Emerging development report</a> for more information</li>
                  	</ol> -->
              </div>
              
				<div ng-controller="OnetDisclaimerController" ng-include="'cep/page-partials/onet-disclaimer.html'"></div>
			</section>
			<aside id="search-sidebar" class="sidebar large-3 medium-10 pull-right columns search-list">
			<div ng-controller="MobileInterestCodesController"></div>
                <section id="filters">
					<form ng-submit="occufindSearch()">
                        <h3 class="gray-bg">Search by:</h3>
                        <div id="filter-interest">	
                            <h3 class="transpernt-title"><b>INTEREST CODE</b></h3>
                            <p>(select up to two)</p>
							<span ng-repeat="interestCode in interestCodes"> <span class="check-box"><input
								type="checkbox" ng-model="interestCode.selected"
								ng-change="checkChanged(interestCode)"
								ng-disabled="checked==limit && !interestCode.selected"><span></span></span>
								<i class="code-{{interestCode.value | lowercase}}"></i>
								{{interestCode.name}}<br />
							</span>
						</div>
						
						<h3 class="gray-bg">Sort by</h3>
                        <div class="book-select">
                            <h3 class="transpernt-title"><b>My ASVAB STRENGTHS</b></h3>
                            <p>(select one optional)</p>
                            <div class="book-select-input">
                                <span ng-repeat="skillSelections in skillSelectionOptions"> <span class="check-box"><input
								type="checkbox" ng-model="skillSelections.selected"
								ng-change="checkChangedLimitOne(skillSelections)"
								ng-disabled="skillChecked==skillLimit && !skillSelections.selected"><span></span></span>
								<img src="images/small-book{{$index + 1}}.png" alt="small-book{{$index + 1}}">
								{{skillSelections.name}}<br />
							</span>
                            </div>
                        </div>
                        
                        <!-- <select name="skillImportance" ng-model="skillSelected">
                		<option value="">---Select Skill Importance (Optional)---</option>
						<option value="verbalSkill">Verbal</option>
						<option value="mathSkill">Math</option>
						<option value="sciTechSkill">Science and Technical</option>
					</select> -->
                        
                        <div id="filter-category" class="gray-toggle">	
                            <h3 class="gray-bg" ng-init="categoryShow = false" ng-click="categoryShow = !categoryShow">Categories<i ng-show="!categoryShow">+</i><i ng-show="categoryShow">-</i></h3>
                            <div class="" ng-show="categoryShow">
								<span><span class="check-box"><input ng-model="brightOccupationFlag" type="checkbox"><span></span></span> Bright Outlook</span><br />                            
	                            <span><span class="check-box"><input ng-model="hotOccupationFlag" type="checkbox"><span></span></span> Hot Military Careers</span><br />  
	                            <span><span class="check-box"><input ng-model="greenOccupationFlag" type="checkbox"><span></span></span> Green Careers</span><br />                          
								<span><span class="check-box"><input ng-model="stemOccupationFlag" type="checkbox"><span></span></span> STEM Careers</span><br />
							</div>
						</div>
                        <div id="filter-keyword" class="gray-toggle">	
                            <h3 class="gray-bg" ng-init="keywordShow = false" ng-click="keywordShow = !keywordShow">Keyword Search<i ng-show="!keywordShow">+</i><i ng-show="keywordShow">-</i></h3>
                            <div class="" ng-show='keywordShow'>
                            	<input ng-model="searchString" type="text">
                            </div>
                            <!-- <a class="clear-sec" href="#"><b>Clear Selections</b></a> -->
                        </div>
                        <input type="submit" value="Start Search" class="button">
                    </form>
                </section>
                <section id="explore">
                    <h3 class="gray-bg">Other ways to Explore<span ng-controller="LeftNavigationController" ng-click="careerDefinitions()" class="explain-parent"><a class="explain alt"></a></span></h3>
                    <ul class="menu vertical">
                        <li><a href="green-stem-bright/military">Available in the Military</a></li>                    
                        <!-- <li><a href="green-stem-bright/bright">Bright Outlook</a></li> -->
                        <li><a href="career-cluster">Career Clusters</a></li>                        
                        <!-- <li><a href="green-stem-bright/hot">Hot Military Careers</a></li>
                        <li><a href="green-stem-bright/green">Green Careers</a></li>
                        <li><a href="green-stem-bright/stem">STEM Careers</a></li> -->
                        <li><a href="green-stem-bright/all">View All</a></li>
                    </ul>
                </section>
		  	</aside>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>