<update-meta property="og:title" content="{{metaTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{metaTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>


<div id="search-list" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-show="occuFindUserLoggedIn" ng-controller="LeftNavigationController"></div>
				<div ng-show="!occuFindUserLoggedIn">
					<img src="/CEP/images/asvab-ad.jpg" alt="bring the ASVAB CEP to your school">
				</div>
			</div>
			<section id="main-content" class="large-7 medium-10 columns" role="main">
			  <div class="row column">
                  	<h1 class="page-title">{{careerCluster.ccTitle}}</h1>
                    <div id="cluster">
                    	<img ng-if="careerCluster.ccId == 9" src="images/career-cluster/cc_Agri_Food_Natural_Resources.png">
                    	<img ng-if="careerCluster.ccId == 1" src="images/career-cluster/cc_Architecture_Construction.png">
                    	<img ng-if="careerCluster.ccId == 2" src="images/career-cluster/cc_Arts_Audio_Video.png">
                    	<img ng-if="careerCluster.ccId == 3" src="images/career-cluster/cc_Bus_Manage_Admin.png">
                    	<img ng-if="careerCluster.ccId == 4" src="images/career-cluster/cc_Education.png">
                    	<img ng-if="careerCluster.ccId == 10" src="images/career-cluster/cc_Finance.png">
                    	<img ng-if="careerCluster.ccId == 11" src="images/career-cluster/cc_Government_Public_Admin.png">
                    	<img ng-if="careerCluster.ccId == 12" src="images/career-cluster/cc_Health_Science.png">
                    	<img ng-if="careerCluster.ccId == 5" src="images/career-cluster/cc_Hospitality_Tourism.png">
                    	<img ng-if="careerCluster.ccId == 13" src="images/career-cluster/cc_Human_Services.png">
                    	<img ng-if="careerCluster.ccId == 16" src="images/career-cluster/cc_Information_Technology.png">
                    	<img ng-if="careerCluster.ccId == 14" src="images/career-cluster/cc_Law_Pub_Safety_Corrections_Security.png">
                    	<img ng-if="careerCluster.ccId == 6" src="images/career-cluster/cc_Manufacturing.png">
                    	<img ng-if="careerCluster.ccId == 7" src="images/career-cluster/cc_Marketing.png">
                    	<img ng-if="careerCluster.ccId == 8" src="images/career-cluster/cc_STEM.png">
                    	<img ng-if="careerCluster.ccId == 15" src="images/career-cluster/cc_Trans_Distri_Logistics.png">
                    </div>
              </div>


				<div class="row">
					<div class="medium-12 columns">
						<ul class="menu tools icons-right">
							<li id="notes" ng-controller="CareerClusterNotesController"><a href="" ng-click="showOccufindNotes()"><i class="fa fa-sticky-note show-for-small-only"></i> Notes</a></li>
							<li id="favorites" ng-include="'cep/page-partials/career-cluster-add-favorites.html'" ng-controller="CareerClusterAddFavorite"></li>
							<li id="view-favorites" class="show-for-small-only">
								<a href="favorites">
									<i class="fa fa-heart"></i>
									<span>View Favorites</span>
								</a>
							</li>
							<li id="back">
								<a href="career-cluster">Back to Search Results</a>
							</li>
						</ul>
					</div>
				</div>

				<p class="sort-by">
				<div class="row" ng-if="skillImportance != undefined && skillImportance != ''">
					<uib-tabset active="activeJustified" class="medium-12 columns">
					<uib-tab index="0" heading="Most Important" align="center" ng-click="skillViewSelected('hi')">
						<div ng-if="skillView == 'hi'">
							<section class="table-pagination">
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                        <div class="medium-12 columns"><hr/></div>
		                    </section>
							<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>	
							<section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>
		                                <tr ng-repeat="o in results = (occupationResults                               	
				                                | filter : search 
				                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
				                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
				                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter))
				                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
		                                    <td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>
			                                    
		                                    </td>
		                                </tr>
	                                </tbody>
		                        </table>
							</section>
							
							<section class="table-pagination" style="clear:both">
		                        <div class="medium-12 columns"><hr/></div>
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                    </section>
						</div>
					</uib-tab>
					<uib-tab index="1" heading="Moderately Important" align="center" ng-click="skillViewSelected('md')">
						<div ng-if="skillView == 'md'">
							<section class="table-pagination">
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                        <div class="medium-12 columns"><hr/></div>
		                    </section>
							<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>	
							<section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>
		                                <tr ng-repeat="o in results = (occupationResults                               	
				                                | filter : search 
				                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
				                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
				                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter))
				                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
			                               	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>		                                    	
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">
		                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>
			                                    
		                                    </td>
		                                </tr>
	                                </tbody>
		                        </table>
							</section>
							
							<section class="table-pagination" style="clear:both">
		                        <div class="medium-12 columns"><hr/></div>
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                    </section>
						</div>
					</uib-tab> 
					<uib-tab index="2" heading="Least Important" align="center" ng-click="skillViewSelected('lw')">
						<div ng-if="skillView == 'lw'">					
							<section class="table-pagination">
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                        <div class="medium-12 columns"><hr/></div>
		                    </section>
							<div class="row columns">						
							  	<div class="medium-12 columns">
							  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
							  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
						  		</div>
							</div>	
							<section id="search-list" class="medium-12 columns">
		                        <table class="hover">
		                        	<tbody>
		                                <tr ng-repeat="o in results = (occupationResults                               	
				                                | filter : search 
				                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
				                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
				                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter))
				                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
			                               	<td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
		                                    <td>		                                    	
		                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
													{{o.occupationTitle}}											
													<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
													<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
													<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
													<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
												</a>
											</td>
		                                    <td align="right" width="100">
		                                    
			                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
			                                    
			                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
			                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
			                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
			                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
			                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
			                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>
			                                    
		                                    </td>
		                                </tr>
	                                </tbody>
		                        </table>
							</section>
							
							<section class="table-pagination" style="clear:both">
		                        <div class="medium-12 columns"><hr/></div>
		                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
		                        <div class="medium-6 columns text-right">
		                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
		                        </div>
		                    </section>
                    		</div>
						</uib-tab> 
					</uib-tabset>
				</div>


				<div class="row" ng-if="skillImportance == undefined || skillImportance == ''">
					<section class="table-pagination">
                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
                        <div class="medium-6 columns text-right">
                             <uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
                        </div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <div class="row columns">						
					  	<div class="medium-12 columns">
					  		<div ng-show="results.length > 20" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-family:'Times New Romans';font-weight:bold;">i</div> If you want to filter down this list even further, try selecting an additional category to search on (i.e., Interest Code(s), Bright Outlook, Green Careers, STEM Careers, and/or Hot Military Careers).</div>
					  		<div ng-show="results.length <= 5" class="callout secondary"><div style="border:1px solid #000; border-radius:100%;width:18px;display:inline-block; text-align:center;font-weight:bold;">!</div> Not seeing enough jobs listed here? Try broadening your search by only selecting one or two categories on which to filter.</div>				  
				  		</div>
					</div>	
                    <section id="search-list" class="medium-12 columns">
                        <table class="hover">
                        	<tbody>
                                <tr ng-repeat="o in results = (occupationResults                               	
		                                | filter : search 
		                               	| rangeFilter : {skillImportance: skillImportance, view: skillView}
		                               	| filter: (!filterItems.R && !filterItems.I && !filterItems.A && !filterItems.S && !filterItems.E && !filterItems.C ? '' : interestFilter)
		                               	| filter: (!categoryItems.B && !categoryItems.G && !categoryItems.S && !categoryItems.H && !categoryItems.M ? '' : categoryFilter))
		                               	| limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
                                    <td ng-include="'cep/page-partials/occufind-grid-add-favorites.html'" ng-controller="OccufindGridAddFavoriteController"></td>
                                    <td>
                                    	<a ng-click="selectedOccupation(o.onetSoc, o.occupationTitle, o.isStemOccupation, o.isBrightOccupation, o.isGreenOccupation, o.interestCdOne, o.interestCdTwo, o.interestCdThree)" href="">
											{{o.occupationTitle}}
											<i ng-if="o.isStemOccupation" class="icon stem" rel="stem"></i>
											<i ng-if="o.isBrightOccupation" class="icon hot" rel="bright"></i>
											<i ng-if="o.isGreenOccupation" class="icon green" rel="green"></i>
											<i ng-if="o.isHotOccupation" class="icon-hotjob" title="HOT"></i>
										</a>
									</td>
                                    <td align="right" width="100">
                                    
	                                    <i ng-if="o.interestCdOne == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdOne == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdOne == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdOne == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdOne == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdOne == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="o.interestCdTwo == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdTwo == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdTwo == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdTwo == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdTwo == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdTwo == 'C'" class="code-c"></i>
	                                    
	                                    <i ng-if="o.interestCdThree == 'R'" class="code-r"></i>
	                                    <i ng-if="o.interestCdThree == 'I'" class="code-i"></i>
	                                    <i ng-if="o.interestCdThree == 'A'" class="code-a"></i>
	                                    <i ng-if="o.interestCdThree == 'S'" class="code-s"></i>
	                                    <i ng-if="o.interestCdThree == 'E'" class="code-e"></i>
	                                    <i ng-if="o.interestCdThree == 'C'" class="code-c"></i>
	                                    
                                    </td>
                                </tr>
                              </tbody>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                        <div class="medium-12 columns"><hr/></div>
                        <div class="medium-6 columns">Showing {{results.length != 0 ? (((currentPage-1)*itemsPerPage)+1) : 0}}-<span >{{((currentPage)*itemsPerPage) <= results.length ? ((currentPage)*itemsPerPage) : results.length}}</span> of {{results.length}} Careers</br></div>
                        <div class="medium-6 columns text-right">
                        	<uib-pagination total-items="results.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-click="pageChanged(this); saveSearch();"></uib-pagination>
                        </div>
                    </section>
				</div>
				<div ng-controller="OnetDisclaimerController" ng-include="'cep/page-partials/onet-disclaimer.html'"></div>
			</section>
			
			<aside id="search-sidebar" class="sidebar large-3 medium-10 pull-right columns search-list">
                <section id="filters">
					<form ng-submit="occufindSearch()">
						<a ng-click="clearSelections()">Clear Selections</a>
						<h3 class="gray-bg">Search by:</h3>
                        <label for="keyword" class="sr-only">Keyword:</label>
                        <input id="keyword" placeholder="Keyword (optional)" ng-model="keyword" ng-change="saveSearch()" type="text">
                    </form>
                    	<h3 class="gray-bg">Filter by:</h3>
                       <div id="filter-interest">	
                           <h3 class="transpernt-title"><b>INTEREST CODE</b></h3>
                           <p>(select up to two)</p>
							<span ng-repeat="item in checkboxInterest">
								<input	type="checkbox"
										id="interest{{$index}}"
										ng-model="filterItems[item.code]"
										ng-click="limitTwo(item);"
										ng-change="saveSearch();"
										ng-disabled="interestChecked==interestLimit && !filterItems[item.code]"/>
								<i class="code-{{item.code | lowercase}}"></i>
								<label for="interest{{$index}}" style="display:inline">{{item.name}}</label><br/>										
							</span>	
						</div>						
					   <h3 class="gray-bg">Sort by:</h3>
					   <div class="book-select">
					   	<h3 class="transpernt-title"><b>My ASVAB Strengths</b></h3>
					   	<p>(select one optional)</p>
					   	<div class="book-select-input">
					   		<span ng-repeat="item in checkboxSkill">
					   			<input	type="checkbox"
					   					id="skill{{$index}}"
					   					ng-model="skillItems[item.code]"
					   					ng-click="onSkillChange(item);limitOne(item);"
					   					ng-change="saveSearch();"
					   					ng-disabled="skillChecked==skillLimit && !skillItems[item.code]"/>
								<img src="images/small-book{{$index + 1}}.png" alt="small-book{{$index + 1}}">
								<label for="skill{{$index}}" style="display:inline">{{item.name}}</label>			   					
					   		</span>
					   	</div>
				   </div>  
				   <h3 class="gray-bg">CATEGORIES</h3>
				   <div id="filter-category">	                          
					<span style="display:block;" ng-repeat="item in checkboxCategory">
                      		<input  type="checkbox"
                      				id="category{{$index}}"
                      				ng-model="categoryItems[item.code]"
                      				ng-change="saveSearch();">
                  			<i class="{{item.iconClass}}" title="{{item.rel}}"></i>
                   			<label style="display:inline;" for="category{{$index}}">{{item.name}}</label>
                   	</span>	
				   </div>                     
                </section>
                <section id="explore">
                    <h3 class="gray-bg">Other ways to Explore<span ng-controller="LeftNavigationController" ng-click="careerDefinitions()" class="explain-parent"><a class="explain alt"></a></span></h3>
                    <ul class="menu vertical">                         
                        <li><a href="career-cluster">Career Clusters</a></li>                        
                        <li><a ng-click="clearSelections();" href="occufind-occupation-search-results">View All</a></li>
                    </ul>
                </section>
		  	</aside>
		</div>
		
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>