<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>


<div class="occufind student">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Student</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-menu.html'"></div>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li><h3>Career Cluster</h3></li>
					</ul>
				</div>
			</div>
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <h1 class="job-title">CAREER CLUSTERS</h1>
			  <p>The National Career Clusters&reg; Framework provides 16 groupings (clusters) of occupations based on similar skill sets, interests, abilities, and activities. The clusters contain sub-groupings called Career Pathways. These pathways are used by many school systems to develop curriculum to enhance the knowledge and skills required for a particular career field. You can explore occupations in the OCCU-Find by Career Cluster.</p>
			  <p>The 16 career clusters are:</p>
			  
			<uib-accordion> 
				<uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>{{cc.ccTitle}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
					<p style="margin-bottom: 0px;">{{cc.ccDescription}}</p>
					<a ng-click="selectedCareerCluster(cc.ccId)" href="" style="padding-right: 20px;"><b>Explore Careers</b></a>
				</uib-accordion-group> 
			</uib-accordion>

			<br /> <br />

			<p>Note: The 16 National Career Clusters Framework, and the definitions provided here, are sponsored by Advance CTE: State Leaders Connecting Learning to Work.  The above excerpts are being used with permission of the States' Career Clusters Initiative, 2009   (<a href="www.careertech.org/career-clusters">www.careertech.org/career-clusters</a>).  Your school/state may use a different set of career clusters. Contact your career counselor to find out more information.</p>

			<br />

			<p style="text-align: center">
				<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			</p>
			
			<p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>

			</section>
			<div class="medium-3 medium-pull-9 columns">
				<div class="left-sub-nav show-for-medium">
					<ul id="steps" class="menu vertical">
						<li><h3>EXPLORATION TOOLS</h3></li>
						<li class="divider"></li>
						<li><a href="student-explore-occu-find">OCCU-Find <i class="fa fa-angle-right"></i></a></li>
						<li><a href="student-explore-action-steps">Action Steps <i class="fa fa-angle-right"></i></a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>