<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2">OCCU-FIND</p>
			</div>
		</div>
		
	</section>
    
	
	<section id="content-wrap">
		<div id="search-list" class="row occufind ng-scope">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-show="isLoggedIn" ng-controller="LeftNavigationController"></div>
				<div ng-show="!isLoggedIn">
					<img src="/CEP/images/asvab-ad.jpg" >
				</div>
			</div>
			<section class="medium-10 columns" role="main">
			  <h1 class="job-title"> EXPLORE OCCUPATION BY CAREER CLUSTERS </h1>
				<p>The National Career Clusters&reg; Framework provides 16 groupings (clusters) of occupations based on similar skill sets, interests, abilities, and activities. The clusters contain sub-groupings called Career Pathways. These pathways are used by many school systems to develop curriculum to enhance the knowledge and skills required for a particular career field. You can explore occupations in the OCCU-Find by Career Cluster.</p>
				<p>Select a Career Cluster to explore.</p>
				
				<div class="row">
					<section id="interest-codes" class="medium-12 columns">


	
						<uib-accordion> 
						<uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
						<uib-accordion-heading>{{cc.ccTitle}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
						<p style="margin-bottom: 0px;">{{cc.ccDescription}}</p>
						<a ng-show="isLoggedIn" ng-click="selectedCareerCluster(cc.ccId)" href="" style="padding-right: 20px;"><b>Explore Careers</b></a><a ng-show="isLoggedIn" ng-controller='CareerClusterAddFavorite' ng-click="addFavorite(cc.ccId, cc.ccTitle)" href="" style="padding-right: 20px;"><b>Add to Favorites</b></a><a ng-click="" href="career-cluster-pathway-{{cc.ccId}}"><b>Learn More</b></a>
						</uib-accordion-group> 
						</uib-accordion>
						
					</section>
				</div>
				
				<br /> <br />

				<p>Note: The 16 National Career Clusters Framework, and the definitions provided here, are sponsored by Advance CTE: State Leaders Connecting Learning to Work.  The above excerpts are being used with permission of the States' Career Clusters Initiative, 2009   (<a target="_blank" href="http://www.careertech.org/career-clusters">www.careertech.org/career-clusters</a>).  Your school/state may use a different set of career clusters. Contact your career counselor to find out more information.</p>
	
				<br />
	
				<p style="text-align: center">
					<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
				</p>
				
				<p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
				
				<div ng-controller="OnetDisclaimerController" ng-include="'cep/page-partials/onet-disclaimer.html'"></div>
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>