<div class="left-sub-nav show-for-medium">
	<ul id="steps" class="menu vertical">
		<li><h3>EXPLORATION TOOLS</h3></li>
		<li class="divider"></li>
		<li><a href="student-explore-occu-find">OCCU-Find <i class="fa fa-angle-right"></i></a></li>
		<li><a href="student-explore-action-steps">Action Steps <i class="fa fa-angle-right"></i></a></li>
		<li class="divider"></li>
	</ul>
</div>