<ul id="sub-nav" class="menu">
	<li><a href="student">THE ASVAB CEP</a></li>
	<li><a href="student-learn">Learn About yourself </a></li>
	<li class="active"><a href="student-explore">Explore Careers</a></li>
	<li><a href="student-plan"">Plan for your future</a></li>
</ul>