<div id="bring-to-your-school" class="occufind tpl-page-landing student">
	<section id="content-wrap">
		<header class="row">
			<div class="medium-3 medium-push-9 columns">
				<div class="logo">
					<h1><a href="./"><img src="images/logo.png" alt="ASVAB"></a></h1>
				</div>
			</div>
			<div class="medium-9 medium-pull-3 columns" role="main">
				<h2 style="margin-bottom: 10px">{{title1}}</h2>
				<h2 style="margin-top: 0px">{{title2}}</h2>
			</div>
		</header>
		<div class="row" ng-show="isClosed()">
			<div class="medium-3 columns"></div>
			<section id="main-content" class="medium-9 medium-pull-3 columns" role="main">
				<div class="row">
					<div class="medium-12 columns">
						<p ng-show="(isEmpty() || isPassedCutOffDate() || isFull()) && alternateTraining.length == 0"><span class="fa fa-info-circle"></span>
							Registration for this event is unavailable at this time. Please submit inquiries to <a
								href="mailto:asvabcep@gmail.com">asvabcep@gmail.com</a>.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="row" ng-show="!isClosed()">
			<section id="main-content" class="medium-9 columns" role="main">
				<div class="row">
					<div class="medium-12 columns">
						<strong>TOPIC</strong>
					</div>
					<div class="medium-12 columns" ng-bind-html="essTrainingDescription">
					</div>
					<hr />
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<strong>Where:</strong>
					</div>
					<div class="medium-10 columns">
						{{training.location.building}}
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<strong>At:</strong>
					</div>
					<div class="medium-10 columns">
						{{training.location.buildingAddress}}
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<strong ng-if="training.essEndDate">Dates:</strong>
						<strong ng-if="!training.essEndDate">Date:</strong>
					</div>
					<div class="medium-10 columns">
						{{training.essStartDate | date : 'MM/dd/yyyy'}}<span ng-if="training.essEndDate"> - {{training.essEndDate | date : 'MM/dd/yyyy'}}</span>
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<strong>Slots Left:</strong>
					</div>
					<div class="medium-10 columns" ng-if="!alternateTrainingSelected">
						{{training.essMaxNumberOfParticipants - training.numberOfParticipants}}
					</div>
					<div class="medium-10 columns" ng-if="alternateTrainingSelected">
						0
					</div>
				</div>
				<div class="row">
					<hr />
				</div>

				<!-- Regular Registration Form -->
				<!-- <form ng-if="isESS" ng-submit="submitRegistration()"> -->
				<!-- <div ng-show="isESS"> -->
				<form ng-show="isESS" ng-submit="submitRegistration()">
					<div class="row">
						<div class="medium-4 columns">
							<label for="regFirstName">First Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regFirstName" id="regFirstName" />
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regLastName">Last Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regLastName" id="regLastName" />
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regEmailAddress">Email Address: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regEmailAddress" id="regEmailAddress" />
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regOrganization">Organization: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regOrganization" id="regOrganization" />
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regRole">Role: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regRole" id="regRole" />
						</div>
					</div>
					<div class="row">
						<div class="medium-9 columns">
							<label for="regComment">Comment:</label>
							<textarea ng-model="regComment" id="regComment"
								placeholder="e.g., How would you like your name to be printed if different from above?"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-9 columns">
							<label for="regDietaryRestrictions">Dietary Restrictions:</label>
							<textarea ng-model="regDietaryRestrictions" id="regDietaryRestrictions"
								placeholder="If any, put them here."></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-9 columns">
							<span>Are disability accommodations required for full participants in this event?</span><br />
							<label for="regMobilityRestrictions" class="sr-only">Mobility Restrictions:</label>
							<textarea ng-model="regMobilityRestrictions" id="regMobilityRestrictions"
								placeholder="Please note special accommodations here."></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<span style="color: #cc0000">{{validation}}</span>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<button type="submit" class="button" ng-disabled="formDisabled">Register!</button>
						</div>
					</div>
				</form>

				<!-- Virtual PTI Form -->
				<form ng-show="isVirtual" ng-submit="submitVirtualRegistrationLookup()">
					<div class="row">
						<div class="medium-6 columns">
							<label>I am a: &nbsp;
								<select ng-model="regRole" style="width: 100%" required>
									<option value="">--- Select One ---</option>
									<option value="Student">Student</option>
									<option value="Parent">Parent</option>
									<option value="Other">Other</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regFirstName">First Name: <em style="color:#cc0000">*</em><span ng-if="regRole === 'Student'"> (As it appears on the ASVAB test)</span></label>
							<input type="text" ng-model="regFirstName" id="regFirstName" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regLastName">Last Name: <em style="color:#cc0000">*</em><span ng-if="regRole === 'Student'"> (As it appears on the ASVAB test)</span></label>
							<input type="text" ng-model="regLastName" id="regLastName" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regEmailAddress">Email Address: <em style="color:#cc0000">*</em></label>
							<input type="email" ng-model="regEmailAddress" id="regEmailAddress" required />
						</div>
					</div>
					<div ng-show="regRole === 'Student'" class="row">
						<div class="medium-10 columns">
							<span>Do you have your ASVAB Results Sheet with your access code? <em style="color:#cc0000">*</em> <a ng-click="AccessCodeLookupModal()">What is this?</a>
							</br>
								Yes: <input type="radio" name="hasResultsSheet" ng-model="hasResultsSheet" ng-value="true">
								No: <input type="radio" name="hasResultsSheet" ng-model="hasResultsSheet" ng-value="false"
										ng-require="regRole !== 'Student'"></span>
						</div>
					</div>
					</br>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="regSchoolName">School Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regSchoolName" id="regSchoolName" ng-required="hasResultsSheet === false && regRole === 'Student'" />
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="regSchoolCity">School City: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regSchoolCity" id="regSchoolCity" ng-required="hasResultsSheet === false && regRole === 'Student'" />
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="regSchoolCounty">School County: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regSchoolCounty" id="regSchoolCounty" ng-required="hasResultsSheet === false && regRole === 'Student'" />
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="country">
								<select id="country" ng-model="regCountry" style="width: 100%" 
									ng-required="hasResultsSheet === false && regRole === 'Student'">
									<option value="">--- Select Country * ---</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Belgium">Belgium</option>
									<option value="Cuba">Cuba</option>
									<option value="Germany">Germany</option>
									<option value="Italy">Italy</option>
									<option value="Japan">Japan</option>
									<option value="Netherlands">Netherlands</option>
									<option value="South Korea">South Korea</option>
									<option value="Spain">Spain</option>
									<option value="UK">United Kingdom</option>
									<option value="US">United States of America</option>
								</select>
							</label>
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="state">
								<select id="state" ng-model="regState" style="width: 100%" ng-disabled="regCountry != 'US'"
									ng-required="regCountry === 'US' && hasResultsSheet === false && regRole === 'Student'">
									<option value="">--- Select State ---</option>
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VI">U.S. Virgin Islands</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</label>
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="dt">
								Approximate ASVAB Test Date: <em style="color:#cc0000">*</em> &nbsp;
								<input type="text" placeholder="mm/yyyy" style="display:inline-block;width:100%;"
									uib-datepicker-popup="MM/yyyy" id="dt" ng-model="dt" is-open="datePopup" ng-click="openDatePicker()"
									datepicker-options="dateOptions" show-button-bar="false" close-text="Close"
									alt-input-formats="altInputFormats"
									ng-required="hasResultsSheet === false && regRole === 'Student'">
							</label>
						</div>
					</div>
					<div ng-show="hasResultsSheet === false && regRole === 'Student'" class="row">
						<div class="medium-6 columns">
							<label for="regGradeLevel">Your grade level when you took the ASVAB: <em
								style="color:#cc0000">*</em>
								<select id="regGradeLevel" ng-model="regGradeLevel" style="width: 100%" 
									ng-required="hasResultsSheet === false && regRole === 'Student'">
									<option value="">--- Select Grade Level * ---</option>
									<option value="10">High School Sophmore, 10th grade</option>
									<option value="11">High School Junior, 11th grade</option>
									<option value="12">High School Senior, 12th grade</option>
									<option value="13">First Year Post-secondary, 13th grade</option>
									<option value="14">Second Year Post-secondary, 14th grade</option>
									<option value="15">Third Year Post-secondary, 15th grade</option>
									<option value="0">Other</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<span style="color: #cc0000">{{validation}}</span>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<button type="submit" class="button" ng-disabled="formDisabled">Register!</button>
						</div>
					</div>
				</form>

				<!-- Troops to Teachers -->
				<form ng-show="isTroopsToTeachers" ng-submit="submitVirtualRegistrationLookup()">
					<div class="row">
						<div class="medium-6 columns">
							<label for="regFirstName">First Name: <em style="color:#cc0000">*</em><span ng-if="regRole === 'Student'"> (As it appears on the ASVAB test)</span></label>
							<input type="text" ng-model="regFirstName" id="regFirstName" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regLastName">Last Name: <em style="color:#cc0000">*</em><span ng-if="regRole === 'Student'"> (As it appears on the ASVAB test)</span></label>
							<input type="text" ng-model="regLastName" id="regLastName" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regEmailAddress">Email Address: <em style="color:#cc0000">*</em></label>
							<input type="email" ng-model="regEmailAddress" id="regEmailAddress" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regSchoolName">School Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regSchoolName" id="regSchoolName" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regAddress">School Address: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regAddress" id="regAddress" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regSchoolCity">City: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regSchoolCity" id="regSchoolCity" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="country">Country: <em style="color:#cc0000">*</em>
								<select id="country" ng-model="regCountry" style="width: 100%" required>
									<option value="">--- Select Country ---</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Belgium">Belgium</option>
									<option value="Cuba">Cuba</option>
									<option value="Germany">Germany</option>
									<option value="Italy">Italy</option>
									<option value="Japan">Japan</option>
									<option value="Netherlands">Netherlands</option>
									<option value="South Korea">South Korea</option>
									<option value="Spain">Spain</option>
									<option value="UK">United Kingdom</option>
									<option value="US">United States of America</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="state">State: <em style="color:#cc0000">*</em>
								<select id="state" ng-model="regState" style="width: 100%" 
									ng-disabled="regCountry != 'US'"
									ng-required="regCountry === 'US'">
									<option value="">--- Select State ---</option>
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VI">U.S. Virgin Islands</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label for="regZip">ZIP Code: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regZip" id="regZip" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<span style="color: #cc0000">{{validation}}</span>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<button type="submit" class="button" ng-disabled="formDisabled">Register!</button>
						</div>
					</div>
				</form>

				<!-- Virtual PTI -->
				<form ng-show="isVirtualPTI" ng-submit="submitVirtualPTIRegistration()">
					<div class="row">
						<div class="medium-4 columns">
							<label for="regFirstName">First Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regFirstName" id="regFirstName" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regLastName">Last Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regLastName" id="regLastName" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regEmailAddress">Email Address: <em style="color:#cc0000">*</em></label>
							<input type="email" ng-model="regEmailAddress" id="regEmailAddress" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regOrganization">Organization: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regOrganization" id="regOrganization" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regRole">Role: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regRole" id="regRole" required/>
						</div>
					</div>
					Enter a mailing address to receive your workbook.
					<div class="row">
						<div class="medium-4 columns">
							<label for="locationName">Location Name: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="locationName" id="locationName" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="addressOne">Street Address 1: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="addressOne" id="addressOne" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="addressTwo">Street Address 2: </label>
							<input type="text" ng-model="addressTwo" id="addressTwo"/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="attn">Attn: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="attn" id="attn" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="city">City: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="city" id="city" required/>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="state">State: <em style="color:#cc0000">*</em>
								<select id="state" ng-model="regState" style="width: 100%"
									required>
									<option value="">--- Select State ---</option>
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VI">U.S. Virgin Islands</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<label for="regZip">ZIP Code: <em style="color:#cc0000">*</em></label>
							<input type="text" ng-model="regZip" id="regZip" required />
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<span style="color: #cc0000">{{validation}}</span>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<button type="submit" class="button" ng-disabled="formDisabled">Register!</button>
						</div>
					</div>
				</form>
			</section>

			<div ng-if="isVirtual || isTroopsToTeachers" class="medium-3 columns">
				<div class="row">
					<div class="medium-12 columns">
						<img ng-src="{{virtualTrainingBarPath}}" alt="Take the ASVAB CEP" title="ASVAB CEP Test">
					</div>
				</div>
			</div>

			<div ng-if="isESS || isVirtualPTI" class="medium-3 columns">
				<!-- <div class="row">
					<div class="medium-12 columns">
						<strong>HOTEL INFORMATION</strong>
						<br />
						<br />
						<p>You are responsible for making your own lodging accommodations.</p>
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<hr />
					</div>
				</div> -->
				<div class="row">
					<div class="medium-12 columns">
						<strong>PARTICIPANTS' PERSPECTIVE</strong>
						<blockquote style="font-size: 13px; border-left:0">"The biggest benefit for me has been getting to interact
							and
							hear the stories of other test coordinators and in return, sharing my experiences with them. We hit ideas
							off
							of each other that are going to help all of us when we get back to our individual MEPS."</blockquote>
						<p>Michele Knight, Test Coordinator, Fort Dix MEPS</p>

						<blockquote style="font-size: 13px; border-left:0">"The training is great! Get as much information as you
							can.
							You&apos;re going to love it!"</blockquote>
						<p>Maria Cotto, Test Coordinator, San Juan MEPS</p>

						<blockquote style="font-size: 13px; border-left:0">"The networking piece has been most valuable to me;
							getting
							an opportunity to spend time with those professionals that do this day in and day out. Conversing with
							them
							has been monumental in the way we are going to grow."</blockquote>
						<p>Antonio Parker, Test Control Officer, Montgomery AL</p>

						<blockquote style="font-size: 13px; border-left:0">"I used to be an advocate for the paper post test, but I
							am
							converted to the website! I was able to link my knowledge from the paper test to the website and navigate
							all
							the pages. Everything was in one centralized area - it was phenomenal."</blockquote>
						<p>Dorothy Clark, Army Education Services Specialist, Syracuse NY</p>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>