<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div id="home">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<header>
		<section id="hero" class="hero-section">
			<div id="slides">
				<div class="row">
				  <div class="mobile-header-home hide-for-large ceplinkmobile">
					<h2>What's your dream job?</h2>
					<a class="button" ng-controller="FooterController" ng-click="asvabModal()">Bring the ASVAB CEP to Your School <i class="fa fa-angle-right"></i></a>
				  </div>
				  <div class="large-8 large-push-4 medium-8 columns graphics">
					<img id="person" src="images/Person_06-30-20_girl.png">
					<img id="rocket" class="career active" src="images/icon_1.png" style="top: 53px; left: 21px;"> 
					<img id="graphic" class="career" src="images/icon_2.png" style="top: 32px; left: 43px; display: none;"> 
					<img id="radiologist" class="career" src="images/icon_3.png" style="top: 34px; left: 71px; display: none;">
					<img id="engineer" class="career" src="images/icon_4.png" style="top: 48px; left: 35px; display: none;">
					<img id="engineer1" class="career" src="images/icon_5.png" style="top: 10px; left: 39px; display: none;">
				  </div>
				  <div class="large-4 large-pull-8 show-for-large columns">
					<h2>What's your dream job?</h2>
					<a class="button" ng-controller="FooterController" ng-click="asvabModal()">Bring the ASVAB CEP to Your School <i class="fa fa-angle-right"></i></a>
				  </div>
				  
				</div>
			</div>
			<div class="reveal" id="bringToSchoolModal" data-reveal>
				<h4>Schedule the ASVAB Career Exploration Program</h4>
				<div class="row" data-equalizer>
					<div class="medium-6 columns" data-equalizer-watch>
						<h3>
							<strong>Are you an</strong> counselor or testing coordinator?
						</h3>
						<p>Schedule a test date at your school by clicking the
							schedule button below or contact an Education Services Specialist
							by calling 1-800-323-0513.</p>
					</div>
					<div class="medium-6 columns" data-equalizer-watch>
						<h3>
							<strong>Are you a</strong> Participant or parent?
						</h3>
						<p>Let your school counselor know that you are interested by
							sharing important program information with them via email.</p>
						<p>
							Counselor's Email address:<br> <input><br>
							Faculty email addresses can usually be found on your school's
							website
						</p>
					</div>
				</div>
				<div class="row" data-equalizer>
					<div class="medium-6 columns" data-equalizer-watch>
						<a class="hollow button">Schedule</a>
					</div>
					<div class="medium-6 columns" data-equalizer-watch>
						<a class="hollow button">Share</a>
					</div>
				</div>
				<button class="close-button" data-close aria-label="Close modal"
					type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="mega-menu-buttons">
				<div class="row">
					<div class="large-12 columns">
						<div class="expanded button-group stacked-for-small">



							<div class="dropup" uib-dropdown auto-close="outsideClick">
								<button class="button" type="button" id="student-dropdown"
									uib-dropdown-toggle>
									<strong>Participants</strong>
								</button>
								<div class="dropdown-menu" uib-dropdown-menu role="menu"
									aria-labelledby="Student-dropdown">
									<div class="row align-spaced">
										<div class="col-md-12 col-xs small-centered">
												<div class="row m-b-20 xs-mb-0 sm-mb-0">
														<div class="col-md-3 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="participant-block">
																		<a class="login-button" href="student">Understand<br/>
																				<span class="text-d-blue font-16">the ASVAB</span><img src="images/participant-img-2.png" alt="Participant Img" /> <span class="right-arrow"><i class="fa fa-caret-right"></i></span>
																		</a>
																</div>
														</div>
														<div class="col-md-3 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="participant-block">
																		<a class="login-button" href="student-learn">Learn<br/>
																				<span class="text-d-blue font-16">About <br>Yourself</span><img src="images/participant-img-3.png" alt="Participant Img" /> <span class="right-arrow"><i class="fa fa-caret-right"></i></span>
																		</a>
																</div>
														</div>
														<div class="col-md-3 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="participant-block">
																		<a class="login-button" href="student-explore">Explore<br/>
																				<span class="text-d-blue font-16">Careers</span><img src="images/participant-img-4.png" alt="Participant Img" /> <span class="right-arrow"><i class="fa fa-caret-right"></i></span>
																		</a>
																</div>
														</div>
														<div class="col-md-3 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="participant-block">
																		<a class="login-button" href="student-plan">Plan<br/>
																				<span class="text-d-blue font-16">Your Future</span><img src="images/participant-img-5.png" alt="Participant Img" /> <span class="right-arrow"><i class="fa fa-caret-right"></i></span>
																		</a>
																</div>
														</div>
												</div>

												<div class="row">                                            
														<div class="col-md-6 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="option-ready-btn participant-btn participant-last">
																		<a class="login-button" href="general-resources/box-row4"><strong>Find out what to do after the ASVAB test.</strong> <br><span class="font-13 smalltxt">View Guided Tutorials</span></a>
																</div>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-12 participant-list custum-padd-lr-12 xs-mb-25">
																<div class="option-ready-btn participant-btn participant-last participant-tellus"
																		ng-controller="FooterController">
																		<a class="login-button" ng-click="snapChatModal()"><strong>Share your experience on social media?</strong> <br><span class="font-13 smalltxt">@asvabcep</span> <img src="images/participant-img-6.png" alt="Participant Img" /></a>
																</div>
														</div>
												</div>
										</div>
								</div>
									<!-- <div class="row align-spaced">
										<div class="large-10 columns small-centered">
											<div class="row">
												<div class="medium-4 columns">
													<h3><a href="student">The ASVAB CEP</a></h3>
													<ul>
														<li><a href="student-program">ASVAB Test</a></li>
														<li><a href="student-post-test">Post-Test Activities</a></li>
													</ul>
												</div>
												<div class="medium-4 columns">
													<h3><a href="student-learn">Learn About Yourself</a></h3>  
													<ul>
														<li><a href="student-learn-skills">Skills</a></li>
														<li><a href="student-learn-interests">Interests</a></li>
														<li><a href="student-learn-work-values">Work Values</a></li>
													</ul>
												</div>
												<div class="medium-4 columns">
													<h3><a href="student-explore" >Explore Careers</a></h3>
													<ul>
														<li><a href="student-explore-occu-find">OCCU-Find</a></li>
														<li><a href="student-explore-action-steps">Action Steps</a></li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="medium-4 columns">
													<h3><a href="student-plan" >Plan Your Future</a></h3>
													<ul>
														<li><a href="student-plan-understanding">Understand Your Options</a></li>
														<li><a href="student-plan-tools">Career Planning Tools</a></li>
													</ul>
												</div>

												<div class="medium-4 columns">
													<h3>Other Resources</h3>
													<ul>
														<li><a href="media-center-article-list/5">Tutorials</a></li>
														<li><a href="media-center-article-list/1">Student Articles</a></li>
													</ul>
												</div>
												<div class="medium-4 columns"  ng-controller="LogOutController">
													<a class="login-button" ng-show="!isLoggedIn()" ng-click="showLoginModal()"><strong>Learn, Plan, Explore</strong><br/>
                                                        Login to get started <i class="fa fa-angle-right"></i></a>
                                                    <a class="login-button" ng-show="isLoggedIn()" href="dashboard"><strong>Learn, Plan, Explore</strong><br/>
                                                        My ASVAB CEP <i class="fa fa-angle-right"></i></a>
												</div>
											</div>
										</div>
									</div> -->
								</div>
							</div>
							<!-- bootstrap ui -->


							<div class="dropup" uib-dropdown auto-close="outsideClick">
								<button class="button" type="button" id="educator-dropdown"
									uib-dropdown-toggle>
									<strong>Educators</strong>
								</button>
								
								
								<div class="dropdown-menu" uib-dropdown-menu role="menu"
									aria-labelledby="educator-dropdown">
									<div class="row align-spaced">
										<div class="col-md-12 small-centered">
												<div class="row">
														<div class="custm-col-md-3 col-sm-6 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<h3><a href="educators">The ASVAB CEP</a></h3>
																<h3><a href="educators-test">The ASVAB</a></h3>
																<ul style="display: none;">
																		<li><a href="#">Understanding your Scores</a></li>
																</ul>
																<h3><a href="educators-post-test">Post Test Activities</a></h3>
																<h3><a href="federally-funded-sources">Federally Funded Sources</a></h3>
																<h3><a href="teachers">Classroom Tools</a></h3>

																<div class="option-ready-btn mt-25">
																		<a class="login-button" href="option-ready"><strong>Are you Option Ready?</strong></a>
																</div>
														</div>

														<div class="custm-col-md-3 col-sm-6 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<h3 class="resource">Quick Resource Links</h3>
																<ul class="quick-links">
																		<li><a href="continuing-education" ng-controller="GA" ng-click="trackClick('Continuing_Education');">Continuing Education</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Admin_Overview_web.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Admin_Overview_web.pdf');">Administrator Overview</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Overview_Presentation.ppt" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Overview_Presentation.ppt');">Overview Presentation</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Check_list.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Check_list.pdf');">Activity Checklist</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Counselor_Manual.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Counselor_Manual.pdf');">Counselor Guide</a></li>
																		<li><a ng-href="option-ready" ng-controller="GA" ng-click="trackClick('Option-Ready')">Option Ready</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Post_Test.pdf" target="_blank">Post Test Handout</a></li>
																		<li><a href="general-resources"><strong>All Resources</strong></a></li>
																</ul>
														</div>
														<div class="custm-col-md-6 col-sm-12 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<div class="client-say border-1">
																		<div class="client-img">
																				<img src="images/Kathy-Hassler.png" alt="Kathy Hassler" class="hidden-xs visible-sm visible-md visible-lg" />
																				<img src="images/Kathy-Hassler_mobile.png" alt="Kathy Hassler" class="visible-xs hidden-sm hidden-md hidden-lg" />
																		</div>
																		<div class="client-bio">
																				<p>“I encourage all the students to take [the ASVAB]. For kids like my daughter, who aren’t 100% sure what they want to do, the ASVAB test and post-test activities give them a sense of comfort in knowing what they’re good at.”</p>
																				<p style="font-style: italic;">Kathy Hassler, <br> Assistant Principal at Cumberland <br>County HS</p>
																		</div>
																</div>
														</div>
												</div>

										</div>
								</div>
								</div>
							</div>
							<!-- bootstrap ui -->



							<div class="dropup" uib-dropdown auto-close="outsideClick">
								<button class="button" type="button" id="parents-dropdown"
									uib-dropdown-toggle>
									<strong>Parents</strong>
								</button>
								<div class="dropdown-menu" id="parent-dropdown"
									uib-dropdown-menu role="menu"
									aria-labelledby="parents-dropdown">
									<div class="row align-spaced">
										<div class="col-md-12 small-centered">
												<div class="row">
														<div class="custm-col-md-3 col-sm-6 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<h3><a href="parents">The ASVAB CEP</a></h3>
																<h3><a href="parents-test">The ASVAB</a></h3>
																<h3><a href="parents-post-test">Post Test Activities</a></h3>
																<h3><a href="parents-information">How You Can Help</a></h3>
														</div>

														<div class="custm-col-md-3 col-sm-6 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<h3 class="resource">Quick Resource Links</h3>
																<ul class="quick-links">
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Post_Test.pdf" target="_blank">Post Test Handout</a></li>
																		<li><a href="option-ready" ng-controller="GA" ng-click="trackClick('Option-Ready')">Option Ready</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Opt_In_Letter.docx" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Opt_In_Letter.docx');">Opt Into Score Release</a></li>
																		<li><a href="{{resources}}pdf/ASVAB_CEP_Opt_Out_Letter.docx" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');">Opt Out of Score Release</a></li>
																		<li><a href="general-resources"><strong>All Resources</strong></a></li>
																</ul>
														</div>

														<div class="custm-col-md-6 col-sm-12 col-xs-12 custum-padd-lr-12 xs-mb-25">
																<div class="client-say border-1">
																		<div class="client-img">
																				<img src="images/Faith-Durden.png" alt="Faith Durden" class="hidden-xs visible-sm visible-md visible-lg"/>
																				<img src="images/Faith-Durden_mobile.png" alt="Faith Durden" class="visible-xs hidden-sm hidden-md hidden-lg" />
																		</div>
																		<div class="client-bio">
																				<p>“There are so many different options available. We looked at colleges, certifications, apprenticeships, licensures - there’s so many different ways to become educated.”</p>
																				<p style="font-style: italic;">Faith Durden, <br> Buffalo, NY MEPS ESS</p>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
								</div>
							</div>
							<!-- bootstrap ui -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>
	<section id="what" class="works-section">
		<div class="row column text-center">
		  <h2>There are Many Ways to be Successful</h2>
		  <p>To figure out where to find career satisfaction, you need all the facts about your skills and interests, the world of work, and your post-secondary options to make informed decisions.</p>
		  <ul class="row sample-questions works-list">
		   <li class="medium-4-narrow columns">
			  <div class="works-list-icon"><img src="images/icon_check.png" alt="Icon Check" /></div>
			  <h4 class="works-list-title">Take the Assessments</h4>
		   </li>
		   <li class="medium-4-narrow columns">
			  <div class="works-list-icon"><img src="images/icon_search.png" alt="Icon Search" /></div>
			  <h4 class="works-list-title">Explore Your Options</h4>
		   </li>
		   <li class="medium-4-narrow columns">
			  <div class="works-list-icon"><img src="images/icon_plan.png" alt="Icon Plan" /></div>
			  <h4 class="works-list-title">Build Your Plan</h4>
		   </li>
		  </ul>
		  <p>The ASVAB Career Exploration Program includes a validated aptitude test and interest assessment. The results are used to guide career exploration using our career planning tools.</p>
		  <h3>Design a post-secondary plan that works for you.</h3>
		  <div class="icon-play">
			 <a href="#"><img src="images/icon_play.png" alt="Icon Play" ng-click="showYouTubeModal('https://www.youtube.com/embed/S_c588QTR2s')"/></a>
			 <strong>See how it works.</strong>
		  </div>
		</div>
		<div class="row">
		  <div class="medium-4 columns small-centered">
			<a class="button expanded" ng-click="showLearnMoreModal()">Learn More!</a>
		  </div>
		</div>
	  </section>

	<section id="guides">
		<div class="row">
			<div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {categoryId:6, positionId : 1} : true">
				<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
				<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
				<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
							id="play-icon"></span></span></a>
			</div>
			<div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {categoryId:6, positionId : 2} : true">
				<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
				<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
				<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
							id="play-icon"></span></span></a>
			</div>
			<div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {categoryId: 6, positionId : 3} : true">
				<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
				<a ng-show="m.typeId != 1" href="media-center-article/{{m.id}}"><img ng-src="{{m.thumbnailUrl}}"> </a>
				<a ng-show="m.typeId == 1" ng-click="showYouTubeModal(m.videoImgUrl)"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span
							id="play-icon"></span></span></a>
			</div>
		</div>	
		<div class="row align-spaced">
			<div class="large-4 columns small-centered">
				<a class="button expanded" href="media-center">View Media Center</a>
			</div>
		</div>
	</section>

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>