@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic,800);

body {
	background: #7E8D8E;
}

$font-path: "../fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'futura-bt';
    src: url('../fonts/futurabt-book-opentype-webfont.eot');
    src: url('../fonts/futurabt-book-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabt-book-opentype-webfont.woff2') format('woff2'),
         url('../fonts/futurabt-book-opentype-webfont.woff') format('woff'),
         url('../fonts/futurabt-book-opentype-webfont.ttf') format('truetype'),
         url('../fonts/futurabt-book-opentype-webfont.svg#futura_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	margin-bottom: 1rem;
}

h2 {
	color: $aqua;
	font-size: 1.25rem;
	text-transform: uppercase;
}

h3 {
	color: $aqua;
	font-weight: 300;
	font-size: 1.75rem;
	line-height: 1;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
}

h4 {
	color: $blue;
	font-size: 1rem;
	line-height: 1;
	margin-bottom: 1.25rem;
}

.faq #content-wrap h3.faq-heading {
	background: transparent;
	font-size: 16px;
	font-weight: bold;
	margin-top: 35px;
	padding: 0;
}

.caps {
	text-transform: uppercase;
}

label {
	font-size: 100%;
	
	&.middle {
		padding: 0;
	}
}

.callout {

	background: $gray;
	border: 0;
	
	.button {
		padding: 8px 20px !important;
	}
}

#contact-form {
	select {
    	max-width: 100%;
	}
	
	textarea {
	    height: 150px;
	}
	
	[type='text'], 
	[type='password'], 
	[type='date'], 
	[type='datetime'], 
	[type='datetime-local'], 
	[type='month'], 
	[type='week'], 
	[type='email'], 
	[type='number'], 
	[type='search'], 
	[type='tel'], 
	[type='time'], 
	[type='url'], 
	[type='color'], 
	textarea {
		margin-bottom: .5rem;
	}
}

.button.centered {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

[type='text'], 
[type='password'], 
[type='date'], 
[type='datetime'], 
[type='datetime-local'], 
[type='month'], 
[type='week'], 
[type='email'], 
[type='number'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='url'], 
[type='color'], 
textarea {
    box-shadow: 0 0;
    font-size: 100%;
	height: auto;
    padding: 1px;
}

ul:not(.menu):not(.pagination):not(.checks):not(.nav-tabs):not(.uib-datepicker-popup) {

	list-style-type: none;
	
	li {
		font-size: inherit;
		line-height: 1.4;
		margin-bottom: .5em;
		position: relative;
		
		&:before {
			content: '•';
			left: -12px;
			position: absolute;
			top: 0;
		}
		
		.codes {
			float: right;
			
			i{
				margin-right: 5px;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	
	&.plain {
		li:before {
			content: initial;
		}
	}
}

ul.shaded {
	margin-left: 0;
	li {
		background: $light-gray;
	    padding: 0 7px;
			
		&:before {
			content: initial !important;
		}
	}
}

.uib-datepicker-popup,
.uib-datepicker-popup.dropdown-menu {
	border-color: #000;
	
	.uib-daypicker{
	
		outline: none;
	
		thead, tbody, tfoot,
		.btn-default,
		tbody tr:nth-child(even) {
			background: transparent;
			border: 0;
		}
		
		.btn-info:active:hover, 
		.btn-info.active:hover, 
		.open > .dropdown-toggle.btn-info:hover, 
		.btn-info:active:focus, 
		.btn-info.active:focus, 
		.open > .dropdown-toggle.btn-info:focus, 
		.btn-info:active.focus, 
		.btn-info.active.focus, 
		.open > .dropdown-toggle.btn-info.focus,
		.open > .dropdown-toggle.btn-info,
		.text-info {
			color: $aqua;
		}
		
		thead, 
		tfoot,
		tbody {
			th,td {
				padding: 0;
			}
		}
		
		.btn-sm, .btn-group-sm > .btn {
			padding: 0;
			width: 30px;
			height: 30px;
		}
		
		.uib-title {
			width: 100%;
			text-transform: uppercase;
		}
		
		.btn-sm.pull-left,
		.btn-sm.pull-right {
			background-color: $aqua;
			border-radius: 50%;
			color:#fff;
			outline: none;
		
			.text-info,
			.btn-info:active, 
			.btn-info.active {
				color: #fff;
			}
		}
		
		.btn:active, 
		.btn.active {
			border: 1px solid $aqua;
			-webkit-box-shadow:0 0;
			box-shadow: 0 0;
			color: $aqua;
			outline: 0;
		}
		
		.text-muted {
			color: #ccc;
		}
	}
}

.tabbed {
	border: 1px solid #d1d1d1;
	overflow: hidden;

	.nav-tabs {
		border: none;
		margin-left: 0;
		
		> li > a,
		> li.active > a, 
		> li.active > a:hover, 
		> li.active > a:focus {
			background: transparent;
			border: none;
			border-top: 3px solid $aqua;
			border-radius: 0;
			margin-right: 6px;
			padding: 6px 15px 10px;
			text-align: center;
		}
		
		> li > a {
			background: $gray;
			border-top: 3px solid $gray;
		}
		
		> li:last-child > a,
		> li.active:last-child > a {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.tab-content {
	    padding: 10px 15px;
	}
	
	.nav-stacked {

		+ .tab-content {
			padding: 25px 30px;
		}
			
		> li > a,
		> li.active > a, 
		> li.active > a:hover, 
		> li.active > a:focus {
			margin-right: 0;
		}
		
		@include breakpoint(medium) {

			width: 25%;
			float: left;
			
			+ .tab-content {
				float: left;
				width: 75%;
			}
			
			> li > a,
			> li.active > a, 
			> li.active > a:hover, 
			> li.active > a:focus {
				text-align: right;
			}
		
		}
		
		@include breakpoint(large) {
			width: 15%;
	
			+ .tab-content {
				padding: 35px 40px;
				width: 85%;			
			}
		}
		
		> li {
			width: 100% !important;		
		}
		
	}
	
	&.thirds {
		.nav-tabs > li {
	    	width: 33.3339%;
		}
	}
	
}

#asvab-test .nav-tabs {
	> li {
		width: 50%;
	}
}

.modal-content,
.student #content-wrap .modal-content {
	
	border: 1px solid #cacaca;
    background-color: #ffffff;
    border-radius: 0;	
	color: #3f3f3f;
	font-size: 13px;
	-webkit-font-smoothing: auto;
	
	.modal-header {
		padding-bottom: 0;
		border-bottom: 0;
		
		.close {
			color: $blue;
			font-weight: normal;
			opacity: 1;
			margin-top: 4px;
			margin-right: 6px;
		}
		
		.modal-title {
			background: $gray;
			color: #3d4243;
			font-size: 16px;
		    padding: 3px 12px;
			text-transform: none;
		}
	}
	
	h3 {
    	font-size: 18px;
    	font-weight: normal;
	}
	
	.left-sub-nav,
	.menu.tools:not(.bottom) {
    	background: transparent;
		border: 0;
	}
	
	.menu.tools:not(.bottom) a {
    	color: $blue;
	}
	
	.modal-footer {
		border-top: 0;
		.button {
			font-family: $heading-font-family;
			font-weight: normal;
		    margin-bottom: 0;
   			margin-right: 5px;
			
			&.hollow {
				border-width: 2px;
			}
		}
	}
}

.fyi-scores {
	margin-bottom: 30px;

	.fyi-score {
		background: url(images/bg-fyi-scores.jpg) 0 0 no-repeat;
		float: left;
		margin-right: 8px;
		width: 47px;
		
		&.fyi-i {
			background-position: -54px 0;
			
			input {    
				border-color: #842829;
			}
		}
		
		&.fyi-a {
			background-position: -109px 0;
			
			input {    
				border-color: #f5903e;
			}
		}
		
		&.fyi-s {
			background-position: -162px 0;
			
			input {    
				border-color: #232150;
			}
		}
		
		&.fyi-e {
			background-position: -216px 0;
			
			input {    
				border-color: #dd2c26;
			}
		}
		
		&.fyi-c {
			background-position: -271px 0;
			
			input {    
				border-color: #508442;
			}
		}
		
		input {    
			border: 3px solid #0e7ebe;
			height: 34px;
			margin: 34px 0 0;
			text-align: center;
		}
		
		@include breakpoint(small only) {
			background: url(images/bg-fyi-scores-mobile.jpg) 0 0 no-repeat;
			float: none;
			margin-bottom: 8px;
			padding-left: 40px;
			width: auto;
			
			&.fyi-i {
				background-position: 0 -48px;
			}
			
			&.fyi-a {
				background-position: 0 -96px;
			}
			
			&.fyi-s {
				background-position: 0 -143px;
			}
			
			&.fyi-e {
				background-position: 0 -191px;			
			}
			
			&.fyi-c {
				background-position: 0 -239px;
			}
			
			input {    
				height: 40px;
				margin: 0;
				width: 40px;
			}
		}
	}
}

#gender {	
	label {
		display: inline;
	    margin-right: 15px;
	}
}

uib-accordion {
	.panel-group {
		.panel {
			border: 0;
			border-radius: 0;
			-webkit-box-shadow: 0 0;
			box-shadow: 0 0;
			padding: 0;
			
			.panel-title {
				color: #000000;
				font-size: 13px;
				
				i {
				    position: relative;
    				top: -1px;
				}
			}
			
			.panel-heading {
				padding: 4px 10px;
			}
		}
		
		p:last-child {
			&, .button:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: 0;
	}
}

select {
	display: inline;
	font-size: 12px;
	height: 1.2rem;
	padding: 0 0.5rem;
	width: 250px;
}

tbody {
	border: 0;
	
	th, td {
    	padding: 0.125rem 0.625rem 0.2rem;
	}
}

#employment-table.row {
    margin-left: 0;
    margin-right: 0;
	
	.small-6 {
    	width: 50%;
	}
	
	.small-3 {
    	width: 25%;
	}
	
	.columns {
    	border: 1px solid #b7b7b7;
		border-right: 0;
		float: left;
	
		&.no-border {
			border: none;
			border-bottom: 1px solid #b7b7b7;
			
			.columns {
				border-bottom: 0;
			}
		}
	}
	
	#label,
	.no-border .columns {
		padding: 7px;
	}
	
	#label {
	    margin-top: 52px;
	}
	
	.no-border {
		text-align: center;

		.heading,
		.year {
			font-weight: bold;
			padding: 3px;
		}
		
		#percent-change-heading {
			padding: 7px 7px 6px !important;
		}
		
		#percent-change {
			position: relative;
			
			.icon {
				position: absolute;
			}
		}
		
		.heading {
			background: #efefef;
		}
		
		.year {
			background: #dedede;
		}
	}
		
	> .columns:last-child {
		border-right: 1px solid #b7b7b7;
	}
	
	@include breakpoint(small only) {
		#label  {
			margin-top: 0;
			text-align: center;
			width: 100%;
		}
		
		.no-border {
			width: 50%;
		}
		
		#label {
			border-bottom: 0;
			border-right: 1px solid #b7b7b7;
		}
	}
}

.pagination {
	
	.pagination-label {
		font-weight: normal;
	}

	li {
	    display: inline-block;	
		font-size: 0.75rem;
		font-weight: bold;
		
		&.disabled {
			padding: 0;
		}
		
		a {
			border: 0;
			color: $primary-color;
			padding: 0 0.325rem;	
		}
	
		&.active {
			a,
			a:hover {
				background: transparent;
				color: #8A8A8A;
			}
		}
	}
}

.pagination-previous a::before, 
.pagination-previous.disabled::before  {
    content: initial;
    margin-right: 0;
}

.pagination-next a::after, 
.pagination-next.disabled::after {
    content: initial;
    margin-left: 0;
}

.explain {
    background: url(images/icons.png) -110px -90px;
	display: inline-block;
	float: right;
    height: 16px;
	margin-right: 15px;
    vertical-align: middle;
    width: 14px;
}

@import "../fonts/foundation-icons/foundation-icons.css";
@import "font-awesome";
@import "scss/layouts/home";
@import "scss/layouts/occufind";
@import "scss/layouts/student";
@import "scss/layouts/article";

.title-bar {
    background: #fff;
	position: relative;
	
	.title-bar-title {
		max-width: 85%;

		@include breakpoint(small only) {
		max-width: 75%;	
		}
	}
	.menu-icon {
	    bottom: 10px;
		position: absolute;
		right: 0;
	}
	.contact-icon {
		background: url("images/icons.png") -40px 3px no-repeat;
		background-size: 77px;
		bottom: 8px;
		display: inline-block;
		height: 20px;
		position: absolute;
		right: 45px;
		width: 21px;
	}
}

.dropdown-menu {
	border-radius: 0;
	margin: 0;
	padding: 1rem;
}

.dropdown.menu {
	.menu {
		display: none;
	}
	
	> li.open {
		.menu {
			display: block;
		}
	}
}

.menu.chevron,
.menu.doc-links,
.menu.section-links {
	li {
		position: relative;
	}
	
	a {
		font-weight: normal;
		
		&:after {
			content: '\f105';
			font: normal normal normal 14px / 1 FontAwesome;
		    font-size: 18px;
		    margin-left: 7px;
    		position: relative;
			text-rendering: auto;
    		top: 2px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	> li > a > img {
		vertical-align: bottom;
	}
}

.menu.doc-links li,
.menu.section-links li {
	a {
		padding: 0 0 10px;
	}
}

.menu.section-links li {
	a {
		font-size: 18px;
    	text-transform: uppercase;
		
		&:after {
			top: 0px;
			margin-left: 15px;
		}
	}
}

.menu-icon::after {
	background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000
}

.resource {
	margin-bottom: 1rem;
	
	.resource-title {
		display: block;
		font-size: 16px;
	}
	
	img {
		border: 1px solid #c5cccc;
		margin-bottom: 1rem;
	}
	
	> *:last-child {
		margin-bottom: 0;
	}
}

a.video {
	position: relative;
	
	&:after {
		background: url(images/play.png);
		content: '';
		display: block;
		height: 107px;
		left: 50%;
		margin-left: -53px;
		margin-top: -53px;
		position: absolute;
		top: 50%;
		width: 106px;
	}
	
	&:last-child img {
		margin-bottom: 0;
	}
}

header {
	background: #fff;
	nav{
	    position: relative;	
    	z-index: 11;
	
		.logo {
		    padding-top: 18px;
		    position: relative;	
	
			&:before {
				border-bottom: 60px solid transparent;
				border-left: 1000px solid white;
				border-top: 0 solid transparent;
				bottom: -59px;
				content: '';
				display: block;
				position: absolute;
				right: 0;
			}
			
			h1 {
			    margin-bottom: 0.5rem;
			}
		}
					
		#menu-container {
			form {
				padding: 0 1rem;
				
				input {
					margin-right: 10px;
					margin-top: 10px;
				}
				
				button[type="submit"] {
					margin-right: 1rem;
					right: 14px;
					top: 13px;
				}
			}
			> .row > .large-12 {
				padding-left: 0;
				padding-right: 0;
			}
					
			.dropdown.menu {
				
				> li {
					border-bottom: 1px solid #F8F8F8;
					> a {
						color: #000000;
						font-family: $heading-font-family;
						text-transform: uppercase;	
					}
				
					.menu {
						background: #FAFAFA;
					}
				}
				
				.open {
					> a {
						background: $dark-blue;
						color: #ffffff;
					}
				}
				
				a {
					font-size: 0.9rem;	
					font-family: $body-font-family;
					text-transform: normal;	
				}
	
				.header a {
					background: #E1E4E4;
					color: #1b183d;
					font-family: $heading-font-family;
					font-weight: normal;
					margin: 0;
					padding: 4px 1rem 5px;;
					text-transform: uppercase;
					-webkit-font-smoothing: anti-aliased;
				}
			}
		}
		
		@include breakpoint(small only) {
			background: #fff;
			border-top: 1px solid #F2F2F2;
			
			.menu {
				width: 100%;
				
				li {
					display: block;
					width: 100%;
					
					&.divider {
						display: none;
					}
				}
				
				#search {
					padding: 0.7rem 0;
					
					button[type="submit"] {
						top: 11px !important;
					}
				}
				
				#header-login-container {
					#header-login.button {
						float: none;
						margin-left: 0 !important;
						width: 100%;
					}
					
					.dropdown-pane {
						border-top: 1px solid #eee;
						left: 0px !important;
						top: auto !important;
						width: auto !important;
					}
				}
			}
		}
		
		.menu-right {
						
			.menu {
			    float: right;			
			}
			
			a,
			button {
				font-family: $heading-font-family;
				font-size: 0.9rem;
				text-transform: uppercase;
			}
			
			a {
				color: #586566;
			}
			
			#secondary.menu {
				margin-top: 40px; 
				
				a {
				 	color: $blue;
				 	font-family: $body-font-family;
				 	font-size: 16px;
				}
				
				@include breakpoint(small only) {
				    border-top: 1px solid #E1E4E4;
					padding-top: 10px;
					margin-top: 0px;
				}
			}
			
			#header-login-container {
				position: relative;
				
				#header-login.button {
					background: #e1e4e4;
					color: $blue;
					font-weight: normal;
					margin-left: 10px;
					margin-right: 0;
				    padding: 10px 20px;
					
					.fa {
						margin-left: 5px;
					}
				}
				
				.dropdown-menu {
					background: #e1e4e4;
					border: none;
					left: auto !important;
					margin-top: 1px;
				    right: 1px !important;
					width: 250px;
					
					form {
						input {
						    background: #f2f4f4;
							border: 1px solid #fff;
							border-radius: 0;
							box-shadow: 0 0 0;
							max-width: none;
						    margin-bottom: 6px;
						}
						
						a {
							color: $aqua;
							font-family: 'Open Sans';
							text-transform: none;
						}
					}	
				}
			}
		}
	}
}

#menu-container,
#mega-menu-buttons {		
	form {
		&, input {
			display: inline-block;
		}
		
		input {
			background: #9f9eae;
			border-radius: 0;
			margin-bottom: 0;
			max-width: 130px;
		}
		
		button[type="submit"] {
			background: #717780;
		}
	}
}

#mega-menu-buttons {		
	background: transparent;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	
	.button-group {
		margin-bottom: 0;
		
		.button.dropdown-toggle {
			background: transparent;
		    border-bottom: 1px solid #F8F8F8;
			color: #000;
			display: block;
			font-family: $heading-font-family;
			font-weight: normal;
			text-align: left;
			-webkit-font-smoothing: antialiased;
			width: 100%;	
								
			&.hover {
				background: $dark-blue !important;
				color: #fff;
			}		
		}
	}	
	
	.dropdown-pane {
		display: flex;
	}

	.dropdown-pane,
	.dropdown-menu {		
		&.is-open {
			background: #FAFAFA;
			border: 0;
			width: 100% !important;
		}
		
		.align-spaced {
			align-items: center;
			display: flex;
			margin: auto;
			width: 100%;
			
			.row {
				line-height: 1.6;
				
				li {
					margin-bottom: 0;
					&:before {
						content: initial;
					}
				}
				
				&:last-of-type {
					margin-bottom: 0 !important;
				}
			}
		}
				
		h3, a, ul, p {
			font-size: .9rem;
		}
		
		h3 {
			background: #413f5e;
			color: #fff;
			font-family: $heading-font-family;
			font-weight: bold;
			margin-bottom: 5px;
			padding: 3px 10px;
			text-transform: none;
		}
		
		ul {
			list-style-type: none;
			margin-left: 10px;
		}
	}
}

.mini-form {
	position: relative;
	
	input {
		border-color: #D9DFE5;
		border-radius: 2px;
		color: #000;
    	font-size: 12px;
		height: 1.25rem;
		padding: 0 5px;
	}
	button[type="submit"] {
		background: transparent;
		border: 0;
		color: #b8b8b8;
		font-weight: normal;
		margin: 0;
		padding: 2px 5px;
		position: absolute;
		right: 0;
		top: 1px;
	}
	
	&.login {
		button[type="submit"] {
			background: #adb4b5;
			border-radius: 50%;
			height: 13px;
			width: 13px;
			line-height: 0;
			right: 4px;
			top: 3px;
			vertical-align: -webkit-baseline-middle;
			
			.fa {
				color: #fff;
				line-height: 7px;
				margin-left: -1px;
			}
		}
	}
}

.menu {
	&.right-align,
	&.center-align {
		> li {
			display: inline-block;
		}
	}
	
	&.right-align {
		text-align: right;
	}
	
	&.center-align {
		text-align: center;
	}
	
	&.no-margins {
		li:first-child a {
			padding-left: 0
		}
		
		li:last-child a {
			padding-right: 0
		}
	}
	
	&.no-margin-left {
		li:first-child a {
			padding-left: 0 !important;
		}
	}
	
	&.no-margin-right {	
		li:last-child a {
			padding-right: 0 !important;
		}
	}
	
	&.icons-left,
	&.icons-right {
		li {
			a {
				position: relative;
				
				&:before {
					background: url(images/icons.png) -15px -14px no-repeat;
					content: '';
					display: block;
					position: absolute;
					height: 20px;
					width: 20px;
				}
			}
		}
	}
	
	&.icons-left {
		li {
			a {
				padding-left: 25px !important;
				
				&:before {
					left: 0;
				}
			}
		}
	}
	
	&.icons-right {
		li {
			a {
				padding-right: 25px !important;
				
				&:before {
					right: 0;
				}
			}
		}
	}
}

#content-wrap {
	background: $white;
}
	
ul.checks {
	border-bottom: 1px solid #afafaf;
	border-top: 1px solid #afafaf;
	color: #3f3f3f;
	font-size: 1.4rem;
	list-style-type: none;
	margin-bottom: 1.2rem;
	margin-left: 0;
    padding: 10px 0;
		
	li {
		background: url(images/check.png) left 4px no-repeat;
		padding-left: 40px;	
		
		&:before {
			content: initial;
		}
	}
	
	@media screen and (max-width: 350px) {
		font-size: 1.1rem;	
		
		li {
			background-size: 1.5rem;
		}	
	}
}

.button {
	background: $aqua;
    font-weight: bold;
    padding: 8px 20px;
    text-transform: uppercase;
}

.rating {
	background: url(images/icons.png) -16px -94px no-repeat;
    display: inline-block;
    height: 10px;
    margin-top: 5px;
	position: relative;
    width: 56px;
}

#footer {
	background: #7e8d8e url('images/bg-footer.jpg') center top repeat-x;
	font-size: 14px;
	color: #e1e4e4;
	padding-top: 105px;
	
	h3 {
		color: #d2d7d8;
		font-family: $heading-font-family;
		font-size: 18px;
	    margin-bottom: 1rem;
	    -webkit-font-smoothing: auto;
	}
	
	.menu {
		a {
			color: #fff;
		}
	}
	
	#footer-menu {
		font-size: 12px;
	    margin-bottom: 1rem;
			
		li {
			a {
				color: #E1E4E4;
				padding: 0.25rem .4rem;
				&:after {
					background: #E1E4E4;
					content: '';
					display: inline-block;
					position: relative;
					left: 0.5rem;
					height: 12px;
					width: 1px;
					vertical-align: bottom;
				}
			}
			&:last-of-type {
				a:after {
					content: initial;
				}
			}
		}
	}
	
	#search.mini-form {
		@include breakpoint(small only) {
			input {
				margin: 0;
			}
		}		
	}
	
	
	.social {
	    margin-bottom: 2rem;
		a {
			color: inherit;
		}
		i {
		    font-size: 25px;
    		margin-right: 20px;
		}
		@include breakpoint(small only) {
			border-bottom: 1px solid #fff;
			margin-top: 20px;
			padding-bottom: 15px;
			text-align: center;
		}

	}
	
	.contact {
		font-family: $heading-font-family;
		
		a {
			color: inherit;
			font-weight: bold;
			text-decoration: underline;
		}
	}
	
	.sponsor {
      	font-family: $body-font-family;
	    font-size: 65%;
	   	line-height: 1.5em;
	    margin-top: 43px;
    	-webkit-font-smoothing: auto;
	}
	@include breakpoint(small only) {
		* {
			text-align: center;
		}
	}

}
		
.tpl-page-footer {
	.page-footer {
		background: #dcdfdf;
		border-top: 30px solid #fff;
		font-size: 18px;
		padding-top: 30px;
		text-align: center;
		
		&.no-border {
			border-top: none;
		}	
			
		strong{
			color: #2f2a6a;
		}
		
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
	
	#footer {
		background: #7e8d8e url("images/bg-site-footer.jpg") center top repeat-x;
	}
}

@include breakpoint(small only) {
	.columns {
		width: 100%;
	}
}




.filter_select_checkbox_wrapper {
    border: 1px solid #979797;
    padding: 15px;
}

.occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox input {
	margin-right: 0 !important;
}
.occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox span:nth-of-type(5) input {
	margin-right: 34px !important;
}

.select_with_checkbox {
    max-width: 233px;
    width: 100%;
    color: #4A4A4A;
    position: relative;
	margin-bottom: 0 !important;

    .custom_select_dropdown {
        border: 1px solid #979797;
        color: #4A4A4A;
        width: 100%;
        text-align: left;
        padding: 10px 25px 10px 10px;
        position: relative;

        &:focus {
            outline: none;
        }

        &:after {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #C3D2DA;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            content: "";
            z-index: 1;
            pointer-events: none;
        }
    }

    table {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        border: 1px solid #979797;
        border-top: 0;
        width: 100%;
        z-index: 2;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;

        &.active {
            display: block;
        }

		tr {
			background-color: #fff;

			td {
				border: none !important;
				padding: 0 15px 8px !important;
			}
		}
    }
}
#filter-category table thead,
  #filter-category table tbody {
    background-color: transparent !important;
  }
  .select_with_checkbox table td input {
    margin-right: 0 !important;
  }
  .occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox input {
    margin-right: 0 !important;
  }
  .occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox span:nth-of-type(5) input {
    margin-right: 34px !important;
  }
  #filter-category table thead th {
    font-weight: normal;
    padding: 0;
  }
  #filter-category table thead th .explain {
    float: none;
    margin-left: 10px;
  }
  #filter-category table td {
    padding-left: 0;
    padding-right: 0;
  }
  #filter-category .select_with_checkbox .custom_select_dropdown {
    background-color: #fff;
  }