<div id="my-favorites" class="occufind" ng-style="myStyle">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="2" class="caps">Occu-find</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				                				
				<h2>MY FAVORITES</h2>
				
				<div class="row">
					<section class="table-pagination">
                        <div class="medium-6 columns"><strong>FAVORITE OCCUPATIONS</strong></div>
                        <div class="medium-6 columns"><span class="caps">(You can save up to 10 Occupations)</span></div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <section id="favorites" class="medium-12 columns fullwidth-tbl">
                        <table class="hover">
                        	<tbody>
                                <tr ng-if="favoriteList.length != 0" ng-repeat="f in favoriteList track by $index">
                                    <td class="input"><input type="checkbox" ng-model="f.selected"
											ng-change="checkChanged(f)"
											ng-disabled="checked==limit && !f.selected"></td>
									<td><a href="occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a></td>
                                    <td class="notes" ng-controller="NotesController"><a href="" ng-click="showNotes(f.title, f.onetSocCd)">Notes <i class="icon notes"></i></a></td>
                                    <td class="remove"><button ng-click="f.disabled = true; removeFavorites(f.id);" ng-disabled="f.disabled"><a href="" ng-style="myStyle">REMOVE <span>X</span></a></button></td>
                                </tr>
                                <tr ng-if="favoriteList.length == 0"><td>Your favorites list is empty.</td></tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                        <div class="medium-12 columns">
							<hr/>
							<div class="row compare">
								<div class="medium-8 columns" style="text-transform:none;">
									<strong>Compare your favorite occupations side by side. Select up to three occupations from your list and hit Compare.</strong>
								</div>
								<div class="medium-4 columns">
									<button class="button" ng-click="compareSelection()">Compare</button>
								</div>
							</div>
						</div>
                    </section>
				</div>
				
				<!-- school favorites -->
				<br/><br/>
				
				<div class="row">
					<section class="table-pagination">
                        <div class="medium-6 columns"><strong>FAVORITE COLLEGES</strong></div>
                        <div class="medium-6 columns"><span class="caps">(You can save up to 10 colleges)</span></div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <section id="favorites" class="medium-12 columns fullwidth-tbl">
                        <table class="hover">
                        	<tbody>
                                <tr ng-if="schoolFavoriteList.length != 0" ng-repeat='s in schoolFavoriteList'>
									<td><a href="occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a></td>
                                    <td class="notes" ng-controller="NotesController"><a href="" ng-click="showNotesSchool(s.schoolName, s.unitId)">Notes <i class="icon notes"></i></a></td>
                                    <td class="remove"><button ng-click="s.disabled = true; removeSchoolFavorites(s.id);" ng-disabled="s.disabled"><a href="" ng-style="myStyle">REMOVE <span>X</span></a></button></td>
                                </tr>
                                <tr ng-if="schoolFavoriteList.length == 0"><td>Your favorites list is empty.</td></tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                        <div class="medium-12 columns">
							<hr/>
						</div>
                    </section>
				</div>
				
				<br/><br/>
				
				<div class="row">
					<section class="table-pagination">
                        <div class="medium-6 columns"><strong>FAVORITE CAREER CLUSTERS</strong></div>
                        <div class="medium-6 columns"><span class="caps">(You can save up to 2 career clusters)</span></div>
                        <div class="medium-12 columns"><hr/></div>
                    </section>
                    <section id="favorites" class="medium-12 columns fullwidth-tbl">
                        <table class="hover">
                        	<tbody>
                                <tr ng-if="careerClusterFavoriteList.length != 0" ng-repeat='cc in careerClusterFavoriteList'>
									<td><a href="career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a></td>
                                    <td class="notes" ng-controller="NotesController"><a href="" ng-click="showNotesCC(cc.title, cc.ccId)">Notes <i class="icon notes"></i></a></td>
                                    <td class="remove"><button ng-click="cc.disabled = true; removeCareerClusterFavorites(cc.id);" ng-disabled="cc.disabled"><a href="" ng-style="myStyle">REMOVE <span>X</span></a></button></td>
                                </tr>
                                <tr ng-if="careerClusterFavoriteList.length == 0"><td>Your favorites list is empty.</td></tr>
                        </table>
					</section>
                    <section class="table-pagination" style="clear:both">
                        <div class="medium-12 columns">
							<hr/>
						</div>
                    </section>
				</div>
				
				<br/><br/>
				
				<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
				
			</section>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>