header {	
	#hero {
		position: relative;
		
		#slides {
			background: url('images/bg-slides.jpg') center bottom;
			
			h2 {
				color: $white;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1.2em;
				margin: 130px 0 125px;
			}
			
			.graphics {
				position: relative;
				height: 463px;
				
				.career,
				#person {
					position: absolute;
				}
				
				#person {
					bottom: 0;
				}
			}
						
			.button {
				background: rgba(0,0,0,0.32);
				border-radius: 0 25px 25px 0;
				font-weight: bold;
				font-size: 1.1rem;
				line-height: 1.3em;
				margin-bottom: 60px;
				padding: 3px 10px;
				padding-right: 102px;
				position: relative;
				text-align: left;
				text-transform: none;			
				.fa {
					background: $aqua;
					border: 1px solid #999b9b;
					border-radius: 50%;
					display: block;
					font-size: 44px;
					height: 44px;
					line-height: 42px;
					position: absolute;
					right: 3px;
					text-align: center;
					top: 3px;
					width: 44px;
				}
			}
		}
		
		#mega-menu-buttons {
			background: $blue;
			
			.button-group {
				
				> .button {
					background: $blue;
					border-bottom: 0;
					color: #fff;
					padding-left: 6%;
					text-transform: uppercase;
					width: 33.333%;
					
					&:last-of-type {
						border-right: 0;
					}
					
					@include breakpoint(medium) {
						strong {
							font-size: 30px;
							display: block;
							font-weight: normal;
						}
					}
				}
			}
		}
		
		.dropdown-pane {
			
			&.is-open {
				background: $dark-blue;
				
				@include breakpoint(medium) {
					bottom: 64px !important;
					left: 0 !important;
					top: 0 !important;
				}
			}
			
			.align-spaced {
				
				.row {
					@include breakpoint(medium) {
						margin-bottom: 40px;
					}
				}
			}
					
			h3, a, ul, p {
				color: #fff;
			}
		}
	}
}

#what {
	background: $gray url('images/bg-what.jpg') top center repeat-x;
    overflow: hidden;
	padding-top: 70px;	
	
	p {
	    font-size: .95rem;
	}
}

#guides {
	background: $white url('images/bg-guides.jpg') center top repeat-x;
	padding-top: 100px;
	
	img {
	    border: 1px solid #c5cccc;
		margin-bottom: 1rem;
		width: 100%;
	}
}

#guides,
#what {
	overflow: hidden;
	
	.row {
	    margin-bottom: 20px;
	}
	
	.button {
	    border: 1px solid #fff;
	}
}

#home {
	@include breakpoint(small only) {
		h3 {
			text-align: center;
		}
	}
	
	@include breakpoint(medium only) {
	    header #hero #slides .graphics {
			float: none;
    		margin: auto;
			width: 40em;
		}
	}
	
	@include breakpoint(small only) {
	    header #hero #slides  {
			overflow: hidden;
			
			.graphics {
				float: none;
				height: 240px;
				margin: auto;
				width: 20em;
				
				#person {
					left: 5px;
					width: 40%;
				}
				
				.career {
					max-width: none;
					width: 360px;
					left: -40px !important;
				}
			}
		}
		
		#hero {
			#mega-menu-buttons .button-group {
				> .button {
					border-bottom: 1px solid #fff;
					border-right: 0;
					box-sizing: content-box;
					display: block;
					font-size: 20px;
					float: none;
					margin-left: -0.9375rem;
					padding-left: 0.9375rem;
					padding-right: 0.9375rem;
				    text-align: center;
					text-transform: none;
					width: 100%;
					
					strong {
						text-transform: uppercase;
					}
				}
			}
			.dropdown-pane {
				position: absolute !important;
				&.is-open {
					box-sizing: content-box;
					margin-left: -0.9375rem;
					position: static !important;
					width: 100% !important;
					
					.row {
						box-sizing: border-box;
					}
				}
			}
		}
	}
}

.reveal { 
	padding-bottom: 50px;
    width: 775px;
	h3 {
		font-size: 18px;
		font-weight: normal;
		
		strong {
			color: #000;
			display: block;
			font-size: 14px;
			text-transform: none;
		}
	}
	
	h4 {
		background: #e6e8e8;
		color: #3d4243;
	    margin-bottom: 60px;
		padding: 5px 10px;
	}
	
	p {
		color: #3f3f3f;
		font-family: $heading-font-family;
		font-size: 13px;
	    -webkit-font-smoothing: auto;
		line-height: 1.5;
	}
	
	.row {
		.medium-6 {
	    	padding-right: 100px;
			
			&:nth-of-type(2) {
				border-left: 1px solid #ccc;
			    padding-left: 50px;
    			padding-right: 80px;
			}
		}
	}
	
	.hollow {
		border-width: 2px;
		font-family: $heading-font-family;
		font-weight: normal;
	    -webkit-font-smoothing: auto;
	}
	
	.close-button {
	    right: 1.2rem;
    	top: 0.75rem;
	}
}