.occufind {
	
	#main-content,
	.sidebar {
		section {
			margin-bottom: 20px;
			overflow: hidden;
		}
	}
	
	#my-codes a:before,
	#interest-codes li:after {
		border-bottom: 11px solid red;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		content: '';
		display: block;
		position: absolute;
	}
	
	#my-codes,
	#interest-codes {
		.code-c {
			*:before,
			&:after {
				border-color: transparent transparent #54873d;
			}
		}
		
		.code-r {
			*:before,
			&:after {
				border-color: transparent transparent #0e7bc0;
			}
		}
		
		.code-i {
			*:before,
			&:after {
				border-color: transparent transparent #8b2e33;
			}
		}
		
		.code-s {
			*:before,
			&:after {
				border-color: transparent transparent #164377;
			}
		}
	}
	
	.rating {
		float: right;
		transform: scaleX(-1);
	}
	
	#stem, .stem {
		*:before,
		*:after {
			background-position: -12px -55px !important;
		}
	}
	
	#green, .green {
		*:before,
		*:after {
			background-position: -57px -55px !important;
		}
	}
	
	#hot, .hot {
		*:before,
		*:after {
			background-position: -109px -55px !important;
		}
	}
	
	#notes, 
	.notes {
		*:before,
		*:after {
			    background-position: -62px -14px !important;
		}
	}
	
	#banner {
		background: $blue;
		padding-top: 32px;
		
		.row {
			position: relative;
			&:before {
				border-top: 25px solid #74709b;
				border-left: 335px solid transparent;
				border-right: 212px solid transparent;
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: -32px;
			}
		}
		
		a,h1 {
			color: #fff;
		}
		
		h1 {
			font-family: $body-font-family;
			font-size: 30px;
			text-align: right;
			
			&:before {
				background: #fff;
				border-radius: 50%;
				color: $aqua;
				content: attr(data-step);
				display: inline-block;
				font-family: $heading-font-family;
				font-weight: bold;
				font-size: 26px;
				height: 32px;
				line-height: 32px;
				margin-right: 20px;
				text-align: center;
				width: 32px;
			}
		}
		
		.menu {
			margin-top: 10px;
			
			a {
				font-size: 13px;
			    -webkit-font-smoothing: auto;
    			font-weight: 300;
				text-transform: uppercase;
				
				&:after {
					background: #74709b;
					content: '';
					display: inline-block;
					position: relative;
					left: 1rem;
					height: 16px;
					width: 1px;
					vertical-align: bottom;
				}
			}
			
			li:first-child {
				a {
					padding-left: 0;
				}
			}
			
			li:last-child {
				a:after {
					background: transparent;
				}
			}
			
		}
	}
	#content-wrap {
		
		font-size: 13px;
		padding-top: 45px;
		
		@include breakpoint(small only) {
			padding-top: 0;
		}
			
		h2.job-title {
			color: $secondary-color;
			font-size: 20px;
			text-transform: none;
		}
		
		h3 {
			background: #e8eaeb;
			color: #000;
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 7px;
			padding: 3px 10px;
		}
		
		.menu,
		.left-sub-nav  {
			font-size: 13px;
			font-weight: bold;
		}
		
		.menu {	
			&.tools {
				border-bottom: 1px solid #CECECE;
    			margin-bottom: 10px;
				text-align: right;
			    text-transform: uppercase;
				
				li {
					display: inline-block;
					
					a {
					    padding-bottom: 0.4rem;

						span {
							vertical-align: top;
						}
					}
				}
				
				#back {
					float: left;
					
					a {
						padding-left: 0 !important;
					
						&:before {
							content: initial;
						}
					}
				}
			}
		}
		
		@include breakpoint(small only) {
			.left-sub-nav {
				background: $dark-blue;
				margin-left: -0.9375rem;
				margin-right: -0.9375rem;
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				
				#steps {
					
					li {
						display: none;
						
						span {
							display: none;
						}
					
						&:first-of-type,
						&:first-of-type + li.divider,
						&.active {
							display: inline-block;
							
							a {
								box-shadow: 0 0 0;
								color: #fff;
								display: inline;
								text-transform: uppercase;
							}
						}
						&:first-of-type + li.divider {
							border-left: 1px solid #cecece;
							height: 12px;
							margin: 0 7px;
						}
					}
				}
			}
			.menu.tools {
				background: $blue;
				margin-left: -0.9375rem;
				margin-right: -0.9375rem;
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				text-align: left;
				
				#back {
					float: none;
				}
				
				a {
					color: #fff;
					font-weight: normal;
					padding-bottom: 0.7rem !important;
					padding-left: 25px !important;
					padding-right: 10px !important;
						
					&:before {
						content: initial;
					}
					
					i {
						font-size: 20px;
						position: absolute;
						left: 0;
						top: 8px;
					}
				}
			}
		}
		
		ul#services {
		    list-style-type: none;
    		margin-left: 0;
			
			li:before {
				content: initial;
			}
		}
		
		.left-sub-nav {
			#my-codes {
				li:first-child {
					a {
						margin-left: -0.7rem;
					}
				}
				
				a {
					color: #7c7c7c;
					font-family: 'Rockwell';
					padding: 1.7rem 0.5rem 0.7rem;
					position: relative;
				    text-align: center;	
				    width: 30px;

					&:before {
					    margin-left: 1px;
						top: 0.7rem;
					}
				}
			}
			.vertical {
				li.active {
				    margin: 0.7rem 0;
					a {
						box-shadow: 
								0 0 0 8px #fff, 
								0 0 0 9px $blue;
    					padding: 0;
					}
				}
				a {
					padding: 0.7rem 0;
					font-size: 14px;
				    line-height: 1.3;
						
					span {
						color: #7c7c7c;
						display: block;
						font-size: 13px;
						font-weight: normal;
						text-transform: uppercase;
					}
				}
				
				.divider {
					border-bottom: 1px solid #cecece;
					margin: 8px 0;
				}
			}
		}
		
		#interest-codes,
		#skill-importance {
			ul {
				margin-left: 5px;
				li {
					position: relative;
					
					&:before {
						content: initial;
					}
				}
			}
		}
		
		#interest-codes li {
			position: relative;
			
			&:after {
				right: 0;
				top: 5px;
			}
		}
	}
	
	#oc-legend {
		li {
			a {
				color: #7c7c7c;
				display: block;
				font-size: 13px;
				font-weight: normal;
				text-transform: uppercase;
			}
		}
	}
	
	.related-careers {
	    li {
			line-height: 1.9;
		    margin-bottom: 0;
	
			&.icon {
				a:after {
					background: url(images/icons.png) -12px -14px no-repeat;
					content: '';
					display: inline-block;
					height: 20px;
					margin-left: 6px;
					vertical-align: middle;
					width: 20px;
				}
			}
		}
	}
	
	#disclaimer {
	    margin-top: 50px;
	}
}

.help,
.student {
	#content-wrap {
		h3 {
			background: none;
			padding: 0;
		}
	}
	@include breakpoint(small only) {
		.all-news {
			.in-the-news,
			.testimonials {
				> p:last-child {
					margin-bottom: 35px;
				}
			}
		}
	}
}

.virtual-wrap {
	background: #eff1f0;
	padding: 20px 0 40px;
	
	h5 {
		color: #808f8c;
		margin-bottom: 70px;
		text-transform: uppercase;
	}
	hr {
		margin: 40px 0;
	}
	.all-news {
		padding-bottom: 28px;
		padding-top: 16px;
	}
}

.communciations-toolkit {
	font-size: 13px;
	
	h2 {
		margin-bottom: .7rem;
	}
	a img {
		margin-right: 8px;
	}
}

.in-the-news {
	font-size: 13px;
	
	ul {
		margin-bottom: 28px;
	}
	@include breakpoint(small only) {
		> p:last-child {
			border-bottom: 1px solid #cacaca;
			padding-bottom: 35px;
		}
	}
}

.testimonials {
	font-size: 13px;
	
	@include breakpoint(small only) {
		> p:last-child {
			border-bottom: 1px solid #cacaca;
			padding-bottom: 35px;
		}
	}
}

.testimonials-item {
    margin-bottom: 28px;
	max-width: 95%;
	
	strong {
		display: block;
		line-height: normal;
		margin-bottom: 5px;
	}
	p {
		line-height: normal;
	}
}

.twitterlist {
	background-color: $white;
	border: 1px solid #dddddd;
	font-size: 13px;
	
	.btn {
		border: 2px solid #58b6f6;
		color: #58b6f6;
		float: right;
		padding: 1px 6px;
		
		@include breakpoint(medium only) {
			float: none; 
			margin-top: 4px;
		}
		@include breakpoint(small only) {
			margin-top: 0px;
		}
		i {
			margin-right: 5px;
		}
	}
	.twitterlist-item:first-child {
		border: 0 none;
		margin-top: 0;
	}
}

.twitterlist-header {
	border-bottom: 1px solid #ddd;
	display: inline-block;
	padding: 6px 8px 6px 15px;
	width: 100%;
	
	strong {
		margin-left: 10px;
	}
}

.twitterlist-contant {
	max-height: 233px;
	overflow-y: auto;
}

.tweet-title-text {
	display: inline-block;
	font-size: 14px;
	margin-top: 3px;
	
	i {
		font-size: 16px;
	}
}

.twitterlist-item {
	border-top: 1px solid #ddd;
	margin: 5px 15px 5px 7px;
	padding-top: 5px;
}

.tweet-img {
	max-width: 43px;
	position: relative;
	
	img {
		position: absolute;
	}
}

.tweet-description {
	padding-left: 50px;
	
	ul {
		margin: 7px 0 0;
	}
	li {
		display: inline-block;
		margin-right: 40px;
		margin-bottom: 0 !important;
		
		@include breakpoint(medium only) {
			margin-right: 28px;
		}
		@include breakpoint(small only) {
			margin-right: 48px;
		}
		&:last-child {
			margin: 0;
		}
		&:before {
			display: none;
		}
		a {
			color: #adb1b4;
		}
	}
}

.twitter-item-name {
	a {
		color: #000;
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
	}
	.gray-link {
		color: #adb1b4;
		font-weight: normal;
		text-transform: none;
	}
	p.pull-right {
		color: #adb1b4;
		font-size: 12px;
	}
}

.tweet-botom-title a {
	color: #58b6f6;
	font-weight: normal;
	text-transform: none;
}

.tweet-box {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px 10px 12px;
}

.tweet-box-title p {
	max-width: 189px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

[data-simplebar] {
	position:relative;
	z-index:0;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
}

[data-simplebar=init] {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

.simplebar-scroll-content {
	overflow-x:hidden;
	overflow-y:scroll;
	min-width:100%;
	box-sizing:content-box;
}

.simplebar-content {
	overflow-x:scroll;
	overflow-y:hidden;
	box-sizing:border-box;
	min-height:100%;
}

.simplebar-track {
	z-index:1;
	position:absolute;
	right:0;
	bottom:0;
	width:11px;
}

.simplebar-scrollbar {
	position:absolute;
	right:2px;
	border-radius:7px;
	min-height:10px;
	width:7px;
	opacity:0;
	-webkit-transition:opacity .2s linear;
	transition:opacity .2s linear;
	background:#000;
	background-clip:padding-box;
}

.simplebar-track {
	.simplebar-scrollbar {
		&.visible {
			opacity:.5
		}
	}
	&:hover .simplebar-scrollbar {
		opacity:.5;
		-webkit-transition:opacity 0 linear;
		transition:opacity 0 linear;
	}
	&.horizontal {
		left:0;
		width:auto;
		height:11px
	}
	&.vertical {
		top:0
	}
}

.horizontal.simplebar-track .simplebar-scrollbar {
	right:auto;
	top:2px;
	height:7px;
	min-height:0;
	min-width:10px;
	width:auto
}  

.sharables {
	width: 100%;
}

.sharables-wrap {
	padding-bottom: 20px;
}

.sharables-image {
    position: relative;
}

.sharables-share {
    background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    right: 0;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			color: $white;
			float: left;
			margin-bottom: 0 !important;
			width:20%;
			text-align:center;
			position: inherit !important;
			
			@include breakpoint(small only) {
				font-size: 14px !important; 
			}
			a {
				color: $white;
			}
		}
	}
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
	
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}

.slick-slide {
	margin: 0px 15px;
	
	img {
		width: 100%;
	}
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 -15px;
    padding: 0;
	
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
	
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 1;
	
	&:hover,
	&:focus {
		color: transparent;
		outline: none;
		background: transparent;
	}
	&:before {
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		height: 50px;
		width: 25px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
		@include breakpoint(medium only) {
			height: 30px;
			width: 15px;
		}
		@include breakpoint(small only) {
			height: 30px;
			width: 15px;
		}
	}
	&.slick-disabled:before {
		opacity: .25;
	}
}

.slick-prev {
    left: -44px;
	
	@include breakpoint(medium only) {
		left: 5px;
	}
	@include breakpoint(small only) {
		left: 5px;
	}
	&:before {
		background-image: url("../images/arrow-left.png");
		content: '';
	}
}
.slick-next {
    right: -44px;
	
	@include breakpoint(medium only) {
		right: 5px;
	}
	@include breakpoint(small only) {
		right: 5px;
	}
	&:before {
		background-image: url("../images/arrow-right.png");
		content: '';
	}
}

.submit-link {
	font-size: 18px;
	margin-top: -18px;
	text-align: center;
	
	@include breakpoint(medium only) {
		font-size: 16px;
	}
	@include breakpoint(small only) {
		font-size: 14px;
	}
}