<div class="optionready-body">
  <header class="header">
    <div class="container">
      <div class="main-menu visible-lg visible-md visible-sm hidden-xs">
        <div class="row">
          <div class="col-md-12 menu-right">
            <ul class="head-social menu">
              <li class="title-icon">Connect with us:</li>
              <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em class="fa fa-facebook"></em></a></li>
              <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fa fa-twitter"></em></a></li>
              <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                    class="fa fa-linkedin"></em></a></li>
              <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                    class="fa fa-youtube"></em></a></li>
              <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em class="fa fa-instagram"></em></a>
              </li>
              <li><a href="#" ng-click="snapChatModal()"><em class="fa fa-snapchat"></em></a></li>
            </ul><a class="bring-btn button" href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="main-logo"><a ng-href="./"><img alt="ASVAB logo" src="images/head-Logo.png" /></a>
          </div>
        </div>
      </div>
      <div class="banner-bg">
        <div class="row text-white d-flex optionready">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h1 class="option-title">How to get <br /><strong>#optionready</strong></h1>
            <p class="option-disc text-white visible-lg visible-md visible-sm hidden-xs">Tell your school community
              about the benefit of being informed. Use these <strong>posters, flyers, announcements,</strong> and
              <strong>social media graphics</strong> to help you celebrate all the different ways to be successful and
              become #optionready with us!</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="banner-img">
              <ul class="icon-call">
                <li><strong>College</strong> <img alt="College" class="banner-icon" src="images/img-1.png" /></li>
                <li><strong>Work-Based Learning</strong> <img alt="Based Learning" class="banner-icon"
                    src="images/img-2.png" /></li>
                <li><strong>Military</strong> <img alt="Military" class="banner-icon" src="images/img-3.png" /></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 hidden-md hidden-sm visible-xs nopadding">
            <div class="option-txt">
              <p class="option-disc text-white">Tell your school community about the benefit of being informed. Use
                these <strong>posters, flyers, announcements</strong> and <strong>social media graphics</strong> to help
                you celebrate all the different ways to be successful and become #optionready with us!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="posters-sec virtual-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="posters-wrap">
            <h2 class="option-subtitle">Flyers and Posters</h2>
            <p>Remind everyone about ASVAB CEP week at your school by using our flyers! There's even a fillable version
              so you can add your own text with event info or other details.</p>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-md-12">
          <div class="sharables">
            <div class="resource-box"
              ng-controller="GA"
              ng-click="sendToResource(resource.resourceUrl); trackClick(resource.resourceUrl)"
              ng-repeat="resource in resources | filter: {'typeId' : 1}"><a class="resource-img"
                ng-class="{ 'resource-word' : !resource.isPdf, 'resource-pdf' : resource.isPdf }" ng-href="#"><img
                  alt="{{resource.altText}}" ng-src="{{resource.resourceThumbnailUrl}}" /></a>
              <span class="resource-title">{{resource.title}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="posters-wrap">
            <h2 class="option-subtitle">Announcements and Messages</h2>
            <p>Use these excerpts during morning announcements and email correspondence with parents to engage your
              student body to become informed about their options, sign up to participate and take it seriously.</p>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-md-12">
          <div class="sharables">
            <div class="resource-box"
              ng-controller="GA"
              ng-click="sendToResource(resource.resourceUrl); trackClick(resource.resourceUrl)"
              ng-repeat="resource in resources | filter: {'typeId' : 2}"><a class="resource-img"
                ng-class="{ 'resource-word' : !resource.isPdf, 'resource-pdf' : resource.isPdf }" ng-href="#"><img
                  alt="{{resource.altText}}" ng-src="{{resource.resourceThumbnailUrl}}" /></a>
              <span class="resource-title">{{resource.title}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="sharables-wrap media-weap">
            <h2 class="option-subtitle">Social Media Graphics</h2>
            <p>Start a social media conversation about this unique opportunity for your students to get on their path to
              success using these graphics. Don't forget to share photos of your activities during the week by using the
              hashtag #optionready!</p>
            <div class="sharables">
              <div ng-if="$index >= 4" ng-repeat="sharable in sharablesList track by $index">
                <div class="sharables-image"><img ng-src="{{sharable.shareImgUrl}}" />
                  <div class="sharables-share">
                    <ul>
                      <li>Share</li>
                      <li><a ng-click="trackSocialShare('Facebook','Shareable')" ng-controller="GA" socialshare=""
                          socialshare-description="{{sharable.description}}" socialshare-hashtags="#ASVABCEP"
                          socialshare-provider="facebook" socialshare-text="{{sharable.text}}" socialshare-type="feed"
                          socialshare-url="{{sharable.shareImgUrl}}" socialshare-via="2055205968038605"><span
                            class="fa fa-facebook"></span></a></li>
                      <li><a ng-click="trackSocialShare('Twitter', 'Shareable')" ng-controller="GA" socialshare=""
                          socialshare-provider="twitter" socialshare-text="{{sharable.text}}"
                          socialshare-url="{{sharable.shareImgUrl}}" socialshare-via="ASVABCEP"><span
                            class="fa fa-twitter"></span></a></li>
                      <li><a ng-click="trackSocialShare('LinkedIn', 'Shareable')" ng-controller="GA" socialshare=""
                          socialshare-provider="linkedin" socialshare-text="{{sharable.text}}"
                          socialshare-url="{{sharable.shareImgUrl}}"><span class="fa fa-linkedin"></span></a></li>
                      <li><a download="" href="{{sharable.shareImgUrl}}" target="_blank"><span
                            class="fa fa-download"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 hidden-md hidden-sm visible-xs nopadding">
          <div class="main-menu social-icon"><a class="bring-btn button" href="asvab-cep-at-your-school">Bring the ASVAB
              CEP to Your School</a>
            <p>Connect with us:</p>
            <ul class="head-social">
              <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em class="fa fa-facebook"></em></a></li>
              <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fa fa-twitter"></em></a></li>
              <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                    class="fa fa-linkedin"></em></a></li>
              <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                    class="fa fa-youtube"></em></a></li>
              <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em class="fa fa-instagram"></em></a>
              </li>
              <li><a href="#" ng-click="snapChatModal()"><em class="fa fa-snapchat"></em></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="optionready-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="option-subtitle">What is #optionready?</h2>
          <p>Ask anyone over the age of 30 if they knew all of their options when they were making post-secondary plans
            and you'll probably get a similar answer: "I wish I knew more in high school." Even the best plans can be
            derailed or postponed when life happens, so it's important to know what your alternatives are.</p>
          <p>Are your students ready for life after high school? College ready? Career ready? What about option ready?
          </p>
          <p>There are many different ways to be successful, and life after high school is typically more "choose your
            own adventure" than "one size fits all." College, work-based learning, and military service (or a
            combination of the three) are all potential paths to career satisfaction. One of the wisest strategies
            students can execute now to prepare for the future is understanding their options.</p>
          <p>The ASVAB Career Exploration Program compiles career information from a variety of reliable sources and
            presents students with all of their options so they can make a realistic plan for life after high school.
          </p>
          <p class="mb-0">For more sharables and articles, visit our <a href="media-center">media center</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="photo-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="option-subtitle">Photo Share</h2>
          <div ng-if="photos.length === 0">
            <p>Sorry! No galleries available just yet. Please check back later!</p>
          </div>
          <div ng-if="photos.length > 0">
            <div class="powr-flickr-gallery photo-share-container" id="ddd29c43_1563279884">
              <div ng-repeat="photo in photos | limitTo: limit track by $index"><img ng-click="showImage($index)"
                  ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.{{photo.originalFormat}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><span ng-if="limit > defaultLimit"><a class="view-btn" ng-click="viewLess();">View
              Less</a> | </span>
          <span ng-if="limit < photos.length"><a class="view-btn" ng-click="viewMore();"
              ng-disabled="limit >= photos.length">View More</a> | </span>
          <span ng-if="limit < photos.length"><a class="view-btn" ng-click="viewAll();"
              ng-disabled="limit >= photos.length">View All</a> | </span>
          <a class="view-btn" href="mailto:asvabcep@gmail.com">Submit Your Image</a>
        </div>
      </div>
    </div>
  </section>
</div>