<!-- metadata -->
<update-meta property="og:title" content="{{title}}"></update-meta>
<update-meta property="og:description" content="{{description}}"></update-meta>
<update-meta property="og:image" content="{{imageUrl}}"></update-meta>
<update-meta property="og:url" content="{{absUrl}}"></update-meta>
<update-meta property="og:type" content="article"></update-meta>

<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@asvabcep"></update-meta>
<update-meta name="twitter:title" content="{{title}}"></update-meta>
<update-meta name="twitter:description" content="{{description}}"></update-meta>
<update-meta name="twitter:image" content="{{imageUrl}}"></update-meta>

<update-title title="{{title}}"></update-title>
<update-meta name="description" content="{{description}}"></update-meta>

<div dynamic="pageHtml"></div>