<p>What do you see when you look at the future? </p>
<p>As Dr. Seuss puts it: </p>
<div align="center">
  <p><em>&ldquo;You have brains in your head. You have feet in your shoes. You can steer yourself any direction you
      choose. You're on your own. And you know what you know. And YOU are the one who'll decide where to
      go...&rdquo;</em></p>
  <p style="text-align:left;">You have the power to steer your life in any direction. Think of understanding your skills
    and interests as calibrating your compass due north. Understanding your options (and the job market) will help you
    determine the direction you will travel.</p>
</div>
<p>The United States&rsquo; economic growth is projected to generate 8.4 million new jobs (a 5.2 percent increase)
  between 2018 and 2028. </p>
<h3>Bright Outlook </h3>
<p>Occupations characterized as Bright Outlook are those expected to grow rapidly, have a large number of job openings,
  or are new and emerging. </p>
<p>These are the 20 occupations with the highest percent projected change of employment between 2018-2028, according to
  the <a href="http://www.bls.gov/" target="_blank">Bureau of Labor Statistics</a>.</p>
<table>
  <tbody>
    <tr>
      <td width="50%">Solar photovoltaic installers</td>
      <td width="25%">63%</td>
      <td width="25%">$44,890 per year</td>
    </tr>
    <tr>
      <td>Wind turbine service technicians&nbsp;</td>
      <td>57%</td>
      <td>$52,910 per year</td>
    </tr>
    <tr>
      <td>Home health aides</td>
      <td>37%</td>
      <td>NA</td>
    </tr>
    <tr>
      <td>Personal care aides</td>
      <td>36%</td>
      <td>NA</td>
    </tr>
    <tr>
      <td>
        <p>Occupational therapy assistants</p>
      </td>
      <td>33%</td>
      <td>$61,510 per year</td>
    </tr>
    <tr>
      <td>Information security analysts&nbsp;</td>
      <td>32%</td>
      <td>99,730 per year</td>
    </tr>
    <tr>
      <td>Physician assistants</td>
      <td>31%</td>
      <td>$112,260 per year</td>
    </tr>
    <tr>
      <td>Statisticians</td>
      <td>31%</td>
      <td>$91,160 per year</td>
    </tr>
    <tr>
      <td>Nurse practitioners&nbsp;</td>
      <td>28%</td>
      <td>$109,820 per year</td>
    </tr>
    <tr>
      <td>Speech-language pathologists</td>
      <td>27%</td>
      <td>$79,120 per year </td>
    </tr>
    <tr>
      <td>Physical therapist assistants</td>
      <td>27%</td>
      <td>$58,790 per year</td>
    </tr>
    <tr>
      <td>Genetic counselors</td>
      <td>27%</td>
      <td>$81,880 per year</td>
    </tr>
    <tr>
      <td>Mathematicians&nbsp;</td>
      <td>26%</td>
      <td>$105,030 per year</td>
    </tr>
    <tr>
      <td>Operations research analytics</td>
      <td>26%</td>
      <td>$84,810 per year</td>
    </tr>
    <tr>
      <td>Software developers, applications</td>
      <td>26%</td>
      <td>NA</td>
    </tr>
    <tr>
      <td>Forest fire inspectors and prevention specialists</td>
      <td>24%</td>
      <td>$45,270 per year</td>
    </tr>
    <tr>
      <td>Health specialties teachers, postsecondary</td>
      <td>23%</td>
      <td>$97,320 per year</td>
    </tr>
    <tr>
      <td>Phlebotomists</td>
      <td>23%</td>
      <td>$35,510 per year</td>
    </tr>
    <tr>
      <td>Physical therapist aides</td>
      <td>23%</td>
      <td>$27,000 per year</td>
    </tr>
    <tr>
      <td>Medical assistants&nbsp;</td>
      <td>23%</td>
      <td>$34,800 per year</td>
    </tr>
  </tbody>
</table>
<p>These occupations vary across a full range of interests and employment requirements. Remember, choosing an occupation
  that interests you makes you better positioned for success. </p>
<p>Choosing a career that is growing while you&rsquo;re working on a postsecondary degree or gaining military experience
  increases your chance of getting a job when you&rsquo;re done. </p>
<h3>Visit the OCCU-Find at <a
      href="http://www.asvabprogram.com/#/student-explore-occu-find">www.asvabprogram.com</a> to learn more about these
    and other occupations that interest you.</h3>
<p>Sources: </p>
<p>Bureau of Labor Statistics, U.S. Department of Labor, Occupational Outlook Handbook, Last Modified: September 2019,
  <a href="https://www.bls.gov/ooh/fastest-growing.htm" target="_blank">Fastest Growing Occupations</a> (visited July 1,
  2020).</p>
<p>Bureau of Labor Statistics, U.S. Department of Labor, Employment Projections, Last Modified: April 15, 2020, <a
    href="https://www.bls.gov/emp/tables/fastest-growing-occupations.htm">Employment Projections</a>&nbsp;(visited July
  1, 2020).</p>
<p>Economic News Release. (2015, December 8) Retrieved July 31, 2016, from <a
    href="http://www.bls.gov/news.release/ecopro.nr0.htm" target="_blank">BLS.gov</a>.</p>
<p>Photo provided by <a href="http://www.shutterstock.com/index-in.mhtml" target="_blank">shutterstock</a>.</p>