<update-meta property="og:title" content="{{articleMetaTitle}}"></update-meta>
<update-meta property="og:description" content="{{articleMetaDescription}}"></update-meta>
<update-meta property="og:image" content="{{shareImgUrl}}"></update-meta>
<update-meta property="og:type" content="article"></update-meta>
<update-meta property="og:url" content="{{absUrl}}"></update-meta>
		
<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:title" content="{{articleMetaTitle}}"></update-meta>
<update-meta name="twitter:description" content="{{articleMetaDescription}}"></update-meta>
<update-meta name="twitter:image" content="{{shareImgUrl}}"></update-meta>
<update-meta name="twitter:site" content="@ASVABCEP"></update-meta>

<update-title title="{{articleMetaTitle}}"></update-title>
<update-meta name="description" content="{{articleMetaDescription}}"></update-meta>
<update-meta name="keywords" content="{{article.keywords}}"></update-meta>

<div class="occufind article">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Media Center</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
	
		<div class="row">
			<div class="medium-6 columns">
				<h1 class="article-title">{{article.title}}</h1>
			</div>
			<div class="medium-6 columns share">Share: 
				<a href="#" ng-controller="GA" ng-click="trackSocialShare('Facebook', articleMetaTitle);" 
				   socialshare socialshare-provider="facebook"
				   socialshare-via="2055205968038605"
				   socialshare-url="{{absUrl}}"><i class="fa fa-facebook"></i></a>
				<a href="#" ng-controller="GA" ng-click="trackSocialShare('Twitter', articleMetaTitle);" 
				   socialshare socialshare-provider="twitter"
				   socialshare-text="{{articleMetaTitle}}: {{ShrinkDescription(articleMetaDescription, 50)}}"
				   socialshare-url="{{absUrl}}"
				   socialshare-via="ASVABCEP"><i class="fa fa-twitter"></i></a> 
				<a href="#" ng-controller="GA" ng-click="trackSocialShare('LinkedIn', articleMetaTitle);" 
				   socialshare socialshare-provider="linkedin"
				   socialshare-text="{{articleMetaTitle}}"
				   socialshare-description="{{ShrinkDescription(articleMetaDescription, 50)}}"
				   socialshare-url="{{absUrl}}"><i class="fa fa-linkedin"></i></a> 
				<a href="#" ng-controller="GA" ng-click="trackSocialShare('Email', articleMetaTitle);" 
				   socialshare socialshare-provider="email"
				   socialshare-subject="Check out this article on ASVAB CEP"
				   socialshare-body="{{articleMetaTitle}} {{absUrl}}"><i class="fa fa-envelope"></i></a> 
			</div>
		</div>
		
		<div class="row column"><hr style="margin-top: 0;"></div>

		<div class="row">	
			<section id="main-content" class="medium-8 columns" role="main">
			  <div id="featured-image">
				  <img ng-show="article.typeId == 2" ng-src="{{article.articleImgUrl}}">
					<div class="wrapper" ng-show="article.typeId == 1">
						<div class="h_iframe">
							<iframe height="400" width="2"
								ng-src="{{trustedVideoUrl}}" frameborder="0"
								allowfullscreen></iframe>
						</div>
					</div>
				</div>
				

			  
			  <!-- <div class="article-date">{{m.postDate | limitTo : 10}}</div> -->
			  <p dynamic="article.article"></p>
			  
			  <div class="callout">
			  	<p>The ASVAB Career Exploration Program (CEP) is a FREE career planning resource available to high schools nationwide. This comprehensive program includes one of the most widely used multiple-aptitude test batteries in the world and an interest inventory complemented by a thorough occupational database all designed to give students an in-depth look at the world of work. To learn more about the program components or how to bring the CEP to your school, <a ng-click="asvabModal()">click here</a>.</p>
			  </div>
			
			</section>
			
			<div class="medium-4 columns">
				<p><a href="media-center">Media Center</a></p>
				
				<h3>Student News</h3>
				<ul>
					<li ng-repeat="m in mediaCenterList | filter:{categoryId : 1} | limitTo : 3"><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
					<li><a href="media-center-article-list/1">View Full List</a></li>
				</ul>
				
				<h3>Counselor Articles</h3>
				<ul>
					<li ng-repeat="m in mediaCenterList | filter:{categoryId : 4} | limitTo : 3"><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
					<li><a href="media-center-article-list/4">View Full List</a></li>
				</ul>
				
				<h3>Parent Articles</h3>
				<ul>
					<li ng-repeat="m in mediaCenterList | filter:{categoryId : 2} | limitTo : 3"><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
					<li><a href="media-center-article-list/2">View Full List</a></li>
				</ul>
				
				<h3>Tutorial</h3>
				<ul>
					<li ng-repeat="m in mediaCenterList | filter:{categoryId : 5} | limitTo : 3"><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
					<li><a href="media-center-article-list/5">View Full List</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>