<update-title title="{{ title }} | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="{{ description }}"></update-meta>

<div class="occufind article article-list">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Media Center</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<section class="table-pagination" style="clear:both">
                <div class="medium-6 columns">
                    <h2 class="list-title" ng-if="categoryId == 1">Student Articles</h2>
                    <h2 class="list-title" ng-if="categoryId == 2">Parent Articles</h2>
                    <h2 class="list-title" ng-if="categoryId == 4">Counselor Articles</h2>
                    <h2 class="list-title" ng-if="categoryId == 5">Tutorials</h2>
                </div>
                <div class="medium-6 columns">
                    <span class="pagination-label">PAGES</span>
                    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="setCurrentPage(currentPage)" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                </div>
              </section>
            
		</div>
		
		<div class="row column"><hr style="margin-top: 0;"></div>
		
		<div class="row">	
			<section id="main-content" class="medium-12 columns" role="main" ng-repeat="a in articleList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
			  
			  <div class="article row">
			  	<div class="featured-image medium-4 columns" ><a href="media-center-article/{{a.id}}"><span class="image-wrapper"><img ng-src="{{a.thumbnailUrl}}" style="position: relative;"><span ng-if="a.typeId == 1"
							id="play-icon"></span></span></a></div>
			  
			  	<div class="medium-8 columns">
					<!-- <span class="article-date">{{a.postDate | limitTo : 10}}</span> -->
					<h4 class="article-title"><a href="media-center-article/{{a.id}}">{{a.title}}</a></h4>
			  
			    	<p>{{a.articleDescription}}</p>
                </div>
			  </div>
              </section>
              <section class="row table-pagination" style="clear:both">
                <div class="medium-12 columns"><hr/></div>
                <div class="medium-6 columns"></div>
                <div class="medium-6 columns">
                    <span class="pagination-label">PAGES</span>
                    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="setCurrentPage(currentPage)" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                </div>
              </section>
			
			
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

  </div>