<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div class="occufind help">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Media Center</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<section id="main-content" class="medium-12 columns" role="main">	
				<h1 class="article-title">Career Connection</h1>
				<br />					
				<div class="row">	
					<div class="small-4 columns resource">
						<h3>Student News</h3>
						<div ng-repeat="m in mediaCenterList | filter:{categoryId : 1} | limitTo : 1">
                        <a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span></a>
                        </div>
                        <ul>
                          <li ng-repeat="m in mediaCenterList | filter:{categoryId : 1} | limitTo : 3 : 1"><!-- {{m.postDate | limitTo : 10}}:  --><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
                        </ul> 
                        
                        <p><a href="media-center-article-list/1">View Archive</a></p>
					</div>
					<div class="small-4 columns resource">
						<h3>Counselor Articles</h3>
						<div ng-repeat="m in mediaCenterList | filter:{categoryId : 4} | limitTo : 1">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span> </a>
						</div>
                        
                        <ul>
                          <li ng-repeat="m in mediaCenterList | filter:{categoryId : 4} | limitTo : 3 : 1"><!-- {{m.postDate | limitTo : 10}}:  --><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
                        </ul> 
                        
                        <p><a href="media-center-article-list/4">View Archive</a></p>
					</div>
					<div class="small-4 columns resource">
						<h3>Parent Articles</h3>
						<div ng-repeat="m in mediaCenterList | filter:{categoryId : 2} | limitTo : 1">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
							id="play-icon"></span></span> </a>
						</div>
                        
                        <ul>
                          <li ng-repeat="m in mediaCenterList | filter:{categoryId : 2} | limitTo : 3 : 1"><!-- {{m.postDate | limitTo : 10}}:  --><a href="media-center-article/{{m.id}}">{{m.title}}</a></li>
                        </ul> 
                        
                        <p><a href="media-center-article-list/2">View Archive</a></p>
					</div>
				</div>
				
                <br/>

				<hr>    
				
                <p>&nbsp;</p>
				
                <h2>Tutorials</h2>
                
                <br/>
                
                <div class="row">
									<slick slides-to-scroll="1" slides-to-show="3">
										<div class="medium-4 columns tutorial"
										ng-repeat="m in filteredMediaCenterList">
										<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
										<a href="media-center-article/{{m.id}}"><span class="image-wrapper"><img
											ng-src="{{m.thumbnailUrl}}" style="position: relative;"><span ng-if="m.typeId == 1"
											id="play-icon"></span></span> </a>
											<br><br>
									</div>
					</slick>
                	<!-- <div class="medium-4 columns tutorial"
						ng-repeat="m in mediaCenterList | filter : {positionId : 22} : true">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><img
							src="{{m.thumbnailUrl}}"> </a>
					</div>
					<div class="medium-4 columns tutorial"
						ng-repeat="m in mediaCenterList | filter : {positionId : 23} : true">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><img
							src="{{m.thumbnailUrl}}"> </a>
					</div>
					<div class="medium-4 columns tutorial"
						ng-repeat="m in mediaCenterList | filter : {positionId : 24} : true">
						<a class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a>
						<a href="media-center-article/{{m.id}}"><img
							src="{{m.thumbnailUrl}}"> </a>
					</div>	 -->
				</div>
				
			</section>
		</div>
	</section>
	    <section class="virtual-wrap">
    	<div class="row">
        	<div class="medium-12 columns">
                <h5>Virtual Press Room</h5>
                <div class="communciations-toolkit">
                    <h2>Communications Toolkit</h2>
                    <p><strong>You are the most important part of making this program a success. We have put together this toolkit to provide you with all of the resources you need to get started.</strong></p>
                    <a target="_blank" href="{{awsMediaUrl}}CEP_PDF_Contents/ASVAB_CEP_Communications_Toolkit.pdf"><img src="images/icon-pdf.png"> Communications Toolkit</a>
                </div>
                
                <hr>
                
                <div class="all-news">
                    <div class="row">	
                        <div class="small-4 columns in-the-news">
                            <h2>In the news</h2>                            
                            <ul>
                              <li ng-repeat="a in inTheNewsList | orderBy:'positionId'">
                              	<a href="{{a.externalLink}}" target="_blank">{{a.title}}</a>
                              </li>
                            </ul>
                        </div>
                        <div class="small-4 columns testimonials">
                            <h2>Testimonials</h2>
                            <div class="testimonials-item" ng-repeat="a in testimonialsList">
                            	<strong>"{{a.title}}"</strong>
                            	<p><em>{{a.author}}</em></p>
                            </div> 
                            <p><a href="mailto:asvabcep@gmail.com?subject=Testimonial Submission">Submit a testimonial</a></p>
                        </div>
                        <div class="small-4 columns">
							<div style="padding:10px;position:relative;background-color:#fff;">
								<div style="position: absolute;right: 12px;top: 10px;">
									<a style="font-size:18px;color:#292F33;" href="https://help.twitter.com/en/twitter-for-websites-ads-info-and-privacy" 
										target="_blank" title="Twitter Ads info and privacy">
										<i class="fa fa-info-circle"></i>
									</a>
								</div>
								<h2 style="margin-bottom:0; font-size: 21px;font-weight: 300;line-height: 24px;color: #292F33;display: inline-block!important;max-width: 100%;">
									Tweets
									<span style="font-size: 12px;font-weight: 400;line-height: 16px;color: #657786;">by 
										<a style="color: #2b7bb9;text-decoration: none;" href="https://twitter.com/asvabcep" target="_blank">‎@asvabcep</a>
									</span>
								</h2>
							</div>
							
                        	<a class="twitter-timeline" data-chrome="noheader" data-width="411" data-height="284" href="https://twitter.com/asvabcep?ref_src=twsrc%5Etfw">Tweets by asvabcep</a>
                        </div>                        
                    </div>
                </div>
                
                <hr>
                
                <div class="sharables-wrap">
                    <h2>Sharables</h2>
                    <div class="sharables">
                    	<div ng-repeat="a in sharablesList">
                    		<div class="sharables-image">
                    			<img ng-src="{{a.shareImgUrl}}" style="position:relative;"/>
                    			<div class="sharables-share">
                    				<ul>
                    					<li>Share</li>
                    					<li>
                    						<a 	ng-controller="GA" ng-click="trackSocialShare('Facebook', 'Shareable');"
                    							socialshare socialshare-provider="facebook"
                    										socialshare-type="feed"
                    										socialshare-via="2055205968038605"
                    										socialshare-url="{{a.shareImgUrl}}"
                    										socialshare-text="{{a.title}}"
                    										socialshare-description="{{a.articleDescription}}"
                    										socialshare-hashtags="#ASVABCEP"><i class="fa fa-facebook"></i></a>
                    					</li>
                    					<li>
                    						<a	ng-controller="GA" ng-click="trackSocialShare('Twitter', 'Shareable');"
                    							socialshare socialshare-provider="twitter"
                    										socialshare-text="{{a.title}}"
                    										socialshare-via="ASVABCEP"
                    										socialshare-url="{{a.shareImgUrl}}"><i class="fa fa-twitter"></i></a>
                    					</li>
                    					<li>
                    						<a	ng-controller="GA" ng-click="trackSocialShare('LinkedIn', 'Shareable');"
                    							socialshare socialshare-provider="linkedin"
                    										socialshare-text="{{a.title}}"
                    										socialshare-url="{{a.shareImgUrl}}"><i class="fa fa-linkedin"></i></a>
                    					</li>
                    					<li>
                    						<a	ng-controller="GA" ng-click="trackSocialShare('Email', 'Shareable');"
                    							socialshare socialshare-provider="email"
                    										socialshare-subject="{{a.title}}"
                    										socialshare-body="Use this digital media on your school website and social media channels to promote participation in the ASVAB Career Exploration Program. %0D%0A %0D%0A{{a.shareImgUrl}}"><i class="fa fa-envelope"></i></a>
                    					</li>
                    				</ul>
                    			</div>
                    		</div>
                    	</div>
                    </div>                    
                </div>
                
                <hr>
                
                <p class="submit-link"><a href="mailto:asvabcep@gmail.com?subject=Press inquiries">Submit press inquiries to asvabcep@gmail.com</a></p>
            </div>
        </div>
    </section>
	
	
	<div class="mc-loggedout" ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div class="mc-loggedin" ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>