<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

	<div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
				
			  <h1>Agriculture, Food &amp; Natural Resources</h1><br/>
			  
			  <p><strong>Pathway 1: Agribusiness Systems</strong></p>
			  
			  <p>Agribusiness is the coordination of all activities that contribute to the production, processing, marketing, distribution, financing and development of agricultural commodities and resources. This includes food, fiber, wood products, natural resources, horticulture, and other plant and animal products and services. Agribusiness is a high-tech industry that uses satellite systems, computer databases and spreadsheets, biotechnology and many other innovations to increase efficiency and profitability.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-9013.02">Farm and Ranch Managers</a></li>
						<li><a href="{{url}}11-9013.03">Aquacultural Managers </a></li>
						<li><a href="{{url}}13-1021.00">Buyers and Purchasing Agents, Farm Products </a></li>
						<li><a href="{{url}}13-1074.00">Farm Labor Contractors </a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-9013.02{{urlSuffix}}">
				  	<div>Farm and Ranch Managers</div>
				  </div>
			  </div>
			  
			  <hr/>
			  			  
			  <p><strong>Pathway 2: Animal Systems</strong></p>
			  
			  <p>People who work in the Animal Systems pathway work to develop better, more efficient ways of producing and processing meat, poultry, eggs and dairy products. They study genetics, nutrition, reproduction, growth and development of domesticated farm animals. Some individuals inspect and grade livestock food products, purchase livestock or work in technical sales or marketing. Others advise agricultural producers on how to upgrade animal housing facilities properly, lower mortality rates, handle waste matter or increase production of animal products, such as milk or eggs. Animal care workers train, feed, water, groom, bathe and exercise animals. They also clean, disinfect and repair their cages.</p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}19-1011.00">Animal Scientists </a></li>
						<li><a href="{{url}}39-2021.00">Nonfarm Animal Caretakers </a></li>
						<li><a href="{{url}}45-2021.00">Animal Breeders </a></li>
						<li><a href="{{url}}45-2093.00">Farmworkers, Farm, Ranch, and Aquacultural Animals </a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}39-2021.00{{urlSuffix}}">
				  	<div>Nonfarm Animal Caretakers</div>
				  </div>
			  </div>
			  		  
			  <hr/>
			  
			  <p><strong>Pathway 3: Environmental Service Systems</strong></p>
			  
			  <p>People who work in the Environmental Service Systems pathway are involved in water and air pollution control, recycling, waste disposal and public health issues. Environmental engineers and technicians conduct hazardous-waste management studies, evaluate the significance of the hazard, offer analysis on treatment and containment, and develop regulations to prevent mishaps. They design municipal sewage and industrial wastewater systems. They analyze scientific data, research environmental projects and perform quality control checks.</p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}17-2081.00">Environmental Engineers </a></li>
						<li><a href="{{url}}17-3025.00">Environmental Engineering Technicians </a></li>
						<li><a href="{{url}}37-2021.00">Pest Control Workers </a></li>
						<li><a href="{{url}}47-4041.00">Hazardous Materials Removal Workers </a></li>
						<li><a href="{{url}}53-7081.00">Refuse and Recyclable Material Collectors </a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}47-4041.00{{urlSuffix}}">
				  	<div>Hazardous Materials Removal Workers</div>
				  </div>
			  </div>
			  
			  <hr/>
			  
			  <p><strong>Pathway 4: Food Products and Processing</strong></p>
			  
			  <p>People who work in the Food Products and Processing Systems pathway discover new food sources, analyze food content and develop ways to process, preserve, package or store food according to industry and government regulations. They create new food products to meet consumer needs and inspect food-processing areas to ensure that sanitation, safety, quality and waste management standards are met.</p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}19-1012.00">Food Scientists and Technologists</a></li>
						<li><a href="{{url}}19-4011.01">Agricultural Technicians</a></li>
						<li><a href="{{url}}19-4011.02">Food Science Technicians</a></li>
						<li><a href="{{url}}45-1011.00">First-Line Supervisors of Farming, Fishing, and Forestry</a></li>
						<li><a href="{{url}}45-2041.00">Graders and Sorters, Agricultural Products</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}19-4011.01{{urlSuffix}}">
				  	<div>Agricultural Technicians</div>
				  </div>
			  </div>
			  
			  <hr/>
			  
			  <p><strong>Pathway 5: Natural Resources Systems</strong></p>
			  
			  <p>People who work in the Natural Resources Systems pathway perform a variety of tasks from helping to develop, maintain, and manage the forest and natural environment to catching and trapping various types of marine life for human consumption, animal feed, bait and other uses. Forest and rangelands supply wood products, livestock forage, minerals and water; serve as sites for recreational activities; and provide habitats for wildlife. Conservation scientists and foresters manage, develop, use and help protect these and other natural resources.</p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-9121.00">Natural Sciences Managers</a></li>
						<li><a href="{{url}}19-4041.02">Geological Sample Test Technicians</a></li>
						<li><a href="{{url}}19-4093.00">Forest and Conservation Technicians</a></li>
						<li><a href="{{url}}45-3011.00">Fishers and Related Fishing Workers</a></li>
						<li><a href="{{url}}45-4022.00">Logging Equipment Operators</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-9121.00{{urlSuffix}}">
				  	<div>Natural Sciences Managers</div>
				  </div>
			  </div>
			  
			  <hr/>
			  
			  <p><strong>Pathway 6: Plant Systems</strong></p>
			  
			  <p>People who work in the Plant Systems pathway study plants and their growth. This helps producers of food, feed and fiber crops continue to feed a growing population while conserving natural resources and maintaining the environment. Individuals in this pathway also develop ways to improve the nutritional value of crops and the quality of seeds. They use genetic engineering to develop crops resistant to pests and drought. </p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}19-1013.00">Soil and Plant Scientists</a></li>
						<li><a href="{{url}}19-4021.00">Biological Technicians</a></li>
						<li><a href="{{url}}37-3012.00">Pesticide Handlers, Sprayers, and Applicators, Vegetation</a></li>
						<li><a href="{{url}}37-3013.00">Tree Trimmers and Pruners</a></li>
						<li><a href="{{url}}45-2092.02">Farmworkers and Laborers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}45-2092.02{{urlSuffix}}">
				  	<div>Farmworkers and Laborers</div>
				  </div>
			  </div>
			  
			  <hr/>
			  
			  <p><strong>Pathway 7: Power, Structural and Technical Systems</strong></p>
			  
			  <p>People who work in the Power, Structural and Technical Systems pathway apply knowledge of engineering, hydraulics, pneumatics, electronics, power, structures, and controls to the field of agriculture. They design agricultural structures as well as machinery and equipment. They develop ways to conserve soil and water and to improve the processing of agricultural products.</p>
			  			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}17-2021.00">Agricultural Engineers</a></li>
						<li><a href="{{url}}45-2091.00">Agricultural Equipment Operators</a></li>
						<li><a href="{{url}}49-3041.00">Farm Equipment Mechanics and Service Technicians</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}45-2091.00{{urlSuffix}}">
				  	<div>Agricultural Equipment Operators</div>
				  </div>
			  </div>
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
