<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
				
			  <h1>Arts, A/V, Technology &amp; Communications</h1><br/>
			  
			  <p><strong>Pathway 1: Audio and Video Technology  and Film</strong></p>
			  
			  <p>Broadly, individuals that work in the AV communications industry  manufacture, sell, rent, design, install, integrate, operate and repair the  equipment of audiovisual communications. They are involved in the presentation of sound, video and data to groups  in such venues as corporate boardrooms, hotels, convention centers, classrooms,  theme parks, stadiums and museums. The  major activity sectors in the AV communications industry are distributive  service firms (AV dealers, rental companies, consultants, designers, and  related firms), manufacturers of AV presentations and communications products  and large end-users.<strong> </strong></p>
<div class="row">
		  <div class="large-8 medium-7 columns">
			  <p><strong>Sample Occupations</strong></p>

			  <ul>
				<li>No OCCU-Find occupations  are currently linked to this Career Pathway.</li>
		      </ul>
	      </div>
		  <div class="large-4 medium-5 columns">
	      </div>
	    </div>
			  
			  <hr/>
			  			  
			  <p><strong>Pathway 2: Printing Technology</strong></p>
			  
			  <p>The printing process has three stages-prepress, press and binding or  post-press. Prepress workers prepare material for printing presses. They  perform a variety of tasks involved with transforming text and pictures into  finished pages and making printing plates of the pages. Desktop publishing poses new challenges for  the printing industry. The printing  industry is rapidly moving toward complete &ldquo;digital imaging,&rdquo; by which  customers&rsquo; material received digitally is converted directly into printing  plates. Other innovations in prepress  work are digital color page makeup systems, electronic page layout systems and  off-press color proofing systems. Printing press operators prepare, operate and  maintain the printing presses in a pressroom. In most shops, press operators also perform preventive maintenance. Computers allow press operators to perform  many of their tasks electronically. With  this equipment, press operators monitor the printing process on a control panel  or computer monitor, which allows them to adjust the press electronically.<strong> </strong></p>
<div class="row">
		  <div class="large-8 medium-7 columns">
			  <p><strong>Sample Occupations</strong></p>

			  <ul>
				<li><a href="{{url}}43-9031.00">Desktop Publishers </a></li>
                <li><a href="{{url}}43-9081.00">Proofreaders and Copy  Markers</a></li>
                <li><a href="{{url}}51-5111.00">Prepress Technicians and  Workers</a></li>
                <li><a href="{{url}}51-5112.00">Printing Press Operators</a></li>
                <li><a href="{{url}}51-5113.00">Print Binding and  Finishing Workers</a></li>
		      </ul>
	      </div>
		  <div class="large-4 medium-5 columns">
		  	<img src="{{urlPrefix}}43-9031.00{{urlSuffix}}">
		  	<div>Desktop Publishers</div>
	      </div>
	    </div>
			  		  
          <hr/>
          
          <p><strong>Pathway 3: Visual Arts</strong></p>
          
          <p>Visual artists create art to communicate ideas, thoughts or feelings.  They use a variety of methods-painting, sculpting or illustrating-and an  assortment of materials, including oils, watercolors, acrylics, pastels,  pencils, pen and ink, photography, plaster, clay and computers. Their works may  be realistic, stylized or abstract and may depict objects, people, nature or  events. Visual artists are generally categorized in two groups. Fine artists  create art to satisfy their own need for self-expression. Illustrators and  graphic designers, on the other hand, put their artistic skills at the service  of commercial clients, such as major corporations; retail stores; and  advertising, design and publishing firms.<strong> </strong></p>
          <p><strong> </strong></p>
            <div class="row">
              <div class="large-8 medium-7 columns">
                  <p><strong>Sample Occupations</strong></p>
    
                  <ul>
                    <li><a href="{{url}}27-1011.00">Art Directors </a></li>
                    <li><a href="{{url}}27-1021.00">Commercial and  Industrial Designers </a></li>
                    <li><a href="{{url}}27-1012.00">Craft Artists</a></li>
                    <li><a href="{{url}}27-1022.00">Fashion Designers</a></li>
                    <li><a href="{{url}}27-1013.00">Fine Artists, Including  Painters, Sculptors, and Illustrators</a></li>
                  </ul>
              </div>
              <div class="large-4 medium-5 columns">
                <img src="{{urlPrefix}}27-1021.00{{urlSuffix}}">
                <div>Commercial and  Industrial Designers</div>
              </div>
            </div>
			  		  
          <hr/>
          
          <p><strong>Pathway 4: Performing  Arts</strong></p>
<p>A variety of businesses and groups involved in theatrical and musical  performances are included in this pathway Theatrical production companies for  example, coordinate all aspects of producing a play or theater event. Agents  represent actors and assist them in finding jobs. Costume design management  companies design costumes. Lighting and stage crews handle the technical  aspects of productions. Also in this segment are dance studios, schools and  halls, which provide places for professional and amateur dancers to practice,  perform and learn. Performers of live musical entertainment include musical  artists, dance bands, orchestras, jazz musicians and various modern bands.  Orchestras range from major professional orchestras with million-dollar budgets  to community orchestras often with part-time schedules.<strong> </strong></p>
<div class="row">
        <div class="large-8 medium-7 columns">
          <p><strong>Sample Occupations</strong></p>
    
            <ul>
              <li><a href="{{url}}27-2041.01">Music Directors</a></li>
              <li><a href="{{url}}27-2011.00">Actors</a></li>
              <li><a href="{{url}}27-2032.00">Choreographers</a></li>
              <li><a href="{{url}}39-3092.00">Costume Attendants</a></li>
              <li><a href="{{url}}39-5091.00">Makeup Artists, Theatrical and Performance </a></li>
            </ul>
        </div>
        <div class="large-4 medium-5 columns">
          <img src="{{urlPrefix}}39-5091.00{{urlSuffix}}">
          <div>Makeup Artists, Theatrical and Performance</div>
        </div>
        </div>
			  		  
          <hr/>
          
          <p><strong>Pathway 5: Journalism and Broadcasting</strong></p>
          
          <p>News analysts, reporters and correspondents gather information, prepare  stories and make broadcasts that inform us about local, state, national and  international events; present points of view on current issues; and report on  the actions of public officials, corporate executives, special interest groups  and others who exercise power. Broadcast and sound technicians install, test,  repair, set up and operate the electronic equipment used to record and transmit  radio and television programs, cable programs and motion pictures. Chief  engineers, broadcast field supervisors and transmission engineers supervise the  technicians who operate and maintain broadcasting equipment.<strong> </strong></p>
<div class="row">
        <div class="large-8 medium-7 columns">
          <p><strong>Sample Occupations</strong></p>
        
            <ul>
              <li><a href="{{url}}27-3021.00">Broadcast News Analysts</a></li>
              <li><a href="{{url}}27-3042.00">Technical Writers</a></li>
              <li><a href="{{url}}27-4013.00">Radio Operators </a></li>
              <li><a href="{{url}}27-3022.00">Reporters and  Correspondents</a></li>
              <li><a href="{{url}}27-4014.00">Sound Engineering  Technicians</a></li>
            </ul>
          </div>
          <div class="large-4 medium-5 columns">
            <img src="{{urlPrefix}}27-4013.00{{urlSuffix}}">
            <div>Radio Operators</div>
          </div>
        </div>
		
        <hr/>
          
          <p><strong>Pathway 6: Telecommunications</strong></p>
          
          <p>Telecommunications  specialists focus on the interaction between computer and communications  equipment. Telecommunications equipment is computerized and can communicate a  variety of information, including data, graphics and video. The workers who set  up and maintain this sophisticated equipment are telecommunications equipment  technicians, installers and repairers.</p>
            <div class="row">
              <div class="large-8 medium-7 columns">
                <p><strong>Sample Occupations</strong></p>
    
                  <ul>
                    <li><a href="{{url}}49-9052.00">Telecommunications Line  Installers and Repairers</a></li>
                    <li><a href="{{url}}49-2022.00">Telecommunications Equipment Installers and  Repairers, Except Line Installers </a></li>
                  </ul>
              </div>
              <div class="large-4 medium-5 columns">
                <img src="{{urlPrefix}}49-2022.00{{urlSuffix}}">
                <div>Telecommunications Equipment Installers and  Repairers, Except Line Installers</div>
              </div>
            </div>
            
            <br/>
          
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>
            
			  		  
			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
		  </div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

  </div>
