<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- MAIN CODING -->
				
			  <h1>Business Management &amp; Administration</h1><br/>
			  
			  <p><strong>Pathway 1: General Management</strong></p>
			  
			  <p>General Management focuses on careers that plan, organize, direct, and evaluate all or part of a business organization through the allocation and use of financial, human, and material resources.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-1011.00">Chief Executives</a></li>
						<li><a href="{{url}}11-1021.00">General and Operations Managers</a></li>
						<li><a href="{{url}}11-9199.02">Compliance Managers</a></li>
						<li><a href="{{url}}11-9199.07">Security Managers</a></li>
						<li><a href="{{url}}11-9199.04">Supply Chain Managers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-1021.00{{urlSuffix}}">
				  	<div>General and Operations Managers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Business Information Management</strong></p>
			  
			  <p>Business Information Management is an umbrella term covering those careers that provide a bridge between business processes/initiatives and IT. Employees in this area helpS to align business and IT goals.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-3021.00">Computer and Information Systems Managers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-3021.00{{urlSuffix}}">
				  	<div>Computer and Information Systems Managers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Human Resources Management</strong></p>
			  
			  <p>Human Resources Management focuses on the staffing activities that involve planning, recruitment, selection, orientation, training, performance appraisal, compensation, and safety of employees.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-3111.00">Compensation and Benefits Managers</a></li>
						<li><a href="{{url}}11-3121.00">Human Resources Managers</a></li>
						<li><a href="{{url}}11-3131.00">Training and Development Managers</a></li>
						<li><a href="{{url}}13-1071.00">Human Resources Specialists</a></li>
						<li><a href="{{url}}13-1075.00">Labor Relations Specialists</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}13-1071.00{{urlSuffix}}">
				  	<div>Human Resources Managers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 4: Operations Management</strong></p>
			  
			  <p>Operations Management focuses on planning, organizing, coordinating, and controlling the resources needed to produce/provide a business's goods and/or services. Examples of activities in Operations Management are quality control, scheduling, procurement, and warehousing.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-3051.00">Industrial Production Managers</a></li>
						<li><a href="{{url}}11-3061.00">Purchasing Managers</a></li>
						<li><a href="{{url}}13-1111.00">Management Analysts</a></li>
						<li><a href="{{url}}13-1121.00">Meeting, Convention, and Event Planners</a></li>
						<li><a href="{{url}}15-2031.00">Operations Research Analysts</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}15-2031.00{{urlSuffix}}">
				  	<div>Operations Research Analysts</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 5: Administrative Support</strong></p>
			  
			  <p>Managers in Administrative Support facilitate business operations through a variety of administrative and clerical duties including information and communication management, data processing and collection, and project tracking.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}43-4021.00">Correspondence Clerks</a></li>
						<li><a href="{{url}}43-4071.00">File Clerks</a></li>
						<li><a href="{{url}}43-4141.00">New Accounts Clerks</a></li>
						<li><a href="{{url}}43-4151.00">Order Clerks</a></li>
						<li><a href="{{url}}43-5071.00">Shipping, Receiving, and Traffic Clerks</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}43-5071.00{{urlSuffix}}">
				  	<div>Shipping, Receiving, and Traffic Clerks</div>
				  </div>
			  </div>
			  
			 
			  			  
			  <!-- MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			  
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
