<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- START MAIN CODING -->
				
			  <h1>Education</h1><br/>
			  
			  <p><strong>Pathway 1: Administration and Administrative Support</strong></p>
			  
			  <p>Smooth operation of any education or training institution requires competent administration. Administrators provide direction, leadership and day-to- day management of educational activities in schools, preschools, daycare centers, colleges, universities, business and industries, correctional institutions, museums, and job training and community service organizations.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-9039.01">Distance Learning Coordinators</a></li>
						<li><a href="{{url}}11-9032.00">Education Administrators, Elementary and Secondary School</a></li>
						<li><a href="{{url}}11-9033.00">Education Administrators, Postsecondary</a></li>
						<li><a href="{{url}}11-9039.02">Fitness and Wellness Coordinators</a></li>
						<li><a href="{{url}}11-9031.00">Education Administrators, Preschool and Childcare Center/Program</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-9039.01{{urlSuffix}}">
				  	<div>Distance Learning Coordinators</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Professional Support Services</strong></p>
			  
			  <p>The Professional Support Services pathway represents a variety of highly specialized occupations that are critical to our education and training systems. Counselors, psychologists, social workers, speech-language pathologists and audiologists assist people with personal and family needs, mental health assistance, educational goals and career decision making.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}25-9011.00">Audio-Visual and Multimedia Collections Specialists</a></li>
						<li><a href="{{url}}21-1012.00">Educational, Guidance, School, and Vocational Counselors</a></li>
						<li><a href="{{url}}25-4021.00">Librarians</a></li>
						<li><a href="{{url}}25-4012.00">Curators</a></li>
						<li><a href="{{url}}25-4031.00">Library Technicians</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}25-4031.00{{urlSuffix}}">
				  	<div>Library Technicians</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Teaching and Training</strong></p>
			  
			  <p>In addition to being knowledgeable in their subject, teachers and trainers must have the ability to communicate, inspire trust and confidence, motivate learners, as well as understand their educational and emotional needs. Teachers must be able to recognize and respond to individual differences in diverse learners and employ different teaching/training methods that will result in higher learner achievement.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}25-2059.01">Adapted Physical Education Specialists</a></li>
						<li><a href="{{url}}25-2032.00">Career/Technical Education Teachers, Secondary School</a></li>
						<li><a href="{{url}}27-2022.00">Coaches and Scouts</a></li>
						<li><a href="{{url}}25-2021.00">Elementary School Teachers, Except Special Education</a></li>
						<li><a href="{{url}}25-2052.00">Special Education Teachers, Kindergarten and Elementary School</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}25-2059.01{{urlSuffix}}">
				  	<div>Adapted Physical Education Specialists</div>
				  </div>
			  </div>
			  
			
			  
			 
			  			  
			  <!-- END MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
