<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- START MAIN CODING -->
				
			  <h1>Hospitality &amp; Tourism</h1><br/>
			  

			  <p><strong>Pathway 1: Restaurant &amp; Food/Beverage Services</strong></p>
			  
			  <p>Employees working in the Restaurant and Food/Beverage Services pathway perform a variety of tasks to maintain operations and promote guest services in eating and drinking establishments.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}51-3011.00">Bakers</a></li>
						<li><a href="{{url}}11-9051.00">Food Service Managers</a></li>
						<li><a href="{{url}}35-2014.00">Cooks, Restaurant</a></li>
						<li><a href="{{url}}35-9021.00">Dishwashers</a></li>
						<li><a href="{{url}}35-3031.00">Waiters and Waitresses</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}35-2014.00{{urlSuffix}}">
				  	<div>Cooks, Restaurant</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Lodging</strong></p>
			  
			  <p>Employees working in the Lodging pathway perform tasks related to the operation of lodging facilities and the care of guests who use these facilities, either through direct guest contact or the provision of background services that enhance the guest experience.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}39-6011.00">Baggage Porters and Bellhops</a></li>
						<li><a href="{{url}}39-6012.00">Concierges</a></li>
						<li><a href="{{url}}11-9081.00">Lodging Managers</a></li>
						<li><a href="{{url}}43-4081.00">Hotel, Motel, and Resort Desk Clerks</a></li>
						<li><a href="{{url}}37-2011.00">Janitors and Cleaners, Except Maids and Housekeeping Cleaners</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}43-4081.00{{urlSuffix}}">
				  	<div>Hotel, Motel, and Resort Desk Clerks</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Travel and Tourism</strong></p>
			  
			  <p>Employees in the Travel and Tourism pathway focus on the development, research, packaging, promotion and delivery of a traveler's experiences. There is a broad range of jobs in this pathway. Employees may be involved in developing a heritage area for the enjoyment and education of visitors, creating guide books, planning trips and events, managing a customer's travel plans or overseeing a huge urban convention center.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}39-7011.00">Tour Guides and Escorts</a></li>
						<li><a href="{{url}}39-7012.00">Travel Guides</a></li>
						<li><a href="{{url}}41-3041.00">Travel Agents</a></li>
						<li><a href="{{url}}43-4181.00">Reservation and Transportation Ticket Agents and Travel Clerks</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}43-4181.00{{urlSuffix}}">
				  	<div>Reservation and Transportation Ticket Agents and Travel Clerks</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 4; Recreation, Amusements and Attractions Pathway</strong></p>
			  
			  <p>Employees looking for exciting and diverse work situations are best suited for the Recreation, Amusements, and Attractions pathway. The work is often demanding but never boring. Good customer service skills are essential for success. Employees must also understand what makes each operation unique. Technical skills are location-specific, and training is handled on the job.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}39-3091.00">Amusement and Recreation Attendants</a></li>
						<li><a href="{{url}}27-2021.00">Athletes and Sports Competitors</a></li>
						<li><a href="{{url}}39-3021.00">Motion Picture Projectionists</a></li>
						<li><a href="{{url}}39-3031.00">Ushers, Lobby Attendants, and Ticket Takers</a></li>
						<li><a href="{{url}}27-2023.00">Umpires, Referees, and Other Sports Officials</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}39-3091.00{{urlSuffix}}">
				  	<div>Amusement and Recreation Attendants</div>
				  </div>
			  </div>
			  
			  

			  

			  
			 
			  			  
			  <!-- END MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
