<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- START MAIN CODING -->
				
			  <h1>Human Services</h1><br/>
			  

			  <p><strong>Pathway 1: Early Childhood Development and Services</strong></p>
			  
			  <p>People with careers in early childhood development and services nurture and teach children. They provide services in childcare centers, nursery schools, preschools, public schools, private households, family childcare homes, and before- and after-school programs.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}39-9011.00">Childcare Workers</a></li>
						<li><a href="{{url}}39-9011.01">Nannies</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}39-9011.00{{urlSuffix}}">
				  	<div>Childcare Workers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Counseling and Mental Health Services</strong></p>
			  
			  <p>People working in counseling and mental health services assist people with personal, family, educational, mental health, and career decisions and problems. Mental health care may be provided in hospitals, clinics, schools or private settings.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}21-1015.00">Rehabilitation Counselors</a></li>
						<li><a href="{{url}}19-3031.02">Clinical Psychologists</a></li>
						<li><a href="{{url}}19-3031.03">Counseling Psychologists</a></li>
						<li><a href="{{url}}21-1013.00">Marriage and Family Therapists</a></li>
						<li><a href="{{url}}21-1023.00">Mental Health and Substance Abuse Social Workers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}19-3031.02{{urlSuffix}}">
				  	<div>Clinical Psychologists</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Family and Community Services</strong></p>
			  
			  <p>Employees with careers in family and community services help the homeless, housebound, and infirm cope with circumstances of daily living; counsel troubled and emotionally disturbed individuals; train or retrain the unemployed or underemployed; care for the elderly and the physically and mentally disabled; help the needy obtain financial assistance; and solicit contributions for various social services organizations.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}21-1021.00">Child, Family, and School Social Workers</a></li>
						<li><a href="{{url}}21-1094.00">Community Health Workers</a></li>
						<li><a href="{{url}}21-2021.00">Directors, Religious Activities and Education</a></li>
						<li><a href="{{url}}21-1022.00">Healthcare Social Workers</a></li>
						<li><a href="{{url}}21-1093.00">Social and Human Service Assistants</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}21-1022.00{{urlSuffix}}">
				  	<div>Healthcare Social Workers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 4: Personal Care Services</strong></p>
			  
			  <p>People with careers in personal care services assist individuals with their personal appearance, including shampooing, cutting, coloring and styling hair; giving manicures, pedicures, and scalp and facial treatments; providing makeup analysis; cleaning and styling wigs and hairpieces; and providing personal fitness training. Also, within personal care services, funeral directors and attendants make funeral arrangements for grieving families.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}39-9031.00">Fitness Trainers and Aerobics Instructors</a></li>
						<li><a href="{{url}}39-4021.00">Funeral Attendants</a></li>
						<li><a href="{{url}}39-5012.00">Hairdressers, Hairstylists, and Cosmetologists</a></li>
						<li><a href="{{url}}39-5092.00">Manicurists and Pedicurists</a></li>
						<li><a href="{{url}}31-9011.00">Massage Therapists</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}39-5012.00{{urlSuffix}}">
				  	<div>Hairdressers, Hairstylists, and Cosmetologists</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 5: Consumer Services</strong></p>
			  
			  <p>People with careers in consumer services assist individuals with decisions and problems relating to finance, real estate, insurance and consumer goods.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}13-2071.00">Credit Counselors</a></li>
						<li><a href="{{url}}13-2071.01">Loan Counselors</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}13-2071.00{{urlSuffix}}">
				  	<div>Credit Counselors</div>
				  </div>
			  </div>
			  
			  

			  
			  
			 
			  			  
			  <!-- END MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
