<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- START MAIN CODING -->
				
			  <h1>Manufacturing</h1><br/>
			  

			  <p><strong>Pathway 1: Production</strong></p>
			  
			  <p>People with careers in production work on the shop floor making parts or assembling them. They work with machines, making or assembling electronic parts, constructing or assembling modular housing, performing welding jobs, or printing various materials.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}51-2011.00">Aircraft Structure, Surfaces, Rigging, and Systems Assemblers</a></li>
						<li><a href="{{url}}51-2022.00">Electrical and Electronic Equipment Assemblers</a></li>
						<li><a href="{{url}}51-4011.00">Computer-Controlled Machine Tool Operators, Metal and Plastic</a></li>
						<li><a href="{{url}}51-4041.00">Machinists</a></li>
						<li><a href="{{url}}51-4111.00">Tool and Die Makers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}51-4041.00{{urlSuffix}}">
				  	<div>Machinists</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Manufacturing Production Process Development</strong></p>
			  
			  <p>Employees in Manufacturing Production Process Development are responsible for product design and design of the manufacturing process. They work with customers to ensure the manufacturing process produces a product that meets or exceeds customer expectations. They also monitor the manufacturing process and the materials used to manufacture the product.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}17-3026.00">Industrial Engineering Technicians</a></li>
						<li><a href="{{url}}17-3027.00">Mechanical Engineering Technicians</a></li>
						<li><a href="{{url}}17-3029.01">Engineering Technicians, Except Drafters, All Other</a></li>
						<li><a href="{{url}}19-4031.00">Chemical Technicians</a></li>
						<li><a href="{{url}}19-4051.00">Nuclear Technicians</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}19-4031.00{{urlSuffix}}">
				  	<div>Chemical Technicians</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Maintenance, Installation and Repair</strong></p>
			  
			  <p>People with careers in Maintenance, Installation and Repair perform preventive maintenance procedures on machines, tools and equipment. These are performed routinely and on a regular basis. They also troubleshoot and repair electrical, electronic and mechanical systems. This will include mechanical repair as well as using computer-based inventory control systems, retrieving information histories on each machine from computer records, and recording repair activities on the system to keep accurate records of repairs performed on each machine.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}49-2095.00">Electrical and Electronics Repairers, Powerhouse, Substation, and Relay</a></li>
						<li><a href="{{url}}49-2098.00">Security and Fire Alarm Systems Installers</a></li>
						<li><a href="{{url}}49-9041.00">Industrial Machinery Mechanics</a></li>
						<li><a href="{{url}}49-9062.00">Medical Equipment Repairers</a></li>
						<li><a href="{{url}}49-9081.00">Wind Turbine Service Technicians</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}49-9041.00{{urlSuffix}}">
				  	<div>Industrial Machinery Mechanics</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 4: Quality Assurance</strong></p>
			  
			  <p>Quality Assurance employees assure that standards and procedures are adhered to and that delivered products or services meet performance requirements. They may have responsibility for monitoring and maintaining the quality of parts and manufacturing processes. This could include identifying the raw product to ensure it meets specifications, as well as measuring or otherwise testing products and parts to ensure they meet required customer specifications.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}43-5061.00">Production, Planning, and Expediting Clerks</a></li>
						<li><a href="{{url}}43-5111.00">Weighers, Measurers, Checkers, and Samplers, Recordkeeping</a></li>
						<li><a href="{{url}}51-9061.00">Inspectors, Testers, Sorters, Samplers, and Weighers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}51-9061.00{{urlSuffix}}">
				  	<div>Inspectors, Testers, Sorters, Samplers, and Weighers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 5: Logistics and Inventory Control</strong></p>
			  
			  <p>People with careers in Logistics and Inventory Control work with an inventory of raw materials and finished parts. They move raw materials to the production line, unload trucks with raw materials, wrap pallets of finished products for shipment, and communicate with traffic managers.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li>No OCCU-Find occupations are currenty linked to this Career Pathway.</li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 6: Health, Safety and Environmental Assurance</strong></p>
			  
			  <p>Employees in Health, Safety and Environmental Assurance ensure that the equipment is being used safely in the workplace; plan for safety in new production processes; conduct health, safety and/or environmental incident and hazard investigations; conduct preventive health, safety and/or environmental incident and hazard inspections; and implement health, safety and/or environmental programs, projects, policies or procedures. They may train workers in health, safety and/or environmental issues and provide event documentation.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li>No OCCU-Find occupations are currently linked to this Career Pathway.</li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  </div>
			  </div>

			 
			  

			  
			  
			  
			 
			  			  
			  <!-- END MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
