<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

  <div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

			  <!-- HEADER SECTION -->

			  <!-- START MAIN CODING -->
				
			  <h1>Marketing</h1><br/>
			  

			  <p><strong>Pathway 1: Marketing Management</strong></p>
			  
			  <p>People with careers in marketing management formulate policies and direct the operations of businesses and corporations, nonprofit institutions and other organizations. In small firms, the owner or chief executive officer may assume all advertising, promotions, marketing, sales and public relations responsibilities. In large firms, which may offer numerous products and services nationally or even worldwide, an executive vice president directs overall advertising, promotions, marketing, sales and public relations policies.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}11-2011.00">Advertising and Promotions Managers</a></li>
						<li><a href="{{url}}11-2021.00">Marketing Managers</a></li>
						<li><a href="{{url}}11-2022.00">Sales Managers</a></li>
						<li><a href="{{url}}11-2031.00">Public Relations and Fundraising Managers</a></li>
						<li><a href="{{url}}11-9141.00">Property, Real Estate, and Community Association Managers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}11-2021.00{{urlSuffix}}">
				  	<div>Marketing Managers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 2: Professional Sales</strong></p>
			  
			  <p>Employees in professional sales are involved in the transfer of goods and services in the economy, both to businesses and to individual consumers.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}41-2011.00">Cashiers</a></li>
						<li><a href="{{url}}41-2022.00">Parts Salespersons</a></li>
						<li><a href="{{url}}41-3011.00">Advertising Sales Agents</a></li>
						<li><a href="{{url}}41-9022.00">Real Estate Sales Agents</a></li>
						<li><a href="{{url}}53-3031.00">Driver/Sales Workers</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}41-2011.00{{urlSuffix}}">
				  	<div>Cashiers</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 3: Merchandising</strong></p>
			  
			  <p>Employees in buying and merchandising positions get the product into the hands of the customer. This process includes forecasting, planning, buying, displaying, selling and providing customer service.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}13-1022.00">Wholesale and Retail Buyers, Except Farm Products</a></li>
						<li><a href="{{url}}27-1026.00">Merchandise Displayers and Window Trimmers</a></li>
						<li><a href="{{url}}41-9012.00">Models</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}13-1022.00{{urlSuffix}}">
				  	<div>Wholesale and Retail Buyers, Except Farm Products</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 4: Marketing Communications</strong></p>
			  
			  <p>Marketing communications employees plan, coordinate and implement marketing strategies, advertising, promotion, and public relations activities. Because of the importance and high visibility of their jobs, these individuals often are prime candidates for advancement.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}27-3031.00">Public Relations Specialists</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}27-3031.00{{urlSuffix}}">
				  	<div>Public Relations Specialists</div>
				  </div>
			  </div>
			  
			  <hr/>

			  <p><strong>Pathway 5: Marketing Research</strong></p>
			  
			  <p>Employees in marketing research are concerned with understanding people and organizations. They collect and analyze many different types of information to design new products, to predict future sales and to position their own company's strategies against those of its competitors.</p>
			  
			  <div class="row">
				  <div class="large-8 medium-7 columns">
					  <p><strong>Sample Occupations</strong></p>

					  <ul>
						<li><a href="{{url}}13-1161.00">Market Research Analysts and Marketing Specialists</a></li>
					  </ul>
				  </div>
				  <div class="large-4 medium-5 columns">
				  	<img src="{{urlPrefix}}13-1161.00{{urlSuffix}}">
				  	<div>Market Research Analysts and Marketing Specialists</div>
				  </div>
			  </div>
			  
			 



			 
			  
			  
			 
			  			  
			  <!-- END MAIN CODING -->










			  <!-- START FOOTER SECTION -->
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a dierent set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			  <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
