<update-meta property="og:title" content="{{ccPathways.pathwaySeoTitle}}"></update-meta>
<update-meta property="og:description" content="{{ccPathways.pathwaySeoDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{ccPathways.pathwaySeoTitle}}"></update-title>
<update-meta name="description" content="{{ccPathways.pathwaySeoDescription}}"></update-meta>

	<div class="occufind student no-margin">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<ul id="sub-nav" class="menu">
						<li><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
					</ul>
				</div>
				<div class="small-5 columns">
					<p data-step="2">OCCU-FIND</p>
				</div>
			</div>
		</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div ng-include="'cep/components/career-cluster/page-partials/career-cluster-banner-mobile-menu.html'"></div>
			</div>
			
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <ul class="menu tools icons-right">
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>

          <h1>{{ccPathways.title}}</h1><br/>
          
        <div ng-repeat="pathway in ccPathways.pathways">

          <p><strong>Pathway {{$index+1}}: {{pathway.pathwayTitle}}</strong></p>
          
          <p>{{pathway.pathwayDescription}}</p>
          
          <div class="row">
            <div class="large-8 medium-7 columns">
              <p><strong>Sample Occupations</strong></p>

              <ul ng-if="!pathway.sampleOccupations.length">
                <li>No OCCU-Find occupations are currently linked to this Career Pathway.</li>
              </ul>

              <ul ng-if="pathway.sampleOccupations.length <= 5">
                <li ng-repeat="occupation in pathway.sampleOccupations"><a href="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
              </ul>

              <ul ng-if="!showMore[$index] && pathway.sampleOccupations.length > 5">
                <li ng-repeat="occupation in pathway.sampleOccupations.slice(0,5)"><a href="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
              </ul>
              <ul ng-if="showMore[$index] && pathway.sampleOccupations.length > 5">
                <li ng-repeat="occupation in pathway.sampleOccupations"><a href="{{url}}{{occupation.onetSoc}}">{{occupation.title}}</a></li>
              </ul>
              <div ng-if="!showMore[$index] && pathway.sampleOccupations.length > 5">
                <a ng-click="toggleShowOccupations($index, true)">Show more...</a>
              </div>
              <div ng-if="showMore[$index] && pathway.sampleOccupations.length > 5">
                <a ng-click="toggleShowOccupations($index, false)">Show less...</a>
              </div>
            </div>

            <div class="large-4 medium-5 columns">
              <img ng-src="{{awsMediaUrl}}OCCUFIND_IMGS/{{pathway.sampleOccupations[0].onetSoc}}.jpg"
                title="{{pathway.sampleOccupations[0].title}}"
                alt="{{pathway.sampleOccupations[0].title}}"
              >
              <div>{{pathway.sampleOccupations[0].title}}</div>
            </div>
          </div>

          <hr ng-if="$index < ccPathways.pathways.length - 1"/>
        </div>
			  		  			  
			  <ul class="menu tools bottom">
				<li id="top"><a href="" ng-click="scrollTop()">Back to Top</a></li>
				<li id="back"><a href="" ng-click="back()">Back to Career cluster List</a></li>
			  </ul>
			  
			  <br/>
			  <br/>
			  
			  <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a different set of career clusters. Contact your career counselor to fnd out more information.</p>

			  <br/>

			  <p style="text-align:center">
			  	<a href="http://www.careertech.org/career-clusters/" target="_blank"><img src="images/career-cluster-logo.jpg"></a>
			  </p>
			  
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<!-- <div ng-include="'cep/components/career-cluster/page-partials/career-cluster-left-nav.html'"></div> -->
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Questions you might want to think about while you explore careers:</p>
					<p>What do people do in this<br>
						career?</p>
					<p>In what type of environment do people in this career work?</p>
					<p>What kind and how much<br>
						training is needed to enter<br>
						this career?</p>
					<p>What are the opportunities<br>
						for obtaining work in this<br>
						career?</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>ABOUT THE ASVAB</h3></li>
						<li><a href="student-post-test">Post-Test Interpretation <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>
