<!DOCTYPE html>
<html>
<head>
<title>Career One Stop Web Services Access </title>
<style>
table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}



.modal {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: Black;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	-moz-opacity: 0.8;
}

.center {
	z-index: 1000;
	margin: 300px auto;
	padding: 10px;
	width: 130px;
	background-color: White;
	border-radius: 10px;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

.center img {
	height: 128px;
	width: 128px;
}

  .red {
          border: solid 1px red;
      }
     .black {
          border: solid 1px black;
      }   
      
</style>




<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/app.css">
<style>
body {
	font-family: Arial;
	font-size: 10pt;
	background: white;
}
</style>


<script src="js/libs/jquery-2.2.1.min.js"></script>
<script src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="js/libs/bootstrap-datepicker-1.5.1/bootstrap-datepicker.js"></script>
<script src="angular-1.5.0/angular.js" ></script>
<script src="angular-1.5.0/angular-animate.min.js" ></script>
<script src="js/ui-bootstrap-tpls-1.3.1.min.js" ></script>

</head>
<body class="occufind">
	<header>
		<div class="title-bar" data-responsive-toggle="main-menu"
			data-hide-for="medium">
			<div class="title-bar-title">
				<a href="templates/index.html"><img
					src="images/logo-mobile.png" alt="ASVAB logo"></a>
			</div>
		</div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="small-7 columns">
					<h2 style="color:cyan;" >Career One Stop Web Services</h2>
				</div>
			</div>
		</section>
	</header>

<div ng-app="myApp" ng-controller="fetchACController">
  <h3>Select an Occupation</h3>
    <select name="mySelect" id="mySelect"  ng-change="occupationSelected()"
      ng-options="option.name for option in data.availableOptions track by option.value"
      ng-model="data.selectedOption"></select>
 
  <hr />
<!--   <pre> {{data.selectedOption | json}} </pre> -->
 <uib-tabset active="active">
    <uib-tab index="0" heading="Certifications" select="certInit()" >

      <h3>Find Certifications</h3>
      
      <select name="mySelectCert" id="mySelectCert"  class="tab-pane fade in active"  size=12   ng-change="certDetailSelected()"
      ng-options="option.name for option in cert.availableOptions track by option.value"
      ng-model="cert.selectedOption"></select>
      <!--   <pre> {{cert.selectedOption | json}} </pre> -->
      
 
 <h3>{{certDetail.CERT_NAME}}</h3>
 
 
{{certDetail.CERT_DESCRIPTION}}
 
 
 		<table>
			<tr>
				<th>Item </th>
				<th>Value</th>

			</tr>
			<!--  track by $index   -->
			<tr ng-repeat="row in certDetailTable | filter:'!empty'">
				<td>{{ row.item }}</td>
				<td>{{ row.value }}</td>
			</tr>
		</table>
 
 
 
 

    </uib-tab>
    <uib-tab index="1"  heading="Licenses" >
      Stuff .....
    </uib-tab>
    <uib-tab index="2" heading="Training" select="initTrainingTab()">
      I've got an HTML heading, and a select callback. Pretty cool!
      
      
<table>
			<tr>
				<th> Occupation </th>
				<th> Location</th>
				<th> Submit</th>
			</tr>
			<tr>
				<td>
				{{data.selectedOption.name}}
				</td>
				<td>
					  <form name="form">
					    <br>
						    <label for="input"><strong>Zip Code is Required</strong> </label>
					    	<input type="text" ng-model="model" id="input" name="input" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/"    
					    	ng-class="{red: form.input.$valid}"  required />
					    	<br>
					    <hr>
					<!--     input valid? = <code>{{form.input.$valid}}</code><br>
					    model = <code>{{model}}</code>  -->
					  </form>
				</td>
				<td>
					<button type="button" onclick="alert('Hello world!')">Search</button>
				</td>
			</tr>
		</table>
      
      
      
      
      
      
      
    </uib-tab>
  </uib-tabset>




 </div>


	<script>
   var initializing = true;
      function clearInput() {
    	    document.getElementById('listInput').value = '';
    	}

      // Controller Init function .....
    const BASE_URL = "/CEP/";  
	var app = angular.module('myApp',['ngAnimate', 'ui.bootstrap']);
		app.controller('fetchACController', function($scope, $http) {

	$scope.quantity = 20;
	$scope.downloaded = false    
	$scope.download = {};
	$scope.Available;
	$scope.cert =  {
		    availableOptions: [	],
		       			selectedOption: {} 
		       		};
		       	

    $scope.loadCerts = function(  ) {
    	// window.alert("Lets Load some Certs!");
		var certUrl = "/CEP/rest/CareerOneStop/cert/" + $scope.data.selectedOption.value  ;

		  $http.get(certUrl )
	    	.then(	function (response) {
	    		var certData = JSON.parse(response.data.payload); 
				if ( certData.CertificationInfo.ErrorNumber != 0 ) {
					 /* alert(certData.CertificationInfo.ErrorMessage ); */
					 return;
				} 
		    	  
	    	  	for (var i = 0; i < certData.CertificationInfo.CertificationList.Certification.length; i++ ){
		    	  	var Certification = certData.CertificationInfo.CertificationList.Certification[i];
		    	  	if ( Certification  === undefined ) {
		    	  		console.log("Certification not found ...");
			    	} else {
			    		console.log(Certification.CERT_NAME + " - " + Certification.CERT_ID  );
			    		$scope.cert.availableOptions[i] = { name: Certification.CERT_NAME  ,
					    		                           value: Certification.CERT_ID };
				    }
	  	    		        
			    }
	    	  
	    	  
	    	console.log('success'); 
	    });
    };

    $scope.loadCertDetails = function(  ) {
    	// window.alert("Lets Load some Certs!");
		var certUrl = "/CEP/rest/CareerOneStop/certDetail/" + $scope.cert.selectedOption.value  ;

		  $http.get(certUrl )
	    	.then(	function (response) {
	    		var certData = JSON.parse(response.data.payload); 
				if ( certData.CertificationInfo.ErrorNumber != 0 ) {
					
					 return;
				}     	  
	    	console.log('success');
			// validation_messages  is  a bad name ...
			$scope.certDetail = certData.CertificationInfo.CertificationDetails;
	    	var certDetailTable = certData.CertificationInfo.CertificationDetails;
	    	var certDetailTableDisplay= [] ; //= { item:'TEST',value:'empty' };
	    	var node ={ item:'Test', value:'empty'};
	    	certDetailTableDisplay[0] = node;
	    	var counter = 0;
	    	for (var property in certDetailTable) {
		    	if ( certDetailTable.hasOwnProperty(property)) {
					if ( jQuery.isEmptyObject(certDetailTable[property]) ){
		    	        console.log(property + ": empty");
		    	        certDetailTable[property]  = "empty";
		    	        certDetailTableDisplay[counter] = { 
				    	        							item : property , 
				    	        							value : 'empty'
					    	        						};
					} else {
		    	        // your code
		    	        console.log(property + ":" + certDetailTable[property]);
		    	        certDetailTableDisplay[property] = certDetailTable[property];	    	        
		    	        certDetailTableDisplay[counter] = { item: property, value: certDetailTable[property]}
					}
			    }
			    counter++;
	    	}
	      $scope.certDetailTable = certDetailTableDisplay;
	    });
    };

    $scope.alertMe = function() {
        setTimeout(function() {
          window.alert('You\'ve selected the alert!!');
        });
      };


      $scope.initTrainingTab = function() {
          setTimeout(function() {
            window.alert('You\'ve selected the Trainning Tab !!');
          });
        };

      

      
     $scope.certInit = function() {
    	  $scope.loadCerts() ;
     };

     $scope.occupationSelected = function() {
   		console.log("**** " + $scope.data.selectedOption.name + ":" + $scope.data.selectedOption.value);
   	 	$scope.loadCerts() ;
      };
      $scope.certDetailSelected= function() {
		console.log("**** " + $scope.cert.selectedOption.name + ":" + $scope.cert.selectedOption.value);
    	$scope.loadCertDetails(); 
     };
   

      
	<!-- Hard Coded Occupation codes and names .... -->
	$scope.data = {
		    availableOptions: [
				{value:'11101100', name:'Chief Executives'},
				{value:'11201100', name:'Advertising and Promotions Managers'},
				{value:'11202100', name:'Marketing Managers'},
				{value:'11202200', name:'Sales Managers'},
				{value:'11301100', name:'Administrative Services Managers'},
				{value:'11302100', name:'Computer and Information Systems Managers'},
				{value:'11303100', name:'Financial Managers'},
				{value:'11303101', name:'Treasurers and Controllers'},
				{value:'11305100', name:'Industrial Production Managers'},
				{value:'11306100', name:'Purchasing Managers'},
				{value:'11307100', name:'Transportation, Storage, and Distribution Managers'},
				{value:'11311100', name:'Compensation and Benefits Managers'},
				{value:'11312100', name:'Human Resources Managers'},
				{value:'11313100', name:'Training and Development Managers'},
				{value:'11901301', name:'Nursery and Greenhouse Managers'},
				{value:'11901302', name:'Farm and Ranch Managers'},
				{value:'11901303', name:'Aquacultural Managers'},
				{value:'11902100', name:'Construction Managers'},
				{value:'11903100', name:'Education Administrators, Preschool and Childcare Center/Program'},
				{value:'11903200', name:'Education Administrators, Elementary and Secondary School'},
				{value:'11903300', name:'Education Administrators, Postsecondary'},
				{value:'11905100', name:'Food Service Managers'},
				{value:'11906100', name:'Funeral Service Managers'},
				{value:'11908100', name:'Lodging Managers'},
				{value:'11911100', name:'Medical and Health Services Managers'},
				{value:'11914100', name:'Property, Real Estate, and Community Association Managers'},
				{value:'11915100', name:'Social and Community Service Managers'},
				{value:'11916100', name:'Emergency Management Directors'},
				{value:'11919908', name:'Loss Prevention Managers'},
				{value:'13102300', name:'Purchasing Agents and Buyers'},
				{value:'13103101', name:'Claims Examiners, Property and Casualty Insurance'},
				{value:'13103102', name:'Insurance Adjusters, Examiners, and Investigators'},
				{value:'13103200', name:'Insurance Appraisers, Auto Damage'},
				{value:'13104102', name:'Licensing Examiners and Inspectors'},
				{value:'13104103', name:'Equal Opportunity Representatives and Officers'},
				{value:'13104107', name:'Regulatory Affairs Specialists'},
				{value:'13105100', name:'Cost Estimators'},
				{value:'13107100', name:'Human Resources Specialists'},
				{value:'13107102', name:'Personnel Recruiters'},
				{value:'13108100', name:'Logisticians'},
				{value:'13108102', name:'Logistics Analysts'},
				{value:'13111100', name:'Management Analysts'},
				{value:'13112100', name:'Meeting, Convention, and Event Planners'},
				{value:'13114100', name:'Compensation, Benefits, and Job Analysis Specialists'},
				{value:'13115100', name:'Training and Development Specialists'},
				{value:'13116100', name:'Market Research Analysts and Marketing Specialists'},
				{value:'13119902', name:'Security Management Specialists'},
				{value:'13119906', name:'Online Merchants'},
				{value:'13201100', name:'Accountants and Auditors'},
				{value:'13202100', name:'Appraisers and Assessors of Real Estate'},
				{value:'13202101', name:'Assessors'},
				{value:'13203100', name:'Budget Analysts'},
				{value:'13204100', name:'Credit Analysts'},
				{value:'13205100', name:'Financial Analysts'},
				{value:'13205200', name:'Personal Financial Advisors'},
				{value:'13206100', name:'Financial Examiners'},
				{value:'13207200', name:'Loan Officers'},
				{value:'13208100', name:'Tax Examiners and Collectors, and Revenue Agents'},
				{value:'13208200', name:'Tax Preparers'},
				{value:'15112100', name:'Computer Systems Analysts'},
				{value:'15112101', name:'Informatics Nurse Specialists'},
				{value:'15112200', name:'Information Security Analysts'},
				{value:'15113100', name:'Computer Programmers'},
				{value:'15113300', name:'Software Developers, Systems Software'},
				{value:'15114100', name:'Database Administrators'},
				{value:'15114200', name:'Network and Computer Systems Administrators'},
				{value:'15114300', name:'Computer Network Architects'},
				{value:'15115100', name:'Computer User Support Specialists'},
				{value:'15115200', name:'Network Systems and Data Communications Analysts'},
				{value:'15201100', name:'Actuaries'},
				{value:'15202100', name:'Mathematicians'},
				{value:'15203100', name:'Operations Research Analysts'},
				{value:'15204100', name:'Statisticians'},
				{value:'15209100', name:'Mathematical Technicians'},
				{value:'17101100', name:'Architects'},
				{value:'17101200', name:'Landscape Architects'},
				{value:'17102100', name:'Cartographers and Photogrammetrists'},
				{value:'17102200', name:'Surveyors'},
				{value:'17201100', name:'Aerospace Engineers'},
				{value:'17202100', name:'Agricultural Engineers'},
				{value:'17203100', name:'Biomedical Engineers'},
				{value:'17204100', name:'Chemical Engineers'},
				{value:'17205100', name:'Civil Engineers'},
				{value:'17205101', name:'Transportation Engineers'},
				{value:'17206100', name:'Computer Hardware Engineers'},
				{value:'17207100', name:'Electrical Engineers'},
				{value:'17207200', name:'Electronics Engineers'},
				{value:'17208100', name:'Environmental Engineers'},
				{value:'17211100', name:'Health and Safety Engineers'},
				{value:'17211102', name:'FirePrevention and Protection Engineers'},
				{value:'17211103', name:'Product Safety Engineers'},
				{value:'17211200', name:'Industrial Engineers'},
				{value:'17212100', name:'Marine Engineers and Naval Architects'},
				{value:'17214100', name:'Mechanical Engineers'},
				{value:'17215100', name:'Mining and Geological Engineers, Including Mining Safety Engineers'},
				{value:'17216100', name:'Nuclear Engineers'},
				{value:'17217100', name:'Petroleum Engineers'},
				{value:'17301100', name:'Architectural and Civil Drafters'},
				{value:'17301202', name:'Electrical Drafters'},
				{value:'17302100', name:'Aerospace Engineering and Operations Technicians'},
				{value:'17302200', name:'Civil Engineering Technicians'},
				{value:'17302300', name:'Electrical and Electronic Engineering Technicians'},
				{value:'17302400', name:'ElectroMechanical Technicians'},
				{value:'17302600', name:'Industrial Engineering Technicians'},
				{value:'17302700', name:'Mechanical Engineering Technicians'},
				{value:'17303101', name:'Surveying Technicians'},
				{value:'17303102', name:'Mapping Technicians'},
				{value:'19101200', name:'Food Scientists and Technologists'},
				{value:'19101300', name:'Soil and Plant Scientists'},
				{value:'19102001', name:'Biologists'},
				{value:'19102100', name:'Biochemists and Biophysicists'},
				{value:'19102300', name:'Zoologists and Wildlife Biologists'},
				{value:'19103101', name:'Soil and Water Conservationists'},
				{value:'19103102', name:'Range Managers'},
				{value:'19103103', name:'Park Naturalists'},
				{value:'19104100', name:'Epidemiologists'},
				{value:'19104200', name:'Medical Scientists, Except Epidemiologists'},
				{value:'19201100', name:'Astronomers'},
				{value:'19201200', name:'Physicists'},
				{value:'19202100', name:'Atmospheric and Space Scientists'},
				{value:'19203100', name:'Chemists'},
				{value:'19204100', name:'Environmental Scientists and Specialists, Including Health'},
				{value:'19204200', name:'Geoscientists'},
				{value:'19204300', name:'Hydrologists'},
				{value:'19301100', name:'Economists'},
				{value:'19303102', name:'Clinical Psychologists'},
				{value:'19303103', name:'Counseling Psychologists'},
				{value:'19303200', name:'IndustrialOrganizational Psychologists'},
				{value:'19304100', name:'Sociologists'},
				{value:'19305100', name:'Urban and Regional Planners'},
				{value:'19309100', name:'Anthropologists and Archeologists'},
				{value:'19309200', name:'Geographers'},
				{value:'19309300', name:'Historians'},
				{value:'19309400', name:'Political Scientists'},
				{value:'19401100', name:'Agricultural and Food Science Technicians'},
				{value:'19402100', name:'Biological Technicians'},
				{value:'19403100', name:'Chemical Technicians'},
				{value:'19404100', name:'Geological and Petroleum Technicians'},
				{value:'19405100', name:'Nuclear Technicians'},
				{value:'19406100', name:'Social Science Research Assistants'},
				{value:'19406101', name:'City and Regional Planning Aides'},
				{value:'19409100', name:'Environmental Science and Protection Technicians, Including Health'},
				{value:'19409200', name:'Forensic Science Technicians'},
				{value:'19409300', name:'Forest and Conservation Technicians'},
				{value:'21101100', name:'Substance Abuse and Behavioral Disorder Counselors'},
				{value:'21101200', name:'Educational, Guidance, School, and Vocational Counselors'},
				{value:'21101400', name:'Mental Health Counselors'},
				{value:'21101500', name:'Rehabilitation Counselors and Specialists'},
				{value:'21102100', name:'Child, Family, and School Social Workers'},
				{value:'21102200', name:'Healthcare Social Workers'},
				{value:'21102300', name:'Mental Health and Substance Abuse Social Workers'},
				{value:'21109100', name:'Health Educators'},
				{value:'21109200', name:'Probation Officers and Correctional Treatment Specialists'},
				{value:'21109300', name:'Social and Human Service Assistants'},
				{value:'21201100', name:'Clergy'},
				{value:'21202100', name:'Directors, Religious Activities and Education'},
				{value:'23101100', name:'Lawyers'},
				{value:'23102200', name:'Arbitrators, Mediators, and Conciliators'},
				{value:'23102300', name:'Judges, Magistrate Judges, and Magistrates'},
				{value:'23201100', name:'Paralegals and Legal Assistants'},
				{value:'23209100', name:'Court Reporters'},
				{value:'23209300', name:'Title Examiners, Abstractors, and Searchers'},
				{value:'25107200', name:'Nursing Instructors and Teachers, Postsecondary'},
				{value:'25112100', name:'Art, Drama, and Music Teachers, Postsecondary'},
				{value:'25112300', name:'English Language and Literature Teachers, Postsecondary'},
				{value:'25112400', name:'Foreign Language and Literature Teachers, Postsecondary'},
				{value:'25201100', name:'Preschool Teachers, Except Special Education'},
				{value:'25201200', name:'Kindergarten Teachers, Except Special Education'},
				{value:'25202100', name:'Elementary School Teachers, Except Special Education'},
				{value:'25202200', name:'Middle School Teachers'},
				{value:'25203100', name:'Secondary School Teachers'},
				{value:'25203200', name:'Vocational Education Teachers'},
				{value:'25205400', name:'Special Education Teachers, Secondary School'},
				{value:'25301100', name:'Adult Literacy, Remedial Education, and GED Teachers and Instructors'},
				{value:'25401100', name:'Archivists'},
				{value:'25401200', name:'Curators'},
				{value:'25401300', name:'Museum Technicians and Conservators'},
				{value:'25402100', name:'Librarians'},
				{value:'25403100', name:'Library Technicians'},
				{value:'25901100', name:'AudioVisual and Multimedia Collections Specialists'},
				{value:'25903100', name:'Instructional Coordinators'},
				{value:'25904100', name:'Teacher Assistants'},
				{value:'27101100', name:'Art Directors'},
				{value:'27101200', name:'Craft Artists'},
				{value:'27101300', name:'Fine Artists, Including Painters, Sculptors, and Illustrators'},
				{value:'27101303', name:'Cartoonists'},
				{value:'27101400', name:'Multimedia Artists and Animators'},
				{value:'27102100', name:'Commercial and Industrial Designers'},
				{value:'27102200', name:'Fashion Designers'},
				{value:'27102300', name:'Floral Designers'},
				{value:'27102400', name:'Graphic Designers'},
				{value:'27102500', name:'Interior Designers'},
				{value:'27102600', name:'Merchandise Displayers and Window Trimmers'},
				{value:'27102700', name:'Set and Exhibit Designers'},
				{value:'27201100', name:'Actors'},
				{value:'27201201', name:'Producers'},
				{value:'27201202', name:'Directors Stage, Motion Pictures, Television, and Radio'},
				{value:'27201204', name:'Talent Directors'},
				{value:'27202100', name:'Athletes and Sports Competitors'},
				{value:'27202200', name:'Coaches and Scouts'},
				{value:'27202300', name:'Umpires, Referees, and Other Sports Officials'},
				{value:'27203100', name:'Dancers'},
				{value:'27203200', name:'Choreographers'},
				{value:'27204101', name:'Music Directors'},
				{value:'27204104', name:'Music Composers and Arrangers'},
				{value:'27204201', name:'Singers'},
				{value:'27204202', name:'Musicians, Instrumental'},
				{value:'27301100', name:'Radio and Television Announcers'},
				{value:'27302100', name:'Broadcast News Analysts'},
				{value:'27302200', name:'Reporters and Correspondents'},
				{value:'27303100', name:'Public Relations Specialists'},
				{value:'27304100', name:'Editors'},
				{value:'27304200', name:'Technical Writers'},
				{value:'27304304', name:'Copy Writers'},
				{value:'27304305', name:'Creative Writers, Poets, and Lyricists'},
				{value:'27309100', name:'Interpreters and Translators'},
				{value:'27401100', name:'Audio and Video Equipment Technicians'},
				{value:'27401200', name:'Broadcast Technicians'},
				{value:'27401400', name:'Sound Engineering Technicians'},
				{value:'27402100', name:'Photographers'},
				{value:'27403100', name:'Camera Operators, Television, Video, and Motion Picture'},
				{value:'27403200', name:'Film and Video Editors'},
				{value:'29101100', name:'Chiropractors'},
				{value:'29102100', name:'Dentists, General'},
				{value:'29102200', name:'Oral and Maxillofacial Surgeons'},
				{value:'29102300', name:'Orthodontists'},
				{value:'29103100', name:'Dietitians and Nutritionists'},
				{value:'29104100', name:'Optometrists'},
				{value:'29105100', name:'Pharmacists'},
				{value:'29106100', name:'Anesthesiologists'},
				{value:'29106200', name:'Family and General Practitioners'},
				{value:'29106500', name:'Pediatricians, General'},
				{value:'29106600', name:'Psychiatrists'},
				{value:'29106700', name:'Surgeons'},
				{value:'29106904', name:'Neurologists'},
				{value:'29106907', name:'Pathologists'},
				{value:'29106910', name:'Radiologists'},
				{value:'29106911', name:'Sports Medicine Physicians'},
				{value:'29107100', name:'Physician Assistants'},
				{value:'29107101', name:'Anesthesiologist Assistants'},
				{value:'29112200', name:'Occupational Therapists'},
				{value:'29112300', name:'Physical Therapists'},
				{value:'29112400', name:'Radiation Therapists'},
				{value:'29112500', name:'Recreational Therapists'},
				{value:'29112600', name:'Respiratory Therapists'},
				{value:'29112700', name:'SpeechLanguage Pathologists'},
				{value:'29113100', name:'Veterinarians'},
				{value:'29114100', name:'Registered Nurses'},
				{value:'29118100', name:'Audiologists'},
				{value:'29201100', name:'Medical and Clinical Laboratory Technologists'},
				{value:'29201200', name:'Medical and Clinical Laboratory Technicians'},
				{value:'29202100', name:'Dental Hygienists'},
				{value:'29203100', name:'Cardiovascular Technologists and Technicians'},
				{value:'29203200', name:'Diagnostic Medical Sonographers'},
				{value:'29203300', name:'Nuclear Medicine Technologists'},
				{value:'29204100', name:'Emergency Medical Technicians and Paramedics'},
				{value:'29205100', name:'Dietetic Technicians'},
				{value:'29205200', name:'Pharmacy Technicians'},
				{value:'29205300', name:'Psychiatric Technicians'},
				{value:'29205500', name:'Surgical Technologists'},
				{value:'29206100', name:'Licensed Practical and Licensed Vocational Nurses'},
				{value:'29207100', name:'Medical Records and Health Information Technicians'},
				{value:'29208100', name:'Opticians, Dispensing'},
				{value:'29209100', name:'Orthotists and Prosthetists'},
				{value:'29901100', name:'Occupational Health and Safety Specialists'},
				{value:'29909100', name:'Athletic Trainers'},
				{value:'31101100', name:'Home Health Aides'},
				{value:'31101300', name:'Psychiatric Aides'},
				{value:'31101400', name:'Nursing Aides, Orderlies, and Attendants'},
				{value:'31201200', name:'Occupational Therapy Aides'},
				{value:'31202200', name:'Physical Therapist Aides'},
				{value:'31901100', name:'Massage Therapists'},
				{value:'31909100', name:'Dental Assistants'},
				{value:'31909200', name:'Medical Assistants'},
				{value:'31909300', name:'Medical Equipment Preparers'},
				{value:'31909600', name:'Veterinary Assistants and Laboratory Animal Caretakers'},
				{value:'33201100', name:'Firefighters'},
				{value:'33202101', name:'Fire Inspectors'},
				{value:'33202102', name:'Fire Investigators'},
				{value:'33301100', name:'Bailiffs'},
				{value:'33301200', name:'Correctional Officers and Jailers'},
				{value:'33302100', name:'Detectives and Criminal Investigators'},
				{value:'33302102', name:'Police Identification and Records Officers'},
				{value:'33302103', name:'Criminal Investigators and Special Agents'},
				{value:'33302105', name:'Immigration and Customs Inspectors'},
				{value:'33303100', name:'Fish and Game Wardens'},
				{value:'33304100', name:'Parking Enforcement Workers'},
				{value:'33305101', name:'Police Patrol Officers'},
				{value:'33305103', name:'Sheriffs and Deputy Sheriffs'},
				{value:'33305200', name:'Transit and Railroad Police'},
				{value:'33901100', name:'Animal Control Workers'},
				{value:'33902100', name:'Private Detectives and Investigators'},
				{value:'33903200', name:'Security Guards'},
				{value:'33909200', name:'Lifeguards, Ski Patrol, and Other Recreational Protective Service Workers'},
				{value:'35101100', name:'Chefs and Head Cooks'},
				{value:'35201200', name:'Cooks'},
				{value:'35202100', name:'Food Preparation Workers'},
				{value:'35302201', name:'Baristas'},
				{value:'35303100', name:'Waiters and Waitresses'},
				{value:'35901100', name:'Dining Room and Cafeteria Attendants and Bartender Helpers'},
				{value:'35903100', name:'Hosts and Hostesses, Restaurant, Lounge, and Coffee Shop'},
				{value:'37201100', name:'Housekeeping and Janitorial Workers'},
				{value:'37202100', name:'Pest Control Workers'},
				{value:'37301100', name:'Landscaping and Groundskeeping Workers'},
				{value:'37301300', name:'Tree Trimmers and Pruners'},
				{value:'39201100', name:'Animal Trainers'},
				{value:'39309100', name:'Amusement and Recreation Attendants'},
				{value:'39309200', name:'Costume Attendants'},
				{value:'39402100', name:'Funeral Attendants'},
				{value:'39403100', name:'Morticians, Undertakers, and Funeral Directors'},
				{value:'39501200', name:'Hairdressers, Hairstylists, and Cosmetologists'},
				{value:'39509100', name:'Makeup Artists, Theatrical and Performance'},
				{value:'39509200', name:'Manicurists and Pedicurists'},
				{value:'39701100', name:'Tour Guides and Escorts'},
				{value:'39701200', name:'Travel Guides'},
				{value:'39901100', name:'Childcare Workers'},
				{value:'39902100', name:'Personal Care Aides'},
				{value:'39903100', name:'Fitness Trainers and Aerobics Instructors'},
				{value:'39903200', name:'Recreation Workers'},
				{value:'39904100', name:'Residential Advisors'},
				{value:'41201100', name:'Cashiers'},
				{value:'41202100', name:'Counter and Rental Clerks'},
				{value:'41202200', name:'Parts Salespersons'},
				{value:'41203100', name:'Retail Salespersons'},
				{value:'41301100', name:'Advertising Sales Agents'},
				{value:'41302100', name:'Insurance Sales Agents'},
				{value:'41303101', name:'Securities, Commodities and Financial Services Sales Agents'},
				{value:'41303103', name:'Securities and Commodities Traders'},
				{value:'41401100', name:'Sales Representatives'},
				{value:'41901100', name:'Demonstrators and Product Promoters'},
				{value:'41901200', name:'Models'},
				{value:'41902200', name:'Real Estate Sales Agents'},
				{value:'41904100', name:'Telemarketers'},
				{value:'43202100', name:'Telephone Operators'},
				{value:'43301100', name:'Bill and Account Collectors'},
				{value:'43303100', name:'Bookkeeping, Accounting, and Auditing Clerks'},
				{value:'43307100', name:'Tellers'},
				{value:'43401100', name:'Brokerage Clerks'},
				{value:'43402100', name:'Correspondence Clerks'},
				{value:'43403101', name:'Court Clerks'},
				{value:'43403102', name:'Municipal Clerks'},
				{value:'43403103', name:'License Clerks'},
				{value:'43404100', name:'Credit Authorizers, Checkers, and Clerks'},
				{value:'43405100', name:'Customer Service Representatives'},
				{value:'43406100', name:'Eligibility Interviewers'},
				{value:'43407100', name:'File Clerks'},
				{value:'43408100', name:'Hotel, Motel, and Resort Desk Clerks'},
				{value:'43412100', name:'Library Assistants, Clerical'},
				{value:'43413100', name:'Loan Interviewers and Clerks'},
				{value:'43416100', name:'Human Resources Assistants, Except Payroll and Timekeeping'},
				{value:'43417100', name:'Receptionists and Information Clerks'},
				{value:'43418100', name:'Reservation and Transportation Ticket Agents and Travel Clerks'},
				{value:'43501100', name:'Cargo and Freight Agents'},
				{value:'43502100', name:'Couriers and Messengers'},
				{value:'43503100', name:'Police, Fire, and Ambulance Dispatchers'},
				{value:'43503200', name:'Dispatchers, Except Police, Fire, and Ambulance'},
				{value:'43504100', name:'Meter Readers, Utilities'},
				{value:'43505100', name:'Postal Service Clerks'},
				{value:'43505200', name:'Postal Service Mail Carriers'},
				{value:'43506100', name:'Production, Planning, and Expediting Clerks'},
				{value:'43507100', name:'Shipping, Receiving, and Traffic Clerks'},
				{value:'43508103', name:'Stock Clerks '},
				{value:'43508104', name:'Order Fillers, Wholesale and Retail Sales'},
				{value:'43601100', name:'Executive Secretaries and Executive Administrative Assistants'},
				{value:'43601200', name:'Legal Secretaries'},
				{value:'43601300', name:'Medical Transciptionists and Secretaries'},
				{value:'43601400', name:'Secretaries and Administrative Assistants, Except Legal, Medical, and Executive'},
				{value:'43903100', name:'Desktop Publishers'},
				{value:'43904100', name:'Insurance Claims and Policy Processing Clerks'},
				{value:'43905100', name:'Mail Clerks and Mail Machine Operators, Except Postal Service '},
				{value:'43906100', name:'Office Clerks, General'},
				{value:'43908100', name:'Proofreaders and Copy Markers'},
				{value:'43911100', name:'Statistical Assistants'},
				{value:'45201100', name:'Agricultural Inspectors'},
				{value:'45209200', name:'Farmworkers and Laborers, Crop, Nursery, and Greenhouse'},
				{value:'45209201', name:'Nursery Workers'},
				{value:'45401100', name:'Forest and Conservation Workers'},
				{value:'45402200', name:'Logging Equipment Operators'},
				{value:'47202100', name:'Brickmasons and Blockmasons'},
				{value:'47203100', name:'Carpenters'},
				{value:'47207300', name:'Operating Engineers and Other Construction Equipment Operators'},
				{value:'47208100', name:'Drywall, Tile, and Marble Installers'},
				{value:'47211100', name:'Electricians'},
				{value:'47214100', name:'Painters and Paperhangers'},
				{value:'47215201', name:'Plumbers, Pipefitters and Steamfitters'},
				{value:'47216100', name:'Plasterers and Stucco Masons'},
				{value:'47218100', name:'Roofers'},
				{value:'47401100', name:'Construction and Building Inspectors'},
				{value:'47402100', name:'Elevator Installers and Repairers'},
				{value:'47404100', name:'Hazardous Materials Removal Workers'},
				{value:'47405100', name:'Highway Maintenance Workers'},
				{value:'47503100', name:'Explosives Workers, Ordnance Handling Experts, and Blasters'},
				{value:'49201100', name:'Computer Hardware and Business Machine Technicians'},
				{value:'49209100', name:'Avionics Technicians'},
				{value:'49209200', name:'Electric Motor, Power Tool, and Related Repairers'},
				{value:'49301100', name:'Aircraft Mechanics and Service Technicians'},
				{value:'49302100', name:'Automotive Body and Related Repairers'},
				{value:'49302300', name:'Automotive Service Technicians and Mechanics'},
				{value:'49303100', name:'Bus and Truck Mechanics and Diesel Engine Specialists'},
				{value:'49304200', name:'Mobile Heavy Equipment Mechanics'},
				{value:'49305200', name:'Motorcycle Mechanics'},
				{value:'49305300', name:'Outdoor Power Equipment and Other Small Engine Mechanics'},
				{value:'49902100', name:'Heating, Air Conditioning, and Refrigeration Mechanics and Installers'},
				{value:'49904100', name:'Industrial Machinery Mechanics'},
				{value:'49905200', name:'Telecommunications Line Installers and Repairers'},
				{value:'49906200', name:'Medical Equipment Repairers'},
				{value:'49906300', name:'Musical Instrument Repairers and Tuners'},
				{value:'49907100', name:'Maintenance and Repair Workers, General'},
				{value:'49909200', name:'Commercial Divers'},
				{value:'49909400', name:'Locksmiths and Safe Repairers'},
				{value:'51201100', name:'Aircraft Structure, Surfaces, Rigging, and Systems Assemblers'},
				{value:'51301100', name:'Bakers'},
				{value:'51302200', name:'Meat, Poultry, and Fish Cutters and Trimmers'},
				{value:'51404100', name:'Machinists'},
				{value:'51412100', name:'Welders, Cutters, Solderers, and Brazers'},
				{value:'51511200', name:'Printing Press Operators'},
				{value:'51601100', name:'Laundry and Drycleaning Workers'},
				{value:'51609300', name:'Upholsterers'},
				{value:'51701100', name:'Cabinetmakers '},
				{value:'51704200', name:'Woodworking Machine Setters, Operators, and Tenders,  Except Sawing'},
				{value:'51801100', name:'Nuclear Power Reactor Operators'},
				{value:'51801300', name:'Power Plant Operators'},
				{value:'51803100', name:'Water and Liquid Waste Treatment Plant and System Operators'},
				{value:'51906100', name:'Inspectors, Testers, Sorters, Samplers, and Weighers'},
				{value:'51907100', name:'Jewelers and Precious Stone and Metal Workers'},
				{value:'51908100', name:'Dental Laboratory Technicians'},
				{value:'51908200', name:'Medical Appliance Technicians'},
				{value:'51908300', name:'Ophthalmic Laboratory Technicians'},
				{value:'51913100', name:'Photographic Process Workers'},
				{value:'53201100', name:'Airline Pilots, Copilots, and Flight Engineers'},
				{value:'53202100', name:'Air Traffic Controllers'},
				{value:'53203100', name:'Flight Attendants'},
				{value:'53301100', name:'Ambulance Drivers and Attendants'},
				{value:'53302200', name:'Bus Drivers'},
				{value:'53303100', name:'Driver/Sales Workers'},
				{value:'53303200', name:'Truck Drivers'},
				{value:'53304100', name:'Taxi Drivers and Chauffeurs'},
				{value:'53501100', name:'Sailors and Marine Oilers'},
				{value:'53502101', name:'Ship and Boat Captains'},
				{value:'53502103', name:'Ship Pilots'},
				{value:'53502200', name:'Motorboat Operators'},
				{value:'53503100', name:'Ship Engineers'},
				{value:'53602100', name:'Parking Lot Attendants'},
				{value:'53605101', name:'Aviation Inspectors'},
				{value:'53605107', name:'Transportation Vehicle, Equipment and Systems Inspectors'},
				{value:'53605108', name:'Freight and Cargo Inspectors'},
				{value:'53702100', name:'Crane and Tower Operators'},
				{value:'53705100', name:'Industrial Truck and Tractor Operators'},
				{value:'53706100', name:'Cleaners of Vehicles and Equipment'},
				{value:'53706202', name:'Packers and Freight, Stock, and Material Movers'},
				{value:'53707200', name:'Pump Operators'},
				{value:'53708100', name:'Refuse and Recyclable Material Collectors'},
				{value:'55101100', name:'Air Crew Officers'},
				{value:'55101200', name:'Aircraft Launch and Recovery Officers'},
				{value:'55101300', name:'Armored Assault Vehicle Officers'},
				{value:'55101400', name:'Artillery and Missile Officers'},
				{value:'55101500', name:'Command and Control Center Officers'},
				{value:'55101600', name:'Infantry Officers'},
				{value:'55101700', name:'Special Forces Officers'},
				{value:'55301100', name:'Air Crew Members'},
				{value:'55301200', name:'Aircraft Launch and Recovery Specialists'},
				{value:'55301300', name:'Armored Assault Vehicle Crew Members'},
				{value:'55301400', name:'Artillery and Missile Crew Members'},
				{value:'55301500', name:'Command and Control Center Specialists'},
				{value:'55301600', name:'Infantry'},
				{value:'55301700', name:'Radar and Sonar Technicians'},
				{value:'55301800', name:'Special Forces'}
			],
			selectedOption: {value: '11302100', name: 'Computer and Information Systems Managers'} 
		};

	
/* 		$scope.data.sort();
 */        
});           
</script>

    <span id="lblBusydownloading"></span>
    <div class="modal" style="display: none">
        <div class="center">
            <img alt="" src="images/loader.gif" />
        </div>
    </div>



</body>
</html>