<form id="search" class="mini-form" ng-controller="SearchController">
  <gcse:searchbox-only resultsUrl="search-result" queryParameterName="q"></gcse:searchbox-only>
  <!-- <input type="search" placeholder="Search" name="searchString" ng-model="searchString">
  <button type="submit" class="button"><i class="fi-magnifying-glass small"></i></button>-->
</form>
