<div class="occufind article article-list">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Search Results</p>
			</div>
		</div>		
	</section>
	
	<section id="content-wrap">		
		<div class="row">
			<div class="medium-12 columns">
				<gcse:searchresults-only></gcse:searchresults-only>	
			</div>
		</div>		
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>