<div class="occufind article article-list">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section id="banner">
		<div class="row">
			<div class="large-4 large-push-8 columns">
				<p class="caps">Search Results</p>
			</div>
		</div>		
	</section>	
	<section id="content-wrap">	
		<div id="search-results-error" ng-if="showErrorMessage">
			<div class="row">
				<div class="medium-12 small-12 columns">
					<div class="alert alert-danger">
						<p>{{errorMessage}}</p>
					</div>
				</div>
			</div>
		</div>
		<div id="search-results" ng-if="!showErrorMessage">			
			<div id="search-results-info">
				<div class="row">
					<div class="small-12 medium-6 columns">
						<p>Showing Search Results for: <strong>{{searchString}}</strong></p>
						<p>About {{searchResult.queries.request[0].totalResults}} ({{searchResult.searchInformation.searchTime}} seconds)</p>						
					</div>
					<div class="small-12 medium-6 columns">
						<div class="row">							
							<div class="small-12 medium-12 columns">
								<div class="pull-right">
									<button ng-if="searchResult.queries.previousPage" type="button" class="btn btn-primary" ng-click="prevPage()"><span class="fa fa-angle-left"></span> Prev Page</button>
									<button ng-if="searchResult.queries.nextPage" type="button" class="btn btn-primary" ng-click="nextPage()">Next Page <span class="fa fa-angle-right"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="row">
				<div class="small-12 medium-12 columns">
					<hr />
				</div>
			</div>		
			<div ng-repeat="item in searchResult.items">
				<div class="item-detail" ng-click="$location.url(item.formattedUrl)" style="border-bottom: #000; padding-top: 10px; padding-bottom: 5px; min-height: 100px;">
					<div class="row">
						<div class="small-12 medium-12 columns">
							<h2 style="margin-bottom: 0;">
								<a href="{{item.link}}" ng-bind-html="item.htmlTitle"></a>
							</h2>
							<div ng-bind-html="item.link" style="color:#29afb5;"></div>
						</div>
					</div>
					<div class="row">
						<div ng-if="item.pagemap.cse_thumbnail.length > 0">
							<div class="medium-2 small-12 columns">
								<img src="{{item.pagemap.cse_thumbnail[0].src}}" />
							</div>
							<div class="medium-10 small-12 columns">							
								<div ng-bind-html="item.htmlSnippet"></div>
							</div>
						</div>
						<div ng-if="item.pagemap.cse_image.length == 0">
							<div class="medium-12 small-12 columns">		
								<div ng-bind="item.htmlSnippet"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>