<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Notes:</h3>
</div>
<div class="modal-body">

	<div class="row" >
		<div class="medium-4 columns">
			<div ng-if="noteList.length > 0 || initialNotesObject.title">
				<h3>Occupations</h3>
				<ul style="list-style: none;">
					<li><a href="" ng-click="resetObject(); toggleView(view.Occupation);">{{initialNotesObject.title}}</a></li>
					<li ng-repeat="n in noteList" ng-if="initialNotesObject.socId != n.socId"><a href="" ng-click="selectOccupation(n.noteId); toggleView(view.Occupation)">{{n.title}}</a></li>
				</ul>
			</div>
			
			<div ng-if="noteListSchool.length > 0 || initialSchoolNotesObject.schoolName">
				<h3>Colleges</h3>
				<ul style="list-style: none;">
					<li><a href="" ng-click="resetSchoolObject(); toggleView(view.School)">{{initialSchoolNotesObject.schoolName}}</a></li>
					<li ng-repeat="n in noteListSchool" ng-if="initialSchoolNotesObject.unitId != n.unitId"><a href="" ng-click="selectSchool(n.noteId); toggleView(view.School)">{{n.schoolName}}</a></li>
				</ul>
			</div>
			
			<div ng-if="noteListCC.length > 0 || initialCCNotesObject.title">
				<h3>Career Clusters</h3>
				<ul style="list-style: none;">
					<li><a href="" ng-click="resetCCObject(); toggleView(view.CC)">{{initialCCNotesObject.title}}</a></li>
					<li ng-repeat="n in noteListCC" ng-if="initialCCNotesObject.ccId != n.ccId"><a href="" ng-click="selectCC(n.noteId); toggleView(view.CC)">{{n.title}}</a></li>
				</ul>
			</div>
		</div>
		<div  ng-show="viewSetting.showOccupationNotes" class="medium-8 columns" id="right">
			<h3>{{selectedNotesObject.title}}</h3>
			<textarea style="min-height: 200px;" ng-model="selectedNotesObject.notes" ng-disabled="savingNotes"></textarea> 
		</div>
		
		<div ng-show="viewSetting.showSchoolNotes" class="medium-8 columns" id="right">
			<h3>{{selectedSchoolNotesObject.schoolName}}</h3>
			<textarea style="min-height: 200px;" ng-model="selectedSchoolNotesObject.notes" ng-disabled="savingNotes"></textarea> 
		</div>
		
		<div ng-show="viewSetting.showCCNotes" class="medium-8 columns" id="right">
			<h3>{{selectedCCNotesObject.title}}</h3>
			<textarea style="min-height: 200px;" ng-model="selectedCCNotesObject.notes" ng-disabled="savingNotes"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
	<span style="color: #cc0000;">{{error}}</span>
	<button ng-show="viewSetting.showOccupationNotes && selectedNotesObject.noteId" class="btn-link btn-delete-note" type="button" data-ng-click="modalOptions.deleteNote()" ng-disabled="isPerformingAction"><span class="fa fa-times"></span> Remove <span ng-if="deletingNote" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	<button ng-show="viewSetting.showOccupationNotes" class="button" type="button" data-ng-click="modalOptions.save()" ng-disabled="isPerformingAction">Save<span ng-if="savingNotes" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	
	<button ng-show="viewSetting.showSchoolNotes && selectedSchoolNotesObject.noteId" class="btn-link btn-delete-note" type="button" data-ng-click="modalOptions.deleteSchoolNote()" ng-disabled="isPerformingAction"><span class="fa fa-times"></span> Remove <span ng-if="deletingNote" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	<button ng-show="viewSetting.showSchoolNotes" class="button" type="button" data-ng-click="modalOptions.saveSchool()" ng-disabled="isPerformingAction">Save<span ng-if="savingNotes" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	
	<button ng-show="viewSetting.showCCNotes && selectedCCNotesObject.noteId" class="btn-link btn-delete-note" type="button" data-ng-click="modalOptions.deleteCCNote()" ng-disabled="isPerformingAction"><span class="fa fa-times"></span> Remove <span ng-if="deletingNote" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	<button ng-show="viewSetting.showCCNotes" class="button" type="button" data-ng-click="modalOptions.saveCC()" ng-disabled="isPerformingAction">Save<span ng-if="savingNotes" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
</div> 