<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">School Notes:</h3>
</div>
<div class="modal-body">

	<div class="row" >
		<div class="medium-4 columns" >
			<ul style="list-style: none;">
				<li><a href="" ng-click="resetObject()">{{initialNotesObject.title}}</a></li>
				<li ng-repeat="n in noteList" ng-if="initialNotesObject.unitId != n.unitId"><a href="" ng-click="selectSchool(n.noteId)">{{n.title}}</a></li>
			</ul>
		</div>
		<div class="medium-8 columns" id="right">
			<h3>{{selectedNotesObject.title}}</h3>
			<textarea style="min-height: 200px;" ng-model="selectedNotesObject.notes" ng-disabled="savingNotes"></textarea> 
		</div>
	</div>
</div>
<div class="modal-footer">
	<span style="color: #cc0000;">{{error}}</span>
	<button ng-show="initialNotesObject.noteId" class="btn-link btn-delete-note" type="button" data-ng-click="modalOptions.deleteNote()" ng-disabled="isPerformingAction"><span class="fa fa-times"></span> Remove<span ng-if="deletingNote" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
	<button class="button" type="button" data-ng-click="modalOptions.save()" ng-disabled="isPerformingAction">Save<span ng-if="savingNotes" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
</div> 