<div id="educationplan-body" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
    <section class="hide-for-small-only" id="banner">
        <div class="row">
            <div class="small-7 columns">
                <ul id="sub-nav" class="menu">
                    <li><a href="favorites">View Favorites</a></li>
                    <li><a href="media-center-article-list/5">Tutorials</a></li>
                    <li><a href="general-help">Help</a></li>
                </ul>
            </div>
            <div class="small-5 columns">
                <p>THE ASVAB CEP</p>
            </div>
        </div>
    </section>
    <section id="content-wrap">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
                <div ng-include="'cep/page-partials/left-navigation-mobile.html'"></div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="career-plans-right">
                    <h1 class="job-title">My Education and Career Plans</h1>
                    <ul class="menu tools">
                        <li><a ng-click="downloadPdf()">Download PDF <span class="fa fa-download"></span></a></li>
                        <li><a ng-click="print()">Print <span class="fa fa-print"></span></a></li>
                    </ul>
                </div>
                <div id="main-content" role="main">
                    <form name="careerPlanForm" confirm-on-exit="careerPlanForm.$dirty"
                          confirm-message-window="There are unsaved changes."
                          confirm-message-route="There are unsaved changes. To save your changes, please click 'Cancel' and then click the 'SAVE' button ">
                        <div class="name-grade form-inline">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group text-right w-100 mb-8">
                                        <label for="name">Student Name:</label>
                                        <input id="name" ng-model="responses.studentInfo.name" type="text" style="width: 228px;">
                                    </div>
                                    <div class="form-group text-right w-100 mb-8">
                                        <label for="counselor">Counselor:</label>
                                        <input id="counselor" ng-model="responses.studentInfo.counselor" type="text" style="width: 228px;">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-2 col-xs-12 sm-p-0">
                                    <div class="form-group grade-group w-100 mb-8">
                                        <label for="grade" class="grade">Grade:</label>
                                        <input id="grade" ng-model="responses.studentInfo.grade" type="text" maxlength="3" style="width: 40px;">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group text-right w-100 mb-8">
                                        <label for="date-completed" class="grade">Date Completed:</label>
                                        <input id="date-completed" ng-model="responses.studentInfo.dateCompleted" type="text" style="width: 85px;" placeholder="mm/dd/yy">
                                    </div>
                                    <div class="form-group text-right w-100 xs-mb-0">
                                        <label for="date-reviewed" class="grade">Date Reviewed:</label>
                                        <input id="date-reviewed" ng-model="responses.studentInfo.dateReviewed" type="text" style="width: 85px;" placeholder="mm/dd/yy">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="summary-tab">
                        <uib-tabset>
                            <uib-tab index="$index" ng-repeat="section in sections track by $index" heading="{{section.name}}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div ng-bind-html="section.introduction"></div>
                                        <div ng-repeat="item in section.items" style="margin-bottom: 20px">
                                            <div ng-bind-html="item.stem"></div>
                                            <div ng-if="item.typeId !== itemTypes.Info">
                                                <label for="{{item.name}}" class="sr-only">{{item.name}}</label>
                                                <input ng-if="item.typeId === itemTypes.TextBox" id="{{item.name}}" type="text" ng-model="responses[item.name]" />
                                                <textarea ng-if="item.typeId === itemTypes.TextArea" id="{{item.name}}" rows="4" ng-model="responses[item.name]" maxlength="800"></textarea>
                                                <div ng-if="item.typeId === itemTypes.TextArea">Characters remaining: {{maxCharLimitPerTextarea - responses[item.name].length}} of 800</div>
                                                <div ng-if="item.typeId === itemTypes.MultiItem">
                                                    <div ng-if="item.children.length % 2 === 0">
                                                        <div class="row">
                                                            <div ng-repeat="child in item.children" class="child col-md-{{12 / item.children.length}}">
                                                                <label for="{{child.name}}" ng-bind-html="child.stem" class="stem-grey-background mb-5"></label>
                                                                <input ng-if="child.typeId === itemTypes.TextBox" id="{{child.name}}" type="text" ng-model="responses[child.name]" />
                                                                <textarea ng-if="child.typeId === itemTypes.TextArea" id="{{child.name}}" rows="5" ng-model="responses[child.name]" maxlength="800"></textarea>
                                                                <div ng-if="child.typeId === itemTypes.TextArea">Characters remaining: {{maxCharLimitPerTextarea - responses[child.name].length}} of 800</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="item.children.length % 2 !== 0">
                                                        <div class="occupation-box">
                                                            <div class="row">
                                                                <div ng-repeat="child in item.children track by $index" ng-class="['child', {'col-md-12 occupation-panal': $index === 0, 'col-md-6 col-sm-12' : $index !== 0}]">
                                                                    <div ng-if="child.typeId === itemTypes.TextBox">
                                                                        <label for="{{child.name}}" style="display: inline;" ng-bind-html="child.stem"></label>
                                                                        <input id="{{child.name}}" type="text" ng-model="responses[child.name]"/>
                                                                        <button type="button" ng-click="removeOcc(child.name)" style="color: #4c44ac">
                                                                            <strong>REMOVE</strong>
                                                                        </button>
                                                                    </div>
                                                                    <div ng-if="child.typeId === itemTypes.TextArea" style="margin-top: 10px">
                                                                        <label for="{{child.name}}" ng-bind-html="child.stem" class="stem-grey-background mt-0 mb-5"></label>
                                                                        <textarea id="{{child.name}}" rows="4" ng-model="responses[child.name]" maxlength="800"></textarea>
                                                                        <div>Characters remaining: {{maxCharLimitPerTextarea - responses[child.name].length}} of 800</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="$index === sections.length -1">
                                            <!-- additional occupations -->
                                            <div ng-repeat="occ in additionalOccs">
                                                <br>
                                                <div class="occupation-box">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 occupation-panal">
                                                            <label for="{{responses['Occupation_'+occ.index+'_OccupationName']}}" style="font-weight: bold; display: inline;">OCCUPATION TITLE</label>
                                                            <input id="{{responses['Occupation_'+occ.index+'_OccupationName']}}" ng-model="responses['Occupation_'+occ.index+'_OccupationName']" type="text">
                                                            <button type="button" ng-click="removeOcc('Occupation_'+occ.index+'_OccupationName')" style="color: #4c44ac">
                                                                <strong>REMOVE</strong>
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="{{responses['Occupation_'+occ.index+'_Courses']}}" class="stem-grey-background mb-5 mt-0">Courses Needed to Graduate</label>
                                                            <textarea id="{{responses['Occupation_'+occ.index+'_Courses']}}" ng-model="responses['Occupation_'+occ.index+'_Courses']" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - responses['Occupation_'+occ.index+'_Courses'].length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="{{responses['Occupation_'+occ.index+'_Locations']}}" class="stem-grey-background mb-5 mt-0">Location(s) Offering this Opportunity</label>
                                                            <textarea id="{{responses['Occupation_'+occ.index+'_Locations']}}" ng-model="responses['Occupation_'+occ.index+'_Locations']" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - responses['Occupation_'+occ.index+'_Locations'].length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="{{responses['Occupation_'+occ.index+'_Extracurricular']}}" class="stem-grey-background mb-5 mt-0">Other Helpful Courses &amp; Extracurricular Activities</label>
                                                            <textarea id="{{responses['Occupation_'+occ.index+'_Extracurricular']}}" ng-model="responses['Occupation_'+occ.index+'_Extracurricular']" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - responses['Occupation_'+occ.index+'_Extracurricular'].length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="{{responses['Occupation_'+occ.index+'_Locations2']}}" class="stem-grey-background mb-5 mt-0">Location(s) Offering this Opportunity</label>
                                                            <textarea id="{{responses['Occupation_'+occ.index+'_Locations2']}}" ng-model="responses['Occupation_'+occ.index+'_Locations2']" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - responses['Occupation_'+occ.index+'_Locations2'].length}} of 800</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- add new occupation -->
                                            <div ng-if="addingNewOcc">
                                                <br>
                                                <div class="occupation-box">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 occupation-panal">
                                                            <label for="new-occupation-title" style="font-weight: bold; display: inline;">OCCUPATION TITLE</label>
                                                            <input type="text" id="new-occupation-title" ng-model="newOccDetailsObj.title"/>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="courses" class="stem-grey-background mb-5 mt-0">Courses Needed to Graduate</label>
                                                            <textarea id="courses" ng-model="newOccDetailsObj.courses" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - newOccDetailsObj.courses.length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <label for="locations" class="stem-grey-background mb-5 mt-0">Location(s) Offering this Opportunity</label>
                                                            <textarea id="locations" ng-model="newOccDetailsObj.locations" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - newOccDetailsObj.locations.length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12" style="margin-top: 10px">
                                                            <label for="extracurricular" class="stem-grey-background mb-5 mt-0">Other Helpful Courses &amp; Extracurricular Activities</label>
                                                            <textarea id="extracurricular" ng-model="newOccDetailsObj.extracurricular" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - newOccDetailsObj.extracurricular.length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12" style="margin-top: 10px">
                                                            <label for="locations2" class="stem-grey-background mb-5 mt-0">Location(s) Offering this Opportunity</label>
                                                            <textarea id="locations2" ng-model="newOccDetailsObj.locations2" rows="4" maxlength="800"></textarea>
                                                            <div>Characters remaining: {{maxCharLimitPerTextarea - newOccDetailsObj.locations2.length}} of 800</div>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 text-center">
                                                            <!-- <button type="submit" class="button" style="min-width: 110px;" ng-disabled="disableSave">
                                                                <span ng-if="!disableSave">Add</span>
                                                                <span ng-if="disableSave">Adding <span class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></span>
                                                            </button> -->
                                                            <button type="button" class="button" style="min-width: 110px;" ng-click="cancelAddedOcc()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!addingNewOcc" class="col-md-12 col-sm-12 text-center">
                                                <!-- <button type="button" ng-click="addingNewOcc = true" class="btn btn-link"> -->
                                                <button type="button" ng-click="addOccupation()" class="btn btn-link">
                                                    <strong>+ Add an Occupation</strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 submit-part buttons align-items-center mb-30" ng-class="{'mt-40' : $index === 4, 'd-flex': $index !== 0}">
                                                <strong ng-if="$index === 1">Return to the Summary Sheet and jot down your insights under More About Me. Then, move on to PART 2, Occupations I'm Considering.</strong>
                                                <strong ng-if="$index === 2">Return to the Summary Sheet and jot down the jobs you are still considering. Then move on to PART 3, My Current After-High School Plans</strong>
                                                <strong ng-if="$index === 3">Return to the Summary Sheet and jot down your overall plans. Then, proceed to PART 4, Getting There from Here.</strong>
                                                <strong ng-if="$index === 4">Return to the Summary Sheet and jot down your next steps. Then, review your notes from all four parts of this activity and take appropriate action.</strong>
                                                <button type="button" ng-click="updateResponses()" class="button submit-btn-tab" ng-class="{'pull-right': $index === 0}" ng-disabled="disableSave">
                                                    <span ng-if="!disableSave">Save</span>
                                                    <span ng-if="disableSave">Saving <span class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div ng-if="$index === 4" class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <p>
                                                    <span class="text-lgreen">Don't forget career planning is a life-long process. Never stop exploring!</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController"></div>
</div>
