<div id="portfolio" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="3" class="caps">Activities &amp; Tools</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
				<!-- <div class="left-sub-nav hide-for-small-only">
				<ul id="steps" class="menu vertical">
					<li><a href=""><span>Activities</span></a></li>
					<li class="activity"><a href="education-career-plan">My Educational and Career Plans</a></li>
					<li class="activity"><a href="{{domainName}}pdf/ASVAB_CEP_Coursework_Planner.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Coursework_Planner.pdf');">My Coursework Planner</a></li>
				</ul>
				</div> -->
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				<h2>MY PORTFOLIO</h2>
			</section>
			<div class="medium-10 columns">
				<ul class="menu tools icons-right">
					<li id="download"><a href=""ng-click="downloadPdf()">Download PDF</a></li>
					<li id="print"><a href="" ng-click="printPdf()">Print</a></li>
					<li id="back"><a href="" ng-click="selectAll()">Select All</a></li>
					<li id="back"><a href="" ng-click="selectNone()">Select None</a></li>
				</ul>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				
				<p align="center">Select <b>'Add'</b> to include information within
					each section. Then select <b>'Save'</b> to keep it or <b>'Cancel'</b>' to delete
					it. When you are done you can select which sections you would like
					included on your portfolio print out.</p>

				<div id="name-grade">
					<div class="row">
						<div class="small-1 medium-offset-1 columns"><label>Name:</label></div> 
						<div class="small-4 columns" ng-if="isRegistered || fullName"><input type="text" ng-model="$parent.fullName" ng-change="syncData()" ng-model-options="{debounce:3000}"></div>
						<div class="small-4 columns" ng-if="!isRegistered && !fullName" uib-tooltip="Register your access code to enable this feature.">
							<input type="text" disabled="disabled">
						</div>
						<div class="small-1 medium-offset-2 columns"><label class="grade">Grade:</label></div> 
						<div class="small-2 columns"><input type="text" ng-model="grade" ng-change="syncData()" ng-model-options="{debounce:3000}"></div>
						<div class="small-1 columns"></div>
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="planPrint" ng-click="planPrint = !planPrint"> <strong>Future Plan</strong></div>
					<div class="entry">
						<div class="row column">
							<form name="planForm" class="inline-labels" ng-submit="isCombinedPlanFormat ? updateCombinedPlan() : addCombinedPlan()">
								<div class="plan-wrapper">
									<div class="plan-selection">
										<div class="flex-column">
											<div><input id="4year" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.fourYearCollege"><label for="4year"> 4-Year College</label></div>
											<div><input id="2year" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.twoYearCollege"><label for="2year"> 2-Year College</label></div>
											<div><input id="careerTech" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.careerAndTech"><label for="careerTech"> Career & Technical Ed</label></div>
											<div><input id="military" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.military"><label for="military"> Military</label></div>
										</div>
										<div class="flex-column" style="margin-left: 15%">
											<div><input id="work" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.work"><label for="work"> Work</label></div>
											<div><input id="gapYear" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.gapYear"><label for="gapYear"> Gap Year</label></div>
											<div><input id="undecided" type="checkbox" ng-disabled="savingPlan" ng-model="combinedPlanObj.plan.undecided"><label for="undecided"> Undecided</label></div>
										</div>
									</div>

									<div style="margin-top: 10px">
										<label>Comments</label>
										<textarea style="margin-bottom: 0px" placeholder="Optional" ng-model="combinedPlanObj.description" ng-disabled="savingPlan" maxlength="1000"></textarea>
										<div>Characters remaining: {{1000 - combinedPlanObj.description.length}} of 1000</div>
									</div>
								</div>
								
								<div class="row column buttons" style="display: flex; justify-content: center;">
									<button type="submit" class="button" ng-disabled="savingPlan" style="width: 78px">Save<span ng-if="savingPlan" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingPlan" style="width: 78px" ng-click="revertToOriginal()">Cancel</button>
								</div>
							</form>
						</div>
					</div>

					<!-- OLD CODE -->

					<!-- <div class="entry" ng-repeat="i in plan track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedPlanEditIndex">
								<p><div style="white-space:pre-wrap;">{{i.plan}}</div></p>
								<p><div style="white-space:pre-wrap;">{{i.description}}</div></p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedPlanEditIndex">
								<button ng-disabled="selectedPlanEditIndex != undefined" ng-click="deletePlan(i.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedPlanEditIndex != undefined" ng-click="setupPlanSkill(i.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<div class="row column add" ng-show="$index == selectedPlanEditIndex">
								<form name="planForm" class="inline-labels" ng-show="showPlanInputs && showUpdatePlanInputs" ng-submit="updatePlan()">
									  
								  <select ng-model="updatePlanObject.plan" ng-disabled="savingPlan" required>
								  	<option value="">-- Select Plan of Action --</option>
								  	<option value="4 Year College/University">4 Year College/University</option>
								  	<option value="2 Year College">2 Year College</option>
								  	<option value="Career and Technical Education">Career and Technical Education</option>
								  	<option value="Military">Military</option>
								  	<option value="Work">Work</option>
								  	<option value="Undecided">Undecided</option>
								  </select> &nbsp;
								  <div>
									  <label>Comments</label><br/>
									  <textarea placeholder="Optional" ng-model="updatePlanObject.description" ng-disabled="savingPlan"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingPlan">Save<span ng-if="savingPlan" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingPlan" ng-click="$parent.showPlanInputs = !$parent.showPlanInputs; $parent.showUpdatePlanInputs = !$parent.showUpdatePlanInputs; $parent.selectedPlanEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showPlanInputs" ng-click="showPlanInputs = !showPlanInputs">Add Plans</button>
						
						<form name="planForm" class="inline-labels" ng-show="showPlanInputs && !showUpdatePlanInputs" ng-submit="insertPlan()">
							  
						  <select ng-model="planObject.plan" ng-disabled="savingPlan" required>
						  	<option value="">-- Select Plan of Action --</option>
						  	<option value="4 Year College/University">4 Year College/University</option>
						  	<option value="2 Year College">2 Year College</option>
						  	<option value="Career and Technical Education">Career and Technical Education</option>
						  	<option value="Military">Military</option>
						  	<option value="Work">Work</option>
						  	<option value="Undecided">Undecided</option>
						  </select> &nbsp;
						  <div>
							  <label>Comments</label><br/>
							  <textarea placeholder="Optional"  ng-model="planObject.description" ng-disabled="savingPlan"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingPlan">Save<span ng-if="savingPlan" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingPlan" ng-click="showPlanInputs = !showPlanInputs">Cancel</button>
						  </div>
						</form>
						
					</div> -->

				</div>                
                <div class="portfolio-group">
                
					<div class="row column heading"><input type="checkbox" ng-checked="workExperiencePrint" ng-click="workExperiencePrint = !workExperiencePrint"> <strong>WORK EXPERIENCE</strong></div>
					<div class="entry" ng-repeat="w in workExperience track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedWorkEditIndex">
								<p><strong>{{w.jobTitle}}</strong>, {{w.companyName}}
								<br>
								{{w.startDate}} - {{w.endDate}} 
								<br><br>
								<strong>Job Tasks</strong>
								<br>
								<span style="white-space:pre-wrap;" ng-bind-html="w.jobDescription"></span>
								</p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedWorkEditIndex">
								<button ng-disabled="selectedWorkEditIndex != undefined" ng-click="deleteWorkExperience(w.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedWorkEditIndex != undefined" ng-click="setupUpdateWorkExperience(w.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Update Work Experience -->
							<div class="row column add" ng-show="$index == selectedWorkEditIndex">
							<form ng-show="showWorkExperienceInputs && showUpdateWorkExperienceInputs" ng-submit="updateWorkExperience()">
							  <div class="row">
								<div class="small-3 columns">
								  <label>Company Name: </label>
								</div>
								<div class="small-9 columns">
								  <input type="text" required ng-model="updateWorkExperienceObject.companyName" ng-disabled="savingWorkExperience">
								</div>
							  </div>
							  
							  <div class="row">
								<div class="small-3 columns">
								  <label>Job Title: </label>
								</div>
								<div class="small-9 columns">
								  <input type="text" required ng-model="updateWorkExperienceObject.jobTitle" ng-disabled="savingWorkExperience">
								</div>
							  </div>
							  
							  <div class="row">
								<div class="small-3 columns">
								  <label>Time Period: </label>
								</div>
								<div class="small-9 columns">
								  <input type="text" class="small" placeholder="MM/YY" required ng-model="updateWorkExperienceObject.startDate" ng-disabled="savingWorkExperience" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input type="text" class="small" placeholder="MM/YY" required ng-model="updateWorkExperienceObject.endDate" ng-disabled="savingWorkExperience || $parent.updateWorkExperienceEndDateDisabled" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> &nbsp; <input type="checkbox" ng-disabled="savingWorkExperience" ng-model="updateWorkExperienceObject.endDate" ng-click="$parent.updateWorkExperienceEndDateDisabled = !$parent.updateWorkExperienceEndDateDisabled" ng-true-value="'Present'" ng-false-value=""> Present
								</div>
							  </div>
							  
							  <div class="row">
								<div class="small-3 columns">
								  <label>Description: </label>
								  <a href="" class="caps" ng-click="tipsModal()">tips</a>
								</div>
								<div class="small-9 columns">
								  <!-- <textarea required ng-model="updateWorkExperienceObject.jobDescription" ng-disabled="savingWorkExperience"></textarea> -->
								  <text-angular ng-model="updateWorkExperienceObject.jobDescription" required 
								  	ta-disabled="savingWorkExperience" ta-toolbar="[['ul','ol'],['bold','italics', 'underline']]" ></text-angular>
								</div>
							  </div>
							  
							  <div class="row column buttons">
								<button type="submit" class="button" ng-disabled="savingWorkExperience">Save<span ng-if="savingWorkExperience" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="savingWorkExperience" ng-click="$parent.showWorkExperienceInputs = !$parent.showWorkExperienceInputs; $parent.showUpdateWorkExperienceInputs = !$parent.showUpdateWorkExperienceInputs; $parent.selectedWorkEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
							  </div>
							</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showWorkExperienceInputs" ng-click="showWorkExperienceInputs = !showWorkExperienceInputs">Add WORK EXPERIENCE</button>
						
						<!-- Insert Work Experience -->
						<form name="work" ng-show="showWorkExperienceInputs && !showUpdateWorkExperienceInputs" ng-submit="insertWorkExperience(work)">
						  <div class="row">
							<div class="small-3 columns">
							  <label>Company Name: </label>
							</div>
							<div class="small-9 columns">
							  <input ng-class="{work:work.companyName.$error.required && work.$submitted}" type="text" required ng-model="workExperiencObject.companyName" ng-disabled="savingWorkExperience" name="companyName">
							</div>
						  </div>
						  
						  <div class="row">
							<div class="small-3 columns">
							  <label>Job Title: </label>
							</div>
							<div class="small-9 columns">
							  <input ng-class="{work:work.jobTitle.$error.required && work.$submitted}" type="text" required ng-model="workExperiencObject.jobTitle" ng-disabled="savingWorkExperience" name="jobTitle">
							</div>
						  </div>
						  
						  <div class="row">
							<div class="small-3 columns">
							  <label>Time Period: </label>
							</div>
							<div class="small-9 columns">
							  <input name="start" ng-class="{work:work.start.$error.required && work.$submitted}" type="text" class="small" placeholder="MM/YY" required ng-model="workExperiencObject.startDate" ng-disabled="savingWorkExperience" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input name="end" ng-class="{work:work.end.$error.required && work.$submitted}" type="text" class="small" placeholder="MM/YY" required ng-model="workExperiencObject.endDate" ng-disabled="savingWorkExperience || !workExperienceEndDateRequired" pattern="((0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01]))|(Present)" title="Format: MM/YY"> &nbsp; <input type="checkbox" ng-disabled="savingWorkExperience" ng-model="workExperiencObject.endDate" ng-click="workExperienceEndDateRequired = !workExperienceEndDateRequired" ng-true-value="'Present'" ng-false-value="''"> Present
							</div>
						  </div>
						  
						  <div class="row">
							<div class="small-3 columns">
							  <label>Description: </label>
							  <a href="" class="caps" ng-click="tipsModal()">tips</a>
							</div>
							<div class="small-9 columns">
							  <!-- <textarea ng-class="{work:work.description.$error.required && work.$submitted}" name="description" required ng-model="workExperiencObject.jobDescription" ng-disabled="savingWorkExperience"></textarea> -->
							  <text-angular ng-class="{work:work.description.$error.required && work.$submitted}" ng-model="workExperiencObject.jobDescription" required
							 	ta-disabled="savingWorkExperience" ta-toolbar="[['ul','ol'],['bold','italics', 'underline']]" ></text-angular>
							</div>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingWorkExperience">Save<span ng-if="savingWorkExperience" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingWorkExperience" ng-click="showWorkExperienceInputs = !showWorkExperienceInputs">Cancel</button>
						  </div>
						</form>
						
						
					</div>
				</div>
				
				<div class="portfolio-group" id="section-to-print">
					<div class="row column heading"><input type="checkbox" ng-checked="educationPrint" ng-click="educationPrint = !educationPrint"> <strong>Education</strong></div>
					<div class="entry" ng-repeat="e in education track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedEducationEditIndex">
								<p><strong>{{e.schoolName}}</strong>, <span ng-show="e.gpa && !0.0">GPA {{e.gpa | number:2}}</span>
								<br>
								{{e.startDate}} - {{e.endDate}}
								<br>
								<br>
								<strong  ng-show="e.activities">Activities</strong>
								<br>
								<span style="white-space:pre-wrap;">{{e.activities}}</span>
								<br>
								<br>
								<strong  ng-show="e.achievements">Honor, AP Courses and AP tests</strong>
								<br>
								<span style="white-space:pre-wrap;">{{e.achievements}}</span>
								</p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedEducationEditIndex">
								<button ng-disabled="selectedEducationEditIndex != undefined" ng-click="deleteEducation(e.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedEducationEditIndex != undefined" ng-click="setupUpdateEducation(e.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							
							<!-- Education Update -->
							<div class="row column add" ng-show="$index == selectedEducationEditIndex">
								<form name="educationUpdateForm" class="inline-labels" ng-show="showEducationInputs && showUpdateEducationInputs" ng-submit="educationUpdateForm.$valid && updateEducation()">
									  
								  <div class="row form-group" ng-class="{'has-error':educationUpdateForm.gpa.$invalid}">
								  	<div class="small-7 columns">
									  <label>School: </label>
									  <input type="text" required ng-model="updateEducationObject.schoolName" ng-disabled="savingEducation">
									</div>
									<div class="small-5 columns">
									  <label>GPA: </label>
									  <input type="text" class="small form-control" name="gpa" required ng-model="updateEducationObject.gpa" ng-disabled="savingEducation" maxlength="4" ng-pattern="/^((\d+\.?|\.(?=\d))?\d{0,3})$/" step="0.01" data-ng-required="false">
								      <span class="help-block" ng-show="!educationUpdateForm.gpa.$valid">Enter decimal number.</span>
								    </div>
								  </div>
								  
								  <div>
									  <label>Date Attended: </label>
									  <input type="text" class="small" placeholder="MM/YY" required ng-model="updateEducationObject.startDate" ng-disabled="savingEducation" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input type="text" class="small" placeholder="MM/YY" required ng-model="updateEducationObject.endDate" ng-disabled="savingEducation" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> or expected graduation year
								  </div>
								  
								  <div>
									  <label>Activities, Clubs and Sports </label><br/>
									  <textarea ng-model="updateEducationObject.activities" ng-disabled="savingEducation"></textarea>
								  </div>
								  
								  <div>
									  <label>Honor, AP Courses and AP tests </label><br/>
									  <textarea ng-model="updateEducationObject.achievements" ng-disabled="savingEducation"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingEducation">Save<span ng-if="savingEducation" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingEducation" ng-click="$parent.showEducationInputs = !$parent.showEducationInputs; $parent.showUpdateEducationInputs = !$parent.showUpdateEducationInputs; $parent.selectedEducationEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showEducationInputs" ng-click="showEducationInputs = !showEducationInputs">Add Education</button>
						
						<!-- Education Insert -->
						<form name="educationInsertForm" class="inline-labels" ng-show="showEducationInputs && !showUpdateEducationInputs" ng-submit="educationInsertForm.$valid && insertEducation()">
							  
						  <div class="row form-group" ng-class="{'has-error':educationInsertForm.gpa.$invalid}">
						  	<div class="small-7 columns">
							  <label>School: </label>
							  <input type="text" required ng-model="educationObject.schoolName" ng-disabled="savingEducation">
							</div>
							<div class="small-5 columns">
							  <label>GPA: </label>
							  <input type="text" class="small form-control" name="gpa" required ng-model="educationObject.gpa" ng-disabled="savingEducation" maxlength="4" ng-pattern="/^((\d+\.?|\.(?=\d))?\d{0,3})$/" step="0.01" data-ng-required="false">
						      <span class="help-block" ng-show="!educationInsertForm.gpa.$valid">Enter decimal number.</span>
						    </div>
						  </div>
						  
						  <div>
							  <label>Date Attended: </label>
							  <input type="text" class="small" placeholder="MM/YY" required ng-model="educationObject.startDate" ng-disabled="savingEducation" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input type="text" class="small" placeholder="MM/YY" required ng-model="educationObject.endDate" ng-disabled="savingEducation" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> or expected graduation year
						  </div>
						  
						  <div>
							  <label>Activities, Clubs and Sports </label><br/>
							  <textarea ng-model="educationObject.activities" ng-disabled="savingEducation"></textarea>
						  </div>
						  
						  <div>
							  <label>Honor, AP Courses and AP tests </label><br/>
							  <textarea ng-model="educationObject.achievements" ng-disabled="savingEducation"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingEducation">Save<span ng-if="savingEducation" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingEducation" ng-click="showEducationInputs = !showEducationInputs">Cancel</button>
						  </div>
						  
						</form>
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="testScorePrint" ng-click="testScorePrint = !testScorePrint"> <strong>TEST SCORES</strong></div>

						<div class="entry" ng-repeat="a in asvabScore track by $index">
							
							<!-- ASVAB -->
							<div class="row">
								<!-- Manually Entered ASVAB Test Scores -->
								<div class="medium-9 columns" ng-if="$index != selectedASVABEditIndex && !haveAsvabTestScores">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
										<tr>
											<td id="varbal-score">{{a.verbalScore}}</td>
											<td id="math-score">{{a.mathScore}}</td>
											<td id="science-score">{{a.scienceScore}}</td>
										</tr>
										<tr>
											<td>Verbal</td>
											<td>Math</td>
											<td>Science/Technical</td>
										</tr>
										<!-- Do not display AFQT for manual scores
										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{a.afqtScore}}</span></td>
										</tr>
										-->
										</tbody>
									</table>
								</div>
								<div class="medium-3 columns actions" ng-if="$index != selectedASVABEditIndex && !haveAsvabTestScores">
									<button ng-disabled="testEditDisable" ng-click="deleteAsvabScore(a.id)"><a href="" ng-style="myStyle">Remove</a></button> 
									<button ng-disabled="testEditDisable" ng-click="setupUpdateAsvabScore(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
								</div>

								<!-- Update ASVAB score inputs -->
								<div class="row column add" ng-show="$index == selectedASVABEditIndex && !haveAsvabTestScores">
									  <form ng-if="showUpdateAsvabScoreInputs">
									  	  <strong>ASVAB Score:</strong>
									  	  
									  	  <div class="row column">
										  	  <label>Verbal Skills Score</label>
											  <input type="number" class="small" min="0" step="1" ng-model="updateAsvabObject.verbalScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
										  </div>
										  
										  <div class="row column">
										  	  <label>Math Skills Score</label>
											  <input type="number" class="small" min="0" step="1" ng-model="updateAsvabObject.mathScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
										  </div>
										  
										  <div class="row column">
										  	  <label>Science and Technical Skills Score</label>
											  <input type="number" class="small" min="0" step="1" ng-model="updateAsvabObject.scienceScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
										  </div>
										  
							<!-- 			  <div class="row column">
										  	  <label>AFQT Score</label>
											  <input type="number" class="small" min="0" step="1" ng-model="updateAsvabObject.afqtScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
										  </div> -->
									  
										  <div class="row column buttons">
											<button type="button" class="button" ng-disabled="$parent.savingAsvabScore" ng-click="updateAsvabScore()">Save<span ng-if="$parent.savingAsvabScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" ng-disabled="$parent.savingAsvabScore" ng-click="$parent.$parent.showUpdateAsvabScoreInputs = !$parent.$parent.showUpdateAsvabScoreInputs; $parent.$parent.selectedASVABEditIndex = undefined; $parent.$parent.myStyle = {'cursor': 'pointer'}; $parent.$parent.testEditDisable = false;">Cancel</button>
										  </div>
									  </form>
								  </div>
							</div>
						</div>

						<!-- Actual ASVAB Test Scores -->
						<div class="entry" ng-if="haveAsvabTestScores">
							<div class="row">
								<div class="medium-9 columns">
									<strong>ASVAB Score:</strong>
									<table id="my-results-table" class="table table-striped">
										<tbody>
										<tr>
											<td id="varbal-score">{{asvabTestScores.verbalScore}}</td>
											<td id="math-score">{{asvabTestScores.mathScore}}</td>
											<td id="science-score">{{asvabTestScores.scienceScore}}</td>
											<td><strong>{{asvabTestScores.afqtScore}}</strong></td>
										</tr>
										<tr>
											<td>Verbal</td>
											<td>Math</td>
											<td>Science/Technical</td>
											<td>AFQT</td>
										</tr>
<!-- 										<tr>
											<td colspan="3">AFQT: <span id="afqt-score">{{asvabTestScores.afqtScore}}</span></td>
										</tr> -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
							
						<div class="entry" ng-repeat="a in actScore track by $index">
							
							<!-- ACT -->						
							<div class="row">
								<div class="medium-9 columns" ng-hide="$index == selectedACTEditIndex">
									<strong>ACT Score:</strong>
<!-- 									<br>Reading Score: {{a.readingScore}}
									<br>Math Score: {{a.mathScore}}
									<br>Writing Score: {{a.writingScore}}
									<br>English Score: {{a.englishScore}}
									<br>Science Score: {{a.scienceScore}} -->
									<table border="0">
									  <tr class="scoreTable">
									    <td>{{a.readingScore}}</td>
									    <td>Reading Score</td>
									  </tr>
									  <tr class="scoreTable">
									    <td>{{a.mathScore}}</td>
									    <td>Math Score</td>
									  </tr>
									  <tr class="scoreTable">
									    <td>{{a.writingScore}}</td>
									    <td>Writing Score</td>
									  </tr>
									  <tr class="scoreTable">
									    <td>{{a.englishScore}}</td>
									    <td>English Score</td>
									  </tr>
									  <tr class="scoreTable">
									    <td>{{a.scienceScore}}</td>
									    <td>Science Score</td>
									  </tr>
									</table>
								</div>
								<div class="medium-3 columns actions" ng-hide="$index == selectedACTEditIndex">
									<button ng-disabled="testEditDisable" ng-click="deleteActScore(a.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="testEditDisable" ng-click="setupUpdateActScore(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
								</div>
								
								<!-- Update ACT score inputs -->
								<div class="row column add" ng-show="$index == selectedACTEditIndex">
								
								
									<!-- Update ACT score inputs -->
								  <form ng-if="showUpdateActScoreInputs">
								  	  <strong>ACT Score:</strong>
									  
									  <div class="row column">
									  	  <label>Reading Test Score</label>
										  <input type="number" class="small" min="0" step="1" ng-model="updateActObject.readingScore" ng-disabled="$parent.savingActScore"> &nbsp; 
									  </div>
									  
									  <div class="row column">
									  	  <label>Mathematics Test Score</label>
										  <input type="number" class="small" min="0" step="1" ng-model="updateActObject.mathScore" ng-disabled="$parent.savingActScore"> &nbsp; 
									  </div>
									  
									  <div class="row column">
									  	  <label>Writing Test Score</label>
										  <input type="number" class="small" min="0" step="1" ng-model="updateActObject.writingScore" ng-disabled="$parent.savingActScore"> &nbsp; 
									  </div>
									  
									  <div class="row column">
									      <label>English Test Score</label>
										  <input type="number" class="small" min="0" step="1" ng-model="updateActObject.englishScore" ng-disabled="$parent.savingActScore"> &nbsp; 
									  </div>
									  
									  <div class="row column">
									  	  <label>Science Test Score</label>
										  <input type="number" class="small" min="0" step="1" ng-model="updateActObject.scienceScore" ng-disabled="$parent.savingActScore"> &nbsp; 
									  </div>
								  
									  <div class="row column buttons">
										<button type="button" class="button" ng-disabled="$parent.savingActScore" ng-click="updateActScore()">Save<span ng-if="$parent.savingActScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
										<button type="button" class="button" ng-disabled="$parent.savingActScore" ng-click="$parent.$parent.showUpdateActScoreInputs = !$parent.$parent.showUpdateActScoreInputs; $parent.$parent.selectedACTEditIndex = undefined; $parent.$parent.myStyle = {'cursor': 'pointer'}; $parent.$parent.testEditDisable = false;">Cancel</button>
									  </div>
								  </form>
								 </div>
						  
							</div>
						</div>
						
						<div class="entry" ng-repeat="a in satScore track by $index">
							
								<!-- SAT -->
								<div class="row">
									<div class="medium-9 columns" ng-hide="$index == selectedSATEditIndex">
										<strong>SAT Score:</strong>
										<table border="0">
											<tr class="scoreTable">
										    <td>{{a.readingScore}}</td>
										    <td>Critical Reading</td>
										  </tr>
										  <tr class="scoreTable">
										    <td>{{a.mathScore}}</td>
										    <td>Mathematics</td>
										  </tr>
										  <tr class="scoreTable" ng-if="a.writingScore != 0">
										    <td>{{a.writingScore}}</td>
										    <td>Writing (optional)</td>
										  </tr>
										</table>
										Subject: {{a.subject}}
									</div>
									<div class="medium-3 columns actions" ng-hide="$index == selectedSATEditIndex">
										<button ng-disabled="testEditDisable" ng-click="deleteSatScore(a.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="testEditDisable" ng-click="setupUpdateSatScore(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
									</div>
									
									<!-- Update SAT score inputs -->
										<div class="row column add" ng-show="$index == selectedSATEditIndex">
										  <form ng-if="showUpdateSatScoreInputs">
										  	  <strong>SAT Score:</strong>
										  	  
										  	  <div class="row column">
											  	  <label>Critical Reading</label>
												  <input type="number" class="small" min="0" step="1" ng-model="updateSatObject.readingScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
											  </div>
											  
											  <div class="row column">
											  	  <label>Mathematics</label>
												  <input type="number" class="small" min="0" step="1" ng-model="updateSatObject.mathScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
											  </div>
											  
											  <div class="row column">
											  	  <label>Writing (optional)</label>
												  <input type="number" class="small" min="0" step="1" ng-model="updateSatObject.writingScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
											  </div>
											  
											  <div>
												  <label>SAT Subject Tests</label><br/>
												  <textarea ng-model="updateSatObject.subject" ng-disabled="$parent.savingSatScore"></textarea>
											  </div>
										  
											  <div class="row column buttons">
												<button type="button" class="button" ng-disabled="$parent.savingSatScore" ng-click="updateSatScore()">Save<span ng-if="$parent.savingSatScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
												<button type="button" class="button" ng-disabled="$parent.savingSatScore" ng-click="$parent.$parent.showUpdateSatScoreInputs = !$parent.$parent.showUpdateSatScoreInputs; $parent.$parent.selectedSATEditIndex = undefined; $parent.$parent.myStyle = {'cursor': 'pointer'}; $parent.$parent.testEditDisable = false;">Cancel</button>
											  </div>
										  </form>
									  </div>
								</div>
							</div>
							
							<div class="entry" ng-repeat="a in otherScore track by $index">
							
							<!-- Other -->
							<div class="row">
								<div class="medium-9 columns"ng-hide="$index == selectedOtherEditIndex">
									<strong>Other scores:</strong>
									<br><div style="white-space:pre-wrap;">{{a.description}}</div>

								</div>
								<div class="medium-3 columns actions" ng-hide="$index == selectedOtherEditIndex">
									<button ng-disabled="testEditDisable" ng-click="deleteOtherScore(a.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="testEditDisable" ng-click="setupUpdateOtherScore(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
								</div>
								
								<!-- Update other score inputs -->
								<div class="row column add" ng-show="$index == selectedOtherEditIndex">
									  <form ng-if="showUpdateOtherScoreInputs">
										  <strong>Other scores:</strong>
										  <div>
											  <label>Test names with scores if applicable</label><br/>
											  <textarea ng-model="updateOtherObject.description" ng-disabled="$parent.savingOtherScore"></textarea>
										  </div>
									  
										  <div class="row column buttons">
											<button type="button" class="button" ng-disabled="$parent.savingOtherScore" ng-click="updateOtherScore()">Save<span ng-if="$parent.savingOtherScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
											<button type="button" class="button" ng-disabled="$parent.savingOtherScore" ng-click="$parent.$parent.showUpdateOtherScoreInputs = !$parent.$parent.showUpdateOtherScoreInputs; $parent.$parent.selectedOtherEditIndex = undefined; $parent.$parent.myStyle = {'cursor': 'pointer'}; $parent.$parent.testEditDisable = false;">Cancel</button>
										  </div>
									  </form>
								  </div>
							</div>
						</div>
					<div class="row column add">
						<button class="add button" ng-hide="showScoreInputs || showUpdateAsvabScoreInputs || showUpdateActScoreInputs || showUpdateSatScoreInputs || showUpdateOtherScoreInputs" ng-click="showScoreInputs = !showScoreInputs">Add TEST SCORES</button>
						<form class="inline-labels" ng-show="showScoreInputs">
							  
						  <div class="row column">
							  <label>Select one: </label>
							  <select ng-model="testSelected">
							  	<!-- <option value="">-- Select Test --</option> -->
									<option ng-if="asvabScore.length == 0 && !haveAsvabTestScores" value="ASVAB">ASVAB Results</option>
							  	<option ng-if="actScore.length == 0" value="ACT">ACT</option>
							  	<!-- <option ng-if="fyiScore.length == 0" value="FYI" ng-hide="hideFyi">FYI Interest Codes</option> -->
							  	<option ng-if="satScore.length == 0" value="SAT">SAT</option>
							  	<option value="OTHER">Others</option>
							  </select> &nbsp;
						  </div>
						  
						  <!-- Insert ACT score inputs -->
						  <div ng-if="testSelected == 'ACT'">
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="actObject.englishScore" ng-disabled="$parent.savingActScore"> &nbsp; 
								  <label>English Test Score</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="actObject.mathScore" ng-disabled="$parent.savingActScore"> &nbsp; 
								  <label>Mathematics Test Score</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="actObject.readingScore" ng-disabled="$parent.savingActScore"> &nbsp; 
								  <label>Reading Test Score</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="actObject.scienceScore" ng-disabled="$parent.savingActScore"> &nbsp; 
								  <label>Science Test Score</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="actObject.writingScore" ng-disabled="$parent.savingActScore"> &nbsp; 
								  <label>Writing Test Score</label>
							  </div>
							 
							  <div class="row column buttons">
								<button type="button" class="button" ng-disabled="$parent.savingActScore" ng-click="insertActScore()">Save<span ng-if="$parent.savingActScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="$parent.savingActScore" ng-click="$parent.showScoreInputs = !$parent.showScoreInputs;">Cancel</button>
							  </div>
							 </div>
						  
						  <!-- Insert ASVAB score inputs -->
						  <div ng-if="testSelected == 'ASVAB'">
						  	  <br>
						  	  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="asvabObject.verbalScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
								  <label>Verbal Skills Score</label>
							  </div>
						  	  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="asvabObject.mathScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
								  <label>Math Skills Score</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="asvabObject.scienceScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
								  <label>Science/Technical Skills Score</label>
							  </div>
							  
<!-- 							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="asvabObject.afqtScore" ng-disabled="$parent.savingAsvabScore"> &nbsp; 
								  <label>AFQT Score</label>
							  </div> -->
						  
							  <div class="row column buttons">
								<button type="button" class="button" ng-disabled="$parent.savingAsvabScore" ng-click="insertAsvabScore()">Save<span ng-if="$parent.savingAsvabScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="$parent.savingAsvabScore" ng-click="$parent.showScoreInputs = !$parent.showScoreInputs">Cancel</button>
							  </div>
						  </div>
						  
						  <!-- Insert SAT score inputs -->
						  <div ng-if="testSelected == 'SAT'">
						  	  <br>
						  	  
						  	  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="satObject.readingScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
								  <label>Critical Reading</label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="satObject.mathScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
								  <label>Mathematics </label>
							  </div>
							  
							  <div class="row column">
								  <input type="number" class="small" min="0" step="1" ng-model="satObject.writingScore" ng-disabled="$parent.savingSatScore"> &nbsp; 
								  <label>Writing (optional)</label>
							  </div>
							  
							  <div>
								  <label>SAT Subject Tests</label><br/>
								  <textarea ng-model="satObject.subject" ng-disabled="$parent.savingSatScore"></textarea>
							  </div>
						  
							  <div class="row column buttons">
								<button type="button" class="button" ng-disabled="$parent.savingSatScore" ng-click="insertSatScore()">Save<span ng-if="$parent.savingSatScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="$parent.savingSatScore" ng-click="$parent.showScoreInputs = !$parent.showScoreInputs">Cancel</button>
							  </div>
						  </div>
						  
						  <!-- Insert other score inputs -->
						  <div ng-if="testSelected == 'OTHER'">
						  	  <br>
							  
							  <div>
								  <label>Test names with scores if applicable</label><br/>
								  <textarea ng-model="otherObject.description" ng-disabled="$parent.savingOtherScore"></textarea>
							  </div>
						  
							  <div class="row column buttons">
								<button type="button" class="button" ng-disabled="$parent.savingOtherScore" ng-click="insertOtherScore()">Save<span ng-if="$parent.savingOtherScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="$parent.savingOtherScore" ng-click="$parent.showScoreInputs = !$parent.showScoreInputs">Cancel</button>
							  </div>
						  </div>
						</form>
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="achievementPrint" ng-click="achievementPrint = !achievementPrint"> <strong>Achievements</strong></div>
					<div class="entry" ng-repeat="a in achievement track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedAchievementEditIndex">
								<p><div style="white-space:pre-wrap;">{{a.description}}</div></p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedAchievementEditIndex">
								<button ng-disabled="selectedAchievementEditIndex != undefined" ng-click="deleteAchievement(a.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedAchievementEditIndex != undefined" ng-click="setupUpdateAchievement(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Achievement Update -->
							<div class="row column add" ng-show="$index == selectedAchievementEditIndex">
								<form name="achievementForm" class="inline-labels" ng-show="showAchievementInputs && showUpdateAchievementInputs" ng-submit="updateAchievement()">
									  
								  <div>
									  <label>Description</label><br/>
									  <textarea required ng-model="updateAchievementObject.description" ng-disabled="savingAchievement"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingAchievement">Save<span ng-if="savingAchievement" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingAchievement" ng-click="$parent.showAchievementInputs = !$parent.showAchievementInputs; $parent.showUpdateAchievementInputs = !$parent.showUpdateAchievementInputs; $parent.selectedAchievementEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								  
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showAchievementInputs" ng-click="showAchievementInputs = !showAchievementInputs">Add Achievements</button>
						
						<!-- Achievement Insert -->
						<form name="achievementForm" class="inline-labels" ng-show="showAchievementInputs && !showUpdateAchievementInputs" ng-submit="insertAchievement()">
							  
						  <div>
							  <label>Description</label><br/>
							  <textarea required ng-model="achievementObject.description" ng-disabled="savingAchievement"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingAchievement">Save<span ng-if="savingAchievement" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingAchievement" ng-click="showAchievementInputs = !showAchievementInputs">Cancel</button>
						  </div>
						  
						</form>
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="skillsPrint" ng-click="skillsPrint = !skillsPrint"> <strong>Skills</strong></div>
					<div class="entry" ng-repeat="s in skill track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedSkillsEditIndex">
								<p><div style="white-space:pre-wrap;">{{s.description}}</div></p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedSkillsEditIndex">
								<button ng-disabled="selectedSkillsEditIndex != undefined" ng-click="deleteSkill(s.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedSkillsEditIndex != undefined" ng-click="setupUpdateSkill(s.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Skill Update -->
							<div class="row column add" ng-show="$index == selectedSkillsEditIndex">
								<form name="skillForm" class="inline-labels" ng-show="showSkillInputs && showUpdateSkillInputs" ng-submit="updateSkill()">
									  
								  <div>
									  <label>Description</label><br/>
									  <textarea required ng-model="updateSkillObject.description" ng-disabled="savingSkill"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingSkill">Save<span ng-if="savingSkill" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingSkill" ng-click="$parent.showSkillInputs = !$parent.showSkillInputs; $parent.showUpdateSkillInputs = !$parent.showUpdateSkillInputs; $parent.selectedSkillsEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showSkillInputs" ng-click="showSkillInputs = !showSkillInputs">Add Skills</button>
						
						<!-- Skill Insert -->
						<form name="skillForm" class="inline-labels" ng-show="showSkillInputs && !showUpdateSkillInputs" ng-submit="insertSkill()">
							  
						  <div>
							  <label>Description</label><br/>
							  <textarea required ng-model="skillObject.description" ng-disabled="savingSkill"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingSkill">Save<span ng-if="savingSkill" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingSkill" ng-click="showSkillInputs = !showSkillInputs">Cancel</button>
						  </div>
						</form>
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="volunteerPrint" ng-click="volunteerPrint = !volunteerPrint"> <strong>VOLUNTEER ACTIVITIES</strong></div>
					<div class="entry" ng-repeat="v in volunteer track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedVolunteerEditIndex">
								<p><strong>{{v.organizationName}}</strong>
								<br>
								{{v.startDate}} - {{v.endDate}} 
								<br>
								<br>
								<strong>Job Tasks</strong>
								<br>
								<span ng-bind-html="v.description" style="white-space:pre-wrap;">{{v.description}}</span>
								</p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedVolunteerEditIndex">
								<button ng-disabled="selectedVolunteerEditIndex != undefined" ng-click="deleteVolunteer(v.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedVolunteerEditIndex != undefined" ng-click="setupUpdateVolunteer(v.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Volunteer Update -->
							<div class="row column add" ng-show="$index == selectedVolunteerEditIndex">
								<form ng-show="showVolunteerInputs && showUpdateVolunteerInputs" ng-submit="updateVolunteer()">
								  <div class="row">
									<div class="small-3 columns">
									  <label>Organization: </label>
									</div>
									<div class="small-9 columns">
									  <input type="text" required ng-model="updateVolunteerObject.organizationName" ng-disabled="savingVolunteer">
									</div>
								  </div>
								  
								  <div class="row">
									<div class="small-3 columns">
									  <label>Time Period: </label>
									</div>
									<div class="small-9 columns">
									  <input type="text" class="small" placeholder="MM/YY" required ng-model="updateVolunteerObject.startDate" ng-disabled="savingVolunteer" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input type="text" class="small" placeholder="MM/YY" required ng-model="updateVolunteerObject.endDate" ng-disabled="savingVolunteer || $parent.updateVolunteerEndDateDisabled" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> &nbsp; <input type="checkbox" ng-disabled="savingVolunteer" ng-model="updateVolunteerObject.endDate" ng-click="$parent.updateVolunteerEndDateDisabled = !$parent.updateVolunteerEndDateDisabled" ng-true-value="'Present'" ng-false-value=""> Present
									</div>
								  </div>
								  
								  <div class="row">
									<div class="small-3 columns">
									  <label>Description: </label>
									  <a href="" class="caps" ng-click="tipsModal()">tips</a>
									</div>
									<div class="small-9 columns">
									  <!-- <textarea required ng-model="updateVolunteerObject.description" ng-disabled="savingVolunteer"></textarea> -->
									  <text-angular ng-model="updateVolunteerObject.description" required 
								  		ta-disabled="savingVolunteer" ta-toolbar="[['ul','ol'],['bold','italics', 'underline']]" ></text-angular>
									</div>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingVolunteer">Save<span ng-if="savingVolunteer" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingVolunteer" ng-click="$parent.showVolunteerInputs = !$parent.showVolunteerInputs; $parent.showUpdateVolunteerInputs = !$parent.showUpdateVolunteerInputs; $parent.selectedVolunteerEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showVolunteerInputs" ng-click="showVolunteerInputs = !showVolunteerInputs">Add VOLUNTEER ACTIVITIES</button>
						
						<!-- Volunteer Insert -->
						<form ng-show="showVolunteerInputs && !showUpdateVolunteerInputs" ng-submit="insertVolunteer()">
						  <div class="row">
							<div class="small-3 columns">
							  <label>Organization: </label>
							</div>
							<div class="small-9 columns">
							  <input type="text" required ng-model="volunteerObject.organizationName" ng-disabled="savingVolunteer">
							</div>
						  </div>
						  
						  <div class="row">
							<div class="small-3 columns">
							  <label>Time Period: </label>
							</div>
							<div class="small-9 columns">
							  <input type="text" class="small" placeholder="MM/YY" required ng-model="volunteerObject.startDate" ng-disabled="savingVolunteer" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> - <input type="text" class="small" placeholder="MM/YY" required ng-model="volunteerObject.endDate" ng-disabled="savingVolunteer || !volunteerEndDateDisabled" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])" title="Format: MM/YY"> &nbsp; <input type="checkbox" ng-disabled="savingVolunteer" ng-model="volunteerObject.endDate" ng-click="volunteerEndDateDisabled = !volunteerEndDateDisabled" ng-true-value="'Present'" ng-false-value=""> Present
							</div>
						  </div>
						  
						  <div class="row">
							<div class="small-3 columns">
							  <label>Description: </label>
							  <a href="" class="caps" ng-click="tipsModal()">tips</a>
							</div>
							<div class="small-9 columns">
							  <!-- <textarea required ng-model="volunteerObject.description" ng-disabled="savingVolunteer"></textarea> -->
							  <text-angular ng-model="volunteerObject.description" required 
								  		ta-disabled="savingVolunteer" ta-toolbar="[['ul','ol'],['bold','italics', 'underline']]" ></text-angular>
							</div>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingVolunteer">Save<span ng-if="savingVolunteer" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingVolunteer" ng-click="showVolunteerInputs = !showVolunteerInputs">Cancel</button>
						  </div>
						</form>
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="interestPrint" ng-click="interestPrint = !interestPrint"> <strong>Interests</strong></div>
					
						
					
						<div class="entry" ng-repeat="a in fyiScore track by $index">
							
								
								<div class="row"><a ng-click="interestCodesInfo()"><div class="explain alt"></div></a>
									<div class="medium-9 columns" ng-hide="$index == selectedFYIEditIndex">
											<strong>Interest Codes:</strong>
											<br><span>{{a.interestCodeOne}} | {{a.interestCodeTwo}} | {{a.interestCodeThree}}</span> <span>&nbsp;&nbsp;({{ a.interestCodeOne == 'S' ? 'Social' : a.interestCodeOne == 'A' ? 'Artistic' : a.interestCodeOne == 'C' ? 'Conventional' : a.interestCodeOne == 'E' ? 'Enterprising' : a.interestCodeOne == 'R' ? 'Realistic' : a.interestCodeOne == 'I' ? 'Investigative' : ''}}
											 | {{ a.interestCodeTwo == 'S' ? 'Social' : a.interestCodeTwo == 'A' ? 'Artistic' : a.interestCodeTwo == 'C' ? 'Conventional' : a.interestCodeTwo == 'E' ? 'Enterprising' : a.interestCodeTwo == 'R' ? 'Realistic' : a.interestCodeTwo == 'I' ? 'Investigative' : ''}}
											 | {{ a.interestCodeThree == 'S' ? 'Social' : a.interestCodeThree == 'A' ? 'Artistic' : a.interestCodeThree == 'C' ? 'Conventional' : a.interestCodeThree == 'E' ? 'Enterprising' : a.interestCodeThree == 'R' ? 'Realistic' : a.interestCodeThree == 'I' ? 'Investigative' : ''}})
											 </span>
									</div>
									<div class="medium-3 columns actions" ng-hide="$index == selectedFYIEditIndex || hideFyi">
										<button ng-disabled="testEditDisable" ng-click="deleteFyiScore(a.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="testEditDisable" ng-click="setupUpdateFyiScore(a.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
									</div>
								
									
									<div class="row column add" ng-show="$index == selectedFYIEditIndex">
											Update FYI score inputs
										  <form ng-if="showUpdateFyiScoreInputs">
										  	  <strong>Interest Codes:</strong>
											  <div class="row column">
												  <label>1st Interest Code</label>
												  <select ng-model="updateFyiObject.interestCodeOne" ng-disabled="$parent.savingFyiScore">
												  	<option value="">-- Select Test --</option>
												  	<option value="R">Realistic</option>
												  	<option value="I">Investigative</option>
												  	<option value="A">Artistic</option>
												  	<option value="S">Social</option>
												  	<option value="E">Enterprising</option>
												  	<option value="C">Conventional</option>
												  </select> 
											  </div>
											  
											  <div class="row column">
												  <label>2nd Interest Code</label>
												  <select ng-model="updateFyiObject.interestCodeTwo" ng-disabled="$parent.savingFyiScore">
												  	<option value="">-- Select Test --</option>
												  	<option value="R">Realistic</option>
												  	<option value="I">Investigative</option>
												  	<option value="A">Artistic</option>
												  	<option value="S">Social</option>
												  	<option value="E">Enterprising</option>
												  	<option value="C">Conventional</option>
												  </select> 
											  </div>
											  
											  <div class="row column">
												  <label>3rd Interest Code</label>
												  <select ng-model="updateFyiObject.interestCodeThree" ng-disabled="$parent.savingFyiScore">
												  	<option value="">-- Select Test --</option>
												  	<option value="R">Realistic</option>
												  	<option value="I">Investigative</option>
												  	<option value="A">Artistic</option>
												  	<option value="S">Social</option>
												  	<option value="E">Enterprising</option>
												  	<option value="C">Conventional</option>
												  </select> 
											  </div>
											  
											  <div class="row column buttons">
												<button type="button" class="button" ng-disabled="$parent.savingFyiScore" ng-click="updateFyiScore()">Save<span ng-if="$parent.savingFyiScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
												<button type="button" class="button" ng-disabled="$parent.savingFyiScore" ng-click="$parent.$parent.showUpdateFyiScoreInputs = !$parent.$parent.showUpdateFyiScoreInputs; $parent.$parent.selectedFYIEditIndex = undefined; $parent.$parent.myStyle = {'cursor': 'pointer'}; $parent.$parent.testEditDisable = false;">Cancel</button>
											  </div>
										  </form>
									</div>
								</div>
							</div>
					
					<div class="entry" ng-repeat="i in interest track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedInterestEditIndex">
								<p><div style="white-space:pre-wrap;">{{i.description}}</div></p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedInterestEditIndex">
								<button ng-disabled="selectedInterestEditIndex != undefined" ng-click="deleteInterest(i.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedInterestEditIndex != undefined" ng-click="setupInterestSkill(i.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Interest Update -->
							<div class="row column add" ng-show="$index == selectedInterestEditIndex">
								<form name="interestForm" class="inline-labels" ng-show="showInterestInputs && showUpdateInterestInputs" ng-submit="updateInterest()">
									  
								  <div>
									  <label>Description</label><br/>
									  <textarea required ng-model="updateInterestObject.description" ng-disabled="savingInterest"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingInterest">Save<span ng-if="savingInterest" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingInterest" ng-click="$parent.showInterestInputs = !$parent.showInterestInputs; $parent.showUpdateInterestInputs = !$parent.showUpdateInterestInputs; $parent.selectedInterestEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showInterestInputs" ng-click="showInterestInputs = !showInterestInputs">Add Interests</button>
						<form name="interestForm" class="inline-labels" ng-show="showInterestInputs && !showUpdateInterestInputs">
						<div class="row column" ng-if="fyiScore.length == 0">
						  <label>Select one: </label>
						  <select ng-model="$parent.interestSelected">
						  	<option value="interest">Add Interest</option>
						  	<option value="FYI" ng-hide="hideFyi">FYI Interest Codes</option>
						  </select> &nbsp;
					  </div>
						
						<!-- Insert FYI score inputs -->
						  <div ng-if="fyiScore.length == 0 && interestSelected == 'FYI'">
						  	  <br>
							  <div class="row column">
								  <label>1st Interest Code</label>
								  <select ng-model="fyiObject.interestCodeOne" ng-disabled="$parent.savingFyiScore">
								  	<option value="">-- Select Test --</option>
								  	<option value="R">Realistic</option>
								  	<option value="I">Investigative</option>
								  	<option value="A">Artistic</option>
								  	<option value="S">Social</option>
								  	<option value="E">Enterprising</option>
								  	<option value="C">Conventional</option>
								  </select> 
							  </div>
							  
							  <div class="row column">
								  <label>2nd Interest Code</label>
								  <select ng-model="fyiObject.interestCodeTwo" ng-disabled="$parent.savingFyiScore">
								  	<option value="">-- Select Test --</option>
								  	<option value="R">Realistic</option>
								  	<option value="I">Investigative</option>
								  	<option value="A">Artistic</option>
								  	<option value="S">Social</option>
								  	<option value="E">Enterprising</option>
								  	<option value="C">Conventional</option>
								  </select> 
							  </div>
							  
							  <div class="row column">
								  <label>3rd Interest Code</label>
								  <select ng-model="fyiObject.interestCodeThree" ng-disabled="$parent.savingFyiScore">
								  	<option value="">-- Select Test --</option>
								  	<option value="R">Realistic</option>
								  	<option value="I">Investigative</option>
								  	<option value="A">Artistic</option>
								  	<option value="S">Social</option>
								  	<option value="E">Enterprising</option>
								  	<option value="C">Conventional</option>
								  </select> 
							  </div>
							  
							  <div class="row column buttons">
								<button type="button" class="button" ng-disabled="$parent.savingFyiScore" ng-click="insertFyiScore()">Save<span ng-if="$parent.savingFyiScore" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
								<button type="button" class="button" ng-disabled="$parent.savingFyiScore" ng-click="$parent.showInterestInputs = !$parent.showInterestInputs">Cancel</button>
							  </div>
						  </div>
						
						<!-- Interest Insert -->
						<div ng-if="interestSelected == 'interest'">
						  <div>
							  <label>Description</label><br/>
							  <textarea required ng-model="interestObject.description" ng-disabled="savingInterest"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="button" class="button" ng-disabled="savingInterest" ng-click="insertInterest()">Save<span ng-if="savingInterest" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingInterest" ng-click="$parent.showInterestInputs = !$parent.showInterestInputs">Cancel</button>
						  </div>
						  </div>
						</form>
						
						
					</div>
				</div>
				
				<div class="portfolio-group">
					<div class="row column heading"><input type="checkbox" ng-checked="workValuesPrint" ng-click="workValuesPrint = !workValuesPrint"> <strong>Work Values</strong></div>
					<div class="entry" ng-repeat="w in workValue track by $index">
						<div class="row">
							<div class="medium-9 columns" ng-hide="$index == selectedValuesEditIndex">
								<p><div style="white-space:pre-wrap;">{{w.description}}</div></p>
							</div>
							<div class="medium-3 columns actions" ng-hide="$index == selectedValuesEditIndex">
								<button ng-disabled="selectedValuesEditIndex != undefined" ng-click="deleteWorkValue(w.id)"><a href="" ng-style="myStyle">Remove</a></button> <button ng-disabled="selectedValuesEditIndex != undefined" ng-click="setupUpdateWorkValue(w.id, $index)"><a href="" ng-style="myStyle">Edit</a></button>
							</div>
							
							<!-- Work Value Update -->
							<div class="row column add" ng-show="$index == selectedValuesEditIndex">
								<form name="workValueForm" class="inline-labels" ng-show="showWorkValueInputs && showUpdateWorkValueInputs" ng-submit="updateWorkValue()">
									  
								  <div>
									  <label>Description</label><br/>
									  <textarea required ng-model="updateWorkValueObject.description" ng-disabled="savingWorkValue"></textarea>
								  </div>
								  
								  <div class="row column buttons">
									<button type="submit" class="button" ng-disabled="savingWorkValue">Save<span ng-if="savingWorkValue" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
									<button type="button" class="button" ng-disabled="savingWorkValue" ng-click="$parent.showWorkValueInputs = !$parent.showWorkValueInputs; $parent.showUpdateWorkValueInputs = !$parent.showUpdateWorkValueInputs; $parent.selectedValuesEditIndex = undefined; $parent.myStyle = {'cursor': 'pointer'};">Cancel</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
					<div class="row column add">
						<button class="add button" ng-hide="showWorkValueInputs" ng-click="showWorkValueInputs = !showWorkValueInputs">Add Work Values</button>
						
						<!-- Work Value Insert -->
						<form name="workValueForm" class="inline-labels" ng-show="showWorkValueInputs && !showUpdateWorkValueInputs" ng-submit="insertWorkValue()">
							  
						  <div>
							  <label>Description</label><br/>
							  <textarea required ng-model="workValueObject.description" ng-disabled="savingWorkValue"></textarea>
						  </div>
						  
						  <div class="row column buttons">
							<button type="submit" class="button" ng-disabled="savingWorkValue">Save<span ng-if="savingWorkValue" id="save-indicator" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></span></button>
							<button type="button" class="button" ng-disabled="savingWorkValue" ng-click="showWorkValueInputs = !showWorkValueInputs">Cancel</button>
						  </div>
						</form>
						
					</div>
				</div>
								
				<div class="row favorites">
					<div class="small-6 columns">
						<div class="portfolio-group">
							<div class="row column heading"><input type="checkbox" ng-checked="favoriteOccupationPrint" ng-click="favoriteOccupationPrint = !favoriteOccupationPrint"> <strong>Favorite Occupations</strong></div>
							<div class="row column entry">
								<div class="row">
									<div class="small-10 columns">
										<p ng-repeat="f in favoriteList track by $index"><a href="occufind-occupation-details/{{f.onetSocCd}}">{{f.title}}</a></p>
									</div>
									<div class="small-2 columns actions"><a href="favorites">Edit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="small-6 columns">
						<div class="portfolio-group">
							<div class="row column heading"><input type="checkbox" ng-checked="favoriteCareerClusterPrint" ng-click="favoriteCareerClusterPrint = !favoriteCareerClusterPrint"> <strong>Favorite Career Clusters</strong></div>
							<div class="row column entry">
								<div class="row" ng-if="careerClusterFavoriteList.length != 0">
									<div class="small-10 columns">
										<p ng-repeat="cc in careerClusterFavoriteList track by $index"><a href="career-cluster-occupation-results/{{cc.ccId}}">{{cc.title}}</a></p>
									</div>
									<div class="small-2 columns actions"><a href="favorites">Edit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				
				
				<div class="row favorites">
				
					<div class="small-6 columns">
						<div class="portfolio-group">
							<div class="row column heading"><input type="checkbox" ng-checked="favoriteSchoolPrint" ng-click="favoriteSchoolPrint = !favoriteSchoolPrint"> <strong>Favorite Colleges</strong></div>
							<div class="row column entry">
								<div class="row" ng-if="schoolFavoriteList.length != 0">
									<div class="small-10 columns">
										<p ng-repeat="s in schoolFavoriteList track by $index"><a href="occufind-school-details/undefined/{{s.unitId}}">{{s.schoolName}}</a></p>
									</div>
									<div class="small-2 columns actions"><a href="favorites">Edit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="small-6 columns">
						<div class="portfolio-group">
							<div class="row column heading"><input type="checkbox" ng-checked="favoriteCitmOccupationPrint" ng-click="favoriteCitmOccupationPrint = !favoriteCitmOccupationPrint"> <strong>Favorite Military Careers</strong></div>
							<div class="row column entry">
								<div class="row" ng-if="citmFavoriteOccupations.length != 0">
									<div class="small-10 columns">
										<p ng-repeat="f in citmFavoriteOccupations track by $index"><a href="{{ssoUrl}}/career-detail/{{f.mcId}}" target="_blank">{{f.title}}</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>