<div id="portfolio" class="occufind">
    <div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
					<li><a href="favorites">View Favorites</a></li>
					<li><a href="media-center-article-list/5">Tutorials</a></li>
					<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<p data-step="3" class="caps">Activities &amp; Tools</p>
			</div>
		</div>
		
	</section>
	
	<section id="content-wrap">
		<div class="row">
			<div class="medium-2 columns">
				<div ng-include="'cep/page-partials/left-navigation.html'" ng-controller="LeftNavigationController"></div>
			</div>
			<section id="main-content" class="medium-10 columns" role="main">
				
                <h2>My Portfolio</h2>

				<p>
					<strong>Whether you are meeting with your school counselor
						or filling out college applications, having all of your
						information in one spot can help you plan for your future.</strong>
				</p>

				<p>My Portfolio is designed to help you chart your unique
					experiences related to work experience, education, test scores,
					achievements, skills, volunteer work, interests, work values, even
					capture your favorite occupations and career clusters.</p>

				<p>This tool allows you to fill in the areas you like and skip
					those you don't. Then generate a customizable resume-like document
					showcasing the highlights of your life to date.</p>

				<p align="center"><br/><a class="button" href="portfolio" ng-click="deleteSessionPortfolio()">Let's Get started</a></p>
				
				<p><strong>Take advantage of these My Portfolio features</strong></p>
				<ul>
					<li>Generate a comprehensive snapshot of your work,
						education, activities and interests</li>
					<li>Add and update your information anytime</li>
					<li>Customize your document to include only sections you would
						like to print</li>
				</ul>
			</section>
		</div>
		<div ng-include="'cep/page-partials/left-navigation-mobile.html'" ng-controller="LeftNavigationController"></div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>