<div id="new-more-detail">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">x</span></button>
				<h3 class="modal-title">WRITING TIPS</h3>
			</div>
			<div class="modal-body ng-scope">
				<div>
					<h3>NOT SURE WHAT TO INCLUDE? CONSIDER THESE TIPS WHEN WRITING YOUR EXPERIENCE DESCRIPTION:</h3>
					<ol>
						<li>Begin every statement with an action verb in the proper tense based on your employment status at the job.
							<br><br>
							If you currently work there use present tense:<br>
							<b>Example</b>
								<ul>
									<li>Construct floral arrangements including boutonnieres and corsages</li>
									<li>Inventory stock to determine whether additional supplies are needed</li>
								</ul>
								<br>
							Did you used to work there? Use past tense:<br>
							<b>Example</b>
								<ul>
									<li>Managed incoming calls and accurately documented customer orders</li>
									<li>Received shipments and verified ordered amount matched received amount and confirmed appropriate quality</li>
								</ul>
						</li>
						
						
						<li>Focus on what you do or did and be specific.  Use clear language and avoid writing more than necessary.
							<br><br>
							<b>Avoid</b>
							<ul>
								<li>Greet customers</li>
							</ul>
							<b>Try</b>
							<ul>
								<li>Welcome guests upon arrival, answering any questions they may have while escorting them to their seats</li>
							</ul>
						</li>
						
						<li>Never underestimate the value of 21st century life skills. Call attention to time management, work ethic, and
						communication skills where possible. e.g. Filled in for absent employees in other departments and gained
						additional experience related to...</li>
						
						<li>Use formatting elements wisely. You can use bullets to create a list (CTRL 8) and call attention to certain information
						selectively with bold face (CTRL B) and italics (CTRL I).</li>
						
						<li>Most importantly, double-check your spelling and grammar, then check again. And then have someone else look
						at it. Errors on a resume are simply unacceptable.</li>
					</ol>
				</div>
				
			</div>
			<div class="modal-footer ng-scope">
				<button class="button" type="button" ng-click="modalOptions.close()">OK</button>
			</div>
</div>