a:focus {
  outline: none
}
.grey-color {
  color: #aaaaaa;
}
.bg-white {
  background-color: #fff !important;
}
.bg-blue {
  background-color: #2f2a6a;
}
.bg-green {
  background-color: #1CB0B6;
}
.bg-light-gray2 {
  background-color: #f4f4f4;
}
.skye-blue-box {
  background-color: #1cafb6;
}
.dark-red-box {
  background-color: #8d2d31;
}
.navy-blue-box {
  background-color: #2f286c;
}
.bg-skye-blue {
  background-color: rgba(28,175,182,0.10196078431372549) !important;
}
.bg-dark-red {
  background-color: rgba(141,45,49,0.10196078431372549) !important;
}
.bg-navy-blue {
  background-color: rgba(47,40,108,0.10196078431372549) !important;
}
.border-gray {
  border-color: #b6b6b6;
}
.d-block {
  display: block;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mw-100 {
  max-width: 100% !important;
}
.mw-95 {
  max-width: 95% !important;
}
.space-bottom {
  margin-bottom: -29px;
  position: relative;
}
body:not(.modal-open) {
  padding-right: 0 !important;
}

#header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  right: 0;
  background: #74709b;
  transition: all 0.3s ease-in-out 0s;
}
.occufind #banner.banner_sticky {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding-top: 0;
}
header.scrolled nav .menu-right #secondary.menu,
header.scrolled nav .logo:before,
.occufind #banner.banner_sticky h1,
.occufind #banner.banner_sticky .row:before,
header.scrolled nav .menu-right .menu > li.divider {
  display: none;
}
header.scrolled nav .menu-right ul.menu > li > a {
  position: relative;
  font-size: 13px;
  color: #fff;
  opacity: 1;
  padding: 12px;
}
header.scrolled nav .menu-right ul.menu > li > a:before, header.scrolled nav .menu-right #header-login-container #header-login.button:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #fff;
}
header.scrolled nav .menu-right ul.menu > li:last-child > a:before, header.scrolled nav .menu-right li:last-child #header-login.button:before {
  display: none;
}
header.scrolled nav .menu-right #header-login-container #header-login.button {
  position: relative;
  font-size: 13px;
  background: transparent;
  border: none;
  color: #fff;
  padding: 12px !important;
  margin-left: 0;
}
header.scrolled form.gsc-search-box table tbody, header.scrolled form.gsc-search-box table tbody input, header.scrolled .gsc-input-box, header.scrolled table.gsc-search-box td.gsc-search-button button {
  background-color: transparent;
}
header.scrolled ul li form#search {
  margin-right: 20px;
}
header.scrolled table.gsc-search-box td.gsc-search-button button {
  border-width: 0 0 0 1px;
  border-radius: 0;
}
header.scrolled .gsc-search-button-v2 svg {
  fill: #fff;
}
header .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-left: 5px !important;
}
header.scrolled .gsc-search-box-tools .gsc-search-box .gsc-input {
  color: #fff;
}
header.scrolled .gsc-search-box-tools .gsc-search-box .gsc-input:focus {
  box-shadow: none;
}
header.scrolled .gsc-search-box .gsc-input::-moz-placeholder {
  Color: #fff;
}
header.scrolled .gsc-search-box .gsc-input:-moz-placeholder {
  Color: #fff;
}
header.scrolled .gsc-search-box .gsc-input::-webkit-input-placeholder {
  Color: #fff;
}
header.scrolled .gsc-search-box .gsc-input:-ms-input-placeholder {
  Color: #fff;
}
header.scrolled .sticky_nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
header.scrolled nav .menu-right #header-login-container .dropdown-menu {
  margin-top: 0;
}

.title-bar {
  padding: 2px 22px 10px;
}
.menu-icon {
  width: 19px;
  height: 13px;
}
.menu-icon::after {
  background: #747474;
  box-shadow: 0 5px 0 #747474, 0 10px 0 #747474;
}
.title-bar .menu-icon {
  right: 10px;
}
.title-bar .menu-icon:focus {
  outline: none;
}
.title-bar .contact-icon {
  right: 55px;
}
.footer-top-banner {
  padding-bottom: 18px;
}
.footer-top-banner strong {
  color: #312A88;
}
.footer-top-banner p,
.footer-top-banner a {
  text-decoration: none;
}
.footer-top-banner p {
  padding: 0 50px;
}
.section-overview .section-title {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 30px;
  color: #218D92;
}
.program-title.text-uppercase,
.section-overview .section-title.text-uppercase {
  text-transform: uppercase;
}
.section-description .section-description-info {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
}
.section-overview a {
  color: #312A88;
}

.occufind.student {
  background-color: white;
  overflow: hidden;
}

/* Homepage fixes */
header #hero #mega-menu-buttons .open > .dropdown-menu {
  z-index: 11;
}
#mega-menu-buttons .small-centered > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 639px) {
  #mega-menu-buttons .small-centered > .row {
    flex-direction: column;
  }
}

.participant-block,
.option-ready-btn {
  height: 100%;
}
header #hero #mega-menu-buttons .login-button {
  white-space: normal;
  width: 100%;
}
.participant-last img {
  max-width: 48px;
  top: 50%;
  position: absolute;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Homepage fixes */

/* Modal css */
.sign_in_up_modal.modal-dialog {
  max-width: 343px;
  width: 100%;
  min-height: 260px;
  margin: 100px auto;
}
.sign_in_up_modal.modal-dialog .modal-content {
  border-radius: 0;
  border: none;
}
/* .sign_in_up_modal .popup-details {
  padding: 23px;
} */
.sign_in_up_modal .popup-main .popup-form-filed {
  padding-right: 0;
  margin-top: 15px;
}
.sign_in_up_modal .popup-main .popup-form-filed .text-left {
  margin-top: 0;
}
.sign_in_up_modal .modal-header {
  border: none;
}
.sign_in_up_modal .close-button {
  position: absolute;
  right: 10px;
  top: 18px;
}
.sign_in_up_modal .close-button span {
  font-size: 20px;
  color: #2C3586;
}
.sign_in_up_modal h4 {
  color: #000;
}
.sign_in_up_modal .button {
  font-size: 12px;
  letter-spacing: normal;
  padding: 4px 10px !important;
  /* margin: 0 auto !important; */
  width: 100%;
  line-height: normal;
}
.sign_in_up_modal .popup-details a:first-child {
  margin-bottom: 30px !important;
}
.asr-modal > .modal-dialog {
  width: 95%;
}
.asr-modal .modal-footer .button{
  position: relative;
  right: 47%;
}

@media screen and (max-width: 74.93em) {
  .asr-modal > .modal-dialog {
    width: 300%;
    overflow: scroll;
  }
  .asr-modal .modal-footer .button{
    position: relative;
    right: 82%;
  }
}

/* Modal css over */

/* Educators - PTI */
.exploration_sec {
  overflow: hidden;
  margin-top: 15px;
}
.program-title {
  font-size: 30px !important;
  text-transform: normal;
  line-height: 41px;
  font-weight: normal !important;
  color: #218D92 !important;
}
.section-description .program-subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #4A4A4A;
}
.educators-exploration {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 34px 0 15px;
}
.exploration-details {
  margin-bottom: 15px;
}
.exploration-details-content {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #F4F4F4;
  padding: 15px 34px 25px 16px;
}
.exploration-details-content p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
  color: #4a4a4a;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.exploration-details-content a {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  display: inline-block;
}
.exploration-content {
  width: calc(100% - 220px);
  padding-right: 10px;
}
.exploration-content ul {
  margin-left: 0px;
}
.exploration-items {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}
.exploration-items li {
  position: relative !important;
  background-color: #1DAEB5;
  display: inline-block;
  font-size: 20px !important;
  line-height: 22px !important;
  color: #fff;
  max-width: 219px;
  width: 100%;
  min-height: 108px;
  vertical-align: middle;
  margin-bottom: 15px !important;
  padding: 13px 11px 29px;
}
.exploration-items li a {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0B7579;
  height: 27px;
  width: 100%;
}
.exploration-items li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  margin-top: -4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.exploration-items li a:hover:before {
  opacity: 0.8;
  transform: 0.3s;
}
.getting_started_sec {
  padding-bottom: 17px;
}
.ASVAB_result_sec {
  padding-bottom: 54px;
  color: #4a4a4a;
  overflow: hidden;
}
.ASVAB_result_sec .result_img {
  margin: 37px auto 0;
}
.ASVAB_result_sec ol {
  counter-reset: section;
  list-style-type: none;
  margin-top: 40px;
  padding-left: 0;
  padding-top: 19px;
  padding-bottom: 15px;
  background-color: #F4F4F4;
}
.ASVAB_result_sec ol>li {
  position: relative;
  background-color: #F4F4F4;
  padding: 20px 16px 20px 84px;
}
.ASVAB_result_sec ol>li:before {
  counter-increment: section;
  font-weight: 700;
  content: counters(section, ".");
  position: absolute;
  left: 28px;
  height: 26px;
  width: 26px;
  background-color: #2F286C;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-top: -2px;
}
.ASVAB_result_sec ol>li+li {
  border-top: 3px solid #fff;
}
.ASVAB_result_sec ol li p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0;
  color: #4a4a4a;
}
.ASVAB_result_sec ol li p+p {
  margin-top: 20px;
}
.strength_books {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 20px;
}
.section-description .strength_books p {
  font-size: 14px;
  line-height: 19px;
  max-width: 175px;
}
.strength_books ul {
  width: calc(100% - 220px);
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-top: -4px;
  padding-left: 55px;
  padding-right: 0px;
}
.strength_books ul li:before {
  content: '' !important;
}
.strength_books ul li {
  width: 33.33%;
}
.ASVAB_result_sec .strength_books .strength_img_block {
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
  max-width: 50px;
}
.strength_books ul li span {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  max-width: 100px;
  display: inline-block;
  margin-left: 10px;
}
.ASVAB_scores_sec {
  padding-bottom: 40px;
  padding-top: 70px;
}
.ASVAB_scores_sec p {
  max-width: 100%;
}
.taking_FYI_sec {
  padding-bottom: 25px;
}
.exploring_careers_sec {
  padding-top: 64px;
  padding-bottom: 80px;
}
.exploring_careers_inner {
  text-align: center;
  margin-top: -5px;
}
.careers_img_block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 13px;
  margin-bottom: 40px;
}
.exploring_careers_item {
  display: inline-block;
  max-width: 33%;
  width: 100%;
}
.exploring_careers_item p {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 0;
  color: #4A4A4A;
}
.future_plan_sec {
  padding-top: 56px;
  padding-bottom: 30px;
}
.future_plan_sec ul {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  list-style-type: disc;
}
.future_plan_sec ul li {
  margin-bottom: 18px;
}
.contact_us_sec h4 {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4a4a4a;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 36px;
}
.activities_sec {
  padding-bottom: 38px;
}
.activities_inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.activities_text h4,
.activities_text h2 {
  color: #fff;
  margin-bottom: 0;
}
.activities_text h4 {
  font-size: 18px;
  line-height: 25px;
}
.activities_text h2 {
  font-size: 24px;
  line-height: 25px;
}
.activities_block .image-wrapper {
  display: inline-block;
  border: 1px solid #979797;
  vertical-align: middle;
}

/* Student The ASVAB */
.hero-banner {
  padding-top: 32px;
}
.hero-banner h1 {
  color: #218d92;
  font-size: 30px;
  margin-bottom: 18px;
  margin-top: 26px;
  text-transform: inherit;
}
.hero-banner p {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 22px;
}
.hero-banner p strong {
  line-height: 23px;
}
.section-questions {
  padding-bottom: 35px;
  padding-top: 48px;
}
.questions-block-one .questions-block-icon {
  width: 83px;
}
.questions-block-one .questions-block-title {
  padding-left: 23px;
  width: -webkit-calc(100% - 83px);
  width: -moz-calc(100% - 83px);
  width: calc(100% - 83px);
}
.questions-block-two {
  margin-left: auto;
  margin-right: 20px;
}
.questions-block-two .questions-block-icon {
  width: 116px;
}
.questions-block-two .questions-block-title {
  padding-left: 14px;
  width: -webkit-calc(100% - 116px);
  width: -moz-calc(100% - 116px);
  width: calc(100% - 116px);
}
.questions-block-title h2 {
  color: #218d92;
  font-size: 24px;
  line-height: 16px;
}
.questions-block-title h4 {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0;
}
.questions-block .questions-block-icon {
  position: relative;
  z-index: 1;
}
.questions-block-link .button {
  background-color: #1cafb6;
  border-radius: 2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: -28px;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.12)) drop-shadow(0px 2px 1px rgba(0,0,0,0.24));
}
.questions-block-link .button:hover {
  text-decoration: none;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.12)) drop-shadow(0px 1px 1px rgba(0,0,0,0.24));
}
.questions-block-one .questions-block-link .button {
  padding: 6px 20px;
  width: -webkit-calc(100% - 64px);
  width: -moz-calc(100% - 64px);
  width: calc(100% - 64px);
}
.questions-block-two .questions-block-link .button {
  padding: 6px 10px 6px 20px;
  width: -webkit-calc(100% - 104px);
  width: -moz-calc(100% - 104px);
  width: calc(100% - 104px);
}
.questions-block-link .button > img {
  margin-left: 6px;
}
.questions-block-content {
  padding-top: 22px;
}
.questions-block-content p {
  margin-bottom: 18px;
}
.questions-link {
  margin-top: 56px;
}
.questions-link a {
  color: #312a88;
  font-size: 18px;
}
.section-results {
  padding-bottom: 67px;
}
.results-block p {
  max-width: 398px;
  margin-bottom: 25px;
}
.results-block ol {
  counter-reset: section;
  list-style-type: none;
  max-width: 414px;
  margin-left: auto;
  margin-bottom: 10px;
  padding-left: 0;
}
.results-block li {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 19px;
  padding-left: 40px;
  position: relative;
}
.results-block li:before {
  background-color: #2F286C;
  border: 1px solid #979797;
  border-radius: 50%;
  counter-increment: section;
  content: counters(section, ".");
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  position: absolute;
  left: 0;
  top: 2px;
  height: 26px;
  text-align: center;
  width: 26px;
}
.results-block li ~ li {
  margin-top: 18px;
}
.areas-block {
  color: #4A4A4A;
  font-size: 14px;
  line-height: 19px;
  margin-top: 14px;
}
.areas-block .areas-block-title {
  font-weight: bold;
  margin-bottom: 18px;
  padding-left: 10px;
}
.areas-block .section-description-info {
  margin-bottom: 0;
  padding-left: 10px;
}
.areas-block-items {
  margin-top: 8px;
}
.areas-block-item ~ .areas-block-item {
  margin-left: 70px;
}
.areas-block-item > span {
  border: 1px solid #979797;
  display: block;
  margin-right: 10px;
  height: 18px;
  width: 17px;
}
.areas-block .table > thead > tr > th,
.areas-block .table > tbody > tr > td {
  border-color: #ffffff;
  padding: 5px 15px;
}
.areas-block .table > thead > tr > th {
  padding-bottom: 7px;
  padding-top: 7px;
  white-space: nowrap;
  vertical-align: middle;
}
.areas-block .table > tbody > tr > td[valign="middle"] {
  vertical-align: middle;
}
.areas-block .table > tbody > tr.bg-white ~ tr.bg-white > td {
  border-color: #b6b6b6;
}
.areas-block table td:first-child strong {
  white-space: nowrap;
}
.areas-block .table > tbody > tr > td:nth-child(2) {
  padding-right: 0;
  padding-left: 20px;
}
.areas-block .table > thead > tr > th:nth-last-child(2),
.areas-block .table > tbody > tr > td[align="center"]:nth-last-child(2) {
  padding-left: 6px;
}
.bg-skye-blue > td:first-child strong,
.bg-skye-blue > h4 {
  color: #1cafb6;
}
.bg-dark-red > td:first-child strong,
.bg-dark-red > h4 {
  color: #8d2d31;
}
.bg-navy-blue > td:first-child strong,
.bg-navy-blue > h4 {
  color: #2f286c;
}
.bg-white > td:first-child strong,
.bg-white > h4 {
  color: #4A4A4A;
}
.section-ctm {
  padding-bottom: 30px;
  padding-top: 45px;
}
.section-ctm .ctm-title {
  margin-top: -7px;
  margin-bottom: 12px;
  max-width: 520px;
  text-transform: inherit;
}
.section-ctm .ctm-link {
  font-size: 20px;
}
.section-ctm .ctm-link img {
  margin-left: 10px;
}
.section-tips {
  padding-bottom: 38px;
  padding-top: 52px;
}
.section-list-disc {
  padding-left: 0;
}
.section-list-disc li {
  font-size: 14px;
  line-height: 19px;
  padding-left: 36px;
  position: relative;
}
.section-list-disc li:before {
  content: '\2022';
  position: absolute;
  left: 11px;
}
.section-list-disc li ~ li {
  margin-top: 10px;
}
.section-yourself {
  padding-bottom: 70px;
  padding-top: 50px;
}
.yourself-title {
  font-size: 30px;
  text-transform: inherit;
}
.yourself-description {
  font-size: 18px;
}
.yourself-link {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
}
.yourself-link:hover,
.yourself-link:focus {
  color: #ffffff;
  opacity: 0.8;

}
.yourself-link img {
  margin-left: 10px;
}
.section-testimonial {
  background-color: #dcdfdf;
  padding-bottom: 40px;
  padding-top: 65px;
  margin-bottom: -30px;
}

.tpl-page-footer .section-testimonial {
	margin-bottom: 0;
}
.section-testimonial-description h2 {
  color: #218d92;
  font-size: 24px;
  text-transform: inherit;
  line-height: 1.4 !important;
}
.section-testimonial-image {
  display: inline-block;
}
.section-testimonial-image h4 {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

/* Student plan */
.activities_block a.activities_button {
  font-size: 14px;
  letter-spacing: 1px;
  color: #218d92;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  padding: 8px 15px;
  line-height: normal;
  margin:0;
}
.activities_block a.activities_button:hover,
.activities_block a.activities_button:focus {
  background-color: #413a92;
  color: #fff;
}
.section-media-center-sec {
  margin-top: 75px;
}
.section-media-center-block img {
  width: 100%;
}
.section-media-center-wapper {
  padding: 0 7.5px;
}
.section-media-center-sec-inner {
  width: 25%;
  float: left;
  padding: 0 7.5px;
}
.section-media-center-block a {
  font-size: 14px;
  color: #312a88;
  margin-top: 18px;
  margin-bottom: 0;
  text-align: center;
  display: block;
}
.section-media-center-sec .section-viewmore-button {
  margin-top: 55px;
  text-align: center;
}
.section-viewmore-button a {
  font-size: 14px !important;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 19px !important;
  background-color: #1cafb6;
  line-height: normal;
  border: none !important;
  margin: 0;
}
.section-viewmore-button a span img {
  padding-left: 10px;
}
.section-financial-sec {
  margin-top: 55px;
  padding-top: 70px;
  padding-bottom:70px;
}
.section-financial-block h2 {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}
.section-financial-block h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
}
.section-financial-block {
  height: 100%;
}
.section-financial-block {
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.section-financial-block:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: -15px;
  top: 0;
  background-color: #b6b6b6;
}
.section-financial-block.section-financial-inner:after {
  display: none;
}
.section-financial-block h4 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
  color: #ffffff;
  font-weight: 700;
}
.section-financial-block p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 500;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}
.section-financial-block a {
  font-size: 18px;
  display: block;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
}
.section-financial-block a:hover {
  opacity: 0.8;
}
.section-financial-block a span {
  padding-left: 5px;
}
.section-financial-d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.section-cost-career-sec {
  background-color: #f4f4f4;
  padding-top: 60px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
}
.section-cost-career-text h6 {
  font-size: 14px;
  line-height: 19px;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 5px;
}
.section-cost-career-img_inner p,
.section-cost-career-text p {
  margin-bottom: 20px;
}
.section-cost-career-img_inner p a,
.section-cost-career-text p a {
  color: #312a88;
}
.section-cost-career-img_inner {
  float: right;
  text-align: right;
}
.section-cost-career-img {
  text-align: center;
}
.section-cost-career-img a {
  display: block;
  font-size: 14px;
  color: #312a88;
  font-weight: 400;
  margin-top: 12px;
  text-align: center;
}
.section-cost-career-sec .section-cost-career-d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.section-cost-career-sec .section-viewmore-button {
  text-align: center;
  margin-top: 20px;
}
.section-cost-career-sec .section-viewmore-button a {
  max-width: 208px;
  width: 100%;
}

/* Students Learn */
.skill_sec {
  padding-top: 56px;
  padding-bottom: 85px;
}
.skill_score {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 40px 48px 45px 23px;
  margin-top: 40px;
}
.skill_score_content {
  position: relative;
  width: 555px;
}
.skill_score_content:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 17px solid #d1d1d1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.skill_score_content:after {
  position: absolute;
  content: '';
  background-color: #a3a3a3;
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
}
.skill_score_content ul {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  text-align: center;
  padding-left: 20px;
  padding-right: 55px;
  margin-top: 25px;
}
.skill_score_content ul span {
  font-size: 14px;
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
.skill_score_content ul li:before {
  content: '' !important;
}
.interests_sec {
  padding-top: 65px;
  padding-bottom: 50px;
}
.interest-block-wrapper {
  border: 1px solid #C2C2C2;
}
.interest-block {
  margin-top: 35px;
  margin-bottom: 45px;
}
.interest-block-lhs {
  width: 376px;
  text-align: center;
  padding: 31px 10px 35px;
}
.interest-block h4 {
  color: #2f2a6a;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.interest-block-lhs p {
  max-width: 200px;
  margin: 0 auto;
}
.interest_lhs_img_block img {
  position: relative;
}
.interest-nav-tabs {
  position: relative;
  padding: 15px 0 31px;
  margin-top: 38px;
  margin-bottom: 51px;
}
.interest-nav-tabs .interest-lists li:first-child a,
.realistic_content span {
  color: #0E7BC0;
}
.interest-nav-tabs .interest-lists li:nth-child(4) a,
.conventional_content span {
  color: #54873D;
}
.interest-nav-tabs .interest-lists li:nth-child(3) a,
.enterprising_content span {
  color: #ED252E;
}
.interest-nav-tabs .interest-lists li:nth-child(6) a,
.social_content span {
  color: #013A76;
}
.interest-nav-tabs .interest-lists li:nth-child(5) a,
.artistic_content span {
  /* color: #F7933A; */
  color: #de7c2d;
}
.interest-nav-tabs .interest-lists li:nth-child(2) a,
.investigative_content span {
  color: #8B2E33;
}
.interest-nav-tabs .interest-lists li:first-child.active {
  background-color: #0e7bc0;
}
.interest-nav-tabs .interest-lists li:nth-child(2).active {
  background-color: #8b2e33;
}
.interest-nav-tabs .interest-lists li:nth-child(3).active {
  background-color: #ed252e;
}
.interest-nav-tabs .interest-lists li:nth-child(4).active {
  background-color: #54873D;
}
.interest-nav-tabs .interest-lists li:nth-child(5).active {
  background-color: #f7933a;
}
.interest-nav-tabs .interest-lists li:nth-child(6).active {
  background-color: #013a76;
}
.interest-nav-tabs .interest-lists li a {
  display: block;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  outline: none;
}
.interest-nav-tabs .interest-lists li a:hover,
.interest-nav-tabs .interest-lists li a:active,
.interest-nav-tabs .interest-lists li a:focus {
  text-decoration: none;
}
.interest-nav-tabs .interest-lists li.active a {
  color: #fff;
}
.section-description .information-base-text {
  font-size: 12px;
  line-height: 16px;
}
.interest-block-rhs {
  width: calc(100% - 376px);
}
.realistic_content {
  background-color: rgba(123, 183, 220, 0.2);
}
.conventional_content {
  background-color: rgba(240, 245, 238, 1);
}
.enterprising_content {
  background-color: rgba(245, 135, 140, 0.2);
}
.social_content {
  background-color: rgba(115, 146, 179, 0.2);
}
.artistic_content {
  background-color: rgba(250, 195, 146, 0.2);
}
.investigative_content {
  background-color: rgba(191, 140, 143, 0.2);
}
.tab-content {
  height: 100%;
}
.interest-block-rhs .tab-pane {
  height: 100%;
  margin: 0;
  padding: 31px;
}
.include-list p {
  margin-bottom: 8px;
}
.include-list ul {
  max-width: 49%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.include-list .section-list-disc li {
  padding-left: 27px;
  padding-right: 10px;
  color: #4a4a4a;
}
.include-list .section-list-disc li:before {
  left: 2px;
}
.include-list .section-list-disc li ~ li {
  margin-top: 0;
}
.interest_lhs_img_block ul {
  margin: 0;
}
.interest-nav-tabs .interest_triangle li a {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-bottom: 58px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.interest-nav-tabs .interest_triangle li.active a {
  border-color: transparent;
}

.interest-nav-tabs .interest_triangle li:first-child a {
  top: 32px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.interest-nav-tabs .interest_triangle li:last-child a {
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.interest-nav-tabs .interest_triangle li:nth-child(2) a {
  right: 106px;
  top: 36px;
}

.interest-nav-tabs .interest_triangle li:nth-child(3) a {
  left: 105px;
  bottom: 36px;
  transform: rotate(180deg);
}

.interest-nav-tabs .interest_triangle li:nth-child(4) a {
  left: 105px;
  top: 35px;
}

.interest-nav-tabs .interest_triangle li:nth-child(5) a {
  right: 105px;
  bottom: 36px;
  transform: rotate(180deg);
}
.interest-nav-tabs ul li:before {
  content: '' !important;
}

/* Student Explore */
.section-everything {
  padding-top: 80px;
  padding-bottom: 60px;
}
.section-everything-description {
  margin-bottom: 31px;
}
.section-everything-tage {
  width: 31%;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.section-everything-images {
  width: 69%;
  display: inline-block;
  vertical-align: middle;
}
.section-everything-description h2 {
  font-size: 24px;
  color: #218d92;
  font-weight: 400;
  text-transform: inherit;
}
.section-everything-tage ul {
  padding: 0;
  margin-bottom: 44px;
  margin-left: 0px !important;
}
.section-everything-tage ul li:before {
  content: '' !important;
}
.section-everything-tage ul li {
  font-size: 14px !important; 
  line-height: 19px !important;
  color: #4a4a4a;
  font-weight: 700;
  margin-bottom: 0px !important;
}
.section-everything-tage ul li:last-child {
  padding-top: 17px;
}
.section-everything-button {
  font-size: 14px !important;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 16px !important;
  background-color: #1cafb6;
  line-height: normal;
  border: none !important;
  margin: 0;
}
.section-everything-button span img {
  padding-left: 10px;
}
.section-top-viewed {
  padding-top: 57px;
  padding-bottom: 50px;
}
.section-top-viewed-title p {
  padding: 8px 15px;
  background-color: #e3e3e3;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 26px;
  max-width: 100%;
}
.section-top-viewed-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -21px;
}
.section-top-viewed-item {
  width: 33.33%;
  display: inline-block;
  vertical-align: middle;
}
.section-top-viewed-item-inner {
  padding:9px 21px 0 21px;
  border-right: 1px solid #d8d8d8;
}
.section-top-viewed-item:last-child .section-top-viewed-item-inner {
  border: none;
}
.section-top-viewed-item-inner a {
  font-size: 14px;
  color: #312a88;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 0;
  display: block;
}

/* Other */
#parents .tpl-page-footer .page-footer,
#educator .tpl-page-footer .page-footer {
	border-top: 0;
}
#educator #components-wrap #hexagons #girl, #parents #components-wrap #hexagons #girl {
  left: -195px;
  margin-bottom: -5px;
}
#educator .ed-divider {
    border-color: #fff;
    background: #fff;
}
@media (min-width: 768px) {
    #educator .ed-divider {
        width: 1px;
        height: 60px;
        margin: 7px 0px;
    }
}
.bring_section {
  padding-bottom: 40px;
}

.bring_section a {
  color: #fff;
  font-size: 30px;
  line-height: normal;
}

.bring_section+div>#guides {
  top: 0 !important;
}
/* Other */

/* Parents Information */
.program-tutorial p {
  max-width: 570px;
}
.occufind #content-wrap .get_there_sec h3 {
  font-size: 30px !important;
  font-weight: normal !important;
  color: #218D92 !important;
}
.tutorial_sec {
  margin-bottom: 46px;
}
.tutorial_sec h5 {
  background-color: #F3F3F3;
  font-size: 16px;
  line-height: 18px;
  color: #707474;
  text-transform: uppercase;
  padding: 7px 10px;
  margin-top: 35px;
  margin-bottom: 15px;
}
.tutorials_wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.tutorials_item {
  border: 1px solid #c7c7c7;
  text-align: center;
  max-width: 195px;
  width: 100%;
  padding: 10px;
  min-height: 162px;
}
.tutorials_item img {
  border: 1px solid #c7c7c7;
}
.tutorials_item a {
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.exploration_img {
  margin: 10px 0 0 auto;
}
.occufind .get_there_sec + #content-wrap {
  padding-top: 0;
}
.header-social {
  margin-left: 0;
}
.occufind #main-content section.resources_testimonial {
  overflow: inherit;
}
.testimonial_wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-arrow {
  cursor: pointer;
}
.slick-arrow:hover img {
  opacity: 0.7;
  transition: 0.3s;
}
/* .testimonial_wrapper .slick-prev {
  left: -28px;
}
.testimonial_wrapper .slick-next {
  right: -28px;
} */
.testimonial_item {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 11px;
  outline: none;
}
.testimonial_img_block {
  max-width: 116px;
}
.testimonial_content {
  max-width: calc(100% - 153px);
}
.testimonial_content p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 6px;
}
.testimonial_sec {
  padding-bottom: 25px;
}
.share_sec h2 {
  color: #39312e;
  margin-bottom: 3px;
  text-transform: inherit;
}

/* View detail modal */
.view-detail {
  display: flex;
  justify-content: center;
  padding: 50px 30px 20px;
}

.view-detail .popup-details {
  display: flex;
  flex-direction: column;
}

.view-detail .popup-details a {
  font-size: 0.8rem;
  width: 100%;
  margin-right: 0;
}

.view-detail .close-button {
  top: 18px;
}


p span .p1 a {
  white-space: normal;
  word-break: break-all;
}
.tattoos_tabs {
  border: 1px solid #d1d1d1;
}
.tattoos_tabs.tabbed .nav-tabs {
  display: flex;
}
.tattoos_tabs .nav-tabs > li {
  width: 20%;
}
.tattoos_tabs .nav-tabs > li > a {
  height: inherit;
  min-height: 86px;
}
.tattoos_tabs.tabbed .nav-tabs > li > a, .tattoos_tabs.tabbed .nav-tabs > li.active > a, .tattoos_tabs.tabbed .nav-tabs > li.hover > a, .tattoos_tabs.tabbed .nav-tabs > li.focus > a {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.tattoos_tabs .nav-tabs > li > a:hover {
  border-top-color: #ebecec;
}
.tattoos_tabs.tabbed .nav-tabs > li > a img {
  max-width: 100%;
}
.tattoos_tabs.tabbed .nav-tabs li a span {
  display: block;
}

/* Home Page Work Section Start */
.works-section h2 {
  color: #218d92;
  font-size: 34px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 32px;
}
.works-section p {
  line-height: 20px;
  margin: 0 auto;
  max-width: 710px;
}
#what .works-list {
  margin-bottom: 46px;
  margin-top: 38px;
}
.works-list-icon {
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  height: 61px;
  width: 61px;
}
.works-list-title {
  color: #3f3f3f;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 4px;
}
.works-section h3 {
  color: #218d92;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 14px;
  margin-top: 38px;
  text-transform: none;
}
.works-section .icon-play {
  margin-bottom: 20px;
}
.works-section .icon-play strong {
  display: block;
  margin: 10px auto 0;
}
/* Home Page Work Section End */

/* Classroom activity */
/* Popup Css */
.classroom_career_tree a > img {
  padding-right: 10px;
}
.classroom_career_tree .pdf_icon_list a,
.classroom_career_tree .standards_list a {
  vertical-align: middle;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
}
.classroom_career_tree .modal-body {
  padding: 40px 38px 18px;
}
.classroom_career_tree .modal-footer.ng-scope {
  margin-bottom: 25px;
}
.pdf_icon_list {
list-style: none;
margin: 0px;
}
.pdf_icon_list li:before,
.classroom-counselor-modal ul li:before {
display: none;
}
.pdf_icon_list li a {
margin: 0px;
}
.pdf_icon_list li {
  display: inline-block;
  width: 100%;
  max-width: 200px;
}
@media (min-width: 992px) {
.classroom_career_tree .modal-lg {
    width: 776px;
}

}

/* Category Section */
.filter-category {
  background-color: #e8eaea;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 31px;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 17px;
}
.filter-category p,
.filter-category select {
  margin: 0px;
}
.filter-category {
  background-color: #e8eaea;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 31px;
}
.filter-category select {
  height: 30px;
  border: 2px solid #cacaca;
  color: #000;
  font-size: 13px;
}
.filter-category .category-title {
  font-weight: bold;
  margin-right: 16px;
}
.category-wrapper {
  margin-bottom: 22px;
}
.category-item {
  border: 1px solid #c7c7c7;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.occufind #content-wrap .category-item h3 {
  font-size: 13px;
  line-height: 19.5px;
  text-transform: inherit;
  background-color: #edf8f8;
  color: #524dac;
  font-weight: bold;
  padding: 9px 21px;
  border-bottom: 1px solid #c7c7c7;
  min-height: 57px;
  margin-bottom: 0;
}
.category-item p {
  font-size: 13px;
  color: #000;
  flex: 1 0 auto;
  padding: 26px 21px 10px;
  margin: 0;
}
.category-item a.btn {
  padding: 0;
  margin: 13px 21px;
}
.category-item a.btn i {
  margin-right: 7px;
}
.category-item a.btn:focus,
.category-item a.btn:hover {
  color: #413a94;
  text-decoration: underline;
}
.category-item a.btn:active {
  box-shadow: none;
}
.list-style-disc ul {
  list-style-type: disc !important;
}
.list-style-disc ul li:before {
  content: none !important;
}
.list-style-disc ul li span,
.list-style-disc p span {
  font-size: inherit !important;
  font-family: "Open Sans" !important;
  line-height: 1.4;
  margin-bottom: .5em;
  position: relative;
}

/* Classroom activity End*/
@media screen and (min-width: 1024px) {
  #educator #components-wrap ol#three-components {
    margin-right: 100px;
  } 
}

@media screen and (max-width: 1024px) {
  div#box-row1,
  div#box-row2,
  div#box-row3,
  div#box-row4 {
    padding: 0 30px;
  }
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1023px) {
  #header.scrolled {
    background: #fff;
  }
}

@media screen and (min-width: 992px) {
  .ASVAB_scores_sec p {
    padding-right: 12px;
  }
}

@media screen and (max-width: 991px) {
  #mega-menu-buttons .small-centered > .row .participant-list {
    margin-bottom: 10px;
  }
  .questions-block-two {
    margin-right: 0;
  }
  .tutorials_item {
    max-width: 32%;
  }
  .testimonial_wrapper {
    padding: 0 20px;
  }
  .testimonial_wrapper .slick-next {
    right: -10px;
  }
  .testimonial_wrapper .slick-prev {
    left: -10px;
  }
}

@media (max-width: 800px) {
  .title-bar .menu-icon {
    bottom: 20px;
    z-index: 12;
  }
  #header .title-bar {
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
  }
  #header.scrolled {
    background: transparent;
    z-index: 9999;
  }
  header.scrolled .title-bar {
    margin-bottom: 0;
  }
  header a, header a:hover, header a:focus {
    color: #fff;
    text-decoration: none;
  }
  nav#main-menu {
    position: absolute;
    right: 0;
    background-color: #444444;
    height: calc(100vh - 98px);
    border-top: none;
    max-width: 70%;
    width: 100%;
    top: 98px;
  }
  header nav .menu li + li {
    border-top: 1px solid #A6A6A6;
  }
  .dropdown.menu > .dropdown.is-dropdown-submenu-parent:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 1px;
    color: #aaa;
    font-weight: bold;
    font-size: 22px;
    pointer-events: none;
    transition: all 0.3s ease-in-out 0s;
  }
  .dropdown.menu .submenu,
  .dropdown.menu .submenu > li {
    border: none;
  }
  .dropdown.menu .submenu > li {
    background-color: #585858;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .exploration-items li {
    max-width: calc(50% - 7.5px);
  }
  .exploring_careers_item {
    max-width: 32%;
  }
  .strength_books ul {
    padding-left: 0;
  }
  .strength_books ul li {
    width: 30%;
  }
  .strength_books ul li:last-child {
    width: 40%;
  }
  .hero-banner-understand .hero-image img {
    width: 100%;
  }
  .questions-block-link .button {
    font-size: 12px;
  }
  .questions-block-two .questions-block-link .button {
    padding-right: 6px;
  }
  .skill_score {
    padding: 40px 25px 45px 23px;
  }
  .skill_img_block img {
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  #header {
    position: relative;
    z-index: 999;
  }
}

@media screen and (min-width: 768px) {
  /* update */
  .banner-sec .menu li.active a:before {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 9px solid #fff;
  }
  /* update over */
  .exploration-details {
    max-width: 205px;
  }
  .getting_started_sec img {
    margin-right: 15px;
    margin-left: auto;
    display: block;
  }
  .ASVAB_result_sec .result_img {
    display: block;
  }
  .careers_img_block {
    min-height: 75px;
  }
  .exploring_careers_inner .exploring_careers_item:nth-child(2) {
    border-left: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
  }
  .future_plan_sec ul li {
    padding-right: 40px;
    margin-bottom: 18px;
  }
  .hero-banner > .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-banner > .row:before,
  .hero-banner > .row:after {
    display: none;
  }
  .hero-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 100%;
  }
  .hero-banner-content {
    max-width: 410px;
  }
  .questions-block {
    max-width: 398px;
  }
  .questions-block-two .questions-block-icon:before {
    background-color: #f4f4f4;
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 8px;
    width: 28px;
  }
  .questions-block-two .questions-block-icon img {
    position: relative;
  }
  .hero-banner-Exploration .hero-banner-content {
    max-width: 430px;
  }
  .hero-banner-Exploration .hero-image {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .interest-nav-tabs .interest-lists li {
    position: absolute;
    padding: 2px 10px 3px;
    width: 40%;
  }
  .interest-nav-tabs .interest-lists li:first-child {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .interest-nav-tabs .interest-lists li:nth-child(4) {
    left: 0;
    top: 54px;
    text-align: left;
  }
  .interest-nav-tabs .interest-lists li:nth-child(3) {
    left: 0;
    top: 108px;
    text-align: left;
  }
  .interest-nav-tabs .interest-lists li:nth-child(6) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .interest-nav-tabs .interest-lists li:nth-child(5) {
    right: 0;
    top: 108px;
    text-align: right;
  }
  .interest-nav-tabs .interest-lists li:nth-child(2) {
    right: 0;
    top: 54px;
    text-align: right;
  }
  #sidebar:not(.scroll-to-fixed-fixed) + div[style] {
    display: none !important;
  }
  #sidebar.scroll-to-fixed-fixed + div[style] {
    height: 0 !important;
  }
  .top-blue-panel + div[style] {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 98px;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .footer-top-banner p {
    line-height: 24px;
    padding: 0 50px;
  }
  #footer {
    background: none;
    background-color: #7E8D8E;
    padding-top: 50px;
    text-align: center;
  }
  .search-box {
    width: 100%;
    max-width: 280px;
    height: 36px;
    margin: 0 auto;
    border: none !important;
    border-radius: 3px !important;
    background-color: #fff;
    color: #737373;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .search-button-sec {
    font-size: 17px;
    color: #737373;
    padding-left: 9px;
  }
  .voice-search {
    font-size: 19px;
    color: #737373;
    padding-right: 12px;
  }
  .search-input-box .search-input {
    background-color: transparent;
  }
  .footer-link {
    display: inline-block;
    width: 100%;
    max-width: 272px;
    padding-left: 0;
    margin: 35px auto 42px;
  }
  .footer-link li {
    width: 50%;
    text-align: center;
    float: left;
  }
  .footer-link li:nth-child(2n) {
    border-left: 1px solid #fff;
  }
  .footer-link a {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
  }
  #footer h3 {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 27px;
  }
  #footer .social {
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    padding-bottom: 15px;
  }
  #footer .social > p {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 290px;
    width: 100%;
    padding: 0 6px 13px;
    margin: 20px auto 16px;
  }
  #footer .social i {
    margin: 0 auto;
  }
  #footer .contact {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin-bottom: 27px;
  }
  ul.app-info {
    display: none;
  }
  #footer .sponsor {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    margin-top: 45px;
  }
  #footer #footer-menu {
    float: none;
    display: inline-block;
    padding: 53px 10px 0;
  }
  /* Educators - PTI */
  .program-title,
  .section-description .program-subtitle {
    text-align: center;
  }
  .educators-exploration {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #f4f4f4;
  }
  .exploration-content {
    width: 100%;
    padding: 0 15px 30px;
  }
  .exploration-items li {
    max-width: calc(50% - 7.5px);
  }
  .section-overview .section-title {
    text-align: center;
  }
  .ASVAB_result_sec ol {
    margin: 0 -15px;
  }
  .activities_inner {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .ASVAB_result_sec ol>li {
    padding-right: 20px;
    padding-bottom: 16px;
  }
  .strength_books {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 27px;
  }
  .section-description .strength_books p {
    max-width: 195px;
    margin-left: -45px;
  }
  .strength_books ul {
    margin-left: -45px;
    width: 280px;
    margin-top: 21px;
    padding: 0;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .ASVAB_result_sec .strength_books .strength_img_block {
    min-height: 46px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .strength_books ul li span {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
  .getting_started_sec {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
  }
  .getting_started_sec .section-description .section-description-info,
  .ASVAB_result_sec .section-description .section-description-info,
  .ASVAB_scores_sec .section-description .section-description-info,
  .taking_FYI_sec .section-description .section-description-info,
  .exploring_careers_sec .section-description .section-description-info
   {
    margin-bottom: 0;
    max-width: 100% !important;
  }
  .getting_started_sec img {
    margin: 15px auto 0;
  }
  .ASVAB_result_sec {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
  }
  .ASVAB_result_sec .result_img {
    margin: 40px auto 42px;
  }
  .ASVAB_result_sec ol {
    padding-top: 8px;
    padding-bottom: 50px;
    margin: 0 -21px;
  }
  .ASVAB_result_sec ol>li {
    padding-left: 60px;
  }
  .ASVAB_result_sec ol>li:before {
    left: 17px;
    margin-top: 3px;
  }
  .activities_block .image-wrapper {
    height: 103px;
  }
  .activities_block .image-wrapper img {
    max-width: 223px;
    width: 100%;
    max-height: 103px;
  }
  .activities_video .activities_text {
    margin-bottom: 15px;
  }
  .activities_video .activities_text h2 {
    max-width: 100%;
  }
  .ASVAB_scores_sec {
    padding: 43px 7px 40px;
  }
  .ASVAB_scores_sec .section-description-info {
    padding-top: 7px;
    padding-bottom: 11px;
  }
  .taking_FYI_sec {
    padding: 7px 7px 74px;
  }
  .taking_FYI_sec .section-description {
    margin-bottom: 33px;
  }
  .exploring_careers_sec {
    padding: 50px 12px 37px 10px;
  }
  .exploring_careers_item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .exploring_careers_inner {
    margin-top: 37px;
    padding: 0 15px;
  }
  .exploring_careers_inner .exploring_careers_item + .exploring_careers_item {
    border-top: 1px solid #B6B6B6;
  }
  .careers_img_block {
    margin-top: 22px;
    margin-bottom: 15px;
  }
  .future_plan_sec {
    padding-top: 50px;
    padding-bottom: 67px;
  }
  .future_plan_sec .section-title {
    max-width: 200px;
    margin: 0 auto;
  }
  .future_plan_sec ul {
    margin-top: 42px;
    padding-left: 30px;
    padding-right: 7px;
  }
  .contact_us_sec h4 {
    padding: 0 5px;
  }

  /* Student The ASVAB */
  .hero-banner {
    padding-top: 24px;
    text-align: center;
  }
  .hero-banner-content {
    margin: 0 auto;
  }
  .hero-banner h1 {
    line-height: 40px;
    margin-bottom: 32px;
    margin-top: 0;
  }
  .hero-banner h1 span {
    display: block;
  }
  .hero-banner p {
    line-height: 24px;
  }
  .hero-banner-understand .hero-banner-content {
    padding-left: 23px;
    padding-right: 23px;
  }
  .hero-banner-understand .hero-image {
    padding-left: 22px;
    padding-right: 22px;
  }
  .section-questions {
    padding-bottom: 28px;
    padding-top: 56px;
  }
  .questions-block {
    border-bottom: 1px solid #b6b6b6;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .questions-block .questions-block-icon {
    text-align: center;
    width: 64px;
  }
  .questions-block .questions-block-title {
    padding-left: 12px;
    width: -webkit-calc(100% - 64px);
    width: -moz-calc(100% - 64px);
    width: calc(100% - 64px);
  }
  .questions-block-one {
    margin-bottom: 44px;
    padding-bottom: 32px;
  }
  .questions-block-two {
    padding-bottom: 22px;
  }
  .questions-block-one .questions-block-icon img {
    max-height: 49px;
  }
  .questions-block-two .questions-block-icon img {
    max-height: 43px;
  }
  .questions-block-title h2 {
    margin-bottom: 11px;
    margin-top: 6px;
  }
  .questions-block-link .button {
    margin-top: 20px;
  }
  .questions-block .questions-block-link .button {
    padding: 10px;
    width: 100%;
  }
  .questions-block-link .button,
  .questions-block-link .button:hover {
    filter: none;
  }
  .questions-block-content {
    padding-top: 27px;
  }
  .questions-link {
    margin-top: 33px;
  }
  .section-results .section-title {
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  .section-results {
    padding-bottom: 5px;
  }
  .results-block .section-description-info {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .results-block img {
    margin: 0 auto 36px;
  }
  .results-block ol {
    max-width: 100%;
    padding-right: 5px;
    padding-left: 2px;
  }
  .section-results hr {
    margin-left: -15px;
    margin-right: -15px;
  }
  .areas-block {
    margin-top: 0;
  }
  .areas-block .areas-block-title,
  .areas-block .section-description-info {
    padding-right: 5px;
    padding-left: 5px;
  }
  .areas-block .table-mobile {
    margin-left: -15px;
    margin-right: -15px;
  }
  .table-mobile .areas-block-items {
    margin-bottom: 24px;
    margin-top: 31px;
    padding: 0 15px;
  }
  .areas-block-item > span {
    margin: 0 auto 15px;
    height: 25px;
    width: 25px;
  }
  .areas-block-item {
    font-weight: bold;
    text-align: center;
    width: -webkit-calc(33.33% - 18px);
    width: -moz-calc(33.33% - 18px);
    width: calc(33.33% - 18px);
  }
  .areas-block-item ~ .areas-block-item {
    margin-left: 20px;
  }
  .table-mobile > div {
    border-top: 1px solid #ffffff;
    padding: 13px 20px 24px;
  }
  .table-mobile h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 0;
  }
  .table-mobile p {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 22px;
  }
  .table-mobile .bg-white {
    padding-bottom: 28px;
  }
  .table-mobile .bg-white p {
    margin-bottom: 26px;
  }
  .table-mobile .areas-block-sub-item {
    font-weight: bold;
  }
  .table-mobile .areas-block-sub-item ~ .areas-block-sub-item {
    margin-top: 4px;
  }
  .table-mobile .areas-block-count {
    width: 39px;
  }
  .table-mobile .areas-block-label {
    width: -webkit-calc(100% - 39px);
    width: -moz-calc(100% - 39px);
    width: calc(100% - 39px);
  }
  .table-mobile .areas-block-label span {
    font-weight: normal;
  }
  .section-ctm {
    padding-bottom: 52px;
    padding-top: 52px;
    text-align: center;
  }
  .section-ctm > .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-ctm .ctm-logo {
    margin: 0 auto 55px;
  }
  .section-ctm .ctm-title {
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-tips {
    padding-top: 45px;
  }
  .section-tips .section-title {
    text-align: center;
  }
  .section-tips .section-description {
    padding-left: 9px;
    padding-right: 9px;
  }
  .section-list-disc li {
    padding-left: 27px;
  }
  .section-list-disc li:before {
    left: 2px;
  }
  .section-yourself {
    padding-top: 36px;
  }
  .yourself-title {
    margin-bottom: 24px;
  }
  .yourself-description {
    line-height: normal;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Student plan */
  .hero-banner-plan h2 {
    margin-bottom:44px;
  }
  .hero-banner-plan h2 span {
    display: inline;
  }
  .hero-banner-plan p {
    padding: 0 15px;
  }
  .hero-banner-plan .hero-image {
    margin-left: -15px;
    margin-right: -16px;
    padding-top: 19px;
  }
  .activities_inner {
    display: block;
    text-align: center;
  }
  .activities_sec {
    padding-bottom:40px;
    padding-top: 30px;
  }
  .activities_text h4 {
    line-height: 33px;
  }
  .activities_text h2 {
    font-size: 24px;
    line-height: 33px;
    max-width: 230px;
    margin: 0 auto;
  }
  .activities_text h2 br {
    display: none;
  }
  .activities_text {
    margin-bottom: 30px;
  }
  .activities_block a.activities_button {
    padding: 8px 14px;
  }
  .section-media-center-wapper {
    padding: 0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .section-media-center-sec-inner {
    width: 100%;
    float: none;
    margin-bottom: 32px;
    padding: 0 20px 36px;
    border-bottom: 1px solid #d5d5d5;
  }
  .section-media-center-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section-media-center-block img {
    order: 1;
    padding: 0 5px;
    width: auto;
    margin: 0 auto;
  }
  .section-media-center-block a {
    order: 0;
    font-size: 18px;
    width: 100%;
    margin-top: 0;
    margin-bottom:14px;
  }
  .section-media-center-sec .section-viewmore-button {
    margin-top: 0;
  }
  .section-media-center-sec .section-viewmore-button a {
    max-width: 270px;
    width: 100%;
  }
  .section-media-center-sec {
    margin-top: 60px;
  }
  .section-financial-sec {
    margin-top: 65px;
    padding: 52px 30px 57px 30px;
  }
  .section-financial-block p {
    margin-bottom: 20px;
  }
  .section-financial-block h4 {
    margin-bottom:17px;
  }
  .section-financial-d-flex {
    display:block;
  }
  .section-financial-block h2 br {
    display: none;
  }
  .section-financial-block {
    text-align: center;
    padding-bottom: 38px;
    margin-bottom: 25px;
  }
  .section-financial-block h2 {
    margin-bottom: 6px;
  }
  .section-financial-block.section-financial-inner {
    padding-bottom:30px;
    margin-bottom: 0;
  }
  .section-financial-block:after {
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    top: auto;
    right: 0;
  }
  .section-financial-d-flex div:last-child .section-financial-block {
    padding-bottom:0;
    margin-bottom:0;
  }
  .section-financial-d-flex div:last-child .section-financial-block:after {
    display: none;
  }
  .section-cost-career-sec .section-cost-career-d-flex {
    display: block;
  }
  .section-cost-career-text {
    text-align: center;
  }
  .section-cost-career-text h6 {
    font-weight: bold;
  }
  .section-cost-career-text h2 {
    margin-bottom: 35px;
  }
  .section-cost-career-text p {
    text-align: left;
  }
  .section-cost-career-img_inner {
    float: none;
    text-align: center;
    padding-top: 16px;
  }
  .section-cost-career-img a {
    margin-top: 20px;
  }
  .section-cost-career-img_inner p a{
    margin-top: 0;
    text-align: left;
  }
  .section-cost-career-img_inner p {
    margin-top: 34px;
    text-align: left;
    margin-bottom: 0;
  }
  .section-cost-career-sec {
    padding: 46px 14px 37px 15px;
  }
  .section-cost-career-sec .section-viewmore-button {
    margin-top: 33px;
  }
  .section-testimonial {
    padding-bottom: 40px;
    padding-top: 45px;
  }
  .section-testimonial .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-testimonial-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .section-testimonial-image img {
    order: 1;
    margin: 0 auto;
  }
  .section-testimonial-image h4 {
    width: 100%;
    order: 0;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .section-testimonial-description h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
  }

  /* Students Learn */
  .hero-banner.hero-banner-learn {
    padding-top: 34px;
  }
  .hero-banner.hero-banner-learn p {
    padding: 0 15px;
    margin-bottom: 24px;
  }
  .hero-banner-learn .hero-image {
    padding: 0 15px;
  }
  .skill_sec {
    padding-top: 36px;
    padding-bottom: 38px;
  }
  .skill_sec p {
    padding: 0 14px;
    text-align: left;
  }
  .section-overview.skill_sec h2 {
    margin-bottom: 16px;
  }
  .skill_sec .skill_score {
    margin-top: 25px;
    padding: 20px 4px;
    margin: 25px 6px 0px 6px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    /* display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse; */
  }
  .skill_score_content:after,
  .skill_score_content:before {
    display: none;
  }
  .skill_score_content {
    width: 100%;
  }
  .skill_img_block img {
    margin: 0 auto;
    text-align: center;
    padding: 0 57px;
    margin-top: 14px;
  }
  .skill_img_block {
    margin-bottom: 31px;
    width: 100%;
    text-align: center;
  }
  .skill_score_content ul {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    margin-top: 31px;
    margin-bottom: 26px;
  }
  .skill_score_content li {
    width: 33.33%;
  }
  .strength_img_block {
    max-height: 46px;
    height: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero-banner-Exploration {
    padding-top: 34px;
  }
  .hero-banner-Exploration p {
    padding: 0 15px;
    margin-bottom: 8px;
  }
  .hero-banner-Exploration .hero-image {
    padding: 0 12px;
  }
  .exploring_careers_sec p {
    text-align: center;
  }
  .interests_sec {
    padding-top: 37px;
    padding-bottom: 17px;
  }
  .interests_sec p {
    padding: 0 12px;
  }
  .section-overview.interests_sec h2 {
    margin-bottom: 17px;
  }  
  .interest-block {
    margin-top: 48px;
    margin-bottom: 27px;
  }
  .interest-block h4 {
    text-align: center;
    margin-bottom: 4px;
  }
  .interest-block-wrapper {
    display: block;
    border: none;
  }
  .interest-block-rhs,
  .interest-block-lhs {
    width: 100%;
  }
  .interest-block-lhs {
    padding: 0;
  }
  .interest-block-lhs p br {
    display: none;
  }
  .interest-block-lhs p {
    text-align: left;
    max-width: 100%;
  }
  .interest-nav-tabs {
    padding: 25px 0 14px;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .interest-nav-tabs ul.interest-lists {
    padding: 0;
    margin-left: -15px;
    width: 129px;
    margin-bottom: 0;
  }
  .interest_lhs_img_block {
    position: relative;
    width: 168px;
    margin: 13px auto 0;
  }
  .interest_lhs_img_block ul.interest_triangle {
    max-width: 168px;
    margin: 0 auto;
  }
  .interest-nav-tabs .interest-lists li a {
    text-align: left;
    margin-bottom: 4px;
    padding: 5px 5px 5px 25px;
  }
  .interest_lhs_img_block img {
    position: relative;
    width: auto;
    width: 100%;
    max-width: 168px;
    margin: 0 auto;
  }
  .interest-nav-tabs .interest_triangle li a {
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 62px solid rgba(255, 255, 255, 0.5);
  }
  .interest-nav-tabs .interest_triangle li:first-child a {
    top: 4px;
  }
  .interest-nav-tabs .interest_triangle li:nth-child(2) a {
    right: 3px;
    top: 6px;
  }
  .interest-nav-tabs .interest_triangle li:nth-child(3) a {
    left: 3px;
    bottom: 6px;
  }
  .interest-nav-tabs .interest_triangle li:nth-child(4) a {
    left: 4px;
    top: 6px;
  }
  .interest-nav-tabs .interest_triangle li:nth-child(5) a {
    right: 3px;
    bottom: 6px;
  }
  .interest-nav-tabs .interest_triangle li:last-child a {
    bottom: 3px;
  }
  .interest-block-rhs .tab-content {
    margin: 0 -15px;
  }
  .interest-block-rhs .tab-pane {
    padding: 31px 15px 6px;
  }
  .include-list ul {
    max-width: 100%;
    margin-top: 4px;
    margin-bottom: -2px;
  }
  .include-list .section-list-disc li {
    padding-left: 27px;
    padding-right: 10px;
    margin-left: 14px;
  }
  .interests_sec .information-base-text {
    margin-top: 21px;
    padding-top: 12px;
    border-top: 1px solid #d1d4d0;
    max-width: 100%;
  }
  .interests_sec .information-base-text br {
    display: none;
  }

  /* Student Explore */
  .section-everything-images,
  .section-everything-tage {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .section-everything-inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-everything {
    padding-top: 44px;
    padding-bottom: 57px;
  }
  .section-everything-description h2 {
    text-align: center;
    padding: 0 25px;
  }
  .section-everything-description {
    margin-bottom: 19px;
  }
  .section-everything-tage {
    text-align: center;
    margin-top: 26px;
  }
  .section-everything-tage ul {
    margin-bottom: 49px;
  }
  .section-top-viewed {
    padding-top: 61px;
    padding-bottom: 0;
    margin-bottom: 6px;
  }
  .section-top-viewed-wrapper{
    display: block;
  }
  .section-top-viewed-item {
    width: 100%;
  }
  .section-top-viewed-item-inner {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 20px 27px 20px;
    margin-bottom: 27px;
    border-right: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-top-viewed-item-inner img {
    padding: 0 9px;
    margin: 0 auto;
  }
  .section-top-viewed-item-inner a {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 14px;
  }
  .section-top-viewed-title p {
    margin-bottom: 47px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .section-top-viewed-item:last-child .section-top-viewed-item-inner {
    border: none;
    margin-bottom: 0;
  }

  /* Parents Information */
  .program-tutorialm,
  .get_there_sec p,
  .tutorial_sec h5,
  .share_sec {
    text-align: center;
  }
  .program-tutorial p {
    max-width: 100%;
  }
  .exploration_img {
    margin-right: auto;
    margin-bottom: 50px;
  }
  .testimonial_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .testimonial_img_block {
  margin-bottom: 20px;
  }
  .testimonial_content {
  max-width: 100%
  }

  /* Classroom activity */
  .filter-category {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 20px 15px;
  }
  .occufind #content-wrap .category-item h3 {
    padding: 9px 15px;
  }
  .category-item p {
    padding: 20px 15px 10px;
  }
  .category-item a.btn {
    padding: 13px 15px 13px;
    margin: 0;
  }
  .classroom_career_tree .pdf_icon_list{
    margin-bottom: 40px;
  }
  /* Classroom activity End*/

  .modal-dialog {
    top: 25%;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  #mega-menu-buttons .small-centered > .row .participant-list {
    width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .occufind #content-wrap .get_there_sec {
    padding-top: 0;
  }
  .popup-main .close-button {
    right: 1.2rem;
	  top: 0.75rem;
  }
  .popup-main .update-account.close-button {
    top: 0rem;
    right: 0.5rem;
  }
  #what.works-section {
    padding-top: 90px;
  }
  #what .works-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #what .works-list li ~ li {
    border-left: 1px solid #afafaf;
  }
  #what.works-section .button {
    margin: 0 auto 35px;
    max-width: 258px;
  }
  #parents .medium-4.tutorial,
  #educators .medium-4.tutorial {
    max-width: 30%;
  }
  #parents .medium-4.tutorial:first-of-type,
  #educators .medium-4.tutorial:first-of-type {
    margin-right: 5%;
  }
}

@media screen and (max-width: 639px) {
  .works-section h2 {
    font-size: 26px;
    margin-bottom: 16px;
  }
  #what .works-list {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #what .works-list li ~ li {
    border-top: 1px solid #afafaf;
    margin-top: 20px;
    padding-top: 20px;
  }
  .works-section h3 {
    font-size: 20px;
  }
  .works-section .icon-play {
    margin-bottom: 10px;
  }
  #sidebar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 80px;
  }
  nav#main-menu {
    height: calc(100vh - 80px);
    top: 80px;
  }
  .title-bar .title-bar-title {
    max-width: 248px;
    width: 100%;
  }
  header #hero {
    overflow: hidden;
  }
  #home #hero #mega-menu-buttons .button-group .open > .dropdown-menu .row .small-centered {
    width: 100%;
  }
  .exploration_sec {
    padding-top: 12px;
  }
  .program-title {
    margin-bottom: 29px;
  }
  .section-description .program-subtitle {
    padding: 0 10px;
  }
  .exploration-details-content {
    padding: 35px 30px 15px;
  }
  .exploration-items {
    padding: 0 16px;
  }
  .exploration-items li {
    max-width: 100%;
    min-height: 100px;
  }  
  .interest_lhs_img_block img {
    width: 100%;
  }
  .tutorials_wrapper {
    flex-direction: column;
    max-width: 225px;
    margin: 0 auto;
  }
  .tutorials_item {
    max-width: 100%;
    margin-top: 15px;
    word-break: break-word;
  }
}

@media screen and (max-width: 360px) {
  body {
    padding-top: 70px;
  }
  .title-bar .title-bar-title {
    max-width: 207px;
  }
  nav#main-menu {
    height: calc(100vh - 71px);
    top: 71px;
  }
}

.asr * {
  box-sizing: border-box;
}

.asr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7rem;
  margin: 0 auto;
  max-width: 1008px;
}

.asr h3,
.asr h4,
.asr h5 {
  font-weight: 700;
}

.asr h5 {
  font-size: .7rem !important;
}

.asr .print-content-col-1 .print-content-col-head h3 {
  color: black;
  padding-bottom: 1px;
}

.asr li:before {
  content: none !important;
}

.asr h1,
.asr h2,
.asr h3,
.asr h4,
.asr h5,
.asr h6 {
  margin: 0;
}

.asr ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.asr  .print-box {
  border: 2px solid #00AEE7;
}

.asr .print-header,
.asr .print-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.asr .print-header-info {
  padding: 8px 12px 2px;
  width: 214px;
}

.asr .print-header-info p {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.asr .print-header-info p~p {
  margin-top: 10px;
}

.asr .print-header-title {
  border-left: 2px solid #00AEE7;
  border-bottom: 2px solid #00AEE7;
  width: calc(100% - 214px);
}

.asr .print-header-title h2 {
  color: #BEC2DD;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.asr .print-header-title h2 span {
  color: #25358E;
  font-size: 65px;
  line-height: 60px;
  margin-right: 8px;
  position: relative;
  top: 8px;
}

.asr .print-content-main {
  width: calc(100% - 222px);
}

.asr .print-content-results {
  border-bottom: 2px solid #00AEE7;
  padding: 9px 8px 8px 14px;
}

.asr .print-content-row {
  border: 2px solid #000;
  border-left: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.asr .print-content-col~.print-content-col {
  border-left: 2px solid #000;
}

.asr .print-content-col-head {
  border-bottom: 2px solid #25358E;
}

.asr .print-content-col-1 {
  width: 209px;
}

.asr .print-content-col-1 .print-content-col-head {
  margin-bottom: 5px;
  padding: 8px 18px 5px;
}

.asr .print-content-col-1 .print-content-col-head h3 {
  font-size: 18px;
  letter-spacing: 1.6px;
}

.asr .print-content-col h5 {
  padding-bottom: 2px;
  padding-top: 12px;
  letter-spacing: .2px;
}

.asr .print-content-col-1 ul {
  padding-left: 9px;
}

.asr .print-content-col-1 ul li {
  font-size: 13px;
  margin-bottom: 1px;
}

.asr .print-content-col-1 h5 {
  position: relative;
}

.asr .print-dashed {
  overflow: hidden;
  position: absolute;
  left: 166px;
  top: 20px;
  height: 1px;
  width: 590px;
  z-index: 1;
  border-top: 1px dashed #000000;
}

.asr .print-content-col-1 h5:last-child {
  padding-bottom: 1px;
  padding-top: 20px;
  letter-spacing: .1px;
}

.asr .print-content-col-2 {
  background-color: #E9EBF4;
  position: relative;
  text-align: center;
  width: 128px;
}

.asr .print-content-col-2:before,
.asr .print-content-col-2:after {
  background-color: #E9EBF4;
  content: '';
  pointer-events: none;
  position: absolute;
  left: -2px;
  width: calc(100% + 4px);
}

.asr .print-content-col-2:before {
  top: -11px;
  height: 9px;
}

.asr .print-content-col-2:after {
  bottom: -10px;
  height: 8px;
}

.asr .print-content-col-2 .print-content-col-head h5 {
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 0;
  letter-spacing: normal;
}

.asr .print-content-col-2 .print-content-col-head h6 {
  font-size: 8px;
  font-weight: normal;
  line-height: 8px;
  margin-bottom: -1px;
  padding: 0 4px;
}

.asr .print-content-col:not(.print-content-col-1) ul {
  margin-top: 6px;
}

.asr .print-content-col:not(.print-content-col-1) ul~ul {
  margin-top: 3px;
}

.asr .print-content-col:not(.print-content-col-1) ul li {
  font-weight: bold;
}

.asr .print-content-col:not(.print-content-col-1) h5:last-child {
  padding-bottom: 5px;
}

.asr .print-content-col-scores-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.asr .print-content-col-scores.col-1 {
  width: 38px;
}

.asr .print-content-col-scores.col-2 {
  width: 44px;
}

.asr .print-content-col-scores.col-3 {
  width: 44px;
}

.asr .print-content-col-scores~.print-content-col-scores {
  border-left: 2px solid #25358E;
}

.asr .print-content-col-3 {
  width: 375px;
}

.asr .print-content-col-3 .print-content-col-head {
  padding: 8px 8px 8px 45px;
}

.asr .print-content-col-3 .print-content-col-head h4 {
  font-size: 16px;
}

.asr .print-content-col-bands {
  max-width: 355px;
  padding: 0 16px;
  position: relative;
}

.asr .print-content-col-bands>ul {
  display: flex;
  flex-direction: column;
}

.asr .print-content-col-bands>ul li {
  border-top: 1px dotted #000;
  margin-bottom: 1em !important;
  margin-top: 8px;
  position: relative;
}

.asr .print-content-col-bands>ul li span {
  background-color: rgba(204, 204, 204, .5);
  font-size: 12px;
  line-height: 12px;
  padding: 0 8px;
  position: absolute;
  top: -6px;
  margin-left: -7px;
}

.asr .print-content-col-range {
  position: absolute;
  left: 16px;
  width: calc(100% - 32px);
}

.asr .print-content-col-range.top {
  top: 12px;
}

.asr .print-content-col-range.bottom {
  bottom: 5px;
}

.asr .print-content-col .print-content-col-range>ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.asr .print-content-col .print-content-col-range>ul li {
  font-size: 11px;
  position: relative;
  text-align: center;
  left: 5px;
}

/* :before is not supported in html2canvas so need to add vertical lines individually
 .asr .print-content-col .print-content-col-range.top>ul li:before {
  border-left: 2px solid #000;
  content: '' !important;
  position: absolute !important;
  left: 50% !important;
  top: 19px !important;
  height: 247px;
  width: 2px;
} */

.asr .print-content-col .print-content-col-range.top>ul .verticle-class {
  border-left: 2px solid #000;
  content: '' !important;
  position: absolute !important;
  height: 247px;
  width: 2px;
  top: 19px !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(1) {
  left: 12.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(2) {
  left: 25.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(3) {
  left: 38.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(4) {
  left: 51.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(5) {
  left: 64.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(6) {
  left: 77.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul .verticle-class:nth-of-type(7) {
  left: 90.5% !important;
}

.asr .print-content-col .print-content-col-range.top>ul li:empty:before {
  display: none;
}

.asr .print-content-col-4 {
  text-align: center;
  width: 46px;
}

.asr .print-content-col-4 .print-content-col-head h6 {
  font-size: 8px;
  font-weight: normal;
  margin-bottom: -1px;
  margin-top: -1px;
  padding: 1px 4px;
}

.asr .print-content-title {
  color: #25358E;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.asr .print-content-title {
  margin-bottom: 4px;
}

.asr .print-content-text {
  color: #25358E;
  font-family: none;
  font-size: 11px;
  line-height: 11px;
  margin: 0 0 4px;
  text-align: justify;
}

.asr .print-content-widget {
  padding: 10px 15px 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 15px;
}

.asr .print-content-sidebar {
  border-left: 2px solid #00AEE7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  width: 222px;
}

.asr .print-content-sidebar-top {
  flex: 1 0 auto;
}

.asr .print-content-sidebar-widget {
  margin-bottom: 18px;
  padding: 0 12px;
}

.asr .print-content-sidebar-widget h5 {
  margin-bottom: 18px;
}

.asr .print-content-sidebar-bottom {
  font-size: 12px;
  font-weight: bold;
}

.asr .print-content-sidebar-bottom p {
  margin: 0 0 9px;
  padding: 0 12px;
}

.asr .print-content-sidebar-bottom div {
  color: #25358E;
  text-align: center;
}

.asr .print-access {
  margin: 0 0 7px;
  padding: 0 12px;
}

.asr .print-site-link {
  background-color: #E9EBF4;
  padding: 0 12px;
}

.asr .print-site-link a {
  color: #25358E;
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
}

.asr .print-information {
  margin: 12px 0 18px;
  padding: 0 12px;
  text-transform: uppercase;
}

.asr .print-footer {
  color: #25358E;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 74.93em) {
  .asr {
    margin: 3px;
  }
}

.bring-asvab-to-your-school .activities .horizontal-line {
  /* border-top: 1px solid #3f3f3f; */
  border-top: 1px solid #cacaca;
  content: '';
  position: absolute;
  /* width: 390px;
  left: 20px; */
  width: 98%;
  left: 0px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
  top: 25px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
  top: 54px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
  top: 81px;
}

.bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(4) {
  top: 110px;
}

.bring-asvab-to-your-school .activities .margin-top-3 {
  margin-top: 3px;
}

.bring-asvab-to-your-school .activities label {
  color: #3f3f3f;
}

.bring-asvab-to-your-school .activities .show-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .bring-asvab-to-your-school .activities .show-mobile {
    display: block;
  }
  .bring-asvab-to-your-school .activities .hide-mobile {
    display: none;
  }

  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(1) {
    width: 90%;
  }

  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(2) {
    top: 107px;
    width: 90%;
  }
  
  .bring-asvab-to-your-school .activities .horizontal-line:nth-of-type(3) {
    top: 188px;
    width: 90%;
  }
  
  .bring-asvab-to-your-school .activities .margin-right-0 {
    margin-right: 0px;
  }
}

/* CE Opportunity */

.education-opportunity {
  padding-top: 20px;
  overflow: hidden;
}
.education-opportunity-hero .education-opportunity-hero-img {
  text-align: center;
}
.education-opportunity .section-overview {
  padding-top: 20px;
}
.education-opportunity .section-overview .section-title {
  margin-bottom: 15px;
}
.education-opportunity .section-overview h3 {
  padding: 8px 10px !important;
}
.education-opportunity .section-overview ul {
  margin-left: 15px;
}
.education-opportunity .section-overview ul li:before {
  left: -15px !important;
}
.education-opportunity .education-opportunity-sidebar {
  padding-top: 5px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper {
  border: 1px solid #33afb4;
  padding-bottom: 6px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-title {
  font-size: 16px;
  line-height: 20px;
  background-color: #33afb4;
  color: #fff;
  text-transform: none;
  padding: 5px 20px;
  margin-bottom: 25px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content {
  max-width: 390px;
  padding: 0 40px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul {
  margin-left: 0;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li {
  display: flex;
  font-size: 16px !important;
  padding-right: 10px;
  margin-bottom: 12px !important;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li:before {
  display: none;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  border: solid #312A88;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  display: block;
  position: relative;
  margin-right: 5px;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:hover {
  opacity: 0.8;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:hover:after {
  opacity: 0.8;
}
.education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a:after {
  content: ">";
  content: "";
  font-family: fontawesome;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .education-opportunity-hero {
    position: relative;
    padding-right: 30%;
  }
  .education-opportunity-hero .education-opportunity-hero-img {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 767px) {
  .education-opportunity .education-opportunity-sidebar {
    margin: 0 auto 20px;
  }
  .education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-title {
    margin-bottom: 0;
  }
  .education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content {
    max-width: 100%;
    padding: 0 20px;
    margin-top: 40px;
  }
  .education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li {
    font-size: 14px !important;
  }
  .education-opportunity .education-opportunity-sidebar .education-opportunity-sidebar-content-wrapper .education-opportunity-sidebar-content ul li a {
    font-size: 14px;
  }
}

/* Countdown */

#main #countdown {
    background: #fff;
}
.countdown-link h2 {
  text-align: center;
  font-size: 27px;
  padding: 42px 0;
  text-transform: initial;
  padding-left: 13px;
  letter-spacing: 0.1px;
  padding-bottom: 100px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .countdown-link h2 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 27px 0 91px;
    line-height: 37px;
  }
}
.countdown-link .social-wrapper .social-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0;
  margin-bottom: 10px;
}
.countdown-link .social-wrapper .social-icon li:before {
  content: initial !Important;
}
.countdown-link .social-wrapper .social-icon .title-icon {
  font-size: 15px !important;
  line-height: 24px !important;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #ffffff;
  word-spacing: 1.6px;
  margin-right: 12px;
}
.countdown-link .social-wrapper .social-icon .title-icon:before {
  display: none;
}
.countdown-link .social-wrapper .social-icon li a {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1c43;
  border-radius: 50%;
  line-height: 1.1;
  color: #ffffff;
  font-size: 17px;
  margin: 0 3px;
  padding: 0;
}
.countdown-link .social-wrapper .social-icon li a:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}
.countdown-link .bring-btn {
  font-size: 16px;
  background: #1f1c43;
  text-decoration: none;
  letter-spacing: -0.28px;
  word-spacing: 1.2px;
  display: block;
  border: none;
  max-width: 355px;
  width: 100%;
  text-transform: inherit;
  padding: 7px;
  margin-left: auto;
  margin-right: 0;
}
.countdown-link .bring-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease-in-out 0s;
}

.countdown-link .countdown-link-box-wrapper .countdown-link-box a p:first-of-type{
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .countdown-link .bring-btn {
    max-width: 326px;
    width: 100%;
    padding: 12px 5px;
    margin: 0 auto 56px;
  }
}
.countdown-link .header {
  background-color: #302c68;
  position: relative;
  padding-top: 26px;
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .countdown-link .header {
    margin-bottom: 84px;
  }
}
.countdown-link .header .main-menu .main-logo {
  margin-left: 11px;
  margin-top: 26px;
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo {
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo a {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .countdown-link .header .main-menu .main-logo a img {
    max-width: 150px;
    width: 100%;
  }
}
.countdown-link .header .option-title {
  font-size: 49px;
  font-weight: 400;
  letter-spacing: -0.05px;
  line-height: 1.01;
  padding: 0 10px;
  margin-top: 52px;
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .countdown-link .header .option-title {
    font-size: 34px;
    letter-spacing: -0.7px;
    text-align: center;
    line-height: 39px;
    max-width: 270px;
    margin: 26px auto 47px;
  }
}
@media (max-width: 359px) {
  .countdown-link .header .option-title {
    font-size: 30px;
  }
}
.countdown-link .header .option-disc {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .countdown-link .header .option-disc {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 91px;
  }
}
@media (max-width: 359px) {
  .countdown-link .header .option-disc {
    font-size: 18px;
  }
}
.countdown-link .triangle-down {
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #302c68;
  position: absolute;
  bottom: -45px;
  left: 42px;
}
@media (max-width: 767px) {
  .countdown-link .triangle-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: -57px;
  }
}
.countdown-link .countdown-link-box-wrapper {
  padding: 0 10px;
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #cdcdcd;
  line-height: 1;
  align-items: stretch;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box {
    display: block;
    margin-bottom: 22px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid #cdcdcd;
  color: #359796;
  background-color: #edf8f8;
  max-width: 147px;
  width: 100%;
  padding: 9px 22px 9px 10px;
  font-weight: bold;
  text-align: right;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date {
    border-bottom: 1px solid #cdcdcd;
    border-right: none;
    max-width: 100%;
    text-align: center;
    padding: 2px 22px;
    justify-content: center;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date span {
  font-size: 45px;
  line-height: 1.03;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date span {
    font-size: 15px;
    padding-left: 6px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date p {
  margin: 0 0 0 14px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  max-width: 48px;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-date p {
    max-width: 100%;
    margin: 0 4px;
    line-height: 1.15;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content {
  max-width: 752px;
  width: 100%;
  padding: 12px 45px 12px 29px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content {
    max-width: 100%;
    display: block;
    padding: 12px 30px 8px 16px;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content:hover {
  background-color: #eee;
  text-decoration: none;
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content p {
  font-size: 15px;
  margin: 3px 0;
  line-height: 1;
  color: #000000;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content p {
    font-size: 18px;
    margin: 4px 0;
    line-height: 1.2;
  }
}
.countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 43px;
  color: #514dab;
}
@media (max-width: 767px) {
  .countdown-link .countdown-link-box-wrapper .countdown-link-box .countdown-box-content i {
    right: 10px;
  }
}
.countdown-link .countdown-link-footer {
  background-color: #302c68;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 18px;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon {
  justify-content: center;
  flex-wrap: wrap;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon .title-icon {
  font-size: 24px !important;
  width: 100%;
  margin: 0 auto 30px !important;
}
.countdown-link .countdown-link-footer .social-wrapper .social-icon a {
  width: 36px;
  height: 36px;
  margin: 0 5px;
}

/* For fixing live issue on count down page */
body > iframe[width="0"] {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}


/* occufind occupation search */
.filter_select_checkbox_wrapper {
  border: 1px solid #979797;
  padding: 15px;
}
.select_with_checkbox {
  max-width: 233px;
  width: 100%;
  color: #4a4a4a;
  position: relative;
  margin-bottom: 0 !important;
}
.select_with_checkbox .custom_select_dropdown {
  border: 1px solid #979797;
  color: #4a4a4a;
  width: 100%;
  text-align: left;
  padding: 10px 25px 10px 10px;
  position: relative;
}
.select_with_checkbox .custom_select_dropdown:focus {
  outline: none;
}
.select_with_checkbox .custom_select_dropdown:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #c3d2da;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  content: "";
  z-index: 1;
  pointer-events: none;
}
.select_with_checkbox table {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #979797;
  border-top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
.select_with_checkbox table.active {
  display: block;
}
#filter-category .select_with_checkbox .pl-10 {
  padding-left: 10px !important;
}
#filter-category table thead,
#filter-category table tbody {
  background-color: transparent !important;
}
.select_with_checkbox table tr {
  background-color: #fff;
}
.select_with_checkbox table td {
  border: none !important;
  padding: 0 15px 8px !important;
}
.select_with_checkbox table td input {
  /* float: right; */
  margin-right: 20px !important;
}
/* .occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox input {
  margin-right: 0 !important;
} */
.occufind #content-wrap section#search-sidebar #filters #filter-category .select_with_checkbox span:nth-of-type(5) input {
  margin-right: 20px !important;
}

#filter-category table thead th {
  font-weight: normal;
  padding: 0;
}
#filter-category table thead th .explain {
  float: none;
  margin-left: 10px;
}
#filter-category table td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#filter-category table td img {
  margin-left: 7px;
  margin-right: 7px;
}
#filter-category .select_with_checkbox .custom_select_dropdown {
  background-color: #fff;
}
.occufind #search-sidebar section div .select_with_checkbox tbody tr td i {
  width: 20px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}
.occufind #search-sidebar section div .select_with_checkbox tbody tr td i:after {
  margin: 0 !important;
}
/* occufind occupation search over */

/* bring asvab to your school modal CSS*/
.bring-asvab-to-your-school
.bring-asvab-to-your-school .custom_devider {
  border-bottom: 2px solid #767676;
}
.bring-asvab-to-your-school.ng-scope {
  padding: 10px;
}
.bring-asvab-to-your-school h4 {
  margin-bottom: 20px;
}
.bring-asvab-to-your-school h3 {
  display: inline-block;
  margin-bottom: 40px;
}
.bring-asvab-to-your-school .form_slides_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.bring-asvab-to-your-school .form_slides_wrapper h3 {
  margin-right: 30px;
  margin-bottom: 15px;
}
.bring-asvab-to-your-school .form_slides_wrapper ul {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li {
  height: 10px;
  width: 50px;
  background-color: #EBEBEB;
  margin-bottom: 0 !important;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li:before {
  display: none;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li + li {
  margin-left: 10px;
}
.bring-asvab-to-your-school .form_slides_wrapper ul li.active {
  background-color: #29A3A9;
}
.bring-asvab-to-your-school p {
  font-family: "Open Sans", sans-serif;
}
.bring-asvab-to-your-school .form-group {
  display: flex;
}
.bring-asvab-to-your-school .form-group label {
  white-space: nowrap;
  padding-right: 15px;
}
.bring-asvab-to-your-school .form-group input {
  margin-bottom: 0;
}
.bring-asvab-to-your-school .form-group input,
.bring-asvab-to-your-school .form-group select,
.bring-asvab-to-your-school .form-group textarea {
  height: 27px;
  color: #000;
  border-color: #000;
  padding: 3px 10px;
}
.bring-asvab-to-your-school .form-group select {
  padding-right: 25px;
}
.bring-asvab-to-your-school .label-160 {
  max-width: 160px;
  width: 100%;
}
.bring-asvab-to-your-school .label-120 {
  max-width: 120px;
  width: 100%;
}
.bring-asvab-to-your-school .input-50 {
  max-width: 70px;
  width: 100%;
}
.bring-asvab-to-your-school .required-field {
  color: red;
  margin-left: 5px;
}
.bring-asvab-to-your-school .not-required-field {
  margin-left: 5px;
}
.bring-asvab-to-your-school .test_time_choice input {
  width: 110px;
}
.bring-asvab-to-your-school .option_disabled {
  pointer-events: none;
}
.bring-asvab-to-your-school .option_disabled label {
  color: #D6D6D6;
}
.bring-asvab-to-your-school .option_disabled input {
  border-color: #D6D6D6;
}
.bring-asvab-to-your-school .test_session__link a + a {
  margin-left: 50px;
  position: relative;
}
.bring-asvab-to-your-school .test_session__link a + a:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #4A4A4A;
}
.bring-asvab-to-your-school .test_session__link button + button {
  margin-left: 50px;
  position: relative;
}
.bring-asvab-to-your-school .test_session__link button + button:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #4A4A4A;
}
.bring-asvab-to-your-school .button {
  margin: 0;
  min-width: 113px;
}
.bring-asvab-to-your-school .button + .button {
  margin-left: 15px;
}
.bring-asvab-to-your-school .modal_form_label {
  min-width: 90px;
  display: inline-block;
  padding-right: 15px;
}
.bring-asvab-to-your-school .invisible_label {
  visibility: hidden;
}
.bring-asvab-to-your-school .populations_grade {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.bring-asvab-to-your-school .populations_grade .populations_grade_group {
  padding: 0 20px;
}
.bring-asvab-to-your-school .reservation_info_lable {
  min-width: 110px;
  display: inline-block;
  padding-right: 10px;
}
.bring-asvab-to-your-school button.link {
  color: #4c44ac;
}
.bring-asvab-to-your-school .timepicker-ie {
  position: relative;
  top: -40px;
}
.bring-asvab-to-your-school .timepicker-required-input-ie {
  left: -160px;
  position: relative;
  z-index: -10;
  width: 0px !important;
}
.bring-asvab-to-your-school .timepicker-validation-error {
  border: 2px solid red;
}
@media screen and (max-width: 63.9375em) {
  .bring-asvab-to-your-school .form_slides_wrapper ul li {
    width: 42px;
  }
  .bring-asvab-to-your-school .timepicker-ie {
    top: -20px;
  }
  .bring-asvab-to-your-school .timepicker-required-input-ie {
    top: 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .bring-asvab-to-your-school .small-6 {
    width: 50% !important;
  }
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .bring-asvab-to-your-school .sm-label-120 {
    max-width: 120px;
    width: 100%;
  }
  .bring-asvab-to-your-school .sm-label-150 {
    max-width: 150px;
    width: 100%;
  }
  .bring-asvab-to-your-school .mb-sm-15 {
    margin-bottom: 15px !important;
  }
  .test_session__link {
    display: inline-flex;
    flex-direction: column;
}
  .bring-asvab-to-your-school .test_session__link a + a {
    margin: 15px 0 0 0;
  }
  .bring-asvab-to-your-school .test_session__link a + a:before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
  }
  .bring-asvab-to-your-school .test_session__link button + button {
    margin: 15px 0 0 0;
  }
  .bring-asvab-to-your-school .test_session__link button + button:before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
  }
  .bring-asvab-to-your-school .timepicker-ie {
    top: 0px;
  }
}

/* styles for text-angular rich text editor */
.ta-editor {
  min-height: 100px;
  max-height: 100px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

/* Due to global p settings the <p> tag was showing incorrectly inside the rich text editor */
.ta-editor p{
  margin: 0 !important;
}
.ta-hidden-input{
  display: none !important;
}
/* end styles for text-angular rich text editor */


/* bring asvab to your school modal CSS Over*/