<div class="main" style="padding-bottom:0px;">
	<!-- Login Email Modal START -->
	<div ng-show="isEmailLogin">
		<div class="popup-main">
			<div class="mobile-login-form email-login">
				<div class="popup-details" style="padding:1rem;">
					<h4>Login</h4>
					<div class="popup-main-content">
						<span style="color:red; font-weight:bold;">{{loginEmailLabel}}</span>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Login with your email address.</h3>
						<div class="popup-form-filed">
							<form ng-submit="EmailLogin()">
								<label for="email" class="sr-only">Email:</label>
								<input type="email" id="email" ng-model="email" placeholder="Email" required/>
								
								<label for="password" class="sr-only">Password:</label>
								<input type="password" id="password" ng-model="password" placeholder="Password" required/>

								<!--<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
								
								<p><a ng-click="toggleForgotPass();">I forgot my password</a></p>
								<button type="submit" class="button">Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a ng-click="showRegisterModal();">Create account</a></li>
						<li><a ng-click="toggleAccessCodeLogin();">Use access code only</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				ng-click="modalOptions.close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Login Email Modal END -->
	
	<!-- Login AccessCode Modal START -->
	<div ng-show="isAccessCodeLogin">
		<div class="popup-main">
			<div class="mobile-login-form access-login">
				<div class="popup-details" style="padding:1rem;">
					<h4>Login</h4>
					<div class="popup-main-content">
						<span style="color:red; font-weight:bold;">{{loginAccessCodeLabel}}</span>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Login with Access Code only</h3>
						<div class="popup-form-filed">
							<form ng-submit="AccessCodeLogin()">
								<label for="accessCode" class="sr-only">Access Code:</label>
								<input type="text" id="accessCode" ng-model="accessCode" placeholder="Access Code" required/>

								<!--<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
								<button type="submit" class="button" ng-disabled="disabled">Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a ng-controller="LogOutController" ng-click="showRegisterModal();">Create account</a></li>
						<li><a ng-click="toggleEmailLogin();">Use email to login</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				ng-click="modalOptions.close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Login AccessCode Modal END -->
	
	<!-- Forgot Password Modal START -->
	<div ng-show="didForgetPass">
		<div class="popup-main">
			<div class="mobile-login-form forgot-pass-form">
				<div class="popup-details" style="padding:1rem;">
					<h4>Forgot your password</h4>
					<div class="popup-main-content">
						<span style="color:red; font-weight:bold;">{{forgetLabel}}</span>
						<b>You must login to access ASVAB CEP exclusive features.</b>
						<h3>Enter your Email Address</h3>
						<div class="popup-form-filed">
							<form ng-submit="RequestResetPassword()">
								<label for="requestPasswordEmail" class="sr-only">Email</label>
								<input type="email" id="requestPasswordEmail" ng-model="requestPasswordEmail" placeholder="Email" required/>

								<!--<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>-->
								<button type="submit" class="button">Request Password Reset</button>
							</form>
						</div>
					</div>
				</div>
				<div class="popup-form-footer">
					<ul>
						<li><a ng-click="toggleEmailLogin();">Back to Login</a></li>
					</ul>
				</div>
			</div>
			<button class="close-button" aria-label="Close modal" type="button"
				ng-click="modalOptions.close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<!-- Forgot Password Modal END -->
</div>



