<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div ng-show="!isRegister && !isForgotPassword">
		<h4>Login</h4>
		<div class="row">

			<!-- access code login -->
			<div class="medium-6 columns">
				<h3 class="headerTest">LOGIN USING YOUR ACCESS CODE</h3>
				<p>You must have an access code to use the FYI and the
					OCCU-Find. This 10-digit number is printed on your ASVAB Summary
					Results Sheet.</p>
				<label>
					<font color="red">{{loginAccessCodeLabel}} </font>
				</label>
				<input type="text" style="width: 150px" placeholder="Access Code"
					ng-model="accessCode" ng-change="clearLoginAccessCodeLabel()" />
				<a class="button" ng-click="AccessCodeLogin()">Login</a>
			</div>

			<!-- email login -->
			<div class="medium-6 columns" id="right">
				<h3>LOGIN WITH YOUR EMAIL ADDRESS</h3>
				<label>
					<font color="red">{{loginEmailLabel}} </font>
				</label>
				<input id="loginEmail" type="email" style="width: 150px"
					id="inputEmail3" placeholder="Email" ng-model="email"
					ng-change="clearLoginEmailLabel()" />

				<input style="margin-bottom: 0px; width: 150px;" type="password"
					id="loginPassword" placeholder="Password" ng-model="password"
					ng-change="clearLoginEmailLabel()" />
				<a ng-click="isForgotPassword = !isForgotPassword">I forgot my
					password</a> <br> <br> <a class="button"
					ng-click="EmailLogin()">Login</a> <br> <br>
				<h3>I don't have an account yet</h3>
				Click REGISTER to create an account for easy access to your personal
				career exploration. <br> <br> <a class="button"
					ng-click="isRegister = !isRegister">Register</a>

			</div>
		</div>

		<button class="close-button" aria-label="Close modal" type="button"
			ng-click="modalOptions.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- registration -->
	<div ng-show="isRegister">
		<h4>Register</h4>
		<div class="row">

			<!-- access code login -->
			<div class="medium-6 columns">
				<h3 class="headerTest">Create Your Account</h3>
				<p>In order to create an account you must have a 10-digit access
					code, which is printed on you ASVAB Summary Results Sheet. Once
					your account is created you will be able to login with your email
					address and a password.</p>
				<p>Password Requirements...</p>
			</div>

			<!-- email login -->
			<div class="medium-6 columns" id="right">
				<h3>LOGIN WITH YOUR EMAIL ADDRESS</h3>
				<label color="red">
					<font color="red">{{registrationLabel}} </font>
				</label>
				<input type="text" class="form-control" id="registerAccessCode"
					placeholder="Access Code" ng-model="registerAccessCode"
					ng-change="clearRegistrationLabel()" />
				<input type="email" class="form-control" id="registerEmail"
					placeholder="Email" ng-model="registerEmail"
					ng-change="clearRegistrationLabel()" />
				<input type="password" class="form-control" id="registerPassword1"
					placeholder="Password" ng-model="registerPassword1"
					ng-change="clearRegistrationLabel()" />
				<input type="password" class="form-control" id="registerPassword2"
					placeholder="Retype Password" ng-model="registerPassword2"
					ng-change="clearRegistrationLabel()" />

				<a class="button" ng-click="RegisterStudent()">Register</a>

			</div>
		</div>

		<button class="close-button" aria-label="Close modal" type="button"
			ng-click="modalOptions.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- forgot password -->
	<div ng-show="isForgotPassword">
		<h4>FORGOT YOUR PASSWORD</h4>
		<div class="row">
			<form role="form">
				<div class="form-group">
					<input style="width: 150px" type="email" class="form-control"
						id="resetEmail" placeholder="Email" />
				</div>

				<button class="button" ng-click="RequestResetPassword()">Request
					Password Reset</button>
			</form>
		</div>

		<button class="close-button" aria-label="Close modal" type="button"
			ng-click="modalOptions.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>



