<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Your email address was previously used to create an account. Select the account features you want to save.</h3>
</div>

<!-- for favorites and error messages -->
<div class="modal-body">
	<form class="container">

		<div class="checkbox">
			<label for="cbxProfileFlag">
				<input id="cbxProfileFlag" type="checkbox" ng-model="profileFlag"> Merge Portfolio
			</label>
			<label for="cbxCareerPlanFlag">
				<input id="cbxCareerPlanFlag" type="checkbox" ng-model="careerPlanFlag"> Merge Education/Career Plan
			</label>
		</div>
		
		<div ng-show="loading" class="loading">
			<img src="images/spinner.gif">
		</div>

		<div ng-show="statusMessage">
			<font color="red"> {{message}} </font>
		</div>
		
		
		<div class="row">
				<a href="" ng-click="modalOptions.close()" class="button">Cancel</a>
				<a href="" ng-click="mergeAccount()" class="button">Submit</a>
		</div>
	</form>

</div>