<div class="main" style="padding-bottom:0;">
	<div class="popup-main" style="max-width:100%;">
		<div class="popup-details" style="padding:1rem;">
			<h4>Register</h4>
			<h3>Create an account</h3>
			<p>You must use an access code to create an account. Participant access codes are printed on the ASVAB Summary Results sheet.</p>
			<p>Don't get locked out. Your email address is not required to create an account but supplying it ensures uninterrupted access to exploring careers if you lose your access code.</p>
			<div class="popup-form-filed">
				<form ng-submit="RegisterStudent()">
					<label for="registerAccessCode" class="sr-only">Access Code:</label>
					<input type="text" id="registerAccessCode" ng-model="registerAccessCode" placeholder="Access Code" ng-change="checkForPromoCode()" required/>
					
					<label for="registerEmail" class="sr-only">Email:</label>
					<input type="email" id="registerEmail" ng-model="registerEmail" placeholder="Email" required/>
					
					<label for="registerPassword1" class="sr-only">Password:</label>
					<input type="password" id="registerPassword1" ng-model="registerPassword1" placeholder="Password" required/>
					
					<label for="registerPassword2" class="sr-only">Retype Password</label>
					<input type="password" id="registerPassword2" ng-model="registerPassword2" placeholder="Retype Password" required/>
					
					<div ng-if="isStudentCode">
						<label for="registerStudentId" class="sr-only">Student ID (optional)</label>
						<input type="text" id="registerStudentId" ng-model="$parent.registerStudentId" placeholder="Student ID (optional)"/>
					</div>	
					
					<div ng-if="isUsingPromoCode">
						<label for="firstName" class="sr-only">First Name</label>
						<input type="text" id="firstName" ng-model="$parent.firstName" placeholder="First Name" required/>

						<label for="lastName" class="sr-only">Last Name</label>
						<input type="text" id="lastName" ng-model="$parent.lastName" placeholder="Last Name" required/>

						<label for="phoneNumber" class="sr-only">Phone Number (optional)</label>
						<input type="text" id="phoneNumber" ng-model="$parent.phoneNumber" placeholder="Phone Number (optional)"/>

						<div style="display: flex;">
							<label for="function" class="sr-only">Select Your Function</label>
							<select id="function" ng-model="$parent.functionId" required>
								<option value="">Select function</option>
								<option ng-repeat="option in functions" value="{{option.id}}">{{option.name}}</option>
							</select>

							<label ng-if="functionId === '5'" for="functionOther" class="sr-only">Function Other</label>
							<input ng-if="functionId === '5'" 
								type="text"
								id="functionOther"
								ng-model="$parent.$parent.functionOther"
								placeholder="Function Other"
								ng-required="functionId === '5'"
								style="margin-left: 10px"
							/>
						</div>

						<div ng-if="functionId === '1' || functionId === '2' || functionId === '3'">
							<label for="schoolName" class="sr-only">School Name (optional)</label>
							<input type="text" id="schoolName" ng-model="$parent.$parent.schoolName" placeholder="School Name (optional)"/>

							<label for="schoolZipCode" class="sr-only">School Zip Code (optional)</label>
							<input type="text" id="schoolZipCode" ng-model="$parent.$parent.schoolZipCode" placeholder="School Zip Code (optional)"/>

							<label for="schoolState" class="sr-only">School State (optional)</label>
							<input type="text" id="schoolState" ng-model="$parent.$parent.schoolState" placeholder="School State (optional)"/>
						</div>

						<label for="essName" class="sr-only">ESS Name (optional)</label>
						<input type="text" id="essName" ng-model="$parent.essName" placeholder="ESS Name (optional)"/>

						<label for="conferences" class="sr-only">Select Conference (optional)</label>
						<select id="conferences" ng-model="$parent.conferenceId">
							<option value="">Select conference (optional)</option>
							<option ng-repeat="option in conferences" value="{{option.id}}">{{option.name}}</option>
						</select>

						<label for="eventName" class="sr-only">Event Name (optional)</label>
						<input type="text" id="eventName" ng-model="$parent.eventName" placeholder="Event Name (optional)"/>

					</div>
					
					<label for="optedInCommunications">
						<input type="checkbox" ng-model="optedInCommunications" id="optedInCommunications"/> I would like to receive email communications from the ASVAB CEP
					</label>

					<br />

					<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="clear: both;"></div>
					
					<p style="color:red;">{{registrationLabel}}</p>
					
					<button type="submit" class="button" ng-disabled="disableForm">Register</button>
				</form>
			</div>		
		</div>
		<div class="popup-form-footer">
			<ul>
				<li><a ng-controller="FooterController" ng-click="asvabModal();">How can I bring the ASVAB CEP to my school?</a></li>
			</ul>
		</div>
	</div>
	<button class="close-button" aria-label="Close modal" type="button"
			ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>