<div class="main" style="padding: 1rem; padding-bottom: 50px;">
	<!-- login modal -->
	<div ng-show="!isRegister && !isForgotPassword">
		<h4>Login</h4>
		<div class="row" ng-init="create = false;">

			<!-- email login -->
			<div ng-hide="create" class="medium-12 columns">
				<div>
					<h3 class="headerTest">Enter access code:</h3>
					<p class="text-danger">{{teacherAccessCodeLabel}}</p>
					<input type="text" class="form-control" id="code" placeholder="Code" ng-model="teacherAccessCode" />

					<a class="button" ng-click="validateTeacherPromoCode()">Submit</a>
					<br>
					<a href="/" ng-click="showLoginModal()">Already Registered?</a>	
				</div>

			</div>

			<!-- TODO: initially hide and then show if valid access code -->
			<div ng-show="create" class="medium-12 columns">
				<h3 class="headerTest">Create Your Account</h3>
				<p class="text-danger">{{registrationLabel}}</p>
				<input id="email" type="email" id="" placeholder="Email Address" ng-model="registerEmail" ng-change="clearRegistrationLabel()"  />
				<!-- <input id="subject" type="text" id="" placeholder="Subject You Teach" ng-model="registerSubject" ng-change="clearRegistrationLabel()"  /> -->
				<input type="password" id="password1" placeholder="Password" ng-model="registerPassword1" ng-change="clearRegistrationLabel()"  />
				<input type="password" id="password2" placeholder="Retype Password"  ng-model="registerPassword2"  ng-change="clearRegistrationLabel()"  />
				<div vc-recaptcha key="recaptchaKey" ng-model="recaptchaResponse" style="transform:scale(0.6, 0.6);-webkit-transform:scale(0.6, 0.6);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
				<a class="button"  ng-click="teacherRegistration()" >Register</a> <br> <br>
			</div>

		</div>

		<button class="close-button" aria-label="Close modal" type="button"
			ng-click="modalOptions.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>


	<button class="close-button" aria-label="Close modal" type="button" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
</div>



