<!-- <update-meta property="og:title" content="Bring the ASVAB CEP to your school!"></update-meta> -->
<!-- <update-meta property="og:description" content="If your school needs a career exploration program that allows students to explore all of their post-secondary options, it's easy to sign up and free to participate."></update-meta> -->
<update-meta property="og:url" content="{{absUrl}}"></update-meta>
<update-meta property="og:image" content="https://www.asvabprogram.com/media-center-content/thumbnails/social-share/Webshare_facebook.jpg"></update-meta>
<!-- <update-meta property="og:type" content="article"></update-meta> -->

<update-meta name="twitter:card" content="summary_large_image"></update-meta>
<update-meta name="twitter:site" content="@asvabcep"></update-meta>
<!-- <update-meta name="twitter:title" content="Bring the ASVAB CEP to your school!"></update-meta>
<update-meta name="twitter:description" content="If your school needs a career exploration program that allows students to explore all of their post-secondary options, it's easy to sign up and free to participate."></update-meta> -->
<update-meta name="twitter:title" content="{{page.pageTitle}}"></update-meta>
<update-meta name="twitter:description" content="{{page.pageDescription}}"></update-meta>
<update-meta name="twitter:image" content="https://www.asvabprogram.com/media-center-content/thumbnails/social-share/Webshare_facebook.jpg"></update-meta>

<!-- <update-title title="Bring the ASVAB CEP to your school | ASVAB Career Exploration Program"></update-title>
<update-meta name="description" content="If your school needs a career exploration program that allows students to explore all of their post-secondary options, it's easy to sign up and free to participate."></update-meta> -->

<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>


<div id="bring-to-your-school" class="occufind tpl-page-landing student" ng-controller="StaticPageMasterController">
	<div dynamic="page.pageHtml"></div>
</div>