<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind">
	<div ng-include="'cep/page-partials/header.html'"
		ng-controller="HeaderController"></div>
	<!-- <section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="small-7 columns">
				<ul id="sub-nav" class="menu">
						<li ng-show="occuFindUserLoggedIn" ><a href="favorites">View Favorites</a></li>
						<li><a href="media-center-article-list/5">Tutorials</a></li>
						<li><a href="general-help">Help</a></li>
				</ul>
			</div>
			<div class="small-5 columns">
				<h2 data-step="2">OCCU-FIND</h2>
			</div>
		</div>

    </section> -->
    
    <section class="hide-for-small-only" id="banner" style="">
        <div class="row">
            <div class="large-9 large-push-3 columns">
                <p class="caps">Continuing Education (CE) Opportunity</p>
            </div>
            <div class="large-3 large-pull-9 columns" style="padding-right: 0px;">
                <ul id="sub-nav" class="menu">
                    <li><a>&nbsp;</a></li>
                </ul>
            </div>
        </div>
		</section>
		
		<div dynamic="page.pageHtml"></div>

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>