<div class="alert-banner text-center" style="color: #fff; background-color: #8b2e33; padding: 10px; font-size:15px;">   		
	<span><span class="fa fa-exclamation-triangle"></span>&nbsp;ASVAB CEP testing and in-person Post-Test Interpretation activities are temporarily suspended in response to COVID-19.&nbsp;<a href="media-center-article/116" style="color: #46a4f5">Learn more &gt;&gt;</a></span>
</div>
<section id="content-wrap">
  <div class="row">
    <div class="medium-8 columns share"><a ng-click="trackSocialShare('Facebook', 'Bring-Asvab-to-School');"
        ng-controller="GA" socialshare="" socialshare-provider="facebook" socialshare-url="{{absUrl}}"
        socialshare-via="2055205968038605"><em></em></a>
      <a ng-click="trackSocialShare('Twitter', 'Bring-Asvab-to-School');" ng-controller="GA" socialshare=""
        socialshare-provider="twitter" socialshare-text="Bring the ASVAB CEP to your school!"
        socialshare-url="{{absUrl}}" socialshare-via="ASVABCEP"><em></em></a>
      <a ng-click="trackSocialShare('LinkedIn', 'Bring-Asvab-to-School');" ng-controller="GA" socialshare=""
        socialshare-description="If your school needs a career exploration program that allows students to explore all of their post-secondary options, it's easy to sign up and free to participate."
        socialshare-provider="linkedin" socialshare-text="Bring the ASVAB CEP to your school!"
        socialshare-url="{{absUrl}}"><em></em></a>
      <a ng-click="trackSocialShare('Email', 'Bring-Asvab-to-School');" ng-controller="GA" socialshare=""
        socialshare-body="If your school needs a career exploration program that allows students to explore all of their post-secondary options, it's easy to sign up and free to participate. {{absUrl}}"
        socialshare-provider="email" socialshare-subject="Bring the ASVAB CEP to your school!"><em></em></a>
    </div>
    <div class="medium-4 columns"></div>
  </div>
  <header class="row">
    <div class="medium-3 medium-push-9 columns">
      <div class="logo">
        <h1><a href="./"><img alt="ASVAB" src="images/logo.png" /></a></h1>
      </div>
    </div>
    <div class="medium-9 medium-pull-3 columns" role="main">
      <h2>It's easy to bring the ASVAB CEP to your school!</h2>
    </div>
  </header>
  <div class="row">
    <div class="medium-3 medium-push-9 columns show-for-medium">
      <div id="boy"><a class="button" href="student-program" style="font-size:18px;line-height:35px;border:0;">What to
          Expect?</a>
        <img src="images/boy.png" /><a class="zoom" ng-click="imageZoom()">+</a>
      </div>
    </div>
    <section class="medium-9 medium-pull-3 columns" id="main-content" role="main">
      <h3>What are you waiting for? Bring ASVAB CEP to your school today!</h3>
      <div id="lower">
        <form ng-submit="shareWithCounselor()">
          <div class="row">
            <div class="medium-6 columns">
              <h3><strong>Are you a</strong> counselor or testing coordinator?</h3>
              <p>Schedule a test date at your school by clicking the schedule button below to ask questions about the
                ASVAB CEP, receive access to program materials, or schedule a test date at your school.</p><a
                class="button hide-for-medium" ng-click="asvabModal(true); trackScheduleClick();"
                ng-controller="FooterController">Schedule</a>
            </div>
            <div class="medium-6 columns">
              <h3><strong>Are you a</strong> Student or parent?</h3>
              <p>Let your school counselor know that you are interested by sharing important program information with
                them via email.</p>
              <p><input ng-disabled="formDisabled" ng-model="counselorEmail" placeholder="Counselor's email address"
                  required="" type="email" /></p>
              <p>Faculty email addresses can usually be found on your school's website.</p><span
                style="color:#cc0000;">{{errorSharing}}</span>
              <div key="recaptchaKey" ng-model="responseOne"
                style="transform:scale(0.77, 0.77);-webkit-transform:scale(0.77, 0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"
                vc-recaptcha=""></div><button class="button hide-for-medium" ng-disabled="formDisabled"
                type="submit">Share</button><span class="fa fa-circle-o-notch fa-spin fa-2x fa-fw hide-for-medium"
                id="save-indicator" ng-if="formDisabled" style="margin-top:5px;"></span>
            </div>
          </div>
          <div class="show-for-medium row">
            <div class="medium-6 columns"><a class="button" ng-click="asvabModal(true); trackScheduleClick();"
                ng-controller="FooterController">Schedule</a>
            </div>
            <div class="medium-6 columns"><button class="button" ng-disabled="formDisabled"
                type="submit">Share</button><span class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" id="save-indicator"
                ng-if="formDisabled" style="margin-top:5px;"></span></div>
          </div>
        </form>
      </div>
    </section>
    <div class="hide-for-medium" id="boy"><img src="images/boy.png" /><a class="zoom" ng-click="imageZoom()">+</a>
    </div>
  </div>
</section>
<section class="page-footer" id="content-wrap">
  <div class="row">
    <div class="medium-8 columns">
      <p><strong>ASVAB CEP is designed to empower students to explore their career and post-secondary options in the
          context of their skills and interests. Then, leverage the future-oriented planning tools to develop an action
          plan to share with parents and educators -- all without cost or commitment.</strong></p>
      <h3>The ASVAB CEP has three components:</h3>
      <ol>
        <li><strong>Take the ASVAB</strong>&nbsp;- An aptitude test that allows students to identify their skill
          strengths.</li>
        <li><strong>Identify Interests&nbsp;</strong>- An interest inventory that highlights work-related interest areas
          where students are most likely to succeed.</li>
        <li><strong>Explore and Plan</strong> - The results from the validated aptitude and interest assessments serve
          as the basis of informed career exploration. A full suite of future-oriented planning tools help students
          identify goals and develop an action plan to share with parents and educators.</li>
      </ol>
    </div>
  </div>
</section>