<div id="main">
  <div autoscroll="true" class="ng-scope">
    <div id="fyi" class="occufind ng-scope">
      <section id="countdown">
        <section class="countdown-link">
          <header class="header">
            <div class="container">
              <div class="main-menu">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="main-logo"><a ng-href="./" href="./"><img alt="ASVAB logo"
                          src="images/head-Logo.png"></a></div>
                  </div>
                  <div class="col-md-6 col-sm-7 col-md-offset-2 col-sm-offset-1 hidden-xs">
                    <div class="social-wrapper">
                      <ul class="social-icon">
                        <li class="title-icon">Connect with us:</li>
                        <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em
                              class="fa fa-facebook"></em></a></li>
                        <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fa fa-twitter"></em></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                              class="fa fa-linkedin"></em></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                              class="fa fa-youtube"></em></a></li>
                        <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em
                              class="fa fa-instagram"></em></a>
                        </li>
                        <li><a href="#"><em class="fa fa-snapchat-ghost"></em></a></li>
                      </ul>
                      <a class="bring-btn button" href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-white ">
                <div class="col-xs-12">
                  <h1 class="option-title">Countdown to My Career Goals</h1>
                  <p class="option-disc text-white">Parents! Use this countdown calendar to help your high school
                    student reach milestones on their path to a career goal.</p>
                  <div class="triangle-down"></div>
                </div>
              </div>
            </div>
          </header>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="countdown-link-box-wrapper">
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>30</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}parents-post-test" target="_blank" class="countdown-box-content">
                      <p>Help guide your teen to post-secondary success with the ASVAB Career Exploration Program.</p>
                      <p><strong>Select LOGIN at asvabprogram.com/parents-post-test. Then use access code PARENTS to
                          create an account.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>29</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}parents-information" target="_blank" class="countdown-box-content">
                      <p>"I wish I knew that in high school." Talk about career planning with your teen.</p>
                      <p><strong>Use these easy tools with your high schooler to plan their path for their
                          future--whether it's college, work-based learning, and/or the Military.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>28</span>
                      <p>Days Left</p>
                    </div>
                    <a ng-click="showYouTubeModal('https://www.youtube.com/embed/6yNpUTuksa4')"
                      class="countdown-box-content">
                      <p>Skills + Interests = Career Satisfaction</p>
                      <p><strong>Find careers that match their skills and interests to increase their chance for career
                          satisfaction.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>27</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/124" target="_blank" class="countdown-box-content">
                      <p>The options are endless. Explore all pathways to success.</p>
                      <p><strong>Discover tools you can use together to identify careers and explore the various paths
                          possible after graduation.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>26</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/113" target="_blank" class="countdown-box-content">
                      <p>Plan “A” fails from time to time. Keep moving forward.</p>
                      <p><strong>The ability to adjust is an important skill to learn early.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>25</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}parents" target="_blank" class="countdown-box-content">
                      <p>The ASVAB CEP is more than just a test.</p>
                      <p><strong>Give your child the tools to make informed career decisions.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>24</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}option-ready" class="countdown-box-content">
                      <p>Be informed about your teen's options to determine the best path to reach goals.</p>
                      <p><strong>Share career planning expertise on social media. #OptionReady</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>23</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}student" target="_blank" class="countdown-box-content">
                      <p>The ASVAB measures strengths and potential for future success.</p>
                      <p><strong>View sample test questions and test-taking strategies.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>22</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}asvab-cep-at-your-school" target="_blank" class="countdown-box-content">
                      <p>Get the most out of the ASVAB CEP with a virtual post-test interpretation.</p>
                      <p><strong>Schedule one for your student.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>21</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}pdf/Service_Academy_Application_Timeline.pdf" target="_blank"
                      class="countdown-box-content">
                      <p>Interested in a Service Academy? The process starts in 10th grade.</p>
                      <p><strong>Get more information about application timelines.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>20</span>
                      <p>Days Left</p>
                    </div>
                    <a href="https://www.careersinthemilitary.com" target="_blank" class="countdown-box-content">
                      <p>The military offers a variety of career opportunities.</p>
                      <p><strong>Discover them all at careersinthemilitary.com</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>19</span>
                      <p>Days Left</p>
                    </div>
                    <a ng-click="showYouTubeModal('https://www.youtube.com/embed/wK2ugkShq7A')"
                      class="countdown-box-content">
                      <p>Knowing interests helps your teen find career satisfaction.</p>
                      <p><strong>Taking the FYI Interest Inventory can help them discover theirs.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>18</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}legislation" target="_blank" class="countdown-box-content">
                      <p>Graduation requirements can be fulfilled in a variety of ways.</p>
                      <p><strong>Many states recognize the ASVAB CEP as a graduation requirement.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>17</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/20" target="_blank" class="countdown-box-content">
                      <p>Community college is an affordable option.</p>
                      <p><strong>Explore the opportunities. Learn the pros and cons.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>16</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/55" target="_blank" class="countdown-box-content">
                      <p>Choosing the right college takes planning.</p>
                      <p><strong>Understand the steps involved to find the "right fit" college and how to get
                          accepted.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>15</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/66" target="_blank" class="countdown-box-content">
                      <p>There are different ways to enter and advance in the Military.</p>
                      <p><strong>Understand the different requirements, commitments, and responsibilities of enlisted
                          service members vs. officers.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>14</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/98" target="_blank" class="countdown-box-content">
                      <p>Apprentices can earn a competitive wage from day one.</p>
                      <p><strong>Get the information you need. Learn why your teen should consider being one.</strong>
                      </p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>13</span>
                      <p>Days Left</p>
                    </div>
                    <!-- <a href="{{baseUrl}}occufind-occupation-details/15-1199.02#mil-offering" target="_blank" class="countdown-box-content"> -->
                    <a ng-click="showSalaryModal()" class="countdown-box-content">
                      <p>Show me the money! Salary ranges are based on years of experience.</p>
                      <p><strong>Evaluate the return on investment of your teen's post-secondary plan.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>12</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/14" target="_blank" class="countdown-box-content">
                      <p>Explore all the options. Plan for success. #OptionReady</p>
                      <p><strong>There are many ways to be successful. Help your teen discover them all.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>11</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/8" target="_blank" class="countdown-box-content">
                      <p>Growth equals opportunity. Seek high-demand jobs.</p>
                      <p><strong>Some industries are poised to expand faster than others. Review the list of Bright
                          Outlook careers.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>10</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}student-explore" target="_blank" class="countdown-box-content">
                      <p>There are over 1,000 careers to explore!</p>
                      <p><strong>Map out a career plan based on skills, interests, and job requirements.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>9</span>
                      <p>Days Left</p>
                    </div>
                    <a href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/Military_Check_list.pdf"
                      target="_blank" class="countdown-box-content">
                      <p>There are steps to take when considering military enlistment.</p>
                      <p><strong>Review the enlistment checklist.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>8</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/100" target="_blank" class="countdown-box-content">
                      <p>College is expensive. Discover scholarship opportunities.</p>
                      <p><strong>Find free money for college!</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>7</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/118" target="_blank" class="countdown-box-content">
                      <p>Discover ways to learn and grow outside of academia!</p>
                      <p><strong>A gap year is not just a year off. Help your teen make their time productive.</strong>
                      </p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>6</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/64" target="_blank" class="countdown-box-content">
                      <p>It's important to document experiences and achievements along the way.</p>
                      <p><strong>Help your teen prepare a resume.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>5</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/56" target="_blank" class="countdown-box-content">
                      <p>Extracurricular activities could hold the key to career satisfaction.</p>
                      <p><strong>What does your teen enjoy doing most? Don't underestimate the importance of lessons
                          learned outside the classroom.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>4</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/109" target="_blank" class="countdown-box-content">
                      <p>Only 29% of American youth (ages 17-24) qualify to serve in the Military.</p>
                      <p><strong>Learn what makes your teen eligible for military service.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>3</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}media-center-article/112" target="_blank" class="countdown-box-content">
                      <p>Recruiter interviews can be intimidating. Prepare for the conversation!</p>
                      <p><strong>Get your teen ready for their college, business, sports or military
                          opportunities.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>2</span>
                      <p>Days Left</p>
                    </div>
                    <a href="{{baseUrl}}pdf/ASVAB_CEP_Cost_of_a_Career.pdf" target="_blank"
                      class="countdown-box-content">
                      <p>Different career goals have different costs. Make a financial plan.</p>
                      <p><strong>Post-secondary plans come at varying price points. Crunch the numbers
                          together.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="countdown-link-box">
                    <div class="countdown-date"><span>1</span>
                      <p>Days Left</p>
                    </div>
                    <a href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/ASVAB_CEP_Edu_and_Career_Plans.pdf"
                      target="_blank" class="countdown-box-content">
                      <p>Jump-start career plans by roadmapping interests and activities. Then, align high school
                        courses.</p>
                      <p><strong>Use this tool to fine-tune the process.</strong></p>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 href="{{baseUrl}}asvab-cep-at-your-school" style="padding-bottom: 0px;">You made it! Keep setting goals.
          </h2>
          <div class="row" style="display: flex; flex-direction: column; padding-bottom: 55px">
            <a href="{{baseUrl}}asvab-cep-at-your-school"
              style="text-align: center; padding-top: 10px; padding-bottom: 5px; font-size: 15px">Tell your teen's
              school counselor, you want the ASVAB CEP</a>
            <a href="{{baseUrl}}asvab-cep-at-your-school"
              style="text-align: center; padding-bottom: 0px; font-size: 15px">at their school so students can make
              informed career goals. </a>
          </div>
        </section>
      </section>

    </div>
  </div>
</div>