<section id="content-wrap">
  <div class="row">
    <div class="small-12 columns show-for-small-only">
      <div class="left-sub-nav">
        <ul class="menu vertical" id="steps">
          <li>
            <h3 id="innerTitle">The ASVAB CEP</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section id="main-content" role="main">
    <div class="row column">
      <h2 class="program-title">ASVAB CEP is a Free Career Planning Resource with Three Components</h2>
    </div>
  </section>
</section>
<section id="components-wrap">
  <div class="row">
    <div class="small-8 columns">
      <ol id="three-components">
        <li><strong>The ASVAB test</strong> - A multiple aptitude test that allows students to identify their skill
          strengths</li>
        <li><strong>FYI</strong> - An interest inventory that highlights work-related interest areas where students are
          most likely to succeed</li>
        <li><strong>OCCU-Find</strong> - A catalog of careers with relevant occupational data and a full suite of
          future-oriented planning tools to help students develop an action plan to share with parents and educators
        </li>
      </ol>
    </div>
    <div class="small-4 columns" id="hexagons"><img src="images/hexagons.png" /><img class="show-for-large" id="girl"
        src="images/girl.png" /></div>
  </div>
</section>
<section class="section-overview bring_section bg-green">
  <div class="row">
    <div class="col-sm-5">
      <a href="asvab-cep-at-your-school">Bring the ASVAB CEP to Your School <em class="fa fa-angle-right"></em></a>
    </div>
    <div class="col-sm-2 text-center"><hr class="ed-divider"></div>
    <div class="col-sm-5">
      <a href="continuing-education">Continuing Education Opportunity <em class="fa fa-angle-right"></em></a>
    </div>
  </div>
</section>
<div id="educators" style="background-color:#ffffff;" class="sub-nav-wrap">
  <div id="guides" style="position:relative;top:30px;">
    <div class="row column">
      <p>These components give young people the confidence to map out a post-secondary plan that aligns with their
        individual skills and interests. Students in grades 10-12 and those in first and second year post-secondary can
        participate voluntarily.</p>
      <p>Schools using the ASVAB CEP provide a comprehensive career planning program that is tied to Career Clusters and
        <a target="_blank" href="{{documents}}ASVAB_CEP_Meets_ASCA_Nat_Standards.pdf">American School Counselor
          Association National
          Standards</a> - at no cost and no commitment.</p>
    </div>
    <div class="row" id="intentions">
      <div class="small-12 columns"></div>
      <div class="small-12 columns"></div>
    </div>
    <div class="row column">
      <div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {positionId : 10} : true"><a
          class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
          href="media-center-article/{{m.id}}" ng-show="m.typeId != 1"><img ng-src="{{m.thumbnailUrl}}" /></a> <a
          ng-click="showYouTubeModal(m.videoImgUrl)" ng-show="m.typeId == 1"><span class="image-wrapper"><img
              ng-src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
      <div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {positionId : 11} : true"><a
          class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
          href="media-center-article/{{m.id}}" ng-show="m.typeId != 1"><img ng-src="{{m.thumbnailUrl}}" /></a> <a
          ng-click="showYouTubeModal(m.videoImgUrl)" ng-show="m.typeId == 1"><span class="image-wrapper"><img
              ng-src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
      <div class="medium-4 columns tutorial" ng-repeat="m in mediaCenterList | filter : {positionId : 12} : true"><a
          class="resource-title" href="media-center-article/{{m.id}}">{{m.title}}</a> <a
          href="media-center-article/{{m.id}}" ng-show="m.typeId != 1"><img ng-src="{{m.thumbnailUrl}}" /></a> <a
          ng-click="showYouTubeModal(m.videoImgUrl)" ng-show="m.typeId == 1"><span class="image-wrapper"><img
              ng-src="{{m.thumbnailUrl}}" style="position:relative;" /><span id="play-icon"></span></span></a>
      </div>
    </div>
    <div class="medium-3 medium-pull-9 columns">
      <div class="left-sub-nav show-for-small-only">
        <ul class="menu vertical">
          <li>
            <h3>MORE EDUCATOR INFORMATION</h3>
          </li>
          <li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
          <li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
          <li><a href="federally-funded-sources">Federally Funded Sources <em class="fa fa-angle-right"></em></a></li>
          <li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
          <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>