<section id="content-wrap">
  <div class="row">
    <div class="medium-3 columns">
      <div class="show-for-medium" id="boy"><img src="images/boy.png" /><a class="zoom" ng-click="imageZoom()">+</a>
      </div>
    </div>
    <section class="medium-9 columns" id="main-content" role="main">
      <h2>It's easy to bring the ASVAB CEP to your school.</h2>
      <p>ASVAB CEP offers a practical solution in today's school environment where the 250:1 counselor to student ratio,
        as reported by the American School Counselor Association, does not allow for individualized post-secondary
        planning. </p><br />
      <h3>The ASVAB CEP has three components:</h3>
      <ol>
        <li><strong>Take the ASVAB -&nbsp;</strong>An aptitude test that allows students to identify their skill
          strengths.</li>
        <li><strong>Identify Interests </strong>- An interest inventory that highlights work-related interest areas
          where students are most likely to succeed.</li>
        <li><strong>Explore and Plan&nbsp;</strong>- The results from the validated aptitude and interest assessments
          serve as the basis of informed career exploration. A full suite of future-oriented planning tools help
          students identify goals and develop an action plan to share with parents and educators.</li>
      </ol>
      <hr />
      <p>Participating students have the freedom to explore the world of work without cost or commitment. Plus,
        everything you need -- testing personnel, assessments, reports, planning tools, and more -- is available for
        free! </p>
    </section>
    <div class="hide-for-medium" id="boy"><img src="images/boy.png" /><a class="zoom" ng-click="imageZoom()">+</a>
    </div>
  </div>
</section>
<section class="page-footer">
  <div class="row">
    <div class="medium-9 medium-push-3 columns">
      <div class="row column">
        <p><strong>What are you waiting for? Bring ASVAB CEP to your school today!</strong></p>
      </div>
      <div id="lower">
        <form ng-submit="shareWithCounselor()">
          <div class="row">
            <div class="medium-6 columns">
              <h3><strong>Are you a</strong> counselor or school administrator?</h3>
              <p>Schedule a test date at your school by clicking the schedule button below or call an Education Services
                Specialist at 1-800-323-0513 to ask questions about the ASVAB CEP, receive access to program materials,
                or schedule a test date at your school.</p><a class="button hide-for-medium"
                ng-click="asvabModal(true); trackScheduleClick();" ng-controller="FooterController">Schedule</a>
            </div>
            <div class="medium-6 columns">
              <h3><strong>Are you a</strong> Student or parent?</h3>
              <p>Let your school counselor know that you are interested by sharing important program information with
                them via email.</p>
              <p>Counselor's email address:<br /><input ng-disabled="formDisabled" ng-model="counselorEmail" required=""
                  type="email" /></p>
              <p><select ng-disabled="formDisabled" ng-model="studentHeardUs">
                  <option value="">--- How did you hear about us? ---</option>
                  <option value="Online Search">Online Search</option>
                  <option value="Online Ad">Online Ad</option>
                  <option value="Colleague/Friend">Colleague/Friend</option>
                  <option value="Conference">Conference</option>
                  <option value="Social Media">Social Media</option>
                  <option value="other">Other</option>
                </select>
                <input ng-disabled="formDisabled" ng-model="studentHeardUsOther"
                  ng-required="studentHeardUs === 'other'" ng-show="studentHeardUs === 'other'"
                  placeholder="Where did you us from?" type="text" /></p>
              <p>Faculty email addresses can usually be found on your school's website.</p><span
                style="color:#cc0000;">{{errorSharing}}</span>
              <div key="recaptchaKey" ng-model="responseOne"
                style="transform:scale(0.77, 0.77);-webkit-transform:scale(0.77, 0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"
                vc-recaptcha=""></div>
              <div class="medium-6 columns" id="right"><button class="button hide-for-medium" ng-disabled="formDisabled"
                  type="submit">Share</button><span class="fa fa-circle-o-notch fa-spin fa-2x fa-fw hide-for-medium"
                  id="save-indicator" ng-if="formDisabled" style="margin-top:5px;"></span></div>
            </div>
          </div>
          <div class="show-for-medium row">
            <div class="medium-6 columns"><a class="button" ng-click="asvabModal(true); trackScheduleClick();"
                ng-controller="FooterController">Schedule</a>
            </div>
            <div class="medium-6 columns"><button class="button" ng-disabled="formDisabled"
                type="submit">Share</button><span class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" id="save-indicator"
                ng-if="formDisabled" style="margin-top:5px;"></span></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>