<section id="content-wrap">
	<div class="row">
		<div class="small-12 columns show-for-small-only">
			<div class="left-sub-nav">
				<ul class="menu vertical" id="steps">
					<li>
						<h3>ASVAB TEST</h3>
					</li>
				</ul>
			</div>
		</div>
		<section class="medium-9 medium-push-3 columns" id="main-content" role="main">
			<h1 class="program-title">The ASVAB Test</h1>
			<p>The ASVAB measures developed abilities and helps predict future academic and occupational success.</p>
			<p>Find the order and content of the ASVAB subtests and sample test items, below. <a href="student">More
					test taking strategies.</a></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<uib-tabset active="active" class="tabbed" id="asvab-test">
				<uib-tab heading="Paper and Pencil" index="0">
					<p>In the paper and pencil (P&amp;P ASVAB), every examinee is given
						the same items. In order to measure ability accurately across all
						examinees, the P&amp;P-ASVAB includes items that range from very easy
						to very hard.</p>
					<div class="small-12 columns text-center"><a class="button"
							ng-click="showSampleTestModal(); trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
							ng-controller="GA" style="width:200px;">View sample test
							questions </a>
					</div>
					<p>This version consists of eight subtests, a total of 200 total items,
						and takes about three hours to complete.</p>
					<h4>Subtest areas:</h4>
					<hr />
					<div class="row">
						<div class="small-4 columns">
							<p><strong>General Science</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 25-item test measuring knowledge of life science, earth
								and space science, and physical science</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Arithmetic Reasoning</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 30-item test measuring ability to solve basic arithmetic
								word problems</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Word Knowledge</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 35-item test measuring ability to understand the meaning
								of words through synonyms</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Paragraph Comprehension</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 15-item test measuring ability to obtain information from
								written material</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Mathematics Knowledge</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 25-item test measuring knowledge of mathematical concepts
								and applications</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Electronics Information</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 20-item test measuring knowledge of electrical current,
								circuits, devices, and electronic systems</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Auto and Shop Information</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>An 25-item test measuring knowledge of wood and metal shop
								practices</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Mechanical Comprehension</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 25-item test measuring knowledge of the principles of
								mechanical devices, structural support, and properties of
								materials</p>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="small-12 columns text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
								ng-click="trackClick('ASR_Poster.pdf');" ng-controller="GA" style="width:200px;" target="_blank">View
								sample ASVAB Summary
								Results sheet </a>
						</div>
					</div>
				</uib-tab>

				<uib-tab heading="Computer Adaptive" index="1">
					<p>The computerized ASVAB CEP test (called CEP iCAT) is
						adaptive, meaning the test tailors to the examinee's ability level.
						All examinees begin the test with an item of average difficulty. If
						the examinee answers the first item correctly, the computer
						presents a harder item for question two. If the examinee answers
						item two incorrectly, the computer presents an easier item for
						question three. To summarize, CEP iCAT presents the best item for
						the individual. The best item is that which provides the most
						information about the examinee's ability level.</p>
					<div class="row">
						<div class="small-12 columns text-center"><a class="button"
								ng-click="showSampleIcatTestModal(); trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
								ng-controller="GA" style="width:200px;">View sample
								test questions </a>
						</div>
					</div>
					<p>The CEP iCAT consists of nine subtests, a total of 145 items.
						The CEP iCAT is self-paced and generally takes about 1.5 hours to
						complete. Extra time is allotted for each subtest because CEP iCAT tests are catered to each individual.</p>
					<h4>Subtest areas:</h4>
					<hr />
					<div class="row">
						<div class="small-4 columns">
							<p><strong>General Science</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring knowledge of life science, earth
								and space science, and physical science</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Arithmetic Reasoning</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring ability to solve basic arithmetic
								word problems</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Word Knowledge</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring ability to understand the meaning
								of words through synonyms</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Paragraph Comprehension</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 11-item test measuring ability to obtain information from
								written material</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Mathematics Knowledge</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring knowledge of mathematical concepts
								and applications</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Electronics Information</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring knowledge of electrical current,
								circuits, devices, and electronic systems</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Auto Information</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>An 11-item test measuring knowledge of automotive
								maintenance and repair</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Shop Information</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>An 11-item test measuring knowledge of wood and metal shop
								practices</p>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p><strong>Mechanical Comprehension</strong>
							</p>
						</div>
						<div class="small-8 columns">
							<p>A 16-item test measuring knowledge of the principles of
								mechanical devices, structural support, and properties of
								materials</p>
						</div>
					</div>
					<div class="row">
						<div class="small-8 columns">
							<p>&nbsp;</p>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="small-12 columns text-center"><a
								href="https://prod-media.asvabprogram.com/CEP_PDF_Contents/CEP_ICAT_Post_Test.pdf" target="_blank">View
								sample CEP ICAT Summary Results sheet </a>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>

			<br /><strong>Score Release Options</strong><br />
			<p>The ASVAB CEP is used for career exploration and
				participation is always voluntary. In order to score tests and
				provide appropriate results, the following student information
				fields are required: student name, date of birth, gender, education
				level, and post-secondary intention. A Social Security number is not
				collected.</p>
			<p>Each school participating in ASVAB CEP selects one of eight
				available options regarding the information Department of Defense
				releases to the military services. These options are:</p>
			<div class="row">
				<div class="small-4 columns">
					<p><strong>Release Option</strong>
					</p>
				</div>
				<div class="large-8 columns">
					<p><strong>Results to Recruiting Services</strong>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 1</p>
				</div>
				<div class="large-8 columns">
					<p>7 days after test scores are
						mailed.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 2</p>
				</div>
				<div class="large-8 columns">
					<p>60 days after test scores are
						mailed. No contact prior to that time.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 3</p>
				</div>
				<div class="large-8 columns">
					<p>90 days after test scores are
						mailed. No contact prior to that time.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 4</p>
				</div>
				<div class="large-8 columns">
					<p>120 days after test scores are
						mailed. No contact prior to that time.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 5</p>
				</div>
				<div class="large-8 columns">
					<p>End of school year. No contact
						prior to that time.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 6</p>
				</div>
				<div class="large-8 columns">
					<p>7 days after test scores are
						mailed. No telephone solicitations by recruiters.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 7</p>
				</div>
				<div class="large-8 columns">
					<p>This is an administrative option
						used by United States Military Entrance Processing Command (USMEPCOM) ONLY for test administration issues
						for
						individual or group tests (test abandoned, cheating, insufficient
						proctors, fire drills, etc.). Not valid for enlistment purposes.
						Results not released to Recruiting Services.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<p>Option 8</p>
				</div>
				<div class="large-8 columns">
					<p>Not released to Recruiting
						Services</p>
				</div>
			</div><br />
			<p>Your school may also select a "split option," where two release
				options are used: one option allows release of scores to recruiters
				and one option restricts that release to accommodate individual
				requests.</p>
			<p>Participants can opt in or opt out of the release option
				chosen by the school by completing the appropriate form and
				submitting it to the school:</p>
			<p>&nbsp;</p>
			<center><span><a href="{{documents}}ASVAB_CEP_Opt_In_Letter.docx"
						ng-click="trackClick('ASVAB_CEP_Opt_In_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
							src="images/icon-word.png" />Opt In Letter </a>
				</span> &nbsp; <span> <a href="{{documents}}ASVAB_CEP_Opt_Out_Letter.docx"
						ng-click="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" ng-controller="GA" target="_blank"><img alt=""
							src="images/icon-word.png" />Opt Out Letter </a>
				</span>
			</center>
			<p>&nbsp;</p>
			<p>Coordinating the form with parents is a school responsibility. Communicate the release option your school
				selected so students and parents are aware of their ability to opt in to score release (if your school has
				chosen a no release option), or opt out of score release (if your school has chosen to release the scores).</p>
			<p>Your school must inform your Education Services Specialist of a student's wishes in order to have their
				individual scores processed accordingly.</p>
			<p><a href="general-help#release">Click here</a> to learn more about the score release options and the release of
				school directory information required by FERPA and ESSA. </p>
		</section>
		<div class="medium-3 medium-pull-9 columns">
			<div id="did-you-know">
				<p><strong class="caps">Did You Know?</strong>
				</p>
				<p>Administering easy test items to high-ability examinees is
					inefficient.</p>
				<p>High-ability examinees usually answer these items
					correctly so easy items provide little information about a
					high-ability examinee's level of ability.</p>
				<p>The same inefficiencies are true for administering hard
					items to low-ability examinees.</p>
				<p>The most accurate measurement occurs when the difficulty of
					the items is matched to the examinee's level of ability.</p>
				<p>You can learn more about the ASVAB at the <a href="http://official-asvab.com/whattoexpect_app.htm"
						target="_blank">Official Site of the ASVAB.</a>
				</p>
			</div>
			<div class="left-sub-nav show-for-small-only">
				<ul class="menu vertical">
					<li>
						<h3>MORE EDUCATOR INFORMATION</h3>
					</li>
					<li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
					<li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
					<li><a href="federally-funded-sources">Federally Funded Sources <em class="fa fa-angle-right"></em></a></li>
					<li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
					<li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>