<!-- Main Section -->
<section class="section-overview">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h3 class="program-title">FEDERALLY FUNDED SOURCES</h3>
        <p>
          Each of your students have different goals that require you to prepare them for a variety different pathways.
          Paths to success are not mutually exclusive. For example, college-bound students can obtain certifications and
          military-bound students can enroll in college. Luckily, everything you need to support every one of your
          students’ unique post-secondary plans is available here.
        </p>
        <p>
          Below, is a list of official resources sponsored by the federal government and endorsed by the DoD as the
          authoritative source for information about options for students after high school. Your tax dollars fund these
          federal resources making them free for schools to use.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sources-option">
    <div class="row">
	  <div class="col-md-12">
		<h4 class="sources-content-wrapper-title">Gap Year</h4>
		<div class="sources-content-wrapper single-sources-content mb-30 column-border-0">
			<div class="sources-content-inner">
				<div class="sources-content">
					<div class="sources-content-item">
						<a href="https://www.gapyearassociation.org/" target="_blank">
							<div class="sources-option-title">
								<h5>Gap Year Association</h5>
								<img src="images/www_icon.png" alt="World">
							</div>
							<div class="sources-img">
								<img src="images/gap_year.jpg" alt="Gap Year Association">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="sources-content-inner">
				<div class="sources-content">
					<div class="sources-content-item">
						<a href="https://www.nationalservice.gov/programs/americorps" target="_blank">
							<div class="sources-option-title">
								<h5>AmeriCorps</h5>
								<img src="images/www_icon.png" alt="World">
							</div>
							<div class="sources-img">
								<img src="images/Americorps.jpg" alt="AmeriCorps">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="sources-content-inner">
				<div class="sources-content">
					<div class="sources-content-item border-none">
						<p>More students are opting to gain life experience before beginning a more traditional post-secondary path. <br><br> <b>Explore the gap year, <a href="media-center-article/118" class="d-inline-block">here.</a></b></p>
					</div>
				</div>
			</div>
		</div>
	  </div>
      <div class="col-md-12">
        <div class="sources-content-wrapper mt-25">
          <div class="sources-content-inner">
            <h4>Post-secondary Education</h4>
            <div class="sources-content">
              <div class="sources-content-item">
                <a href="http://nces.ed.gov/collegenavigator/" target="_blank">
                  <div class="sources-option-title">
                    <h5>College Navigator</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/CollegeNavigator.jpg" alt="College Navigator" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://fafsa.ed.gov/" target="_blank">
                  <div class="sources-option-title">
                    <h5>FAFSA</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FAFSA.jpg" alt="FAFSA" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://studentaid.ed.gov/sa/resources" target="_blank">
                  <div class="sources-option-title">
                    <h5>Federal Student Aid</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FedRes_StudentAid.jpg" alt="Federal Student Aid" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://myfuture.com/" target="_blank">
                  <div class="sources-option-title">
                    <h5>MyFuture</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FedRes_Myfuture.jpg" alt="MyFuture" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
                  <div class="sources-option-title">
                    <h5>ROTC</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FederalResource.jpg" alt="ROTC" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="{{ssoUrl}}options-becoming-an-officer/service-academies" target="_blank">
                  <div class="sources-option-title">
                    <h5>Service Academies</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FederalResource.jpg" alt="Service Academies" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="sources-content-inner">
            <h4>Work-Based Learning</h4>
            <div class="sources-content">
              <div class="sources-content-item">
                <a href="https://www.apprenticeship.gov/educators/high-school-and-middle-school" target="_blank">
                  <div class="sources-option-title">
                    <h5>Apprenticeships.gov</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/apprenticeshipGov.jpg" alt="Apprenticeships.gov" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://www.careeronestop.org/" target="_blank">
                  <div class="sources-option-title">
                    <h5>CareerOneStop</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/careeronestop.jpg" alt="CareerOneStop" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://cte.ed.gov/wbltoolkit/" target="_blank">
                  <div class="sources-option-title">
                    <h5>Workbased Learning Toolkit</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FedRes_workbasedlearning.jpg" alt="Workbased Learning Toolkit" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="sources-content-inner">
            <h4>Military</h4>
            <div class="sources-content">
              <div class="sources-content-item">
                <a href="{{documents}}Military_Check_list.pdf" target="_blank">
                  <div class="sources-option-title">
                    <h5>Enlistment Checklist</h5>
                    <img src="images/pdf_icon.png" alt="PDF" />
                  </div>
                  <div class="sources-img">
                    <img src="images/Military_check_list.jpg" alt="Enlistment Checklist" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="{{ssoUrl}}options-becoming-an-officer/rotc" target="_blank">
                  <div class="sources-option-title">
                    <h5>ROTC</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FederalResource.jpg" alt="ROTC" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="{{ssoUrl}}options-becoming-an-officer/service-academies" target="_blank">
                  <div class="sources-option-title">
                    <h5>Service Academies</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FederalResource.jpg" alt="Service Academies" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="{{ssoUrl}}options" target="_blank">
                  <div class="sources-option-title">
                    <h5>Careers In the Military</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FedRes_Careersinthemilitary.jpg" alt="Careers In the Military" />
                  </div>
                </a>
              </div>
              <div class="sources-content-item">
                <a href="https://www.todaysmilitary.com/educator-resources" target="_blank">
                  <div class="sources-option-title">
                    <h5>Today’s Military</h5>
                    <img src="images/www_icon.png" alt="World" />
                  </div>
                  <div class="sources-img">
                    <img src="images/FedRes_Todaysmilitary.jpg" alt="Today’s Military" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="learn-more"><a class="button expanded" href="option-ready">Learn more about your options</a></div>
      </div>
    </div>
  </div>
</section>
<section class="resources-educators bg-light-gray">
  <div class="row">
    <div class="col-md-12">
      <h4>resources educators can use with students</h4>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="resources-educators-content">
            <img src="images/March2sucess.jpg" alt="March2Success" />
            <a href="https://www.march2success.com/" target="_blank">March2Success</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="resources-educators-content">
            <img src="images/Khan_acacdemy.jpg" alt="Khan Academy" />
            <a href="https://www.khanacademy.org" target="_blank">Khan Academy</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="resources-educators-content">
            <img src="images/DLIFLC.jpg" alt="DLIFLC" />
            <a href="https://www.dliflc.edu" target="_blank">Basic Skills Language & Culture</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="resources-educators-content">
            <img src="images/army_education_Outreach_program.jpg" alt="Army Education Outreach Program" />
            <a href="https://www.dliflc.edu" target="_blank">Army Education Outreach Program</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ask-question">
  <div class="row">
    <div class="col-md-12">
      <h3>Are you directly involved in your states' legislation?</h3>
      <div class="learn-more">
        <a class="button expanded" href="legislation">
          Learn more about your state’s
          legislation
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="medium-3 medium-pull-9 columns sub-nav-wrap">
      <div class="left-sub-nav show-for-small-only">
        <ul class="menu vertical">
          <li>
            <h3>MORE EDUCATOR INFORMATION</h3>
          </li>
          <li><a href="educators">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
          <li><a href="educators-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
          <li><a href="educators-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
          <li><a href="teachers">Classroom Tools <em class="fa fa-angle-right"></em></a></li>
          <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer Top Banner -->
<!-- <section class="footer-top-banner">
<div class="row">
  <div class="col-md-12 text-center">
    <p><a ng-controller="FooterController" ng-click="asvabModal()"><strong>Bring the ASVAB CEP to your
          school.</strong></a></p>
  </div>
</div>
</section> -->