<section id="content-wrap">
  <div class="small-12 columns show-for-small-only">
    <div class="left-sub-nav">
      <ul class="menu vertical" id="steps">
        <li>
          <h3 id="innerTitle">SiteMap</h3>
        </li>
      </ul>
    </div>
  </div>
  <div id="site-map-div">
    <div class="row">
      <div class="small-4 columns" style="padding-top:20px;">
        <h2>STUDENTS</h2>
        <p><a href="student">Understand The ASVAB</a></p>
        <p><a href="student-learn">Learn about Yourself</a></p>
        <p><a href="student-explore">Explore Careers</a></p>
        <p><a href="student-plan">Plan for Your Future</a></p>
      </div>
      <div class="small-4 columns" style="padding-top:20px;">
        <h2>Educators</h2>
        <p><a href="educators">The ASVAB CEP</a></p>
        <p><a href="educators-test">ASVAB Test</a></p>
        <p><a href="educators-post-test">Post-Test Activities</a></p>
        <p><a href="federally-funded-sources">Federally Funded Sources</a></p>
        <h2>Parents</h2>
        <p><a href="parents">The ASVAB CEP</a></p>
        <p><a href="parents-test">ASVAB Test</a></p>
        <p><a href="parents-post-test">Post-Test Activities</a></p>
        <p><a href="parents-information">How You Can Help</a></p>
      </div>
      <div class="small-4 columns" style="padding-top:20px;">
        <h2>GENERAL</h2>
        <p><a href="general-resources">All Resources</a></p>
        <p><a href="faq">Contact Us/FAQ </a></p>
        <p><a ng-click="asvabModal()" ng-controller="FooterController">Bring ASVAB CEP to Your School</a></p>
        <p><a href="option-ready">How to get Option Ready</a></p>
        <p><a href="legislation">Federal Legislation</a></p>
        <p><a href="general-help">Help</a></p>
        <p><a href="general-privacy-security">Privacy &amp; Security</a></p>
        <p><a href="general-link">Link to us</a></p>
        <p><a href="general-occufind-view-all">Complete Occupation List</a></p>
        <p><a href="media-center">Media Center</a></p>
        <ul>
          <li><a href="media-center-article-list/1">Student Articles</a></li>
          <li><a href="media-center-article-list/4">Educator Articles</a></li>
          <li><a href="media-center-article-list/2">Parent Articles</a></li>
          <li><a href="media-center-article-list/5">Tutorials</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>