<p>Medical assistants who do not have postsecondary education certificates learn their skills through on-the-job
  training. <a href="http://www.bls.gov/ooh/healthcare/medical-assistants.htm"><u>Physicians</u></a> or other medical
  assistants may teach a new assistant medical terminology, the names of the instruments, how to do daily tasks, how to
  interact with patients, and other tasks that help keep an office running smoothly. Medical assistants also learn how
  to code both paper and electronic health records (EHRs) and how to record patient information. It can take several
  months for an assistant to complete training, depending on the facility.</p>
<p>Medical assistants are not required to be certified in most states. However, employers may prefer to hire certified
  assistants.</p>
<p>Several organizations offer certification. An applicant must pass an exam and have taken one of several routes to be
  eligible for each certification. These routes include graduation from an accredited program and work experience, among
  others. In most cases, an applicant must be at least 18 years old before applying for certification.</p>
<p>The <a class="external" href="http://www.credentialingexcellence.org/ncca" target="_blank"
    rel="noopener noreferrer">National Commission for Certifying Agencies</a>, part of the <a class="external"
    href="http://www.credentialingexcellence.org/" target="_blank" rel="noopener noreferrer">Institute for Credentialing
    Excellence</a>, accredits five certifications for medical assistants:</p>
<ul>
  <li>Certified Medical Assistant (CMA) from the <a class="external" href="http://www.aama-ntl.org/" target="_blank"
      rel="noopener noreferrer">American Association of Medical Assistants</a></li>
  <li>Registered Medical Assistant (RMA) from <a class="external" href="http://www.americanmedtech.org/" target="_blank"
      rel="noopener noreferrer">American Medical Technologists</a></li>
  <li>National Certified Medical Assistant (NCMA) from the <a class="external" href="https://www.ncctinc.com/"
      target="_blank" rel="noopener noreferrer">National Center for Competency Testing</a></li>
  <li>Certified Clinical Medical Assistant (CCMA) from the <a class="external" href="http://www.nhanow.com/"
      target="_blank" rel="noopener noreferrer">National Healthcareer Association</a></li>
  <li>Certified Medical Administrative Assistant (CMAA) from the <a class="external" href="http://www.nhanow.com/"
      target="_blank" rel="noopener noreferrer">National Healthcareer Association</a></li>
</ul>
<p>Some states may require assistants to graduate from an accredited program, pass an exam, or both, in order to
  practice. Contact the state board of medicine for more information.</p>