<div>
	<p dir="ltr">Visible tattoos have often been thought of as workplace taboo. However, it&rsquo;s becoming more common
		to see professionals with body art and on places you traditionally wouldn&rsquo;t see in the office. So have
		attitudes toward tattoos in the workplace truly evolved? One thing is certain, times are changing, and the results
		might surprise you.</p>
	<p dir="ltr">The global staffing firm, Accountemps, <a
			href="http://rh-us.mediaroom.com/2019-12-18-Office-Etiquette-Survey-Bad-Language-Pets-Political-Decor-Remain-Biggest-Offenses"
			target="_blank">91% of senior managers surveyed</a> said that organizations have loosened up in the past decade.
		While bad behavior like foul language and displaying political messages are still considered unacceptable, <a
			href="https://www.prnewswire.com/news-releases/office-etiquette-survey-bad-language-pets-political-decor-remain-biggest-offenses-300976607.html"
			target="_blank">one-third of companies</a> now see no problem with employees donning visible tattoos (35%), casual
		attire (34%) and non-traditional hair colors (34%). Individuals with visible tattoos hold a variety of positions,
		spanning all industries, from entry-level to executives.&nbsp; </p>
	<p dir="ltr">Still, a quick &ldquo;tattoos in the workplace&rdquo; search on Google returns contradicting information.
		On one hand, you have <a href="https://www.sciencedirect.com/science/article/abs/pii/S0278431911001770"
			target="_blank">this scientific study</a> which states grooming and business attire are more important indicators
		in the hiring decision than tattoos and piercings. On the other, there is <a
			href="https://journals.sagepub.com/doi/abs/10.1177/0950017014528402" target="_blank">research stating</a> that
		visible tattoos had a predominantly negative effect on employment selection, driven by the hiring manager&rsquo;s
		perception of customer expectations, specifically in the service industry.&nbsp; </p>
	<p dir="ltr"><strong>So, what should you do if you&rsquo;re considering a tattoo?&nbsp;</strong> </p>
	<p dir="ltr">It&rsquo;s 2020 and the world of work is adapting to new social norms. While there is no federal law
		against hiring discrimination solely based on tattoos, it&rsquo;s important to consider how your tattoo&rsquo;s
		composition and placement might impact your potential to be hired <em>before</em> you get it. </p>
	<p dir="ltr">For example, all branches of the Military have adopted new tattoo policies in recent years, putting
		limitations on tattoo placement based on uniform specifications. With the <a
			href="https://www.marines.mil/News/News-Display/Article/788805/new-marine-corps-tattoo-regulations/"
			target="_blank">exception of the Marine Corps</a>, which does not allow tattoos on certain parts of the arms and
		legs, most of the Services follow the example below, which restricts tattoos on the face, neck, and hands, with the
		exception of tattooed wedding bands (which are allowed). This new tattoo policy eliminated the &ldquo;25% Coverage
		Rule,&rdquo; which stated an individual in the U.S. Air Force could not have tattoos covering more than 25% of their
		body.&nbsp; </p>
</div><!-- New Changes -->
<div class="cep_tabs tattoos_tabs tabbed">
	<ul class="nav nav-tabs">
		<li class="active"><a aria-controls="army" data-toggle="army" role="tab"><img
					ng-src="{{mediaUrl}}MEDIA_CENTER/images/army.png" /><span>Army</span></a></li>
		<li><a aria-controls="marine_corps" data-toggle="marine_corps" role="tab"><img
					ng-src="{{mediaUrl}}MEDIA_CENTER/images/marines.png" /><span>Marine Corps</span></a></li>
		<li><a aria-controls="navy" data-toggle="navy" role="tab"><img
					ng-src="{{mediaUrl}}MEDIA_CENTER/images/navy.png" /><span>Navy</span></a></li>
		<li><a aria-controls="air_force" data-toggle="air_force" role="tab"><img
					ng-src="{{mediaUrl}}MEDIA_CENTER/images/airforce.png" /><span>Air Force</span></a></li>
		<li><a aria-controls="coast_guard" data-toggle="coast_guard" role="tab"><img
					ng-src="{{mediaUrl}}MEDIA_CENTER/images/coast-guard.png" /><span>Coast Guard</span></a></li>
	</ul><!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active army_content" id="army" role="tabpanel"><img
				ng-src="{{mediaUrl}}MEDIA_CENTER/images/tattoo_tab1.jpg" /></div>
		<div class="tab-pane marine_corps_content" id="marine_corps" role="tabpanel"><img
				ng-src="{{mediaUrl}}MEDIA_CENTER/images/tattoo_tab2.jpg" /></div>
		<div class="tab-pane navy_content" id="navy" role="tabpanel"><img
				ng-src="{{mediaUrl}}MEDIA_CENTER/images/tattoo_tab3.jpg" /></div>
		<div class="tab-pane air_force_content" id="air_force" role="tabpanel"><img
				ng-src="{{mediaUrl}}MEDIA_CENTER/images/tattoo_tab4.jpg" /></div>
		<div class="tab-pane coast_guard_content" id="coast_guard" role="tabpanel"><img
				ng-src="{{mediaUrl}}MEDIA_CENTER/images/tattoo_tab5.jpg" /></div>
	</div>
</div>
<p dir="ltr"><em>Caption: Representation of the tattoo regulations for all military Services, as of January 2020. Visit
		the Service websites for official policies.</em> </p><!-- Changes Over -->
<div><br /></div>
<div>
	<p dir="ltr">Each branch bans tattoos of any kind that have discriminatory, racist, or support any type of gang or
		supremacist organization.&nbsp;</p>
	<p dir="ltr"><strong>Okay, but what if I&rsquo;m not interested in the military?</strong> </p>
	<p dir="ltr">Consider the industry where you&rsquo;re interested in working when deciding whether to get a tattoo in a
		visible area. Perhaps the hiring department for a service or retail position may be a little more lenient of visible
		tattoos than say a hospital, law firm, or high-stakes sales organization.&nbsp;</p>
	<p dir="ltr">As one example, positions that require security clearances often prohibit visible body markings of any
		kind, as noted by the <a href="https://www.secretservice.gov/join/careers/agents/" target="_blank">Secret
			Service</a>. However, the <a href="https://www.cia.gov/careers/faq/?tab=list-12" target="_blank">Central
			Intelligence Agency&rsquo;s (CIA) website</a> states, &ldquo;tattoos will not disqualify you from gaining
		employment at the CIA, and all professionally-qualified persons are encouraged to apply.&rdquo; </p>
	<p dir="ltr">Generally speaking, most employers echo the sentiment of the CIA and are looking for well-qualified,
		dependable candidates, not those who are tattoo-free. However, it is important to know that every employer has the
		right to establish and enforce a dress code, and tattoos and body piercings fit under that umbrella. Currently, <a
			href="https://www.eeoc.gov/laws/statutes/" target="_blank">United States discrimination laws</a> do not reference
		tattoos.&nbsp; </p>
	<p dir="ltr">A visible tattoo or statement piercing may (or may not) have an effect on your employability. Do your
		research before you get body art so that you don&rsquo;t unintentionally preclude yourself from the career you want.
	</p>
	<div>
		<style>
			p.p1,
			p.p3 {
				font-size: x-small;
				margin-bottom: 5px;
			}
		</style>
		<p class="p1"><strong>Sources</strong>:</p><br />
		<p class="p1"><span class="s1"> <a href="https://journals.sagepub.com/doi/abs/10.1177/0950017014528402"
					target="_blank">https://journals.sagepub.com/doi/abs/10.1177/0950017014528402</a> </span> </p>
		<p class="p1"><span class="s1"> <a
					href="https://www.marines.mil/News/News-Display/Article/788805/new-marine-corps-tattoo-regulations/"
					target="_blank">https://www.marines.mil/News/News-Display/Article/788805/new-marine-corps-tattoo-regulations/</a>
			</span> </p>
		<p class="p1"><span class="s1"> <a href="https://globalworkplaceanalytics.com/telecommuting-statistics"
					target="_blank">https://globalworkplaceanalytics.com/telecommuting-statistics</a> </span> </p>
		<p class="p1"><span class="s1"> <a
					href="https://www.natlawreview.com/article/regulating-appearance-workplace-employer-s-guide-to-avoid-employment-discrimination-"
					target="_blank">https://www.natlawreview.com/article/regulating-appearance-workplace-employer-s-guide-to-avoid-employment-discrimination-</a>
			</span> </p>
		<p class="p1"><span class="s1"> <a href="https://www.eeoc.gov/laws/statutes/"
					target="_blank">https://www.eeoc.gov/laws/statutes/</a> </span> </p>
		<p class="p1"><span class="s1"> <a href="https://www.secretservice.gov/join/careers/agents/"
					target="_blank">https://www.secretservice.gov/join/careers/agents/</a> </span> </p>
		<p class="p1"><span class="s1"> <a
					href="https://www.prnewswire.com/news-releases/office-etiquette-survey-bad-language-pets-political-decor-remain-biggest-offenses-300976607.html"
					target="_blank">https://www.prnewswire.com/news-releases/office-etiquette-survey-bad-language-pets-political-decor-remain-biggest-offenses-300976607.html</a>
			</span> </p>
		<p class="p3">*Please note the information in this article is to be used for reference and recommendations only. It
			is not indicative of and should not be used for legal purposes*</p>
	</div>
</div>