<section class="section-overview exploration_sec">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h1 class="program-title">The ASVAB is One Part of the ASVAB Career Exploration Program</h1>
        <p class="program-subtitle">Students interested in college, work-based learning, and the Military should
          participate in the following activities after they take the ASVAB to get the most out of the ASVAB CEP.</p>
        <div class="educators-exploration d-flex">
          <div class="exploration-details">
            <div class="exploration-details-content d-flex">
              <p>The Post-Test Interpretation is a 45-minute session wherein a qualified professional provides a
                guided workshop to complete these activities.</p><a href="asvab-cep-at-your-school">Schedule Yours</a>
            </div>
          </div>
          <div class="exploration-content">
            <ul class="exploration-items d-flex">
              <li>GETTING STARTED<a href="" ng-click="goToAnchor('GettingStarted')"></a></li>
              <li>UNDERSTANDING THE ASVAB RESULTS<a href="" ng-click="goToAnchor('ASVAB_Result')"></a></li>
              <li>USING ASVAB SCORES<a href="" ng-click="goToAnchor('ASVAB_Scores')"></a></li>
              <li>TAKING THE FYI<a href="" ng-click="goToAnchor('Taking_FYI')"></a></li>
              <li>EXPLORING<br />CAREERS<a href="" ng-click="goToAnchor('ExploringCareers')"></a></li>
              <li>PLANNING FOR<br />THE FUTURE<a href="" ng-click="goToAnchor('FuturePlan')"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-overview getting_started_sec" id="GettingStarted">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">Getting Started</h2>
        <p class="section-description-info mw-100">The ASVAB Summary Results (ASR) sheet includes a unique access code
          each student can use to login to this site and complete the post-test activities. We encourage students to
          create an account. In the likely event they lose their ASR, they can still access these resources.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="section-description">
        <p class="section-description-info mw-95 mt-15"><strong>Access code.</strong> Your ASVAB Summary Results sheet
          includes
          an access code you will use to login to this site. </p>
      </div>
    </div>
    <div class="col-md-8 col-sm-8"><img alt="Getting Started" class="hide-for-sm"
        src="images/Getting_started.jpg" /><img alt="Getting Started" class="hide-for-md d-block mx-auto"
        src="images/use_accesss_code_mobile.jpg" /></div>
  </div>
</section>
<section class="section-overview ASVAB_result_sec" id="ASVAB_Result">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">Understanding the ASVAB Results</h2>
        <p class="section-description-info mw-100">The ASVAB Summary Results sheet reports percentile scores
          (gender-specific and combined), and standard scores (including score bands) for each subtest and the three
          Career Exploration Scores, as well as a score for the Armed Forces Qualification Test (AFQT).</p><img
          alt="Getting Started" class="result_img hide-for-sm" src="images/ASVAB_Results.jpg" /><img
          alt="Getting Started" class="result_img hide-for-md d-block" src="images/mobile_score_image.png" />
        <ol>
          <li>
            <p><strong>Career Exploration Scores.</strong> These composite scores help students understand their verbal,
              math,
              and science/technical skills. These are used exclusively for career exploration purposes.</p>
            <div class="strength_books d-flex">
              <p><strong>Your top strength will have the most books.</strong></p>
              <ul class="d-flex">
                <li>
                  <div class="strength_img_block"><img alt="Books" src="images/book1.png" /></div><span>Verbal</span>
                </li>
                <li>
                  <div class="strength_img_block"><img alt="Books" src="images/book2.png" /></div><span>Math</span>
                </li>
                <li>
                  <div class="strength_img_block"><img alt="Books" src="images/book3.png" /></div><span>Science/
                    Technology</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <p><strong>ASVAB Tests.</strong> A score for each ASVAB subtest. For a description of each subtest, <a
                href="https://www.asvabprogram.com/parents-test">click here</a>.</p>
          </li>
          <li>
            <p><strong>Military Entrance Score/Armed Forces Qualification Test (AFQT).</strong> The AFQT score is what
              the
              Military will use to determine enlistment eligibility. This score is calculated using scores on
              Arithmetic Reasoning, Mathematics Knowledge, Word Knowledge, and Paragraph Comprehension determine your
              AFQT score.</p>
            <p>Note: Students who participate in the ASVAB CEP have no obligation to talk with military recruiters or
              consider a military career. Students interested in joining the Military should discuss this score with a
              recruiter.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Understanding ASVAB Test Scores</h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/RM-g73droL4')"><span
              class="image-wrapper"><img src="images/Tut_test_1.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
      width="560"></iframe></div>
  <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
</div>
</div>
</div> -->
  </div>
</section>
<section class="section-overview ASVAB_scores_sec" id="ASVAB_Scores">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="section-description">
        <h2 class="section-title">USING ASVAB SCORES</h2><img alt="" class="hide-for-md d-block mx-auto"
          src="images/Usingskills.jpg" />
        <p class="section-description-info">Students can use their Career Exploration Scores to investigate
          occupations that rely on those skills in the OCCU-Find. Each occupation includes information about the
          importance of verbal, math, and science/technical skills represented on a five-star scale. The ratings show
          the extent to which the daily tasks of a job require verbal, math, and/or science/technical skills. There is
          no direct correlation between Career Exploration Scores and the skill importance ratings. Rather, students
          should consider these ratings a snapshot of the degree to which these skills are used on-the-job. Learn more
          about skill importance ratings <a href="https://www.asvabprogram.com/general-help#skills">here</a>.</p>
        <p class="section-description-info">Students in 11th grade and beyond can use their AFQT scores to talk to a
          military recruiter about enlistment, for up to two years after testing. The AFQT score can qualify them for
          certain jobs in the Armed Forces. However, each Service, and each military job, has different requirements,
          so qualifying AFQT scores can fluctuate.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 hide-for-sm"><img alt="" src="images/Usingskills.jpg" /></div>
  </div>
</section>
<section class="section-overview taking_FYI_sec" id="Taking_FYI">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="section-description">
        <h2 class="section-title">TAKING THE FYI</h2>
        <p class="section-description-info">Find Your Interests (FYI) is an interest inventory based on John Holland's
          widely accepted RIASEC&reg; theory of career choice. Students indicate a preference for the various activities
          presented to them. Based on their responses, the assessment determines the student's resemblance to each of
          six interest types.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6"><img alt="" class="hide-for-sm" src="images/RIASEC.jpg" /><img alt=""
        class="hide-for-md d-block mx-auto" src="images/RIASEC_Mobile.jpg" /></div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Taking the FYI Tutorial</h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/pddDxvfY2gM')"><span
              class="image-wrapper"><img src="images/Tut_test_2.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
      width="560"></iframe></div>
  <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
</div>
</div>
</div> -->
  </div>
</section>
<section class="section-overview exploring_careers_sec" id="ExploringCareers">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">EXPLORING CAREERS</h2>
        <p class="section-description-info">The OCCU-Find is a catalog of careers containing relevant, reliable
          occupational data in an easy to navigate format. Students can quickly identify potentially satisfying career
          options using their Career Exploration Scores and FYI results.</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="exploring_careers_inner">
        <div class="exploring_careers_item">
          <div class="careers_img_block"><img alt="" src="images/Riasec_full.png" /></div>
          <p>Search by interest</p>
        </div>
        <div class="exploring_careers_item">
          <div class="careers_img_block"><img alt="" src="images/Books.png" /></div>
          <p>Sort by Skill</p>
        </div>
        <div class="exploring_careers_item">
          <div class="careers_img_block"><img alt="" src="images/filters.png" /></div>
          <p>Filter by Category</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Exploring the OCCU-Find Tutorial</h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/6yNpUTuksa4')"><span
              class="image-wrapper"><img src="images/Tut_test_3.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
      width="560"></iframe></div>
  <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
</div>
</div>
</div> -->
  </div>
</section>
<section class="section-overview future_plan_sec" id="FuturePlan">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">PLANNING FOR THE FUTURE</h2>
        <ul>
          <li><strong>My Portfolio</strong> is an output of an ASVAB CEP participant&rsquo;s career exploration. Here,
            students can
            compile their achievements and articulate action steps toward their identified goals then share this
            record with counselors and parents to facilitate meaningful discussions about post-secondary planning.
          </li>
          <li><strong>My Education and Career Plans</strong> is designed to encourage students to think about
            occupations that
            they&rsquo;re considering as well as post-high school plans. Students are asked to think closely about their
            interests, jobs they&rsquo;ve liked or disliked in the past, work values, and what activities they like
            most.
          </li>
          <li><strong>Coursework Planner</strong> asks students to identify one or two post-high school goals. Then,
            using a
            list of graduation requirements they are asked to identify high school courses that are considered
            necessary for entry into their desired post-secondary path.</li>
          <li><strong>Classroom Activities</strong> can be incorporated into any curriculum in classes like English,
            computer
            science, and communications. These activities encourage students to research occupations, interview job
            incumbents, and complete other activities outlined above.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Completing My Portfolio</h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/fiy5rMcHdhM')"><span
              class="image-wrapper"><img src="images/portfolio_tut_Thumb.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
      width="560"></iframe></div>
  <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
</div>
</div>
</div> -->
  </div>
</section>
<section class="section-overview contact_us_sec">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h4>These activities are for the exclusive use of ASVAB CEP participants.<br />Participants must login to access
          the FYI and OCCU-Find.<br /><a href="" ng-click="openRegistrtionModal()">Use access code PARENT to create an
            account.</a></h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="medium-3 medium-pull-9 columns sub-nav-wrap">
      <div class="left-sub-nav show-for-small-only">
        <ul class="menu vertical">
          <li>
            <h3>MORE PARENT INFORMATION</h3>
          </li>
          <li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
          <li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
          <li><a href="parents-information">How You Can Help <em class="fa fa-angle-right"></em></a></li>
          <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>