<style>
    .header-social li {
        display: inline-block;
        font-size: 25px !important;
        padding: 10px 15px;
    }

    .header-social li:before {
        content: '' !important;
    }

    .header-social li a {
        color: #7e8d8e !important;
    }
</style>
<section id="content-wrap">
    <section id="main-content" role="main" style="margin:0;">
        <section class="section-overview get_there_sec">
            <div class="section-description">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="program-title text-uppercase">Get Your kid Ready for Life After High School</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <p class="mb-25">You can save time and money with our easy-to-use planning tools. The ASVAB
                            Career Exploration Program (CEP) can help you and your high schooler make an action plan to
                            gain entry into their career field of choice via college, work-based learning, and/or the
                            Military. Learn more, &nbsp;<a href="https://www.asvabprogram.com/parents">here</a>.</p>
                        <p class="mb-10"><strong>Use the ASVAB CEP Together</strong></p>
                        <p>After taking the ASVAB, your child will receive an access code they can use to create an
                            account. This unlocks the career exploration tools you can use together to identify careers
                            they are best suited for and explore the various paths they can take after graduation.
                            Create your own account and see what your student sees using access code: PARENT. Then, use
                            these tutorials as your guide.</p><!-- <div class="tutorial_sec"> -->
                        <h5>Tutorials</h5>
                        <slick infinite="false" slides-to-scroll="1" slides-to-show="3">
                            <div class="tutorials_item"><img alt="Video" src="images/Tut_test_1.jpg" /><a
                                    ng-click="showYouTubeModal('https://www.youtube.com/embed/RM-g73droL4')">Understanding
                                    Your ASVAB Results Tutorial
                                </a>
                            </div>
                            <div class="tutorials_item"><img alt="Video" src="images/Tut_test_2.jpg" /><a
                                    ng-click="showYouTubeModal('https://www.youtube.com/embed/pddDxvfY2gM')">Taking
                                    the FYI Tutorial
                                </a>
                            </div>
                            <div class="tutorials_item"><img alt="Video" src="images/Tut_test_3.jpg" /><a
                                    ng-click="showYouTubeModal('https://www.youtube.com/embed/6yNpUTuksa4')">Exploring
                                    the OCCU-Find Tutorial
                                </a>
                            </div>
                            <div class="tutorials_item"><img alt="Video" src="images/portfolio_tut_Thumb.jpg" /><a
                                    ng-click="showYouTubeModal('https://www.youtube.com/embed/fiy5rMcHdhM')">Creating
                                    your Resume
                                </a>
                            </div>
                        </slick>
                    </div>
                    <div class="col-md-4 col-sm-4"><img alt="How to get there images" class="d-block exploration_img"
                            src="images/how_to_get_there.png" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-10"><strong>It's Not Just A Military Test</strong></p>
                    <p class="mw-100">The ASVAB is an aptitude test. It assesses strengths and helps predict success in
                        a variety of careers, not only military occupations. Your child has no obligation to the
                        military as a result of taking the ASVAB and participation is always voluntary. Each
                        participating school selects one of eight <a
                            href="https://www.asvabprogram.com/general-help#release">score release options</a> regarding
                        the information the Department of Defense releases to the Military Services. Contact your school
                        counselor to find out which option the school selected.</p>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <h4 class="text-uppercase">Tips to Help Your High Schooler Succeed:</h4>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li>Complete the <a href="parents-post-test">post-test activities</a> together and talk about the
                        results. Revisit these activities as time allows.</li>
                    <li>Share your own career planning experience and listen to what your teen has to say about his
                        or her desires for the future.</li>
                    <li>Encourage your teen to explore several occupations through hands-on learning opportunities such
                        as shadowing someone employed in the occupation(s). Discuss the pros and cons of different
                        options.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li>College bound? Save time and money by identifying realistic career goals to narrow focus when
                        choosing a post-secondary institution and major.</li>
                    <li>Work bound? Discover <a href="media-center-article/98">apprenticeships</a> and needed
                        credentials in the OCCU-Find. Help your child start earning money while gaining on-the-job
                        training in their preferred career field after graduation.</li>
                    <li>Military bound? Help your child <a href="https://www.careersinthemilitary.com/parent"
                            target="_blank">understand the various military options</a> and prepare for conversations
                        with recruiters.</li>
                </ul>
            </div>
        </div>
        <section class="slider-section" style="background-color:#f4f4f4;padding:15px 0 30px 0;">
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="topic in resourceTopics | filter: { resourceTopicId : 1 }">
                        <div class="box-row" id="box-row1">
                            <div class="slider-title" style="background-color:transparent;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h5 style="color:#c4c4c4;font-weight:500;font-size:16px;">Resources</h5>
                                    </div>
                                </div>
                            </div>
                            <slick responsive="[{breakpoint: 768, settings: {slidesToShow:1, slidesToScroll:1}}]"
                                slides-to-scroll="4" slides-to-show="4" style="margin-bottom:0;">
                                <div ng-repeat="resource in topic.resources" style="background:#fff;"><img
                                        ng-src="{{documents}}thumbnails/{{resource.resourceThumbnailUri}}" />
                                    <div ng-if="resource.resourceTypeId === resourceType.Document">
                                        <div ng-if="resource.spanishResourceUri !== null">
                                            <h4>{{resource.resourceTitle}}</h4>
                                            <ul>
                                                <li><a href="{{documents}}{{resource.resourceUri}}"
                                                        ng-click="trackClick(resource.resourceUri)" ng-controller="GA"
                                                        target="_blank">English</a></li>
                                                <li><a href="{{documents}}{{resource.spanishResourceUri}}"
                                                        ng-click="trackClick(resource.spanishResourceUri)"
                                                        ng-controller="GA" target="_blank">Spanish</a></li>
                                            </ul>
                                        </div>
                                        <div ng-if="resource.spanishResourceUri === null">
                                            <h4 class="title-blue"><a href="{{documents}}{{resource.resourceUri}}"
                                                    ng-click="trackClick(resource.resourceUri)" ng-controller="GA"
                                                    target="_blank">{{resource.resourceTitle}}</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div ng-if="resource.resourceTypeId !== resourceType.Document">
                                        <h4 class="title-blue"><a ng-click="showVideoModal(resource.resourceUri)"
                                                ng-if="resource.resourceTypeId == resourceType.PopupVideo">{{resource.resourceTitle}}</a>
                                            <a href="{{resource.resourceUri}}"
                                                ng-if="resource.resourceTypeId != resourceType.PopupVideo"
                                                target="_blank">{{resource.resourceTitle}}</a>
                                        </h4>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="col-sm-12 text-center"><a class="button" href="general-resources">View Resources</a>
                </div>
            </div>
        </section>
        <!--
   <div class="row">
       <div class="col-md-12">
           <h3 style="text-transform: none; font-size: 15px; color: #29afb5; font-weight: 500;">Resources:</h3>
       </div>
       <div class="col-md-4">
           <p>
               <a href="{{documents}}ASVAB_CEP_Fact_Sheet.pdf" ng-click="trackClick('ASVAB_CEP_Fact_Sheet.pdf');" ng-controller="GA" target="_blank">
                   <img alt="" src="images/icon-pdf.png" />Fact Sheet
               </a>
           </p>
           <p>
               <a href="{{documents}}ASVAB_CEP_Fact_Sheet_spanish.pdf" ng-click="trackClick('ASVAB_CEP_Fact_Sheet_spanish.pdf');" ng-controller="GA" target="_blank">
                   <img alt="" src="images/icon-pdf.png" />Fact Sheet en
                   espa&ntilde;ol
               </a>
           </p>
       </div>
       <div class="col-md-4">
           <p>
               <a href="{{documents}}ASVAB_CEP_Opt_Out_Letter.docx" ng-click="trackClick('ASVAB_CEP_Opt_Out_Letter.docx');" ng-controller="GA" target="_blank"><img alt="" src="images/icon-word.png" />Opt Out Letter </a>
           </p>
           <p>
               <a href="{{documents}}ASVAB_CEP_Opt_In_Letter.docx" ng-click="trackClick('ASVAB_CEP_Opt_In_Letter.docx');" ng-controller="GA" target="_blank"><img alt="" src="images/icon-word.png" />Opt In Letter </a>
           </p>
       </div>
       <div class="col-md-4">
           <p><a href="{{documents}}ASVAB_CEP_Overview_2018.pdf" target="_blank"><img alt="" src="images/icon-ppt.png" />Overview Guide</a></p>
           <p><a href="media-center-article-list/2">Articles for Parents</a></p>
           <p><a href="parents-test">Sample Test Items</a></p>
       </div>
   </div>
   <div class="row">
       <div class="col-md-offset-4 col-md-4">
           <a class="button" href="general-resources">View Resources</a>
       </div>
   </div>
       -->
        <section class="section-overview testimonial_sec">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-description">
                        <h2 class="section-title text-uppercase">Testimonials</h2>
                    </div>
                    <slick class="testimonial_wrapper">
                        <div class="testimonial_item">
                            <div class="testimonial_img_block"><img alt="customer image"
                                    src="images/Barry_Kowald.png" /></div>
                            <div class="testimonial_content">
                                <p>"This is a world-class career exploration program that helped my daughter and my
                                    oldest son with making clear, focused, and data-driven decisions about their career
                                    pathways that led to declaring a major once and sticking with it. My daughter is now
                                    a Texas Aggie alumna and special education teacher and cannot imagine doing anything
                                    else. It perfectly matches her passions and skill set. My oldest son is majoring in
                                    data science at UTSA, and will have no trouble landing a position upon graduation."
                                </p>
                                <p><strong>Barry Kowald, Parent, San Antonio TX</strong></p>
                            </div>
                        </div>
                        <div class="testimonial_item">
                            <div class="testimonial_img_block"><img alt="customer image"
                                    src="https://dev-media.asvabprogram.com/MEDIA_CENTER/thumbnails/Aziz.jpg" /></div>
                            <div class="testimonial_content">
                                <p>"It makes me want to inform other people about it because people don't necessarily
                                    have the best understanding. They might have a general understanding but they don't
                                    know specifically what they want to do, and if this is helping them find their
                                    purpose, then I'd definitely want to recommend it to them."</p>
                                <p><strong>Aziz, Senior, Los Osos High School, California</strong></p>
                            </div>
                        </div>
                        <div class="testimonial_item">
                            <div class="testimonial_img_block"><img alt="customer image"
                                    src="https://dev-media.asvabprogram.com/MEDIA_CENTER/thumbnails/Gonzalez.jpg" />
                            </div>
                            <div class="testimonial_content">
                                <p>"If it's (a skill) I didn't know I had like a secret talent or something ... I'm
                                    pretty sure it would be applicable to a lot of different things and open up
                                    different paths that I hadn't even thought of."</p>
                                <p><strong>Christopher Gonzalez, Senior, Los Osos High School, California</strong></p>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </section>
        <section class="section-overview share_sec">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><strong>Share your ASVAB CEP experience with us @asvabcep</strong></h2>
                    <ul class="header-social">
                        <li><a href="https://twitter.com/asvabcep" target="_blank"><em class="fa fa-twitter"></em></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UC2NJ3deMrUUFgTPC1EST52A" target="_blank"><em
                                    class="fa fa-youtube"></em></a></li>
                        <li><a href="https://www.facebook.com/asvabcep/" target="_blank"><em
                                    class="fa fa-facebook"></em></a></li>
                        <li><a href="https://www.linkedin.com/company/asvab-cep?trk=top_nav_home" target="_blank"><em
                                    class="fa fa-linkedin"></em></a></li>
                        <li><a href="https://www.instagram.com/asvabcep/" target="_blank"><em
                                    class="fa fa-instagram"></em></a></li>
                        <li><a href="#" ng-click="snapChatModal()" ng-controller="FooterController"><em
                                    class="fa fa-snapchat-ghost"></em></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-sm-12">
                <div class="callout secondary"><strong>Are you looking for a way to get through to your
                        teen? Put work life in a real-life context.
                    </strong><br />
                    <p>"For example, ask a student to think about all the time he
                        or she has spent in school (K-12). For a student, this seems like
                        "forever". Next, ask him or her to multiply that amount of time by
                        six and explain that this is the amount of time they will spend in
                        their occupation. Remind the student that in school they take
                        math, history, English, science, social studies, etc. An
                        occupation is like one subject. Think about getting up every day
                        for the next 40 years and going to work for 8, 10 or 12 hours per
                        day taking "one subject". It better be a subject that he or she
                        enjoys."
                    </p><br />
                    <p><a href="http://www.ncda.org/aws/NCDA/pt/sd/news_article/5344/_PARENT/layout_details_cc/false"
                            target="_blank">Parent Involvement in Student Career Planning</a>
                        <br />By Bob Fisher, 2007
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <div class="row">
        <div class="medium-3 medium-pull-9 columns sub-nav-wrap">
            <div class="left-sub-nav show-for-small-only">
                <ul class="menu vertical">
                    <li>
                        <h3>MORE PARENT INFORMATION</h3>
                    </li>
                    <li><a href="parents">The ASVAB CEP <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="parents-test">ASVAB Test <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="parents-post-test">Post-Test Activities <em class="fa fa-angle-right"></em></a></li>
                    <li><a href="general-resources">All Resources <em class="fa fa-angle-right"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>