<section class="hero-banner hero-banner-Exploration">
  <div class="row">
    <div class="col-sm-6">
      <div class="hero-banner-content">
        <h2><span class="grey-color">Career </span>Exploration</h2>
        <p>Armed with knowledge about your skills, interests, and the requirements for the job you want, it is time to
          map out a plan. Remember, everyone’s career path is different, and there is no “right” way to start a career.
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hero-image text-center">
        <img src="images/Explore_hdr_Image.jpg" alt="Explore hdr Image" />
      </div>
    </div>
  </div>
</section>

<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Exploring the OCCU-Find Tutorial</h2>
        </div>
        <div class="activities_block">
          <a ng-click="showYouTubeModal('https://www.youtube.com/embed/6yNpUTuksa4')">
            <span class="image-wrapper">
              <img src="images/Tut_test_3.jpg">
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <iframe id="iframeYoutube" width="560" height="315" src="#" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section class="section-overview exploring_careers_sec bg-light-gray2">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">Using the OCCU-Find</h2>
        <p class="section-description-info">Use what you learned to find your dream job.</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="exploring_careers_inner">
        <div class="exploring_careers_item">
          <div class="careers_img_block">
            <img src="images/Riasec_full.png" alt="">
          </div>
          <p>Search by interest</p>
        </div>
        <div class="exploring_careers_item">
          <div class="careers_img_block">
            <img src="images/Books.png" alt="">
          </div>
          <p>Sort by Skill</p>
        </div>
        <div class="exploring_careers_item">
          <div class="careers_img_block">
            <img src="images/filters.png" alt="">
          </div>
          <p>Filter by Category</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section-everything">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-everything-description">
        <h2>Everything you need to make informed career decisions.</h2>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="section-everything-inner">
        <div class="section-everything-tage">
          <ul>
            <li>What They Do</li>
            <li>Interest Codes</li>
            <li>Relative Skill Importance Ratings</li>
            <li>Different Ways to Get There</li>
            <li>Growth and Salary Outlook</li>
            <li>Related Careers</li>
            <li>More Resources</li>
            <li>and much more...</li>
          </ul>
          <a ng-click="showViewDetailModal()" class="section-everything-button button"><span class="d-flex align-items-center">VIEW DETAILS<img
                src="images/arrow_caret_right.png" alt="caret right"></span></a>
        </div>
        <div class="section-everything-images">
          <img src="images/detail.jpg" alt="detail" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-top-viewed  bg-light-gray2">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-top-viewed-title section-description">
        <p class="section-description-info">Top 3 Viewed Jobs</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="section-top-viewed-wrapper">
        <div class="section-top-viewed-item">
          <div class="section-top-viewed-item-inner">
            <img src="images/Career_image_1.jpg" alt="Career image 1" />
            <a href="occufind-occupation-details/29-1141.00">Registered Nurses</a>
          </div>
        </div>
        <div class="section-top-viewed-item">
          <div class="section-top-viewed-item-inner">
            <img src="images/Career_image_2.jpg" alt="Career image 2" />
            <a href="occufind-occupation-details/49-3011.00">Aircraft Mechanics & Service Techs</a>
          </div>
        </div>
        <div class="section-top-viewed-item">
          <div class="section-top-viewed-item-inner">
            <img src="images/Career_image_3.jpg" alt="Career image 3" />
            <a href="occufind-occupation-details/55-1015.00">Command & Control Center Officers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-yourself bg-green">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="yourself-title text-white">Planning Tools</h2>
      <p class="yourself-description text-white">The ASVAB CEP offers participants access to exclusive career planning
        tools.</p>
      <a class="yourself-link text-white" href="student-plan"><strong class="d-flex align-items-center">MAKE A PLAN<img
            src="images/arrow_caret_right.png" alt="Caret Right" /></strong></a>
    </div>
  </div>
</section>

<section class="section-testimonial space-bottom">
  <div class="row">
    <div class="col-sm-9">
      <div class="section-testimonial-description">
        <h2>"I feel that the most helpful feature of the ASVAB Program is the OCCU-Find feature because instead of
          having to go from website to website it's all in one place."</h2>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="section-testimonial-image">
        <img src="images/Testimonial_Stephany.png" alt="Testimonial Stephany">
        <h4>Stephany</h4>
      </div>
    </div>
  </div>
</section>