<section class="hero-banner hero-banner-understand">
  <div class="row">
    <div class="col-sm-6">
      <div class="hero-banner-content">
        <h2>Understand <span class="grey-color">The ASVAB</span></h2>
        <p><strong>The ASVAB measures strengths and potential for future success.</strong></p>
        <p>You don't "pass" or "fail". The results represent how well you have developed your skills in addition to your
          potential for training.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hero-image text-center"><img alt="The ASVAB" src="images/Understand_hdr_Image.jpg" /></div>
    </div>
  </div>
</section>
<section class="section-questions bg-light-gray2">
  <div class="row">
    <div class="col-sm-6">
      <div class="questions-block questions-block-one">
        <div class="questions-block-head d-flex">
          <div class="questions-block-icon"><img alt="Paper" src="images/Paper_Icon.png" /></div>
          <div class="questions-block-title">
            <h2>P&amp;P ASVAB</h2>
            <h4>Paper and Pencil Test</h4>
          </div>
        </div>
        <div class="questions-block-link"><a class="button expanded"
            ng-click="showSampleTestModal(); trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
            ng-controller="GA">View Sample Test Questions<img alt="Caret Right"
              src="images/arrow_caret_right.png" /></a>
        </div>
        <div class="questions-block-content section-description">
          <p class="section-description-info">The paper and pencil (P&amp;P ASVAB) is a traditional test, which means
            that
            everyone takes the same set of questions at the same pace.</p>
          <p class="section-description-info"><strong>Eight Subtest (a total of 200 items).<br />3 hours to
              complete.</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="questions-block questions-block-two">
        <div class="questions-block-head d-flex">
          <div class="questions-block-icon"><img alt="Latop" src="images/Latop_Icon.png" /></div>
          <div class="questions-block-title">
            <h2>CEP <span style="text-transform: lowercase">i</span>CAT</h2>
            <h4>Computer-Based Test</h4>
          </div>
        </div>
        <div class="questions-block-link"><a class="button expanded"
            ng-click="showSampleIcatTestModal(); trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
            ng-controller="GA">View Sample Test Questions<img alt="Caret Right"
              src="images/arrow_caret_right.png" /></a>
        </div>
        <div class="questions-block-content section-description">
          <p class="section-description-info">The CEP iCAT is an adaptive test you take on a computer. How you respond
            to a question will determine the complexity of the next question you receive.</p>
          <p class="section-description-info"><strong>Nine subtests (a total of 145 items).<br />Self-paced and
              generally
              takes about 1.5 hours.</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="questions-link text-center"><a href="" ng-click="showStrategyTakingAsvabModal()">Strategies for Taking
          the ASVAB</a>
      </div>
    </div>
  </div>
</section>
<section class="section-results section-overview">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="section-title">What do my results mean?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="results-block section-description">
        <p class="section-description-info">Your results sheet provides a measure of your skills and abilities with
          different scores:</p><img alt="ASVAB Summary Results" class="hidden-xs"
          src="images/ASVAB_summary_results.png" /><img alt="ASVAB Summary Results" class="visible-xs"
          src="images/ASVAB_summary_results_mobile.png" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="results-block">
        <ol>
          <li><strong>Career Exploration Scores.</strong> The three Career Exploration Scores are verbal, math, and
            science/technical skills. Each of these scores is made up of a combination of some of the individual ASVAB
            tests.</li>
          <li><strong>ASVAB Tests.</strong> You receive a score for each subtest that makes up the ASVAB. See the chart
            below to learn more about each subtest.</li>
          <li><strong>Military Entrance Score/Armed Forces Qualification Test (AFQT).</strong> Participation in the
            ASVAB CEP does not obligate you to talk with military recruiters or consider a military career. If you are
            interested in joining the Military it is best to discuss this score with a recruiter. Learn more at <a
              href="http://www.careersinthemilitary.com/" target="_blank">www.careersinthemilitary.com</a>.</li>
          <li><strong>Access code.</strong> Your ASVAB Summary Results sheet includes an access code you will use to
            login to this site.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr class="border-gray" />
    </div>
  </div>
  <div class="areas-block section-description">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="areas-block-title">Subtest areas:</h5>
        <p class="section-description-info">The subtest scores are color coded to show which scores are used to build
          each ASVAB Career Exploration Score.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table hidden-xs k-table">
          <thead>
            <tr>
              <th colspan="2">
                <div class="areas-block-items d-flex align-items-center">
                  <div class="areas-block-item d-flex align-items-center"><span class="skye-blue-box"></span>Verbal
                  </div>
                  <div class="areas-block-item d-flex align-items-center"><span class="dark-red-box"></span>Math</div>
                  <div class="areas-block-item d-flex align-items-center"><span
                      class="navy-blue-box"></span>Science/Technology</div>
                </div>
              </th>
              <th class="text-center" data-role="resizable">P&amp;P ASVAB <br /># of test items</th>
              <th class="text-center">CEP ICAT <br /># of test items</th>
            </tr>
          </thead>
          <tbody valign="top">
            <tr class="bg-navy-blue">
              <td><strong>General Science</strong></td>
              <td>Measures knowledge of life science, earth and space science, and physical science</td>
              <td align="center"><strong>25</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
            <tr class="bg-dark-red">
              <td><strong>Arithmetic Reasoning</strong></td>
              <td>Measures ability to solve basic arithmetic word problems</td>
              <td align="center"><strong>30</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
            <tr class="bg-skye-blue">
              <td><strong>Word Knowledge</strong></td>
              <td>Measures ability to understand the meaning of words through synonyms</td>
              <td align="center"><strong>35</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
            <tr class="bg-skye-blue">
              <td><strong>Paragraph Comprehension</strong></td>
              <td>Measures ability to obtain information from written material</td>
              <td align="center"><strong>15</strong></td>
              <td align="center"><strong>11</strong></td>
            </tr>
            <tr class="bg-dark-red">
              <td><strong>Mathematics Knowledge</strong></td>
              <td>Measures knowledge of mathematical concepts and applications</td>
              <td align="center"><strong>25</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
            <tr class="bg-navy-blue">
              <td><strong>Electronics Information</strong></td>
              <td>Measures knowledge of electrical current, circuits, ?devices, and electronic systems</td>
              <td align="center"><strong>20</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
            <tr class="bg-white">
              <td><strong>Auto Information</strong></td>
              <td>Measures knowledge of automotive maintenance repair</td>
              <td align="center" rowspan="2" valign="middle"><strong>25</strong></td>
              <td align="center"><strong>11</strong></td>
            </tr>
            <tr class="bg-white">
              <td><strong>Shop Information</strong></td>
              <td>Measures knowledge of wood and metal shop practices</td>
              <td align="center"><strong>11</strong></td>
            </tr>
            <tr class="bg-navy-blue">
              <td><strong>Mechanical Comprehension</strong></td>
              <td>Measures knowledge of the principles of mechanical devices, structural support, and properties of
                materials</td>
              <td align="center"><strong>25</strong></td>
              <td align="center"><strong>16</strong></td>
            </tr>
          </tbody>
        </table>
        <div class="table-mobile visible-xs">
          <div class="areas-block-items d-flex">
            <div class="areas-block-item"><span class="skye-blue-box"></span>Verbal</div>
            <div class="areas-block-item"><span class="dark-red-box"></span>Math</div>
            <div class="areas-block-item"><span class="navy-blue-box"></span>Science/<br />Technology</div>
          </div>
          <div class="bg-navy-blue">
            <h4>General Science</h4>
            <p>Measures knowledge of life science, earth and space science, and physical science</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">25</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">16</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-dark-red">
            <h4>Arithmetic Reasoning</h4>
            <p>Measures ability to solve basic arithmetic word problems</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">30</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">16</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-skye-blue">
            <h4>Word Knowledge</h4>
            <p>Measures ability to understand the meaning of words through synonyms</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">35</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">16</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-skye-blue">
            <h4>Paragraph Comprehension</h4>
            <p>Measures ability to obtain information from written material</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">15</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">11</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-dark-red">
            <h4>Mathematics Knowledge</h4>
            <p>Measures knowledge of mathematical concepts and applications</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">25</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">16</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-navy-blue">
            <h4>Electronics Information</h4>
            <p>Measures knowledge of electrical current, circuits, ?devices, and electronic systems</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">20</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">16</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
          <div class="bg-white">
            <h4>Auto Information</h4>
            <p>Measures knowledge of automotive maintenance repair</p>
            <h4>Shop Information</h4>
            <p>Measures knowledge of wood and metal shop practices</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">25</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items<span class="d-block">(Auto and Shop
                  information
                  combined)</span></div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">11</div>
              <div class="areas-block-label">CEP ICAT # of test items<span class="d-block">(auto and shop information
                  each)</span></div>
            </div>
          </div>
          <div class="bg-navy-blue">
            <h4>Mechanical Comprehension</h4>
            <p>Measures knowledge of the principles of mechanical devices, structural support, and properties of
              materials</p>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">25</div>
              <div class="areas-block-label">P&amp;P ASVAB # of test items</div>
            </div>
            <div class="areas-block-sub-item d-flex">
              <div class="areas-block-count">11</div>
              <div class="areas-block-label">CEP ICAT # of test items</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ctm bg-green">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="ctm-title text-white">Are you looking for information about what your ASVAB CEP scores mean to the
        military?</h2><a class="ctm-link text-white" href="http://www.careersinthemilitary.com/"
        target="_blank"><strong>Learn more<img alt="Caret Right" src="images/arrow_caret_right.png" /></strong></a>
    </div>
    <div class="col-sm-4"><img alt="Careers in The Military" class="hidden-xs ctm-logo"
        src="images/CTM_logo_horizontal.png" /><img alt="Careers in The Military" class="visible-xs ctm-logo"
        src="images/CTM_logo_horizontal_mobile.png" /></div>
  </div>
</section>
<section class="section-tips section-overview">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-description">
        <h2 class="section-title">ASVAB Test Day Tips</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="section-description">
        <p class="section-description-info"><strong>As with other tests, how much you have learned in school through the
            years will probably make the most difference in your results.</strong></p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="section-description">
        <p class="section-description-info"><strong>Steps to Take In Advance of ASVAB Test Day.</strong></p>
        <ul class="section-list-disc">
          <li><a href="https://www.officialasvab.com/whattoexpect_app.htm" target="_blank">Know what to expect on test
              day</a></li>
          <li>Familiarize yourself with the contents of the ASVAB subtests.</li>
          <li>You can find sample test questions on this page. View more sample items at the Official Site of the ASVAB
            and <a href="https://www.todaysmilitary.com/how-to-join/asvab-test/asvab-sample-questions"
              target="_blank">Today's
              Military</a>.</li>
          <li>Find out whether you will be taking the paper and pencil (P&amp;P), or the computer adaptive (CEP iCAT)
            ASVAB.
          </li>
          <li>Get plenty of rest the night before the test.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-yourself bg-green">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="yourself-title text-white">Learn About Yourself</h2>
      <p class="yourself-description text-white">The ASVAB CEP offers participants the opportunity to understand their
        work-related skills and interests.</p>
      <div><br /></div><a class="yourself-link text-white" href="student-learn"><strong
          class="d-flex align-items-center">Learn About Yourself<img alt="Caret Right"
            src="images/arrow_caret_right.png" /></strong></a>
    </div>
  </div>
</section>
<section class="section-testimonial space-bottom">
  <div class="row">
    <div class="col-sm-9">
      <div class="section-testimonial-description">
        <h2>"I thought the ASVAB would be about the Army but it just offers jobs for anyone who takes it and shows you
          what would suit you best."</h2>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="section-testimonial-image"><img alt="Testimonial Immanuel" src="images/Testimonial_Immanuel.png" />
        <h4>Immanuel</h4>
      </div>
    </div>
  </div>
</section>