<section class="hero-banner hero-banner-learn">
  <div class="row">
    <div class="col-sm-6">
      <div class="hero-banner-content">
        <h1>Learn <span class="grey-color">About Yourself</span></h1>
        <p>Before you make decisions about what to do after high school, spend time thinking about your interests,
          values and abilities.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hero-image text-center"><img alt="Plan hdr Image" src="images/Learn_hdr_Image.jpg" /></div>
    </div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Understanding ASVAB Test Scores</h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/RM-g73droL4')"><span
              class="image-wrapper"><img src="images/Tut_test_1.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
      tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
              width="560"></iframe></div>
          <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="section-overview skill_sec bg-light-gray2">
  <div class="row">
    <div class="col-md-12">
      <div class="section-description">
        <h2 class="section-title">Skills</h2>
        <p class="section-description-info mw-100">These three Career Exploration Scores are good indicators of your
          potential for success in further education, training, and in occupations. They focus on skills (which are
          learned and modifiable) rather than on abilities (which are often seen as fixed).</p>
        <div class="skill_score d-flex bg-white">
          <div class="skill_score_content">
            <p class="section-description-info mb-0 hidden-xs"><strong>ASVAB CEP Strengths are derived from the ASVAB scores.
              </strong>
            </p>
            <p class="section-description-info">Your top strength will have the most books.</p>
            <ul class="d-flex">
              <li>
                <div class="strength_img_block"><img alt="Books" src="images/book1.png" /></div><span>Verbal</span>
              </li>
              <li>
                <div class="strength_img_block"><img alt="Books" src="images/book2.png" /></div><span>Math</span>
              </li>
              <li>
                <div class="strength_img_block"><img alt="Books" src="images/book3.png" /></div><span>Science/
                  Technology</span>
              </li>
            </ul>
            <p class="section-description-info mt-20 mb-0">Tip: Focus on you strengths. </p>
          </div>
          <div class="skill_img_block">
            <p class="section-description-info mb-0 visible-xs"><strong>ASVAB CEP Strengths are derived from the ASVAB
                scores.
              </strong></p><img alt="Summary Results" src="images/ASR_2.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-overview activities_sec activities_video bg-green">
  <div class="row">
    <div class="col-md-12">
      <div class="activities_inner">
        <div class="activities_text">
          <h4>Video Tutorial:</h4>
          <h2>Taking the FYI Tutorial
          </h2>
        </div>
        <div class="activities_block"><a ng-click="showYouTubeModal('https://www.youtube.com/embed/pddDxvfY2gM')"><span
              class="image-wrapper"><img src="images/Tut_test_2.jpg" /></span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" style="display:none;"
      tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body"><iframe allowfullscreen="" frameborder="0" height="315" id="iframeYoutube" src="#"
              width="560"></iframe></div>
          <div class="modal-footer"><button class="button" data-dismiss="modal" type="button">Close</button></div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="section-overview interests_sec">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-description">
        <h2 class="section-title">Interests</h2>
        <p class="section-description-info">Interests are one of the most important predictors of career satisfaction.
        </p>
        <p class="section-description-info">Find Your Interests: The FYI is an interest inventory that asks you
          questions about the kinds of activities you like or would like to do. The FYI will reveal your strongest
          interest areas. Then, you can explore careers that align with your interests.</p>
      </div>
      <div class="section-description">
        <div class="interest-block">
          <h4>Explore an Interest Area</h4>
          <div class="interest-block-wrapper d-flex">
            <div class="interest-block-lhs">
              <p class="section-description-info"><strong>Select an interest<br />to get more information</strong></p>
              <!-- Nav tabs -->
              <div class="interest-nav-tabs">
                <ul class="interest-lists">
                  <li><a aria-controls="Realistic" data-toggle="Realistic" role="tab">Realistic</a>
                  </li>
                  <li><a aria-controls="Investigative" data-toggle="Investigative"
                      role="tab">Investigative</a></li>
                  <li><a aria-controls="Enterprising" data-toggle="Enterprising"
                      role="tab">Enterprising</a></li>
                  <li class="active"><a aria-controls="Conventional" data-toggle="Conventional"
                      role="tab">Conventional</a></li>
                  <li><a aria-controls="Artistic" data-toggle="Artistic" role="tab">Artistic</a>
                  </li>
                  <li><a aria-controls="Social" data-toggle="Social" role="tab">Social</a></li>
                </ul>
                <div class="interest_lhs_img_block"><img alt="RIASEC" src="images/RIASEC.png" />
                  <ul class="interest_triangle">
                    <li><a data-toggle="Realistic"></a></li>
                    <li><a data-toggle="Investigative"></a></li>
                    <li><a data-toggle="Enterprising"></a></li>
                    <li class="active"><a data-toggle="Conventional"></a></li>
                    <li><a data-toggle="Artistic"></a></li>
                    <li><a data-toggle="Social"></a></li>
                  </ul>
                </div>
              </div>
              <p class="information-base-text hidden-xs">The FYI is based on<br />John Holland's Theory of<br />Career
                Choice RIASEC&copy;. </p>
            </div>
            <div class="interest-block-rhs">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane realistic_content" id="Realistic" role="tabpanel">
                  <p class="section-description-info"><span><strong>Realistic</strong> activities often involve
                    practical, hands-on problems and solutions such as designing, building, and repairing
                    machinery.</span><span style="font-size:9pt;line-height:107%;font-family:Verdana, sans-serif;"></span></p>
                  <p class="section-description-info"></p>
                  <p>Realistic occupations generally require workers to have physical and mechanical abilities.<br />
                  </p>
                  <p class="section-description-info">Realistic types generally prefer to work with things (machines,
                    plants, and animals) rather than people. In their work, they are practical, straightforward, and
                    persistent.<span style="font-size:9pt;line-height:107%;font-family:Verdana, sans-serif;"></span></p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Realistic occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/29-1071.01">Anesthesiologist Assistants</a></li>
                      <li><a href="occufind-occupation-details/27-4012.00">Broadcast Technicians</a></li>
                      <li><a href="occufind-occupation-details/35-2014.00">Cooks, Restaurant</a></li>
                      <li><a href="occufind-occupation-details/51-9081.00">Dental Laboratory Technicians</a></li>
                      <li><a href="occufind-occupation-details/47-2111.00">Electricians</a></li>
                      <li><a href="occufind-occupation-details/45-4011.00">Forest and Conservation Workers</a></li>
                    </ul>
                    <ul class="section-list-disc">                      
                      <li><a href="occufind-occupation-details/49-9099.01">Geothermal Technicians</a></li>
                      <li><a href="occufind-occupation-details/33-2011.01">Municipal Firefighters</a></li>
                      <li><a href="occufind-occupation-details/13-1199.02">Security Management Specialists</a></li>
                      <li><a href="occufind-occupation-details/17-2051.01">Transportation Engineers</a></li>
                      <li><a href="occufind-occupation-details/27-2023.00">Umpires, Referees and Other Sports Officials</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
                <div class="tab-pane active conventional_content" id="Conventional" role="tabpanel">
                  <p class="section-description-info"><span><strong>Conventional</strong> activities require attention
                      to accuracy
                      and detail such as maintaining orderly and accurate records, procedures, and routines.</span></p>
                  <p class="section-description-info">Conventional occupations generally require workers to have
                    clerical, organizational, and arithmetic abilities.</p>
                  <p class="section-description-info">Conventional types prefer working with data more than with ideas. 
                    They apply precise standards in a setting where there is a clear line of authority. 
                    In their work, they are efficient, methodical, and detail-oriented.</p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Conventional occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/13-2011.01">Accountants</a></li>
                      <li><a href="occufind-occupation-details/19-4061.01">City and Regional Planning Aides</a></li>
                      <li><a href="occufind-occupation-details/23-2091.00">Court Reporters</a></li>
                      <li><a href="occufind-occupation-details/13-1199.01">Energy Auditors</a></li>
                      <li><a href="occufind-occupation-details/33-2021.01">Fire Inspectors</a></li>
                      <li><a href="occufind-occupation-details/15-1122.00">Information Security Analysts</a></li>
                      <li><a href="occufind-occupation-details/25-4021.00">Librarians</a></li>
                      <li><a href="occufind-occupation-details/13-2072.00">Loan Officers</a></li>
                    </ul>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/13-1081.02">Logistics Analysts</a></li>
                      <li><a href="occufind-occupation-details/31-9094.00">Medical Transcriptionists</a></li>
                      <li><a href="occufind-occupation-details/23-2011.00">Paralegals and Legal Assistants</a></li>
                      <li><a href="occufind-occupation-details/13-1041.07">Regulatory Affairs Specialists</a></li>
                      <li><a href="occufind-occupation-details/19-4061.00">Social Science Research Assistants</a></li>
                      <li><a href="occufind-occupation-details/15-2041.00">Statisticians</a></li>
                      <li><a href="occufind-occupation-details/11-3031.01">Treasurers and Controllers</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
                <div class="tab-pane enterprising_content" id="Enterprising" role="tabpanel">
                  <p class="section-description-info"><span><strong>Enterprising</strong> activities allow you to take a 
                    leadership role in areas such as sales, supervision, and project or business management.</span></p>
                  <p class="section-description-info">Enterprising occupations generally require workers to have leadership, sales, and speaking abilities. </p>
                  <p class="section-description-info">Enterprising types prefer to work with people and ideas rather than things. 
                    They like work that is fast-paced, requires a lot of responsibility and decision making, and involves taking 
                    risks for profit. In their work, they are persuasive, ambitious, and energetic.</p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Enterprising occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/41-3011.00">Advertising Sales Agents</a></li>
                      <li><a href="occufind-occupation-details/53-2021.00">Air Traffic Controllers</a></li>
                      <li><a href="occufind-occupation-details/35-3022.01">Baristas</a></li>
                      <li><a href="occufind-occupation-details/33-3021.03">Criminal Investigators and Special Agents</a></li>
                      <li><a href="occufind-occupation-details/23-1011.00">Lawyers</a></li>
                      <li><a href="occufind-occupation-details/13-1121.00">Meeting, Convention, and Event Planners</a></li>
                      <li><a href="occufind-occupation-details/13-1199.06">Online Merchants</a></li>
                    </ul>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/27-3031.00">Public Relations Specialists</a></li>
                      <li><a href="occufind-occupation-details/41-9022.00">Real Estate Sales Agents</a></li>
                      <li><a href="occufind-occupation-details/41-3031.03">Securities and Commodities Traders</a></li>
                      <li><a href="occufind-occupation-details/27-2012.04">Talent Directors</a></li>
                      <li><a href="occufind-occupation-details/41-9041.00">Telemarketers</a></li>
                      <li><a href="occufind-occupation-details/39-7012.00">Travel Guides</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
                <div class="tab-pane social_content" id="Social" role="tabpanel">
                  <p class="section-description-info"><span><strong>Social</strong> activities allow you to use your skills and talents to help, teach, and counsel others.</span></p>
                  <p class="section-description-info">Social occupations generally require personal interaction and communication skills and abilities.</p>
                  <p class="section-description-info">Social types prefer to work with people rather than to work with objects, machines, or data. 
                    In their work, they are friendly, outgoing, and helpful.</p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Social occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/25-2059.01">Adaptive Physical Education Specialists</a></li>
                      <li><a href="occufind-occupation-details/29-9091.00">Athletic Trainers</a></li>
                      <li><a href="occufind-occupation-details/39-9011.00">Childcare Workers</a></li>
                      <li><a href="occufind-occupation-details/21-2011.00">Clergy</a></li>
                      <li><a href="occufind-occupation-details/27-2022.00">Coaches and Scouts</a></li>
                      <li><a href="occufind-occupation-details/11-9161.00">Emergency Management Directors</a></li>
                      <li><a href="occufind-occupation-details/31-1011.00">Home Health Aides</a></li>
                      <li><a href="occufind-occupation-details/31-9011.00">Massage Therapists</a></li>
                      <li><a href="occufind-occupation-details/21-1014.00">Mental Health Counselors</a></li>
                    </ul>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/29-1161.00">Nurse Midwives</a></li>
                      <li><a href="occufind-occupation-details/31-2011.00">Occupational Therapy Assistants</a></li>
                      <li><a href="occufind-occupation-details/19-1031.03">Park Naturalists</a></li>
                      <li><a href="occufind-occupation-details/21-1092.00">Probation Officers and Correctional Treatment Specialists</a></li>
                      <li><a href="occufind-occupation-details/29-1127.00">Speech-Language Pathologists</a></li>
                      <li><a href="occufind-occupation-details/25-2032.00">Career/Technical Education Teachers, Secondary School</a></li>
                      <li><a href="occufind-occupation-details/39-7011.00">Tour Guides and Escorts</a></li>
                      <li><a href="occufind-occupation-details/35-3031.00">Waiters and Waitresses</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
                <div class="tab-pane artistic_content" id="Artistic" role="tabpanel">
                  <p class="section-description-info"><span><strong>Artistic</strong> activities allow you to be creative 
                    to do original work such as writing, singing, dancing, sculpting, and painting.</span></p>
                  <p class="section-description-info">Artistic occupations generally require workers to have artistic 
                    abilities and a good imagination.</p>
                  <p class="section-description-info">Artistic types generally prefer to work with ideas rather than things, 
                    and like to be in a setting where they can work without a clear set of rules. In their work, they are 
                    expressive, original, and independent.</p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Artistic occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/27-2011.00">Actors</a></li>
                      <li><a href="occufind-occupation-details/17-3011.01">Architectural Drafters</a></li>
                      <li><a href="occufind-occupation-details/27-3021.00">Broadcast News Analysts</a></li>
                      <li><a href="occufind-occupation-details/27-1021.00">Commercial and Industrial Designers</a></li>
                      <li><a href="occufind-occupation-details/43-9031.00">Desktop Publishers</a></li>
                      <li><a href="occufind-occupation-details/27-4032.00">Film and Video Editors</a></li>
                      <li><a href="occufind-occupation-details/39-5012.00">Hairdressers, Hairstylists, and Cosmetologists</a></li>
                      <li><a href="occufind-occupation-details/27-3091.00">Interpreters and Translators</a></li>
                    </ul>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/17-1012.00">Landscape Architects</a></li>
                      <li><a href="occufind-occupation-details/39-5091.00">Makeup Artists, Theatrical and Performance</a></li>
                      <li><a href="occufind-occupation-details/27-1014.00">Multimedia Artists and Animators</a></li>
                      <li><a href="occufind-occupation-details/27-2041.04">Music Composers and Arrangers</a></li>
                      <li><a href="occufind-occupation-details/27-4021.00">Photographers</a></li>
                      <li><a href="occufind-occupation-details/27-1027.00">Set and Exhibit Designers</a></li>
                      <li><a href="occufind-occupation-details/27-3042.00">Technical Writers</a></li>
                      <li><a href="occufind-occupation-details/15-1199.11">Videogame Designers</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
                <div class="tab-pane investigative_content" id="Investigative" role="tabpanel">
                  <p class="section-description-info"><span><strong>Investigative</strong> activities involve testing ideas, 
                    learning new things, and allow you to use your knowledge to solve problems.</span></p>
                  <p class="section-description-info">Investigative occupations generally require workers to have 
                    math and science abilities.</p>
                  <p class="section-description-info">Investigative types generally prefer to work with ideas rather 
                    than with people or things. In their work, they are curious, observant, and logical.</p>
                  <div class="include-list">
                    <p class="section-description-info"><strong>Investigative occupations include:</strong></p>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/19-3091.01">Anthropologists</a></li>
                      <li><a href="occufind-occupation-details/17-2031.00">Biomedical Engineers</a></li>
                      <li><a href="occufind-occupation-details/19-2031.00">Chemists</a></li>
                      <li><a href="occufind-occupation-details/15-1143.00">Computer Network Architects</a></li>
                      <li><a href="occufind-occupation-details/29-1021.00">Dentists, General</a></li>
                      <li><a href="occufind-occupation-details/29-1031.00">Dietitians and Nutritionists</a></li>
                      <li><a href="occufind-occupation-details/17-2081.00">Environmental Engineers</a></li>
                      <li><a href="occufind-occupation-details/33-2021.02">Fire Investigators</a></li>
                    </ul>
                    <ul class="section-list-disc">
                      <li><a href="occufind-occupation-details/19-4092.00">Forensic Science Technicians</a></li>
                      <li><a href="occufind-occupation-details/15-1199.05">Geographic Information Systems Technicians</a></li>
                      <li><a href="occufind-occupation-details/13-1161.00">Market Research Analysts and Marketing Specialists</a></li>
                      <li><a href="occufind-occupation-details/17-2199.09">Nanosystems Engineers</a></li>
                      <li><a href="occufind-occupation-details/29-1051.00">Pharmacists</a></li>
                      <li><a href="occufind-occupation-details/19-1031.01">Soil and Water Conservationists</a></li>
                      <li><a href="occufind-occupation-details/29-1069.11">Sports Medicine Physicians</a></li>
                      <li><a href="occufind-occupation-details/29-1131.00">Veterinarians</a></li>
                    </ul>
                  </div>
                  <p class="information-base-text visible-xs">The FYI is based on<br />John Holland's Theory
                    of<br />Career Choice RIASEC&copy;. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-description">
        <h2 class="section-title">Work Values</h2>
        <p>Understanding what you value about a job is an important contributor to career satisfaction. The ASVAB CEP helps you determine your top work values so you can identify careers that may align when exploring occupations and creating your action plan for the future.</p>
          
        <div id="wv-intro-grid">
          <div><img src="images/wv-Achievement.png"><strong><a ng-click="showWorkValueModal('Achievement')">Achievement</a></strong></div>
          <div><img src="images/wv-Independence.png"><strong><a ng-click="showWorkValueModal('Independence')">Independence</a></strong></div>
          <div><img src="images/wv-Recognition.png"><strong><a ng-click="showWorkValueModal('Recognition')">Recognition</a></strong></div>
          <div><img src="images/wv-Relationships.png"><strong><a ng-click="showWorkValueModal('Relationships')">Relationships</a></strong></div>
          <div><img src="images/wv-Support.png"><strong><a ng-click="showWorkValueModal('Support')">Support</a></strong></div>
          <div><img src="images/wv-Working-Conditions.png"><strong><a ng-click="showWorkValueModal('Working Conditions')">Working Conditions</a></strong></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-yourself bg-green">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="yourself-title text-white">Career Exploration</h2>
      <p class="yourself-description text-white">Now that you have learned about yourself you can explore what it will
        take to get there. </p><a class="yourself-link text-white" href="student-explore"><strong>START CAREER
          EXPLORATION<img alt="Caret Right" src="images/arrow_caret_right.png" /></strong></a>
    </div>
  </div>
</section>
<section class="section-testimonial space-bottom">
  <div class="row">
    <div class="col-sm-9">
      <div class="section-testimonial-description">
        <h2>"I feel that the most helpful feature of the ASVAB Program is the OCCU-Find feature because instead of
          having to go from website to website it's all in one place."</h2>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="section-testimonial-image"><img alt="Joshua" src="images/Testimonial_Joshua.png" />
        <h4>Joshua</h4>
      </div>
    </div>
  </div>
</section>