<section class="hero-banner hero-banner-plan">
    <div class="row">
        <div class="col-sm-6">
            <div class="hero-banner-content">
                <h2><span class="grey-color">Make Your</span> Plan</h2>
                <p><strong>Use the ASVAB CEP exclusive planning tools to clarify your action plan. </strong>Then, talk about your plan with your friends, counselor and parents.</p>
            </div>
        </div>
         <div class="col-sm-6">
            <div class="hero-image text-center">
                <img src="images/Plan_hdr_Image.jpg" alt="Plan hdr Image" />
            </div>
        </div>
    </div>
  </section>
  
  <section class="section-overview activities_sec bg-green">
    <div class="row">
        <div class="col-md-12">
           <div class="activities_inner">
                <div class="activities_text">
                    <h4>Exclusive Access</h4>
                    <h2>Portfolio Builder and 
                    </br> New Classroom Activities </h2>
                </div>
                <div class="activities_block">
                  <a ng-click="showYouTubeModal('https://www.youtube.com/embed/fiy5rMcHdhM')">
                    <span class="image-wrapper">
                      <img src="images/portfolio_tut_Thumb.jpg">
                    </span>
                  </a>
                </div>
           </div>
        </div>
    </div>
  </section>
  
  <section class="section-media-center-sec">
    <div class="row">
        <div class="col-sm-12 section-media-center-wapper">
            <div class="section-media-center-sec-inner">
                <div class="section-media-center-block">
                    <img src="images/Media_1.jpg" alt="Media1" />
                    <a href="media-center-article/66">Active Duty vs Reserve</a>
                </div>
            </div>
            <div class="section-media-center-sec-inner">
                <div class="section-media-center-block">
                    <img src="images/Media_2.jpg" alt="Media2" />
                    <a href="media-center-article/65">S.M.A.R.T. Goal Setting</a>
                </div>
            </div>
            <div class="section-media-center-sec-inner">
                <div class="section-media-center-block">
                    <img src="images/Media_3.jpg" alt="Media3" />
                    <a href="media-center-article/59">Making the Most of College Visits</a>
                </div>
            </div>
            <div class="section-media-center-sec-inner">
                <div class="section-media-center-block">
                    <img src="images/Media_4.jpg" alt="Media4" />
                    <a href="media-center-article/52">10 Tips for Writing a Strong Essay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="section-viewmore-button">
                <a href="media-center" class="button"><span class="d-flex align-items-center">VIEW MORE MEDIA CENTER<img src="images/arrow_caret_right.png" alt="caret right"/></span></a>
            </div>
        </div>
    </div>
  </section>
  
  <section class="section-financial-sec bg-blue">
    <div class="row section-financial-d-flex">
        <div class="col-sm-3 col-lg-3">
            <div class="section-financial-block section-financial-inner">
                <h2>Financial </br> Resources</h2>
                <h1>$$$$</h1>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="section-financial-block">
                <h4>FAFSA</h4>
                <p>Federal Student Aid
                   information.</p>
                <a href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank">Learn More <span><img src="images/arrow_caret_right.png" alt="caret right"/></span></a>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="section-financial-block">
                <h4>Fast Web</h4>
                <p>Scholarships, colleges, 
                   financial aid and more.</p>
                <a href="https://www.fastweb.com/" target="_blank">Learn More <span><img src="images/arrow_caret_right.png" alt="caret right"/></span></a>
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="section-financial-block">
                <h4>Living wage calculator</h4>
                <p>Estimate the cost of
                    living to help determine
                    a local wage that works
                    for you.</p>
                <a href="https://livingwage.mit.edu/" target="_blank">Learn More <span><img src="images/arrow_caret_right.png" alt="caret right"/></span></a>
            </div>
        </div>
    </div>
  </section>
  
  <section class="section-overview section-cost-career-sec">
    <div class="row section-cost-career-d-flex">
        <div class="col-sm-8">
            <div class="section-cost-career-text section-description">
                <h6><strong>Example Classroom Activities:</strong> Math</h6>
                <h2 class="section-title">Cost of a Career</h2>
                <p class="section-description-info">Choose a career using the OCCU-Find. Identify two paths to outline how you could reach this career goal. Make a list of costs associated with each path. Include cost of living, location, the amount of time that it will take to reach your goal, plus any other factors that will affect the cost. Create a comparison chart to show the total amount of cost associated with each path.</p>
                <p class="section-description-info"> *Tip: Use the <a href="https://livingwage.mit.edu/">living wage calculator</a> to develop your chart.</p>
                <p class="hidden-xs section-description-info"><strong>Want access to more activities?</strong> <a href="asvab-cep-at-your-school">Bring the ASVAB CEP to your school.</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="section-cost-career-img_inner">
                <div class="section-cost-career-img section-description">
                    <img src="images/Class_example_thumbnail.jpg" alt="Class example thumbnail">
                    <a href="{{documents}}Cost_of_a_Career_Student.pdf" target="_blank">View Example</a>
                    <p class="visible-xs section-description-info"><strong>Want access to more activities?</strong></br> <a href="asvab-cep-at-your-school">Bring the ASVAB CEP to your school.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="section-viewmore-button">
                <a ng-click="showViewMoreModal()" class="button">
                    <span class="d-flex align-items-center justify-content-center">VIEW MORE<img src="images/arrow_caret_right.png" alt="caret right"></span>
                </a>
            </div>
        </div>
    </div>
  </section>
  
  <section class="section-testimonial space-bottom">
    <div class="row">
        <div class="col-sm-9">
            <div class="section-testimonial-description">
                <h2>"I would tell a fellow student go ahead, participate in [the ASVAB Program], see what it helps you with and see what it tells you to help you make your mind up for what you want to be or do in the future."</h2>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="section-testimonial-image">
                <img src="images/Testimonial_Jushawn.png" alt="Testimonial Jushawn">
                <h4>Jushawn</h4>
            </div>
        </div>
    </div>
  </section>view ex