<section id="content-wrap">
  <div class="row">
    <div class="small-12 columns show-for-small-only">
      <div class="left-sub-nav">
        <ul class="menu vertical" id="steps">
          <li>
            <h3>ASVAB Test</h3>
          </li>
        </ul>
      </div>
    </div>
    <section class="medium-9 medium-push-3 columns" id="main-content" role="main">
      <h2 class="job-title">The ASVAB test measures strengths and
        potential for future success.</h2>
      <p>You don't "pass" or "fail". The results represent how well
        you have developed your skills in addition to your potential for
        training.</p>
      <p>Toggle between the tabs below to learn more about the test
        versions and each ASVAB subtest.</p>
      <p><strong>Strategies for Taking Both Versions of the ASVAB</strong>
      </p>
      <ul>
        <li>Read the directions for each subtest carefully before you
          begin.</li>
        <li>Read each question carefully before selecting your answer.</li>
        <li>Pay attention to the time - don't spend too much time on
          one individual question, if that means you won't have time to
          answer later questions.</li>
        <li>When you don't know the answer to a question, try to rule
          out as many incorrect choices as you can, and then make an
          educated guess from the remaining answers.</li>
      </ul>
      <uib-tabset active="active" class="tabbed" id="asvab-test">
        <uib-tab heading="Paper and Pencil" index="0">
          <p>The paper and pencil (P&amp;P ASVAB) is a traditional test,
            which means that everyone takes the same set of questions at the
            same pace. This version consists of eight subtests (a total of 200
            items) and takes about three hours to complete.</p>
          <center><a class="button"
              ng-click="showSampleTestModal(); trackSampleTestClick('#ASVAB_PP_SAMPLE_TEST_ITEMS_VIEWED');"
              ng-controller="GA">View sample test
              questions </a>
          </center><strong>Strategies for Taking the P&amp;P ASVAB</strong>
          <ul>
            <li>Don't get hung up trying to answer questions you don't
              know - answer the questions you do know and return later to the
              ones you skipped.</li>
            <li>Answer every question. If you run out of time, it is to
              your advantage to fill in random guesses for the remaining items,
              as there is no penalty for guessing.</li>
            <li>Review your answers, if there is time remaining.</li>
            <li>Make sure you select only one response per item on
              your answer sheet, and erase completely if you change your answer.</li>
          </ul>
          <h4>Subtest areas:</h4>
          <hr />
          <div class="row">
            <div class="small-4 columns">
              <p><strong>General Science</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 25-item test measuring knowledge of life science, earth
                and space science, and physical science</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Arithmetic Reasoning</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 30-item test measuring ability to solve basic arithmetic
                word problems</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Word Knowledge</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 35-item test measuring ability to understand the meaning
                of words through synonyms</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Paragraph Comprehension</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 15-item test measuring ability to obtain information from
                written material</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Mathematics Knowledge</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 25-item test measuring knowledge of mathematical concepts
                and applications</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Electronics Information</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 20-item test measuring knowledge of electrical current,
                circuits, devices, and electronic systems</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Auto and Shop Information</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 25-item test measuring knowledge of automotive
                maintenance and repair, and wood and metal shop practices</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Mechanical Comprehension</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 25-item test measuring knowledge of the principles of
                mechanical devices, structural support, and properties of
                materials</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="text-center"><a class="button" href="{{documents}}ASR_Poster.pdf"
                ng-click="trackClick('ASR_Poster.pdf');" ng-controller="GA" target="_blank">View sample ASVAB Summary
                Results sheet </a>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Computer Adaptive" index="1">
          <p>The CEP iCAT is an adaptive test you take on a computer. How you respond to a question
            will determine the complexity of the next question you receive. Everyone begins with an item of
            moderate difficulty. If you answer correctly, you'll receive a more difficult item next. If you
            answer incorrectly, you'll receive an easier item next.</p>
          <p>The CEP iCAT consists of nine subtests, a total of 145 items.
            The CEP iCAT is self-paced and generally takes about 1.5 hours to
            complete. Because CEP iCAT tests are catered to each individual,
            extra time is allotted for each subtest.</p>
          <div class="small-12 columns text-center"><a class="button"
              ng-click="showSampleIcatTestModal(); trackSampleTestClick('#ASVAB_CA_SAMPLE_TEST_ITEMS_VIEWED');"
              ng-controller="GA">View sample test questions </a>
          </div><strong>Strategies for Taking the CEP iCAT</strong>
          <ul>
            <li>Be familiar with how the CEP iCAT works. Take your time
              answering the questions.</li>
            <li>During your test session, review the instructions as many
              times as you need to feel comfortable taking the test.</li>
            <li>Be sure the answer you have selected is the one you want
              to select, as you aren't allowed to return to a question once you
              have answered it.</li>
            <li>If time is running short, try to read and legitimately
              answer the questions, rather than filling in random guesses for
              the remaining items, as the CEP iCAT applies a relatively large
              penalty when several incorrect answers are provided toward the end
              of a subtest.</li>
          </ul>
          <h4>Subtest areas:</h4>
          <hr />
          <div class="row">
            <div class="small-4 columns">
              <p><strong>General Science</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring knowledge of life science, earth
                and space science, and physical science</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Arithmetic Reasoning</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring ability to solve basic arithmetic
                word problems</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Word Knowledge</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring ability to understand the meaning
                of words through synonyms</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Paragraph Comprehension</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 11-item test measuring ability to obtain information from
                written material</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Mathematics Knowledge</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring knowledge of mathematical concepts
                and applications</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Electronics Information</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring knowledge of electrical current,
                circuits, devices, and electronic systems</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Auto Information</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>An 11-item test measuring knowledge of automotive
                maintenance and repair</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Shop Information</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>An 11-item test measuring knowledge of wood and metal shop
                practices</p>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <p><strong>Mechanical Comprehension</strong>
              </p>
            </div>
            <div class="small-8 columns">
              <p>A 16-item test measuring knowledge of the principles of
                mechanical devices, structural support, and properties of
                materials<strong></strong></p>
            </div>
          </div>
          <div class="row">
            <div class="small-8 columns">
              <p></p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="small-12 columns text-center"><a class="button" href="{{documents}}CEP_ICAT_ASR_Poster.pdf"
                ng-click="trackClick('CEP_ICAT_ASR_Poster.pdf');" ng-controller="GA" style="width:200px;"
                target="_blank">View sample CEP ICAT Summary
                Results sheet </a>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
      <br /><strong>Background</strong><br />
      <p>The Department of Defense introduced the ASVAB (which stands
        for Armed Services Vocational Aptitude Battery) in 1968. It was
        originally designed to predict future academic and occupational
        success in military occupations. However, extensive research
        indicates the ASVAB assesses academic ability and predicts success
        in a wide variety of occupations.</p>
      <p>The ASVAB CEP is used for career exploration and is given to
        high school and early post-secondary students. An enlistment
        version of the ASVAB is given primarily at Military Entrance
        Processing Stations (MEPS), and is used for enlistment purposes
        only.</p>ASVAB CEP results are reported to students and counselors on the
      ASVAB Summary Results sheet. Learn more about <a href="student-post-test">ASVAB scores here.</a><br />
    </section>
    <div class="medium-3 medium-pull-9 columns">
      <div class="left-sub-nav show-for-medium">
        <ul class="menu vertical" id="steps">
          <li>
            <h3>THE ASVAB CEP</h3>
          </li>
          <li class="divider"></li>
          <li class="active"><a class="disabled">The ASVAB Test</a></li>
          <li><a href="student-post-test">Post-Test
              Activities <em class="fa fa-angle-right"></em></a></li>
          <li class="divider"></li>
        </ul>
      </div>
      <div id="did-you-know">
        <p><strong class="caps">Did You Know?</strong>
        </p>
        <p>As with other tests, how much you have learned in school through
          the years will probably make the most difference in your results.<br /><br /><strong>Steps to Take In Advance
            of ASVAB Test
            Day.</strong>
        </p>
        <ul>
          <li><a href="http://official-asvab.com/whattoexpect_app.htm" target="_blank">Know
              what to expect on test day</a></li>
          <li>Familiarize yourself with the contents of the ASVAB
            subtests.</li>
          <li>You can find sample test questions on this page. View
            more sample items at the <a href="http://official-asvab.com/samples_app.htm" target="_blank">Official
              Site of the ASVAB</a> and <a href="http://todaysmilitary.com/joining/asvab-test-sample-questions"
              ng-click="trackClick('JAMRSs_Link_Clicked');" ng-controller="GA" target="_blank">Today's
              Military.</a>
          </li>
          <li>Find out whether you will be taking the paper and pencil
            (P&amp;P), or the computer adaptive (CEP iCAT) ASVAB.</li>
          <li>Get plenty of rest the night before the test.</li>
        </ul>
        <p>&nbsp;</p>
      </div>
      <div class="left-sub-nav show-for-small-only">
        <ul class="menu vertical">
          <li>
            <h3>THE ASVAB CEP</h3>
          </li>
          <li><a href="student-post-test">Post-Test
              Activities <em class="fa fa-angle-right"></em></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>