<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Educators</p>
			</div>
			<div class="large-9 large-pull-3 columns" style="padding-right: 0px;">
				<ul id="sub-nav" class="menu">
					<li><a href="educators">THE ASVAB CEP</a></li>
					<li class="active"><a href="educators-test">ASVAB Test</a></li>
					<li><a href="educators-post-test">Post-Test Activities</a></li>
					<li><a href="federally-funded-sources">Federally Funded Sources</a></li>
					<li><a href="teachers">Classroom Tools</a></li>
				</ul>
			</div>
		</div>
	</section>

	<div dynamic="page.pageHtml"></div>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

</div>