<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Link to us</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li ><a >&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div dynamic="page.pageHtml"></div>

<!-- 	<section id="content-wrap">
		<div class="small-12 columns show-for-small-only">
			<div class="left-sub-nav">
				<ul id="steps" class="menu vertical">
					<li><h3 id="innerTitle">Link to us</h3></li>
				</ul>
			</div>
		</div>
		<div class="row column large-centered">
			<p>
				LINK TO OUR SITE<br> It's easy to link to www.asvabprogram.com. Copy and paste one of the
				codes we have provided below.
			<ol>
				<li>Add a text link to www.asvabprogram.com:<br> Copy and paste this link to the page
					of your choice on your site:<br> 
					<code>&lt;p&gt;Be the architect of your career.
						Learn more about the benefits of participating in the 
						<br>&lt;a&gt; href="https://www.asvabprogram.com/">ASVAB Career Exploration Program&lt;/a&gt;
						<br>&lt;p&gt;
						</code></li>
				<li>Add a link with the ASVAB CEP logo: ASVAB Career Exploration Program<br> Copy and
					paste this link to the page of your choice on your site: <br>
					<div>
						<img class="float-left" src="images/logo-mobile.png" alt="ASVAB logo">
					</div>
					<hr>
					<div>
						<code> &lt;a href="http://www.asvabprogram.com/"&gt; <br>&lt;img src="images/logo4lnk.jpg"
							border=0 alt="ASVAB Career Exploration Program"&gt;
							&lt;/a&gt; <br>Be the architect of your
							career. Learn more about the benefits of participating in the
							<br>&lt;a
							href="https://www.asvabprogram.com/">ASVAB Career Exploration Program&lt;/a&gt;</code>
					</div>
				</li>
			</ol>
		</div>
	</section>-->

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

</div>