<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Site Map</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li ><a >&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</section>

	<div dynamic="page.pageHtml"></div>

<!-- 
	<section id="content-wrap">

		<div class="small-12 columns show-for-small-only">
			<div class="left-sub-nav">
				<ul id="steps" class="menu vertical">
					<li><h3 id="innerTitle">SiteMap</h3></li>
				</ul>
			</div>
		</div>
		<div id="site-map-div">
			<div class="row">
				<div class="small-4 columns" style="padding-top: 20px;">
	
					<h2>STUDENTS</h2> <a href="student">The
						ASVAB CEP </a>
					<ul>
						<li><a href="student-program">The
								ASVAB Test</a></li>
						<li><a href="student-post-test">Post-Test
								Activities</a></li>
					</ul>
					<br> <a href="student-learn">Learn
						about Yourself</a>
					<ul>
						<li><a href="student-learn-skills">Skills</a></li>
						<li><a href="student-learn-interests">Interests</a></li>
						<li><a
							href="student-learn-work-values">Work
								Values</a></li>
					</ul>
					<br> <a href="student-explore">Explore
						Careers</a>
					<ul>
						<li><a
							href="student-explore-occu-find">OCCU-Find</a></li>
						<li><a
							href="student-explore-action-steps">Action
								Steps</a></li>
					</ul>
					<br> <a href="student-plan">Plan
						for Your Future</a>
					<ul>
						<li><a
							href="student-plan-understanding">Understand
								Your Options</a></li>
						<li><a href="student-plan-tools">Career
								Planning Tools</a></li>
					</ul>
	
	
				</div>
	
				<div class="small-4 columns" style="padding-top: 20px;">
					<h2>Educators</h2>
					<a href="educators">The ASVAB CEP</a> <a href="educators-test"> ASVAB Test</a><br><br>
					<a href="educators-post-test">Post-Test Activities</a><br><br>
					<a href="educators-information-bring">Bring ASVAB CEP to Your School</a><br> <br> 
						
					<h2>Parents</h2> <a href="parents">The ASVAB CEP</a><br><br>
					<a href="parents-test">ASVAB Test</a><br><br>
					<a href="parents-post-test">Post-Test Activities</a><br><br>
					<a href="parents-information">How You Can Help</a>
	
	
				</div>
	
	
				<div class="small-4 columns" style="padding-top: 20px;">
					<h2>GENERAL</h2>
					<p>
						<a href="general-resources">All Resources</a>
					</p>
					<p>
						<a href="faq">Contact Us/FAQ </a>
	
					</p>
					<p>
						<a ng-controller="FooterController" ng-click="asvabModal()">Bring ASVAB CEP to Your School</a>
					</p>
					<p>
						<a href="general-help">Help</a>
					</p>
	
					<p>
						<a href="general-privacy-security">Privacy &amp; Security</a>
					</p>
	
					<p>
						<a href="general-occufind-view-all">Complete Occupation
							List</a>
					</p>
	
					<a href="media-center">Media Center</a>
	
					<ul>
	
						<li><a href="media-center-article-list/1">Student
								Articles</a></li>
	
						<li><a href="media-center-article-list/4">Educator
								Articles</a></li>
	
						<li><a href="media-center-article-list/2">Parent
								Articles</a></li>
	
						<li><a href="media-center-article-list/5">Tutorials</a></li>
	
					</ul>
				</div>
			</div>
		</div>
	</section> -->


	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
	
	
</div>

