<update-meta property="og:title" content="{{seoTitle}}"></update-meta>
<update-meta property="og:description" content="{{metaDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{seoTitle}}"></update-title>
<update-meta name="description" content="{{metaDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Resources</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li ><a >&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="slick-slider slider-section">
		<div class="container">
			<div ng-repeat="topic in resourceTopics" repeat-done="layoutComplete()">
				<div id="box-row{{$index + 1}}" class="box-row">
					<div class="slider-title">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6"><h5>{{topic.resourceTopicTitle}}</h5></div>
							<div class="col-md-6 col-sm-6 col-xs-6"><a class="d-click btn-view"><span>View all</span><span>View Less</span></a></div>
						</div>
					</div>
					<div class="responsive">
						<div ng-repeat="resource in topic.resources | orderBy: 'orderInTopic'">
							<img ng-src="{{documents}}thumbnails/{{resource.resourceThumbnailUri}}" />							
							<div ng-if="resource.resourceTypeId == resourceType.Document">
								<div ng-if="resource.spanishResourceUri != undefined">
									<h4>{{resource.resourceTitle}}</h4>
									<ul>
										<li><a ng-controller="GA" ng-click="trackClick(resource.resourceUri)" target="_blank" href="{{documents}}{{resource.resourceUri}}">English</a></li>
										<li><a ng-controller="GA" ng-click="trackClick(resource.spanishResourceUri)" target="_blank" href="{{documents}}{{resource.spanishResourceUri}}">Spanish</a></li>
									</ul>
								</div>
								<div ng-if="resource.spanishResourceUri == undefined">
									<h4 class="title-blue">
										<a ng-controller="GA" ng-click="trackClick(resource.resourceUri)" target="_blank" href="{{documents}}{{resource.resourceUri}}">{{resource.resourceTitle}}</a>
									</h4>									
								</div>
							</div>
							<div ng-if="resource.resourceTypeId != resourceType.Document">
								<h4 class="title-blue">
									<a ng-if="resource.resourceTypeId == resourceType.PopupVideo" ng-click="showVideoModal(resource.resourceUri)">{{resource.resourceTitle}}</a>
									<a ng-if="resource.resourceTypeId != resourceType.PopupVideo" target="_blank" href="{{resource.resourceUri}}">{{resource.resourceTitle}}</a>
								</h4>
							</div>
						</div>						
					</div>
					<div class="mobile-button">
						<a href="" ng-click="goToBox(($index + 1))" class="m-click"><span>View all</span><span>View Less</span><img src="images/arrow-bottom-blue.png"/></a>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="media-center-section">
		<div class="row column">
			<div class="col-md-12">
				<h2><b>Check out the media center.</b></h2>
			</div>
		</div>
		<div class="row column check-media-boxs">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="media-box">
					<img src="images/Social-Media.png" alt="" />
					<h3>Social Media</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="media-box">
					<img src="images/Articles.png" alt="" />
					<h3>Articles</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="media-box">
					<img src="images/tools.png" alt="" />
					<h3>Tools</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="media-box">
					<img src="images/Much-More.png" alt="" />
					<h3>Much More</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a class="btn white-button" href="media-center">Media Center</a>
			</div>
		</div>
	</section>
	
	<section class="links-all-data">
		<div class="row">
			<div ng-repeat="topic in quickLinkTopics" class="col-md-4">
				<h4>{{topic.quickLinkTopicTitle}}</h4>
				<ul ng-repeat="quickLink in topic.quickLinks">
					<li ng-if="quickLink.quickLinkTypeId == quickLinkType.Document"><a ng-controller="GA" ng-click="trackClick(quickLink.quickLinkUrl)" target="_blank" href="{{documents}}{{quickLink.quickLinkUrl}}">{{quickLink.quickLinkTitle}}</a></li>
					<li ng-if="quickLink.quickLinkTypeId == quickLinkType.Link"><a target="_blank" href="{{quickLink.quickLinkUrl}}">{{quickLink.quickLinkTitle}}</a></li>
					<li ng-if="quickLink.quickLinkTypeId == quickLinkType.JavaScript"><a ng-controller="GA" ng-click="showModal(quickLink.quickLinkUrl); trackSampleTestClick(quickLink.quickLinkGAVarName)">{{quickLink.quickLinkTitle}}</a></li>					
				</ul>
			</div>			
		</div>
	</section>
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>
