<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">OCCUPATIONS</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li ><a >&nbsp;</a></li>
				</ul>
			</div>
		</div>
	</section>

	<div dynamic="page.pageHtml"></div>

	<!-- <section id="content-wrap">
		<div class="small-12 columns show-for-small-only">
			<div class="left-sub-nav">
				<ul id="steps" class="menu vertical">
					<li><h3 id="innerTitle">COMPLETE LIST OF OCCUPATIONS</h3></li>
				</ul>
			</div>
		</div>
		<br> <br>
		<div class="row column large-centered">
			<h2>COMPLETE OCCUPATION LIST</h2>


			<p>
				<strong>The OCCU-Find catalogs information about 100s of careers.</strong>
			</p>
			<p>Login to tailor your view to quickly find your dream job. You can filter your search by
				interest, Career Cluster, and featured categories like bright outlook, green economy and STEM.
				You can sort the results by skill area. Are you looking for something specific? Enter a keyword
				to find occupations that match. Just browsing? Simply view occupations alphabetically.
			<p>
				<a class="button" ng-controller="LogOutController" ng-click="showLoginModal()">Login</a> Your dream job is waiting. Will you recognize it? Log in to
				find it.
			<div>


				<div class="row">
					<section class="table-pagination">
						<div class="medium-6 columns">
							Showing {{occupationPagination.TotalItems != 0 ?
							(((occupationPagination.CurrentPage-1)*occupationPagination.ItemsPerPage)+1) : 0}} -<span>{{((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage)
								<= occupationPagination.TotalItems ?
								((occupationPagination.CurrentPage)*occupationPagination.ItemsPerPage) :
								occupationPagination.TotalItems}}</span> of {{occupationPagination.TotalItems}} Careers </br>
						</div>
						<div class="medium-6 columns text-right">
							<uib-pagination total-items="occupationPagination.TotalItems"
								ng-model="occupationPagination.CurrentPage" max-size="occupationPagination.MaxSize"
								class="pagination-sm" boundary-link-numbers="true" rotate="false" num-pages="numPages"
								items-per-page="occupationPagination.ItemsPerPage" previous-text="&lsaquo;"
								next-text="&rsaquo;"></uib-pagination>
						</div>
						<div class="medium-12 columns">
							<hr />
						</div>
					</section>

					<table>
						<tr>
							<th>Occupation Title</th>
						</tr>
						<tr
							ng-repeat="row in occupationList | limitTo : occupationPagination.ItemsPerPage: (occupationPagination.CurrentPage - 1 ) * occupationPagination.ItemsPerPage">
							<td><a href="occufind-occupation-details/{{row.onetSoc}}">{{
									row.occupationTitle}}</a></td>
						</tr>
					</table>

				</div>
			</div>
	</section>-->

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>

</div>