<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div id="legislation" class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
  <section class="hide-for-small-only" id="banner">
      <div class="row">
        <div class="col-md-12 banner-title">
          <p class="caps">Federal Legislation</p>
        </div>
      </div>
    </section>

	<div dynamic="page.pageHtml"></div>

  <div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>
