<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Employment Statistics</h3>
</div>

<div class="modal-body">
	<div>
		<!-- <h3 style="padding: 8px 10px"> <a ng-click="openDescription('emp-stats')" class="occufind-explain alt"></a></h3> -->
		<ul style="margin-left: 0px;" class="nav nav-tabs">
			<li ng-if="stateEntrySalary.length > 0" style="width:50%;" ng-class="{active: stateEntrySalary.length > 0}">
				<a title="Click here to see the approximate entry-level salaries for this position"
					style="line-height:35px;" data-toggle="tab" href="#entry" class="chart-link text-center">Entry-Level
					Salaries</a>
			</li>
			<li ng-if="stateSalary.length > 0" style="width:50%;" ng-class="{active: stateEntrySalary.length == 0}">
				<a title="Click here to see the national salary for this position" style="line-height:35px;"
					data-toggle="tab" href="#avg" class="chart-link text-center">Average Salaries</a>
			</li>
		</ul>
		<div class="tab-content">
			<div id="entry" class="tab-pane fade"
				ng-class="{in: stateEntrySalary.length > 0, active: stateEntrySalary.length > 0}">
				<div class="row">
					<span class="medium-9 small-8 columns">
						The national entry-level salary<sup>1</sup> for {{blsTitle.blsTitle}} is:
						<strong>{{nationalEntrySalary | currency}}</strong>
					</span>
				</div>
				<center class="salary-chart">
					<div google-chart chart="entryLevelSalaryChart"></div>
				</center>
				<center class="salary-chart-mobile">
					<div google-chart chart="entryLevelSalaryChartMobile"></div>
				</center>
				<p><sup>1</sup> This data comes from <a href="https://www.bls.gov/oes/" target="_blank">Bureau of
						Labor Statistics</a> and reflects the lowest ten percent earnings for this occupation, which
					approximates entry level salary. Salary data reflects wages from 2018.</p>
			</div>
			<div id="avg" class="tab-pane fade"
				ng-class="{in: stateEntrySalary.length == 0 && stateSalary.length > 0, active: stateEntrySalary.length == 0 && stateSalary.length > 0}">
				<div class="row">
					<span class="medium-9 small-8 columns">
						The national salary average for {{blsTitle.blsTitle}} is: <strong>{{nationalSalary |
							currency}}</strong>
					</span>
				</div>
				<center class="salary-chart">
					<div google-chart chart="chart"></div>
				</center>
				<center class="salary-chart-mobile">
					<div google-chart chart="chartMobile"></div>
				</center>
			</div>
		</div>
		<p><b>Blank areas indicate data not available.</b></p>
		<p>National Poverty Level: <strong>$12,140</strong> <a ng-click="openDescription('poverty-level')"
				class="occufind-sub-explain alt"></a><br />
			<a target="_blank" href="https://aspe.hhs.gov/poverty-guidelines">Learn more</a>

		</p>
		<div style="margin-top: 20px;" class="text-center"><a ng-click="employmentMoreDetails()" class="border-btn">More
				Details</a></div>
	</div>
</div>
<!-- 
<div class="modal-footer">
	<div class="small-12 columns">
		<button class="button" style="padding: 5px;" type="button" data-ng-click="modalOptions.close()">Close</button>
	</div>
</div> -->