<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Participants</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li id='tier2student-cep' class="active"><a href="student">THE ASVAB CEP</a></li>
					<li id='tier2student-learn'><a href="student-learn">Learn About yourself </a></li>
					<li id='tier2student-explore'><a href="student-explore">Explore Careers</a></li>
					<li id='tier2student-plan'><a href="student-plan">Plan your future</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div dynamic="page.pageHtml"></div>
	
		<!-- section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
				<div class="left-sub-nav">
					<ul id="steps" class="menu vertical">
						<li><h3>POST-TEST ACTIVITIES</h3></li>					
					</ul>
				</div>
			</div>
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <h2 class="job-title">You have taken the ASVAB. Now what?</h2>
			  <p>In addition to the test, ASVAB CEP gives you access to tools to explore your interests, skills, and values and see how those relate to all of the careers out there.</p>
			  <p>To complete the post-test activities you'll need your results sheet, some time, and an open mind.</p>
			  
			<uib-accordion> 
				<uib-accordion-group template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>
					<span class="show-for-medium" >Understanding Your Results<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i> </span>
					<span class="show-for-small-only" id="understandingYourResults"  onclick="scrollToItem('understandingYourResults')" >Understanding Your Results<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i> </span>
					</uib-accordion-heading> 
						<div class="row">
							<div class="medium-8 columns" >
							<p>Your ASVAB Summary Results sheet includes an access code you will
							use to login to this site.</p>
							
							<p>Your results sheet provides a measure of your skills and abilities with different scores:
							</p>
							<ul>
								<li><strong>Career Exploration Scores.</strong> The three Career Exploration Scores
									are verbal, math, and science/technical skills. Each of these
									scores is made up of a combination of some of the individual
									ASVAB tests.</li>
								<li><strong>ASVAB Tests.</strong> You receive a score for each subtest that makes up
									the ASVAB. Descriptions of each specific test are provided on the
									back of the ASVAB Summary Results sheet, or by <a href="student-program">clicking here</a>.</li>
								<li><strong>Military Entrance Score/Armed Forces Qualification Test
									(AFQT).</strong>  Participation in the ASVAB CEP does not obligate you to
									talk with military recruiters or consider a military career. If you are
									interested in joining the Military it is best to discuss this score with
									a recruiter. The AFQT score is what the Military will use to
									determine enlistment eligibility.</li>
							</ul>
							</div>
							<div class="medium-4 columns">
							<a href="media-center-article/46"><strong>Understanding Your ASVAB Results Tutorial</strong></a>
							<a href="media-center-article/46"><img src="/CEP/images/test-scores.jpg"></a>
							<br><br><br>
							<a href="{{documents}}ASR_Poster.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASR_Poster.pdf');"><strong>Sample ASVAB Summary Results Sheet</strong></a>
							<a href="{{documents}}ASR_Poster.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASR_Poster.pdf');"><img src="/CEP/images/asr-poster.png"></a>
							</div>
						</div>
				</uib-accordion-group> 
				<uib-accordion-group template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>
						<span class="show-for-medium">Using Your Scores<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
						<span class="show-for-small-only" id="usingYourScores"  onclick="scrollToItem('usingYourScores')" >Using Your Scores<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
						<p>Your ASVAB results provide information on your current skills and abilities. You can use your
						Career Exploration Scores to investigate occupations in the  OCCU-Find. For example, if your Verbal Career Exploration Score is above average, explore jobs in the "most important" category.   To learn more
						about skill importance ratings <a href="general-help#skills"> click here</a>.</p>
						
						<p>If you are a junior, senior, or post-secondary school student, you can use your AFQT if
						you decide to talk to a military recruiter about enlistment, for up to two years after you take
						the test. Your AFQT score can qualify you for certain jobs in the Armed Forces. However, each
						Service, and each military job, has different requirements, so qualifying AFQT scores can
						fluctuate.</p>

				</uib-accordion-group> 

				<uib-accordion-group template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>
						<span class="show-for-medium" >Taking the FYI<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
						<span class="show-for-small-only" id="takingTheFYI"  onclick="scrollToItem('takingTheFYI')" >Taking the FYI<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
						<p ng-controller="LogOutController" ng-show="!isLoggedIn()">You must login to access the FYI (Find Your Interests). Use the access code found on your
						summary results sheet to <a ng-click="showLoginModal()">login</a>.</p>
						
						<p>The <a href="media-center-article/50"> FYI</a> is an interest inventory that asks you questions about the kinds of activities you like
						or would like to do. There are no right or wrong answers when you take an interest inventory.
						You are simply providing information about your likes and dislikes.</p>
						
						<p>After taking the FYI, you will have a set of raw scores and top interest codes. Each of your
						interest codes represents one of six interest areas that you can use to describe your likes and
						dislikes. Your top interest codes show your three strongest interest areas based on how your
						scores compare with the scores of high school students who have taken the FYI.</p>
				</uib-accordion-group> 

				<uib-accordion-group template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>
					<span class="show-for-medium" >Gender and FYI Codes<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="genderAndFYICodes"  onclick="scrollToItem('genderAndFYICodes')" >Gender and FYI Codes<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
						<p>The FYI provides you with two sets of scores, a Combined Score and a Gender-Specific Score.
						The Gender-Specific Score is based on comparing your FYI results with others of your
						gender. Looking at these scores may open up new careers for you to explore.</p>
				</uib-accordion-group> 

				<uib-accordion-group template-url="template/accordion/accordion-group.html"> 
					<uib-accordion-heading>
					<span class="show-for-medium">Exploring the OCCU-Find<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="exploringTheOCCUFind"  onclick="scrollToItem('exploringTheOCCUFind')" >Exploring the OCCU-Find<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
					<p>Once you have reviewed your ASVAB Summary Results sheet and identified your interests, you will use that
					knowledge to find occupations you want to learn more about.</p>
					
					<p>Think of the OCCU-Find as a catalog of careers containing detailed occupational information
					to help you make informed decisions about your future.</p>
					
					<p>This database contains detailed descriptions about hundreds of occupations, including
					information about what they do and how you can become one. <a href="student-explore-occu-find">Click here</a> to learn more
					about the OCCU-Find and <a href="">login to explore.</a></p>
					
					<p>After you identify a few potential options, you can compare your favorite career options
					side-by-side, chart what you have already done, and identify what you still need to do to get
					the job of your dreams.</p>
				</uib-accordion-group> 

			</uib-accordion>
			
			<p><strong>Check out these <a href="general-resources">resources and activities</a> to learn more about career exploration!</strong></p>
			  
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<div class="left-sub-nav show-for-medium">
					<ul id="steps" class="menu vertical">
						<li><h3>THE ASVAB CEP</h3></li>						
						<li class="divider"></li>
						<li><a href="student-program">The ASVAB Test <i class="fa fa-angle-right"></i></a></li>
						<li class="active"><a class="disabled">Post-Test Activities</a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>76% of the students
						who participated in the
						CEP did so because of
						their interest in making
						appropriate post-high
						school career and educational plans.</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>THE ASVAB CEP</h3></li>
						<li><a href="student-program">The ASVAB Test <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>-->
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
  </div>