<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

<div class="occufind student">
	<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>

	<section class="hide-for-small-only" id="banner">
		<div class="row">
			<div class="large-3 large-push-9 columns">
				<p class="caps">Participants</p>
			</div>
			<div class="large-9 large-pull-3 columns">
				<ul id="sub-nav" class="menu">
					<li id='tier2student-cep' ><a href="student">THE ASVAB CEP</a></li>
					<li id='tier2student-learn'><a href="student-learn">Learn About yourself </a></li>
					<li id='tier2student-explore'><a href="student-explore">Explore Careers</a></li>
					<li id='tier2student-plan' class="active"><a href="student-plan">Plan your future</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div dynamic="page.pageHtml"></div>
	<!-- 
	<section id="content-wrap">
		<div class="row">
				<div class="small-12 columns show-for-small-only">
					<div class="left-sub-nav">
						<ul id="steps" class="menu vertical">
						<li><h3>Tools</h3></li>
						</ul>
					</div>
				</div>
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <h2 class="job-title">Once you know the requirements of an occupation, you can develop a plan to meet your career goals.</h2>
			  <p>Use the CEP exclusive planning tools to clarify your action plan. You may want to talk about these activities with your counselor before you begin.</p>
				<ul>
					<li><p>My Educational and Career Plans is a guided exercise to help you make initial career plans, evaluate your current program of study, and consider additional courses.</p>
						
						<a class="button" target="_blank" href="{{documents}}ASVAB_CEP_Edu_and_Career_Plans.pdf" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Edu_and_Career_Plans.pdf');">Download My Educational and Career Plans</a>

					</li>
					<li><p>Coursework Planner is an activity designed to help you plan the rest of your high school curriculum to best meet your career goals.</p>
						<a class="button" target="_blank" href="{{documents}}ASVAB_CEP_Coursework_Planner.pdf" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Coursework_Planner.pdf');">Download Coursework Planner</a></li>
				</ul>
			  <div >
					  
					  
					  				<h2>Idea Sheets:</h2>
				<div class="small-4 columns">
					<p>
						<a href="{{documents}}ASVAB_CEP_Idea_World_of_Work.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Idea_World_of_Work.pdf');"> <p id="resource-pdf"> Your World-of-Work Timeline</p> </a>
					</p>
					<p>
						<a href="{{documents}}ASVAB_CEP_Idea_Work_Environment.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Idea_Work_Environment.pdf');"> 
						<p id="resource-pdf"> Build Your Perfect Work Environment</p>
						</a>
					</p>
				</div>

				<div class="small-4 columns">
					<p>
						<a href="{{documents}}ASVAB_CEP_Skills_Most_Valued.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Skills_Most_Valued.pdf');">
						<p id="resource-pdf"> Skills Employers Value Most </p>
						</a>
					</p>
					<p>
						<a href="{{documents}}ASVAB_CEP_Values.pdf" target="_blank" ng-controller="GA" ng-click="trackClick('ASVAB_CEP_Values.pdf');">
						<p id="resource-pdf">Thinking About Work Values </p>
						</a>
					</p>
				</div>
				<hr>
					  
					  
					  
					  
					  
					  
			  </div>			
			</section>
			
			<div class="medium-3 medium-pull-9 columns">
				<div class="left-sub-nav show-for-medium">
					<ul id="steps" class="menu vertical">
						<li><h3>Plan your future</h3></li>
						<li class="divider"></li>
						<li><a href="student-plan-understanding">Understand Your Options <i class="fa fa-angle-right"></i></a></li>
						<li class="active"><a class="disabled">Career Planning Tools</a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div id="did-you-know">
					<p><strong class="caps">Did You Know?</strong></p>
					<p>Your work-related interests are important to your career development and enjoyment of life.</p>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>Plan your future</h3></li>
						<li><a href="student-plan-understanding">Understand Your Options <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
	 -->
	
	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>
	