<update-meta property="og:title" content="{{page.pageTitle}}"></update-meta>
<update-meta property="og:description" content="{{page.pageDescription}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>

<update-title title="{{page.pageTitle}}"></update-title>
<update-meta name="description" content="{{page.pageDescription}}"></update-meta>

	<div class="occufind student">
		<div ng-include="'cep/page-partials/header.html'" ng-controller="HeaderController"></div>
		<section class="hide-for-small-only" id="banner">
			<div class="row">
				<div class="large-3 large-push-9 columns">
					<p class="caps">Participants</p>
				</div>
				<div class="large-9 large-pull-3 columns">
					<ul id="sub-nav" class="menu">
						<li id='tier2student-cep' ><a href="student">THE ASVAB CEP</a></li>
						<li id='tier2student-learn' class="active"><a href="student-learn">Learn About yourself </a></li>
						<li id='tier2student-explore'><a href="student-explore">Explore Careers</a></li>
						<li id='tier2student-plan'><a href="student-plan">Plan your future</a></li>
					</ul>
				</div>
			</div>	
		</section>
	
	<div dynamic="page.pageHtml"></div>
	
	<!-- 
	<section id="content-wrap">
		<div class="row">
			<div class="small-12 columns show-for-small-only">
					<div class="left-sub-nav">
						<ul id="steps" class="menu vertical">
							<li><h3  id="innerTitle">Interests</h3></li>
						</ul>
					</div>
			</div>
			<section id="main-content" class="medium-9 medium-push-3 columns" role="main">
			  <h2 class="job-title">The FYI will help you find your interests.</h2>
			  		<p>Interests are one of the most important
					predictors of occupational success. </p>
			<uib-accordion> 
				<uib-accordion-group   >  
					<uib-accordion-heading>
					<span class="show-for-medium" >What is the FYI?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="whatIsTheFYI"  onclick="scrollToItem('whatIsTheFYI')" >What is the FYI?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
					<p>The FYI (Find Your Interests) is an interest inventory that asks you questions about the kinds of activities you like or would like to do. It only takes a few minutes and the best part is there are no right or
					wrong answers. You are not selecting specific occupations. You are providing information about your
					likes and dislikes.</p>
				</uib-accordion-group> 
				<uib-accordion-group> 
					<uib-accordion-heading>
					<span class="show-for-medium" >Why should I take the FYI?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="whyShouldITakeTheFYI"  onclick="scrollToItem('whyShouldITakeTheFYI')" >Why should I take the FYI?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					</uib-accordion-heading> 
					<p>The FYI will reveal your interests. Knowing your work-related interests can help you find career
					options that match your interests. Working in an occupation that interests you makes it easier to
					work effectively and advance.</p>
				</uib-accordion-group> 
				<uib-accordion-group> 
				<uib-accordion-heading>
					<span class="show-for-medium" >Why do I need to learn about myself?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="whyDoINeedToLearnAboutMyself"  onclick="scrollToItem('whyDoINeedToLearnAboutMyself')" >Why do I need to learn about myself?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
				</uib-accordion-heading> 
					<p>If you already have a career in mind, how do you know it is right for you? Understanding your likes
					and dislikes will help you to better assess which occupations will lead to work you enjoy performing everyday. Remember, a career requires many hours per week of your life so
					you want to spend that time doing something you will enjoy and that you feel best align with
					your interests.</p>
				</uib-accordion-group> 
				<uib-accordion-group> 
				<uib-accordion-heading>
					<span class="show-for-medium" >How will the FYI help me explore careers?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
					<span class="show-for-small-only" id="howWillTheFYIHelpMeExploreCareers"  onclick="scrollToItem('howWillTheFYIHelpMeExploreCareers')" >How will the FYI help me explore careers?<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></span>
				</uib-accordion-heading> 
					<p>Your FYI results will reveal your strongest interest areas. This allows you to match your identified interest
					areas to careers.</p>
					<p>Careers are categorized by interest code based on the job tasks, work activities, and knowledge needed in the occupation. The FYI interest areas will help you quickly identify occupations that include more of the things you have indicated you like to
					do. Targeting your search will save you time and help you focus on some career options with real
					potential.  <a href="media-center-article/42">Watch the Taking the FYI Online tutorial to learn more.</a> </p>
				</uib-accordion-group> 
			</uib-accordion>
			</section>
			<div class="medium-3 medium-pull-9 columns">
				<div class="left-sub-nav show-for-medium">
				     <ul id="steps" class="menu vertical">
						<li><h3>LEARN ABOUT YOURSELF </h3></li>
						<li class="divider"></li>
						<li><a href="student-learn-skills">Skills <i class="fa fa-angle-right"></i></a></li>
						<li class="active"><a class="disabled">Interests</a></li>
						<li><a href="student-learn-work-values">Work Values <i class="fa fa-angle-right"></i></a></li>
						<li class="divider"></li>
					</ul>
				</div>
				<div id="did-you-know">
					<p><strong class="caps">What's Your Interest?</strong></p>
					<ul>
						<li>Realistic</li>
						<li>Investigative</li>
						<li>Artistic</li>
						<li>Social</li>
						<li>Enterprising</li>
						<li>Conventional</li>
					</ul>
					<img alt="" src="/CEP/images/RIASEC.png">	
					<div><br>
						<center>		&nbsp;	&nbsp;		<a class="button" href="student-learn-interest-area">Explore</a>	
						</center>				  	
						</div>
				</div>
				<div class="left-sub-nav show-for-small-only">
					<ul class="menu vertical">
						<li><h3>LEARN ABOUT YOURSELF </h3></li>
						<li><a href="student-learn-skills">Skills <i class="fa fa-angle-right"></i></a></li>
						<li><a href="student-learn-work-values">Work Values <i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	 -->

	<div ng-include="'cep/page-partials/footer.html'" ng-controller="FooterController" ng-show="!isLoggedIn()"></div>
	<div ng-include="'cep/page-partials/footer-two.html'" ng-controller="FooterController" ng-show="isLoggedIn()"></div>
</div>
	